@using FWO.Config.Api
@using FWO.Ui.Display

@inject ApiConnection apiConnection
@inject UserConfig userConfig

@if (Display)
{
    <PopUp Title="@(AddMode ? userConfig.GetText("add_app_role") : userConfig.GetText("edit_app_role"))" Size=PopupSize.XLarge Show="@Display" OnClose="Close">
        <Body>
            <div class="row">
                <div class="col-sm-6">
                    <EditAppRoleLeftSide @bind-Container="Container" @bind-Width="sidebarLeftWidth" @bind-AppRoleHandler="AppRoleHandler"/>
                </div>
                <div class="col-sm-6">
                    <h3>@(userConfig.GetText("app_role"))</h3>
                    <div class="col-sm-11 border rounded m-2 p-2">
                        @if(AppRoleHandler.NamingConvention.NetworkAreaRequired)
                        {
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("area"))*:</label>
                                @if(AddMode)
                                {
                                    <div class="col-sm-8">
                                        <Dropdown ElementType="ModellingNetworkArea" SelectedElement="AppRoleHandler.ActAppRole.Area" ElementToString="@(a => a.Display())" 
                                                SelectedElementChanged="OnSelectedAreaChanged" Elements="areas" Nullable="true">
                                            <ElementTemplate Context="area">
                                                @((MarkupString)area.DisplayHtml())
                                            </ElementTemplate>
                                        </Dropdown>
                                    </div>
                                }
                                else
                                {
                                    <label class="col-sm-8 bg-secondary">@AppRoleHandler.ActAppRole.Area.Display()</label>
                                }
                            </div>
                        }
                        <div class="form-group row mt-2">
                            <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("id"))*:</label>
                            @if(AppRoleHandler.NamingConvention.NetworkAreaRequired)
                            {
                                <input type="text" class="col-sm-2" readonly @bind="AppRoleHandler.ActAppRole.IdStringFixedPart" />
                                <input type="text" class="col-sm-6" @bind="AppRoleHandler.ActAppRole.IdStringFreePart" />
                            }
                            else
                            {
                                <input type="text" class=" col-sm-8" @bind="AppRoleHandler.ActAppRole.IdString" />
                            }
                        </div>
                        <div class="form-group row mt-2">
                            <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("name"))*:</label>
                            <input type="text" class="col-sm-8" @bind="AppRoleHandler.ActAppRole.Name" />
                        </div>
                        <div class="form-group row mt-2">
                            <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("comment")):</label>
                            <input type="text" class="col-sm-8" @bind="AppRoleHandler.ActAppRole.Comment" />
                        </div>
                        <br>
                        <div class="col-sm-12">
                            <h6>@(userConfig.GetText("app_server"))</h6>
                            <div class="minheight-dropzone bg-secondary dropzone" 
                                ondragover="event.preventDefault();"
                                ondragstart="event.dataTransfer.setData('', event.target.id);"
                                @ondrop="HandleServerDrop">
                                <EditList ElementType="ModellingAppServer" Elements="ModellingAppServerWrapper.Resolve(AppRoleHandler.ActAppRole.AppServers)" ElementsToAdd="AppRoleHandler.AppServerToAdd" ElementsToDelete="AppRoleHandler.AppServerToDelete" StdLayout="false">
                                    <Display>
                                        <div class="row">
                                            <div class="col-sm-12 ml-2 bg-transparent">@((MarkupString)context.DisplayWithIcon())</div>
                                        </div>
                                    </Display>
                                </EditList>
                            </div>
                        </div>
                        @if(!AddMode)
                        {
                            <label class="col-sm-12 small">@(userConfig.GetText("created_by")): @(AppRoleHandler.ActAppRole.Creator), @(userConfig.GetText("creation_date")): @(AppRoleHandler.ActAppRole.CreationDate)</label>
                        }
                    </div>
                </div>
            </div>
        </Body>
        <Footer>
            <div class="btn-group">
                @if(AppRoleHandler.IsOwner)
                {
                    <button type="button" class="btn btn-sm btn-primary" @onclick="async () => {if(await AppRoleHandler.Save()) Close();}">@(userConfig.GetText("save"))</button>
                }
                else
                {
                    <button type="button" class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
                }
                <button type="button" class="btn btn-sm btn-secondary" @onclick="Close">@(userConfig.GetText("cancel"))</button>
            </div>
        </Footer>
    </PopUp>
    <InProgress Display="workInProgress"/>
}

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public bool Display { get; set; } = false;
        
    [Parameter]
    public EventCallback<bool> DisplayChanged { get; set; }

    [Parameter]
    public ModellingAppRoleHandler AppRoleHandler { get; set; }

    [Parameter]
    public EventCallback<ModellingAppRoleHandler> AppRoleHandlerChanged { get; set; }

    [Parameter]
    public bool AddMode { get; set; } = false;


    private ModellingDnDContainer Container { get; set; } = new();
    int sidebarLeftWidth = GlobalConfig.kSidebarLeftWidth + 300;

    private List<ModellingNetworkArea> areas = new();
    private bool firstTry = true;
    private bool workInProgress = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            areas = await apiConnection.SendQueryAsync<List<ModellingNetworkArea>>(FWO.Api.Client.Queries.ModellingQueries.getAreas);
            // todo: select relevant areas for owner?
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if(Display && firstTry)
        {
            firstTry = false;
            if (AppRoleHandler.NamingConvention.NetworkAreaRequired)
            {
                if(areas.Count == 0)
                {
                    DisplayMessageInUi(null, userConfig.GetText("E9002"), "", true);
                }
                else
                {
                    ModellingNetworkArea? existArea = areas.FirstOrDefault(a => a.IdString == AppRoleHandler.ActAppRole.Area?.IdString);
                    if(existArea != null)
                    {
                        AppRoleHandler.ActAppRole.Area = existArea;
                    }
                    await OnSelectedAreaChanged(AddMode ? areas.First() : AppRoleHandler.ActAppRole.Area);
                }
            }
            else
            {
                AppRoleHandler.AppServersInArea = AppRoleHandler.AvailableAppServers.Where(x => !x.IsDeleted).ToList();
            }
        }
    }

    private async Task HandleServerDrop()
    {
        if(Container.AppServerElements.Count > 0)
        {
            AppRoleHandler.AppServerToAppRole(Container.AppServerElements);
        }
        Container.Clear();
    }

    private void Close()
    {
        firstTry = true;
        Display = false;
        DisplayChanged.InvokeAsync(Display);
    }

    private async Task OnSelectedAreaChanged(ModellingNetworkArea? newArea)
    {
        try
        {
            if(!workInProgress)
            {
                workInProgress = true;
                AppRoleHandler.ActAppRole.Area = newArea;
                if(newArea != null)
                {
                    if(newArea.IdString.Length >= AppRoleHandler.NamingConvention.FixedPartLength && AddMode)
                    {
                        AppRoleHandler.ActAppRole.IdStringFixedPart = AppRoleHandler.GetFixedAppRolePart(newArea);
                        AppRoleHandler.ActAppRole.IdStringFreePart = await AppRoleHandler.ProposeFreeAppRoleNumber(newArea);
                    }
                }
                await AppRoleHandler.SelectAppServersFromArea(newArea);
                workInProgress = false;
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }
}
