@using FWO.Config.Api
@using FWO.Ui.Display
@using FWO.Api.Data

@inject ApiConnection apiConnection
@inject UserConfig userConfig

<Sidebar Collapsible="true" Resizeable="true" PositionLeft="true" @bind-Width="sidebarLeftWidth" >
    <div class="form-group row col-sm-12">
        <div class="mt-3 ml-2 col-sm-6">
            <h3>@(userConfig.GetText("library"))</h3>
        </div>
        <div class="mt-3 col-sm-5 justify-content-end">
            <label class="col-form-label text-success">@Application.Name</label>
        </div>
    </div>
    <div class="col-sm-11 border rounded m-2 p-2">
        @if(!ConnHandler.ActConn.IsInterface && ConnHandler.ActConn.UsedInterfaceId == null)
        {
            <h5>@(userConfig.GetText("interfaces"))</h5>
            <div class="form-group row">
                <div class="col-sm-3">
                    <button type="button" class="btn btn-sm btn-success w-100" @onclick="SearchInterface">@(userConfig.GetText("search"))</button>
                </div>
                <div class="col-sm-6">
                    <label class="draggable col-form-label col-sm-12" draggable="true" @ondragstart="@(() => {if(actInterface != null) HandleConnDragStart(actInterface);})">@(actInterface != null ? @actInterface.Name : "")</label>
                </div>
                <div class="col-sm-3">
                    @if(actInterface != null)
                    {
                        <button type="button" class="btn btn-sm btn-primary w-100" @onclick="() => {ConnHandler.InterfaceToConn(actInterface); ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("use"))</button>
                    }
                </div>
            </div>
            <br><br>
        }
        <h5>@(userConfig.GetText("network_objects"))</h5>
        <div class="form-group row">
            <div class="col-sm-9">
                <select class="form-control form-control-sm" @bind="selectedNwElems" multiple>
                    @for (int index = 0 ; index < ConnHandler.AvailableNwElems.Count ; index++)
                    {
                        <option class="draggable" draggable="true" @ondragstart="() => HandleNwDragStart(selectedNwElems)" value="@index">
                            @ResolveNwObject(ConnHandler.AvailableNwElems[index]).Display()
                        </option>
                    }
                </select>
            </div>
            <div class="col-sm-3">
                @if(!ConnHandler.SrcDropForbidden() && selectedNwElems.Length > 0)
                {
                    <button type="button" class="btn btn-sm btn-primary w-100" @onclick="() =>
                        {NetworkElemsToConn(selectedNwElems, true);
                        ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("to_source"))</button>
                }
                @if(!ConnHandler.DstDropForbidden() && selectedNwElems.Length > 0)
                {
                    <button type="button" class="btn btn-sm btn-primary w-100 mt-2" @onclick="() =>
                        {NetworkElemsToConn(selectedNwElems, false);
                        ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("to_dest"))</button>
                }
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-sm btn-success" @onclick="SearchNwObject">@(userConfig.GetText("search_nw_object"))</button>
                <button type="button" class="btn btn-sm btn-success" @onclick="() => {ConnHandler.CreateAppRole(); ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("add_app_role"))</button>
                <AuthorizeView Roles="admin, auditor">
                    <Authorized>
                        <button type="button" class="btn btn-sm btn-success" @onclick="() => {ConnHandler.CreateAppServer(); ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("add_app_server"))</button>
                    </Authorized>
                </AuthorizeView>
                @if(selectedNwElems.Length == 1)
                {
                    @if(ConnHandler.AvailableNwElems[selectedNwElems[0]].Key == (int)ModellingTypes.ObjectType.AppRole)
                    {
                        if(!ResolveAppRole(ConnHandler.AvailableNwElems[selectedNwElems[0]].Value).IsDeleted)
                        {
                            <button type="button" class="btn btn-sm btn-warning" @onclick="() => 
                                {ConnHandler.EditAppRole(ResolveAppRole(ConnHandler.AvailableNwElems[selectedNwElems[0]].Value));
                                ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("edit"))</button>
                            <button type="button" class="btn btn-sm btn-danger" @onclick="() => 
                                {ConnHandler.RequestDeleteAppRole(ResolveAppRole(ConnHandler.AvailableNwElems[selectedNwElems[0]].Value));
                                selectedNwElems = new int[]{}; ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("delete"))</button>
                        }
                    }
                    else
                    {
                        <AuthorizeView Roles="admin, auditor">
                            <Authorized>
                                @if(ResolveAppServer(ConnHandler.AvailableNwElems[selectedNwElems[0]].Value).ImportSource == GlobalConfig.kManual)
                                {
                                    @if(ResolveAppServer(ConnHandler.AvailableNwElems[selectedNwElems[0]].Value).IsDeleted)
                                    {
                                        <button type="button" class="btn btn-sm btn-danger" @onclick="() => 
                                            {ConnHandler.RequestReactivateAppServer(ResolveAppServer(ConnHandler.AvailableNwElems[selectedNwElems[0]].Value));
                                            ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("reactivate"))</button>
                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-sm btn-warning" @onclick="() => 
                                            {ConnHandler.EditAppServer(ResolveAppServer(ConnHandler.AvailableNwElems[selectedNwElems[0]].Value));
                                            ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("edit"))</button>
                                        <button type="button" class="btn btn-sm btn-danger" @onclick="() => 
                                            {ConnHandler.RequestDeleteAppServer(ResolveAppServer(ConnHandler.AvailableNwElems[selectedNwElems[0]].Value));
                                            selectedNwElems = new int[]{}; ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("delete"))</button>
                                    }
                                }
                            </Authorized>
                            <NotAuthorized>
                                <button type="button" class="btn btn-sm btn-danger" @onclick="DataInconsistent">@(userConfig.GetText("data_inconsistent"))</button>
                            </NotAuthorized> 
                        </AuthorizeView>
                    }
                }
            </div>
        </div>
        <br><br>
        @if(!ConnHandler.svcReadOnly)
        {
            <h5>@(userConfig.GetText("services"))</h5>
            <div class="form-group row">
                <div class="col-sm-9">
                    <select class="form-control form-control-sm" @bind="selectedSvcElems" multiple>
                        @for (int index = 0 ; index < ConnHandler.AvailableSvcElems.Count ; index++)
                        {
                            <option class="draggable" draggable="true" @ondragstart="() => HandleSvcDragStart(selectedSvcElems)" value="@index">
                                @(ConnHandler.AvailableSvcElems[index].Key == (int)ModellingTypes.ObjectType.ServiceGroup ? 
                                ModellingDisplay.DisplayServiceGroup(ResolveSvcGrp(ConnHandler.AvailableSvcElems[index].Value)) : 
                                ModellingDisplay.DisplayService(ResolveSvc(ConnHandler.AvailableSvcElems[index].Value)))
                            </option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                    @if(selectedSvcElems.Length > 0)
                    {
                        <button type="button" class="btn btn-sm btn-primary w-100" @onclick="() =>
                            {ServiceElemsToConn(selectedSvcElems); ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("to_service"))</button>
                    }
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-success"@onclick="() => {ConnHandler.CreateServiceGroup(); ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("add_service_group"))</button>
            @if(selectedSvcElems.Length == 1)
            {
                @if(ConnHandler.AvailableSvcElems[selectedSvcElems[0]].Key == (int)ModellingTypes.ObjectType.ServiceGroup)
                {
                    if(!ResolveSvcGrp(ConnHandler.AvailableSvcElems[selectedSvcElems[0]].Value).IsGlobal)
                    {
                        <button type="button" class="btn btn-sm btn-warning" @onclick="() =>
                            {ConnHandler.EditServiceGroup(ResolveSvcGrp(ConnHandler.AvailableSvcElems[selectedSvcElems[0]].Value));
                            ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("edit_service_group"))</button>
                        <button type="button" class="btn btn-sm btn-danger" @onclick="() =>
                            {ConnHandler.RequestDeleteServiceGrp(ResolveSvcGrp(ConnHandler.AvailableSvcElems[selectedSvcElems[0]].Value));
                            selectedSvcElems = new int[]{}; ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("delete"))</button>
                    }
                }
                else
                {
                    if(!ResolveSvc(ConnHandler.AvailableSvcElems[selectedSvcElems[0]].Value).IsGlobal)
                    {
                        <button type="button" class="btn btn-sm btn-warning" @onclick="() =>
                            {ConnHandler.EditService(ResolveSvc(ConnHandler.AvailableSvcElems[selectedSvcElems[0]].Value));
                            ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("edit_service"))</button>
                        <button type="button" class="btn btn-sm btn-danger" @onclick="() =>
                            {ConnHandler.RequestDeleteService(ResolveSvc(ConnHandler.AvailableSvcElems[selectedSvcElems[0]].Value));
                            selectedSvcElems = new int[]{}; ConnHandlerChanged.InvokeAsync(ConnHandler);}">@(userConfig.GetText("delete"))</button>
                    }
                }
            }
        }
    </div>
</Sidebar>
<EditAppRole @bind-Display="ConnHandler.EditAppRoleMode" @bind-AppRoleHandler="ConnHandler.AppRoleHandler" AddMode="ConnHandler.AddAppRoleMode"/>
<ConfirmDelete @bind-Display="ConnHandler.DeleteAppRoleMode" PerformAction="async () => WrapAsync(ConnHandler.DeleteAppRole)" Title="@userConfig.GetText("delete_app_role")" DeleteMessage="@ConnHandler.Message"/>
<EditAppServer @bind-Display="ConnHandler.EditAppServerMode" AppServerHandler="ConnHandler.AppServerHandler" AddMode="ConnHandler.AddAppServerMode"/>
<ConfirmDelete @bind-Display="ConnHandler.DeleteAppServerMode" PerformAction="async () => WrapAsync(ConnHandler.DeleteAppServer)" Title="@userConfig.GetText("delete_app_server")" DeleteMessage="@ConnHandler.Message"/>
<Confirm @bind-Display="ConnHandler.ReactivateAppServerMode" PerformAction="async () => WrapAsync(ConnHandler.ReactivateAppServer)" Title="@userConfig.GetText("reactivate")" Message="@ConnHandler.Message"/>
<EditServiceGroup @bind-Display="ConnHandler.EditSvcGrpMode" @bind-SvcGroupHandler="ConnHandler.SvcGrpHandler" AddMode="ConnHandler.AddSvcGrpMode"/>
<ConfirmDelete @bind-Display="ConnHandler.DeleteSvcGrpMode" PerformAction="async () => WrapAsync(ConnHandler.DeleteServiceGroup)" Title="@userConfig.GetText("delete_service_group")" DeleteMessage="@ConnHandler.Message"/>
<EditService @bind-Display="ConnHandler.EditServiceMode" ServiceHandler="ConnHandler.ServiceHandler" AddMode="ConnHandler.AddServiceMode"/>
<ConfirmDelete @bind-Display="ConnHandler.DeleteServiceMode" PerformAction="async () => WrapAsync(ConnHandler.DeleteService)" Title="@userConfig.GetText("delete_service")" DeleteMessage="@ConnHandler.Message"/>
<SearchInterface @bind-Display="SearchInterfaceMode" @bind-Interface="actInterface"/>
<SearchNwObject @bind-Display="SearchNwObjectMode"/>

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    [Parameter] 
    public FwoOwner Application { get; set; } = new FwoOwner();

    [Parameter] 
    public ModellingDnDContainer Container { get; set; } = new();

    [Parameter]
    public EventCallback<ModellingDnDContainer> ContainerChanged { get; set; }

    [Parameter]
    public int Width { get; set; }

    [Parameter]
    public EventCallback<int> WidthChanged { get; set; }

    [Parameter]
    public ModellingConnectionHandler ConnHandler { get; set; }

    [Parameter]
    public EventCallback<ModellingConnectionHandler> ConnHandlerChanged { get; set; }


    private int[] selectedNwElems = new int[]{};
    private int[] selectedSvcElems = new int[]{};
    private ModellingConnection? actInterface;
    private bool SearchInterfaceMode = false;
    private bool SearchNwObjectMode = false;
    private int sidebarLeftWidth { get { return Width; } set { Width = value; WidthChanged.InvokeAsync(Width);}}


    private void NetworkElemsToConn(int[] selectedNwElems, bool toSource)
    {
        List<ModellingAppRole> appRoles = new();
        List<ModellingAppServer> appServer = new();
        foreach(int elem in selectedNwElems)
        {
            if(ConnHandler.AvailableNwElems[elem].Key == (int)ModellingTypes.ObjectType.AppRole)
            {
                appRoles.Add(ResolveAppRole(ConnHandler.AvailableNwElems[elem].Value));
            }
            else
            {
                appServer.Add(ResolveAppServer(ConnHandler.AvailableNwElems[elem].Value));
            }
        }
        if(appRoles.Count > 0)
        {
            if(toSource)
            {
                ConnHandler.AppRolesToSource(appRoles);
            }
            else
            {
                ConnHandler.AppRolesToDestination(appRoles);
            }
        }
        if(appServer.Count > 0)
        {
            if(toSource)
            {
                ConnHandler.AppServerToSource(appServer);
            }
            else
            {
                ConnHandler.AppServerToDestination(appServer);
            }
        }
    }

    private void ServiceElemsToConn(int[] selectedSvcElems)
    {
        List<ModellingServiceGroup> serviceGroups = new();
        List<ModellingService> services = new();
        foreach(int elem in selectedSvcElems)
        {
            if(ConnHandler.AvailableSvcElems[elem].Key == (int)ModellingTypes.ObjectType.ServiceGroup)
            {
                serviceGroups.Add(ResolveSvcGrp(ConnHandler.AvailableSvcElems[elem].Value));
            }
            else
            {
                services.Add(ResolveSvc(ConnHandler.AvailableSvcElems[elem].Value));
            }
        }
        if(serviceGroups.Count > 0)
        {
            ConnHandler.ServiceGrpsToConn(serviceGroups);
        }
        if(services.Count > 0)
        {
            ConnHandler.ServicesToConn(services);
        }
    }

    private void HandleSvcDragStart(int[] selectedSvcElems)
    {
        Container.Clear();
        foreach(int elem in selectedSvcElems)
        {
            if(ConnHandler.AvailableSvcElems[elem].Key == (int)ModellingTypes.ObjectType.ServiceGroup)
            {
                Container.SvcGrpElements.Add(ResolveSvcGrp(ConnHandler.AvailableSvcElems[elem].Value));
            }
            else
            {
                Container.SvcElements.Add(ResolveSvc(ConnHandler.AvailableSvcElems[elem].Value));
            }
        }
    }

    private void HandleNwDragStart(int[] selectedNwElems)
    {
        Container.Clear();
        foreach(int elem in selectedNwElems)
        {
            if(ConnHandler.AvailableNwElems[elem].Key == (int)ModellingTypes.ObjectType.AppRole)
            {
                Container.AppRoleElements.Add(ResolveAppRole(ConnHandler.AvailableNwElems[elem].Value));
            }
            else
            {
                Container.AppServerElements.Add(ResolveAppServer(ConnHandler.AvailableNwElems[elem].Value));
            }
        }
    }

    private void HandleConnDragStart(ModellingConnection selectedConn)
    {
        Container.Clear();
        Container.ConnElement = selectedConn;
    }

    private ModellingNwObject ResolveNwObject(KeyValuePair<int, long> selectedObj)
    {
        if(selectedObj.Key == (int)ModellingTypes.ObjectType.AppRole)
        {
            return ResolveAppRole(selectedObj.Value);
        }
        else if(selectedObj.Key == (int)ModellingTypes.ObjectType.AppServer)
        {
            return ResolveAppServer(selectedObj.Value);
        }
        else
        {
            return ResolveNwObject(selectedObj.Value);
        }
    }

    private ModellingAppServer ResolveAppServer(long selectedId)
    {
        return ConnHandler.AvailableAppServers.FirstOrDefault(x => x.Id == selectedId);
    }

    private ModellingAppRole ResolveAppRole(long selectedId)
    {
        return ConnHandler.AvailableAppRoles.FirstOrDefault(x => x.Id == selectedId);
    }

    private ModellingAppServer ResolveNwObject(long selectedId)
    {
        return ConnHandler.AvailableSelectedObjects.FirstOrDefault(x => x.Id == selectedId);
    }

    private ModellingService ResolveSvc(int selectedId)
    {
        return ConnHandler.AvailableServices.FirstOrDefault(x => x.Id == selectedId);
    }

    private ModellingServiceGroup? ResolveSvcGrp(int selectedId)
    {
        return ConnHandler.AvailableServiceGroups.FirstOrDefault(x => x.Id == selectedId);
    }

    private async Task SearchInterface()
    {
        SearchInterfaceMode = true;
    }

    private async Task SearchNwObject()
    {
        SearchNwObjectMode = true;
    }

    private async Task DataInconsistent()
    {

    }

    private async Task WrapAsync(Func<Task> calledFunc)
    {
        await calledFunc();
        await ConnHandlerChanged.InvokeAsync(ConnHandler);
    }
}
