@using FWO.Config.Api
@using FWO.Config.Api.Data
@using FWO.Ui.Display
@using FWO.Services
@using FWO.Tufin.SecureChange
@using FWO.Rest.Client
@using FWO.Middleware.Client
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Net
@using RestSharp

@implements IDisposable

@page "/networkmodelling/{appId?}/{connId?}"
@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.Modeller}, {Roles.Auditor}")]

@inject ApiConnection apiConnection
@inject UserConfig userConfig
@inject MiddlewareClient middlewareClient
@inject NavigationManager NavigationManager
@inject GlobalConfig globalConfig

@if (!appHandler?.EditConnMode ?? true)
{
    @if(appHandler != null && appHandler.overviewConnHandler != null && appSelected)
    {
        <EditConnLeftSide @bind-Width="sidebarLeftWidth" @bind-ConnHandler="appHandler.overviewConnHandler" OverviewMode="true"/>
        <RequestFwChangePopup @bind-Display="showFwChange" SelectedApp="@selectedApp" Connections="appHandler.GetConnectionsToRequest()" RefreshParent="SubscribeAndSetStatusFromTicket"/>
    }
    <div style="margin-left: @($"{sidebarLeftWidth + 10}px");">
        <div class="input-group">
            <h3>@(userConfig.GetText("network_modelling"))</h3>
            <HelpLink Page="modelling" />
        </div>
        <hr />
        <div class="form-group row">
            <div class="col-sm-4">
                <SelectOwner SelectedOwner="selectedApp" SelectedOwnerChanged="InitApp" Apps="apps" />
            </div>
            <div class="col-sm-6">
                <div class="btn-group">
                    <button type="button" class="ms-5 btn btn-sm btn-primary" @onclick="Report">
                        @(userConfig.GetText("generate_report"))
                    </button>
                    <button type="button" class="btn btn-sm btn-dark" @onclick="ShowHistory">
                        @(userConfig.GetText("show_history"))
                    </button>
                    <AuthorizeView Roles="@($"{Roles.Requester}, {Roles.Implementer}, {Roles.Admin}, {Roles.Auditor}")">
                        <Authorized>
                            <button type="button" class="ms-5 btn btn-sm btn-primary" disabled=@(!userConfig.ModRolloutActive) @onclick="RequestFwChange">
                                @(userConfig.GetText("request_fw_change"))
                            </button>
                        </Authorized>
                        <NotAuthorized>
                            <div data-toggle="tooltip" title="@(userConfig.PureLine("C9012"))">
                                <button type="button" class="ms-5 btn btn-sm btn-primary" disabled>
                                    @(userConfig.GetText("request_fw_change"))
                                </button>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                    <div class="ms-2">
                        <label>@((MarkupString)ChangeStatus)</label>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        @if (appSelected)
        {
            <div class="form-group row m-2">
                <h5>@(userConfig.GetText("comm_profile"))&nbsp;
                @if (appActive)
                {
                    <div class="btn-group ms-5">
                        <button type="button" class="btn btn-sm btn-dark" @onclick="ShareLink">
                            @(appHandler!.DisplayButton("share_link", Icons.Share))
                        </button>&nbsp;
                        <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Auditor}")">
                            <Authorized>
                                <button type="button" class="btn btn-sm btn-dark" @onclick="ManualAppServer">
                                    @(appHandler!.DisplayButton("edit_app_server", Icons.Edit, "app_server"))
                                </button>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                }
                </h5>
            </div>
            <div class="m-2 vheight75">
                <TabSet WholeWidth="false" DarkMode="false" KeepPanelsAlive="false" @ref="appHandler!.tabset">
                    <Tab Title="@(userConfig.GetText("connections"))" Position=0>
                        <button type="button" class="btn btn-sm btn-success mb-2" @onclick="appHandler!.AddConnection">
                            @(appHandler!.DisplayButton("add_connection", Icons.Add))
                        </button>
                        <ConnectionTable ShowPageSizeInput="true" Connections="@appHandler!.GetRegularConnections()" @bind-AppHandler="appHandler" AppActive="appActive" />
                    </Tab>
                    <Tab Title="@(userConfig.GetText("provided_interfaces"))" Position=1>
                        <div class="d-flex justify-content-between">
                            <div>
                                <button type="button" class="btn btn-sm btn-success mb-2" @onclick="appHandler!.AddInterface">
                                    @(appHandler!.DisplayButton("add_interface", Icons.Add))
                                </button>
                            </div>
                            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Auditor}")">
                                <Authorized>
                                    <div>
                                        <input id="cbx_show_rejected" type="checkbox" @bind="showRejected">
                                        <label for="cbx_show_rejected" class="col-form-label">@(userConfig.GetText("displayRejected")):</label>
                                    </div>
                                </Authorized>
                            </AuthorizeView>
                        </div>
                        <ConnectionTable ShowPageSizeInput="true" Connections="@appHandler!.GetInterfaces(showRejected)" @bind-AppHandler="appHandler" AppActive="appActive" />
                    </Tab>
                    @if (selectedApp.CommSvcPossible)
                    {
                        <Tab Title="@(userConfig.GetText("common_services"))" Position=2>
                            <button type="button" class="btn btn-sm btn-success mb-2"
                                @onclick="appHandler!.AddCommonService">@(appHandler!.DisplayButton("add_common_service", Icons.Add))
                            </button>
                            <ConnectionTable Connections="@appHandler!.GetCommonServices()" @bind-AppHandler="appHandler" AppActive="appActive" />
                        </Tab>
                    }
                </TabSet>
            </div>
            <ConfirmDelete @bind-Display="appHandler!.DeleteConnMode"
                PerformAction="async () => {await appHandler!.DeleteConnection(); appHandler!.RestoreTab(); StateHasChanged();}"
                Title="@userConfig.GetText(appHandler!.ConnToDelete.IsInterface ? "delete_interface" : "delete_connection")"
                DeleteMessage="@appHandler!.Message" DeleteAllowed="appHandler!.DeleteAllowed" AllowedRoles="@Roles.Modeller" />
        }
    </div>
}
else if(appHandler != null)
{
    <EditConn @bind-Display="appHandler.EditConnMode" ConnHandler="appHandler.connHandler" ClosingAction="PrepareRestore" />
}
<ManualAppServer @bind-Display="manualAppServer" Application="@selectedApp" />
<ShowHistory @bind-Display="showHistory" Applications="apps" SelectedApp="selectedApp" />
<ShareLink @bind-Display="shareLink" Application="selectedApp" />
<InProgress Display="workInProgress"/>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public string? AppId { get; set; }

    [Parameter]
    public string? ConnId { get; set; }

    private bool tabSelected = false;
    private bool restoreTab = false;
    private ModellingConnection? lastConn;
    private ModellingAppHandler? appHandler;
    private List<FwoOwner> apps = new();
    private FwoOwner selectedApp = new();
    private bool appSelected = false;
    private bool manualAppServer = false;
    private bool showRejected = false;

    private bool appActive = false;
    private bool showHistory = false;
    private bool shareLink = false;
    private bool showFwChange = false;
    private int sidebarLeftWidth = GlobalConst.kGlobLibraryWidth;
    private bool firstInit = true;
    private string ChangeStatus = "";
    private GraphQlApiSubscription<List<WfTicket>>? actTicketSubscription;
    private ExtStateHandler? extStateHandler;
    private WfStateDict states = new();
    private bool firstErrorMessage = true;
    private bool workInProgress = false;

    protected override async Task OnInitializedAsync()
    {
        // if use has modeller role, choose it before all others for this menu
        apiConnection.SetBestRole(authenticationStateTask!.Result.User, [ Roles.Modeller, Roles.Admin, Roles.Auditor ]);
        extStateHandler = new(apiConnection);
        await extStateHandler.Init();
        await states.Init(apiConnection);
        await InitAppList();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (appSelected && appHandler != null)
        {
            if (!tabSelected)
            {
                tabSelected = true;
                appHandler.InitActiveTab();
            }
            else if (restoreTab)
            {
                restoreTab = false;
                appHandler.RestoreTab(lastConn);
            }
        }
    }

    private bool PrepareRestore()
    {
        lastConn = appHandler?.connHandler?.ActConn;
        restoreTab = true;
        sidebarLeftWidth = appHandler?.overviewConnHandler?.LastWidth ?? GlobalConst.kGlobLibraryWidth;
        return true;
    }

    private async Task InitAppList()
    {
        try
        {
            apps = await ModellingHandlerBase.GetOwnApps(authenticationStateTask!, userConfig, apiConnection, DisplayMessageInUi,
            true);
            if (apps.Count == 0)
            {
                DisplayMessageInUi(null, userConfig.GetText("fetch_data"), userConfig.GetText("E9001"), true);
            }
            else
            {
                if (AppId != null)
                {
                    HandleLink();
                }
                else
                {
                    selectedApp = apps.First();
                }
                await InitApp(selectedApp);
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }

    private void HandleLink()
    {
        FwoOwner? existingApp = apps.FirstOrDefault(a => a.ExtAppId == AppId);
        if (existingApp != null)
        {
            selectedApp = existingApp;
        }
        else
        {
            selectedApp = apps.First();
        }
    }

    private async Task InitApp(FwoOwner newApp)
    {
        workInProgress = true;
        try
        {
            appSelected = false;
            selectedApp = newApp;
            bool isOwner = authenticationStateTask!.Result.User.IsInRole(Roles.Modeller) &&
                userConfig.User.Ownerships.Contains(selectedApp.Id);
            if (isOwner)
            {
                apiConnection.SetRole(Roles.Modeller);
            }
            else
            {
                apiConnection.SetBestRole(authenticationStateTask!.Result.User, new List<string> { Roles.Admin, Roles.Auditor, Roles.Modeller });
            }
            appHandler = new ModellingAppHandler(apiConnection, userConfig, selectedApp, DisplayMessageInUi, isOwner)
            {
                ActWidth = sidebarLeftWidth,
                StartCollapsed = firstInit
            };
            firstInit = false;
            await appHandler.Init();
            appActive = selectedApp.Active;
            appSelected = true;
            tabSelected = false;
            await SetChangeStatus();
            await InitConn();
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_data"), "", true);
        }
        workInProgress = false;
    }

    private async Task InitConn()
    {
        if (appHandler != null && ConnId != null && int.TryParse(ConnId, out int connectionId))
        {
            ModellingConnection? selectedConn = appHandler?.Connections.FirstOrDefault(c => c.Id == connectionId);
            if (selectedConn != null)
            {
                tabSelected = true;
                appHandler?.InitActiveTab(selectedConn);
                await appHandler!.EditConn(selectedConn);
            }
        }
    }

    private void ManualAppServer()
    {
        manualAppServer = true;
    }

    private void ShareLink()
    {
        shareLink = true;
    }

    private void ShowHistory()
    {
        showHistory = true;
    }

    private void Report()
    {
        NavigationManager.NavigateTo($"/{PageName.ReportGeneration}/{selectedApp.Id}");
    }

    private void RequestFwChange()
    {
        showFwChange = true;
    }

    private async Task SetChangeStatus()
    {
        apiConnection.SetProperRole(authenticationStateTask!.Result.User, [ Roles.Modeller, Roles.Admin, Roles.Auditor ]);
        List<TicketId> ticketIds = await apiConnection.SendQueryAsync<List<TicketId>>(ExtRequestQueries.getLatestTicketId, new{ownerId = selectedApp.Id});
        if(ticketIds.Count == 0)
        {
            ChangeStatus = userConfig.GetText("never_requested");
        }
        else
        {
            WfTicket? intTicket = await apiConnection.SendQueryAsync<WfTicket>(RequestQueries.getTicketById, new { ticketIds.First().Id });
            apiConnection.SetProperRole(authenticationStateTask!.Result.User, [ Roles.Modeller, Roles.Admin, Roles.Auditor ]);
            if(intTicket != null)
            {
                await SubscribeAndSetStatusFromTicket(intTicket);
            }
        }
    }

    private async Task SubscribeAndSetStatusFromTicket(WfTicket intTicket)
    {
        await SetStatusFromTicket(intTicket);
        actTicketSubscription = apiConnection.GetSubscription<List<WfTicket>>(HandleSubscriptionError, OnTicketUpdate, RequestQueries.subscribeTicketStateChanges, new {intTicket.Id});
    }

    private async Task SetStatusFromTicket(WfTicket intTicket)
    {
        int doneStateId = extStateHandler != null ? (int)(extStateHandler.GetInternalStateId(ExtStates.ExtReqDone) ?? 999) : 999;
        int rejectedStateId = extStateHandler != null ? (int)(extStateHandler.GetInternalStateId(ExtStates.ExtReqRejected) ?? 999) : 999;
        if(intTicket.StateId < doneStateId && intTicket.StateId < rejectedStateId)
        {
            ChangeStatus = userConfig.GetText("in_process");
        }
        else if(intTicket.StateId == doneStateId)
        {
            ChangeStatus = userConfig.GetText("last_successful") + intTicket.CompletionDate?.ToString("yyyy-MM-dd HH:mm:ss") + " " + intTicket.Requester?.Name;
        }
        else
        {
            List<ExternalRequest> lastRequests = await apiConnection.SendQueryAsync<List<ExternalRequest>>(ExtRequestQueries.getLastRequest, new{ticketId = intTicket.Id});
            if(lastRequests != null && lastRequests.Count > 0)
            {
                string? lastResponse = !string.IsNullOrEmpty(lastRequests.First().LastProcessingResponse) ? 
                    lastRequests.First().LastProcessingResponse : lastRequests.First().LastCreationResponse;
                bool shortened = false;
                string tooltip = states.Name[intTicket.StateId] + ": " + Sanitizer.SanitizeCommentOpt(lastResponse, ref shortened);
                ChangeStatus = $"<div data-toggle=\"tooltip\" title=\"{tooltip}\">{userConfig.GetText("implementation_error")}</div>";
            }
            else
            {
                ChangeStatus = userConfig.GetText("implementation_error");
            }
            await InvokeAsync(StateHasChanged);
            if(firstErrorMessage)
            {
                firstErrorMessage = false;
                DisplayMessageInUi(null, userConfig.GetText("implementation_error"), userConfig.ModRolloutErrorText, true);
            }
        }
    }

    private async void HandleSubscriptionError(Exception exception)
    {
        await InvokeAsync(() => DisplayMessageInUi(exception, userConfig.GetText("ticket"), userConfig.GetText("update_subscription_error"), true));
    }

    public void Dispose()
    {
        actTicketSubscription?.Dispose();
    }

    private async void OnTicketUpdate(List<WfTicket> tickets)
    {
        await SetStatusFromTicket(tickets.First());
        await InvokeAsync(StateHasChanged);
    }
}
