@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.Auditor}, {Roles.Modeller}")]

@inject ApiConnection apiConnection
@inject UserConfig userConfig

<PopUp Title="@(userConfig.GetText("search_interface"))" Size="PopupSize.FullScreen" Show="@Display" OnClose="Close">
    <Body>
        @if (Display && InitComplete)
        {
            <ConnectionTable Application="Application" PageSizeCallback="UpdatePageSize" ShowPageSizeInput="true" ShowSelectionColumn="true" SelectionType="SelectionType.Multiple" Connections="@SelectableInterfaces" SelectInterfaceView="true" ShowAppName="true" @bind-SelectedConns="SelectedInterfaces" />
        }
    </Body>
    <Footer>
        <div class="btn-group">
            @if (SelectedInterfaces.Count > 0)
            {
                <AuthorizeView Roles="@Roles.Modeller">
                    <Authorized>
                        <button type="button" class="btn btn-sm btn-success" @onclick="SelectInterface">@(DisplayService.DisplayButton(userConfig, "select", Icons.Select))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button type="button" class="btn btn-sm btn-success" disabled>@(DisplayService.DisplayButton(userConfig, "select", Icons.Select))</button>
                    </NotAuthorized>
                </AuthorizeView>
            }
            <button type="button" class="btn btn-sm btn-secondary" @onclick="Close">@(DisplayService.DisplayButton(userConfig, "cancel", Icons.Cancel))</button>
        </div>
    </Footer>
</PopUp>

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public bool Display { get; set; } = false;

    [Parameter]
    public EventCallback<bool> DisplayChanged { get; set; }

    [Parameter]
    public List<ModellingConnection>? PreselectedInterfaces { get; set; }

    [Parameter]
    public EventCallback<List<ModellingConnection>> PreselectedInterfacesChanged { get; set; }

    [Parameter]
    public FwoOwner Application { get; set; } = new();

    private List<ModellingConnection> SelectableInterfaces { get; set; } = [];
    private List<ModellingConnection> AllVisibleInterfaces { get; set; } = [];
    private List<ModellingConnection> SelectedInterfaces { get; set; } = [];
    private bool FirstTry = true;
    private bool InitComplete = false;

    private int PageSize { get; set; }

    private void UpdatePageSize(int pageSize)
    {
        PageSize = pageSize;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Display && FirstTry)
        {
            try
            {
                FirstTry = false;
                AllVisibleInterfaces = [.. (await apiConnection.SendQueryAsync<List<ModellingConnection>>(ModellingQueries.getPublishedInterfaces))
                    .Where(i => i.InterfacePermission != InterfacePermissions.Private.ToString())];
                RefreshSelectionList();
                InitComplete = true;
            }
            catch (Exception exception)
            {
                DisplayMessageInUi(exception, userConfig.GetText("fetch_data"), "", true);
            }
        }
    }

    private void RefreshSelectionList()
    {
        SelectableInterfaces = [];
        if (AllVisibleInterfaces != null && AllVisibleInterfaces.Count > 0)
        {
            SelectableInterfaces = PreselectedInterfaces != null && PreselectedInterfaces.Count > 0 ?
                AllVisibleInterfaces.Where(i => PreselectedInterfaces.FirstOrDefault(sel => sel.Id == i.Id) == null)?.ToList() ?? new() : AllVisibleInterfaces;
        }
    }

    private async Task SelectInterface()
    {
        await AddInterfaces();
        Close();
    }

    private async Task AddInterfaces()
    {
        try
        {
            if (SelectedInterfaces.Count > 0)
            {
                if (PreselectedInterfaces == null)
                {
                    PreselectedInterfaces = [];
                }

                foreach (ModellingConnection @interface in SelectedInterfaces)
                {
                    var Variables = new
                    {
                        appId = Application.Id,
                        connectionId = @interface.Id
                    };

                    await apiConnection.SendQueryAsync<ReturnIdWrapper>(ModellingQueries.addSelectedConnection, Variables);
                    PreselectedInterfaces.Add(@interface ?? throw new ArgumentException("No Interface selected."));
                }

                RefreshSelectionList();
                await PreselectedInterfacesChanged.InvokeAsync(PreselectedInterfaces);
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("search_interface"), "", true);
        }
    }

    private void Close()
    {
        SelectedInterfaces = [];
        FirstTry = true;
        InitComplete = false;
        Display = false;
        DisplayChanged.InvokeAsync(Display);
    }
}
