@using System.Text.Json

@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.FwAdmin}, {Roles.Auditor}")]

@inject UserConfig userConfig
@inject ApiConnection apiConnection

<PopUp Title="@(userConfig.GetText("edit_policy"))" Size=PopupSize.Medium Show="@Display" OnClose="Cancel">
    <Body>
        @if (Display)
        {
            <div class="row pt-2">
                <div class="col-sm-3">
                    <label class="col-form-label col-form-label-sm">@(userConfig.GetText("name"))*:</label>
                </div>
                @if (AddMode)
                {
                    <div class="col-sm-9">
                        <input class="form-control form-control-sm" name="txtbPolicyName" type="text" @bind="Policy.Name" />
                    </div>
                }
                else
                {
                    <div class="col-sm-9">
                        <label class="col-form-label col-form-label-sm"><b>@(Policy.Name)</b></label>
                    </div>
                }
            </div>
            <div class="row py-2">
                <div class="col-sm-3" />
                <div class="col-sm-9">
                    <EditList ElementType="ComplianceCriterion" Elements="Policy.Criteria.Select(c => c.Content).ToArray()" ElementsToAdd="CriteriaToAdd" ElementsToDelete="CriteriaToDelete" StdLayout="false">
                        <Display>
                            <div class="border bg-transparent">@context.Name</div>
                        </Display>
                    </EditList>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label class="col-form-label col-form-label-sm">@(userConfig.GetText("criteria"))*:</label>
                </div>
                <div class="col-sm-9">
                    <div class="d-flex">
                        <Dropdown ElementType="ComplianceCriterion" ElementToString="@(r => r.Name)" @bind-SelectedElement="SelectedCrit" Elements="SelectableCriteria()">
                            <ElementTemplate Context="crit">
                                @(crit.Name)
                            </ElementTemplate>
                        </Dropdown>
                        <button @onclick="AddCrit" type="button" class="btn btn-sm btn-success ms-2" id="addCrit">@userConfig.GetText("add")</button>
                    </div>
                </div>
            </div>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.FwAdmin}")">
                <Authorized>
                    <button type="button" class="btn btn-sm btn-danger" @onclick="Save">@(userConfig.GetText("save"))</button>
                </Authorized>
                <NotAuthorized>
                    <button type="button" class="btn btn-sm btn-danger" disabled>@(userConfig.GetText("save"))</button>
                </NotAuthorized>
            </AuthorizeView>
            <button type="button" class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public bool Display { get; set; } = false;

    [Parameter]
    public EventCallback<bool> DisplayChanged { get; set; }

    [Parameter]
    public CompliancePolicy Policy { get; set; } = new();

    [Parameter]
    public EventCallback<CompliancePolicy> PolicyChanged { get; set; }

    [Parameter]
    public List<CompliancePolicy> Policies { get; set; } = [];

    [Parameter]
    public EventCallback<List<CompliancePolicy>> PoliciesChanged { get; set; }

    [Parameter]
    public bool AddMode { get; set; } = false;

    private List<ComplianceCriterion> AllCriteria = [];
    private List<ComplianceCriterion> CriteriaToAdd = [];
    private List<ComplianceCriterion> CriteriaToDelete = [];
    ComplianceCriterion SelectedCrit = new();


    protected async override Task OnInitializedAsync()
    {
        try
        {
            AllCriteria = await apiConnection.SendQueryAsync<List<ComplianceCriterion>>(ComplianceQueries.getCriteria);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("object_fetch"), "", true);
        }
    }

    protected override void OnParametersSet()
    {
        if (Display && AllCriteria.Count > 0)
        {
            SelectedCrit = new();
            CriteriaToAdd = [];
            CriteriaToDelete = [];
        }
    }

    private List<ComplianceCriterion> SelectableCriteria()
    {
        return [.. AllCriteria.Where(c => !CriteriaToAdd.Contains(c) && !Policy.Criteria.Select(c => c.Content).Contains(c))];
    }

    private void AddCrit()
    {
        if (SelectedCrit.Id > 0)
        {
            CriteriaToAdd.Add(SelectedCrit);
            SelectedCrit = new();
        }
    }

    private void Cancel()
    {
        Close();
    }

    private async Task Save()
    {
        try
        {
            if (AddMode)
            {
                if (string.IsNullOrEmpty(Policy.Name))
                {
                    DisplayMessageInUi(null, userConfig.GetText("edit_policy"), userConfig.GetText("E5234"), true);
                    return;
                }
                ReturnId[]? returnIds = (await apiConnection.SendQueryAsync<ReturnIdWrapper>(ComplianceQueries.addPolicy, new { name = Policy.Name })).ReturnIds;
                if (returnIds != null)
                {
                    Policy.Id = returnIds[0].InsertedId;
                    await AddCriteriaToPolicy(Policy.Id);
                }
                Policies.Add(Policy);
            }
            else
            {
                await AddCriteriaToPolicy(Policy.Id);
                await RemoveCriteriaFromPolicy(Policy.Id);
            }
            Close();
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("edit_policy"), "", true);
        }
    }

    private async Task AddCriteriaToPolicy(int policyId)
    {
        foreach (var crit in CriteriaToAdd)
        {
            await apiConnection.SendQueryAsync<ReturnId>(ComplianceQueries.addCritToPolicy, new { policyId = policyId, criterionId = crit.Id });
            Policy.Criteria.Add(new() { Content = crit });
        }
    }

    private async Task RemoveCriteriaFromPolicy(int policyId)
    {
        foreach (var crit in CriteriaToDelete)
        {
            await apiConnection.SendQueryAsync<ReturnId>(ComplianceQueries.removeCritFromPolicy,
                new { policyId = policyId, criterionId = crit.Id, removed = DateTime.UtcNow });
            Policy.Criteria.Remove(Policy.Criteria[Policy.Criteria.FindIndex(c => c.Content.Id == crit.Id)]);
        }
    }

    private void Close()
    {
        Display = false;
        DisplayChanged.InvokeAsync(Display);
    }
}
