@using FWO.Ui.Display
@using FWO.Config.Api

@inject UserConfig userConfig

@foreach (Management management in Managements)
{
    @if (management.Devices.Where(device => device.RuleChanges != null && device.RuleChanges.Count() > 0).Count() > 0)
    {
        <Collapse Title="@management.Name" Style="@("primary")" StartToggled="false">

            @foreach (Device device in management.Devices)
            {
                @if (device.RuleChanges != null && device.RuleChanges.Length > 0 && ruleChangeDisplayHtml != null && SelectedRuleChanges != null)
                {
                    <Collapse Title="@device.Name" Style="@("secondary")" StartToggled="true">
                        <Table SelectedItems="SelectedRuleChanges"
                               RowClickAction="@(async rule => { rule.DeviceName = device.Name ?? ""; if (!SelectedRuleChanges.Remove(rule)) SelectedRuleChanges.Add(rule); await SelectedRuleChangesChanged.InvokeAsync(SelectedRuleChanges); })"
                               style="font-size:small" TableClass="table table-bordered table-sm table-responsive vheight75 overflow-auto sticky-header" TableItem="RuleChange" Items="device.RuleChanges" ShowSearchBar="false"
                               PageSize="RulesPerPage" ColumnReorder="true">

                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("change_time"))" Field="@(rChange => rChange.ChangeImport.Time)" Sortable="true" Filterable="true" Hideable="true" />
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("change_type"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplayHtml.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplayHtml.DisplayChangeAction(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("name"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplayHtml.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplayHtml.DisplayName(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("source_zone"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplayHtml.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplayHtml.DisplaySourceZone(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("source"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplayHtml.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplayHtml.DisplaySource(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("destination_zone"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplayHtml.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplayHtml.DisplayDestinationZone(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("destination"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplayHtml.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplayHtml.DisplayDestination(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("services"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplayHtml.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplayHtml.DisplayService(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("action"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplayHtml.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplayHtml.DisplayAction(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("track"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplayHtml.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplayHtml.DisplayTrack(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("enabled"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplayHtml.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplayHtml.DisplayEnabled(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("uid"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplayHtml.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplayHtml.DisplayUid(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("comment"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplayHtml.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplayHtml.DisplayComment(context))
                                    </div>
                                </Template>
                            </Column>

                            @*<DetailTemplate TableItem="RuleChange">
                                <div>test</div>
                            </DetailTemplate>*@

                            <Pager ShowPageNumber="true" ShowTotalCount="true" />
                        </Table>
                    </Collapse>
                }
            }
        </Collapse>
    }
}

@code
{
    [Parameter]
    public EventCallback<List<RuleChange>> SelectedRuleChangesChanged { get; set; }

    [Parameter]
    public List<RuleChange>? SelectedRuleChanges { get; set; }

    [Parameter]
    public int RulesPerPage { get; set; }

    [Parameter]
    public Management[] Managements { get; set; } = new Management[]{};

    public RuleChangeDisplayHtml? ruleChangeDisplayHtml;

    protected override void OnInitialized()
    {
        ruleChangeDisplayHtml = new RuleChangeDisplayHtml(userConfig);
    }
}
