@using FWO.Ui.Display
@using FWO.Config.Api

@inject UserConfig userConfig

@foreach (Management management in Managements)
{
    @if (management.Devices.Where(device => device.RuleChanges != null && device.RuleChanges.Count() > 0).Count() > 0)
    {
        <Collapse Title="@management.Name" Style="@("primary")" StartToggled="false">

            @foreach (Device device in management.Devices)
            {
                @if (device.RuleChanges != null && device.RuleChanges.Length > 0 && ruleChangeDisplay != null && SelectedRuleChanges != null)
                {
                    <Collapse Title="@device.Name" Style="@("secondary")" StartToggled="true">
                        <Table SelectedItems="SelectedRuleChanges"
                               RowClickAction="@(async rule => { rule.DeviceName = device.Name ?? ""; if (!SelectedRuleChanges.Remove(rule)) SelectedRuleChanges.Add(rule); await SelectedRuleChangesChanged.InvokeAsync(SelectedRuleChanges); })"
                               style="font-size:small" TableClass="@(getTableClass(device))" TableItem="RuleChange" Items="device.RuleChanges" ShowSearchBar="false"
                               PageSize="RulesPerPage" ColumnReorder="true">

                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("change_time"))" Field="@(rChange => rChange.ChangeImport.Time)" Sortable="true" Filterable="true" Hideable="true" />
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("change_type"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplay.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplay.DisplayChangeAction(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("name"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplay.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplay.DisplayName(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("source_zone"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplay.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplay.DisplaySourceZone(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("source"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplay.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplay.DisplaySource(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("destination_zone"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplay.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplay.DisplayDestinationZone(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("destination"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplay.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplay.DisplayDestination(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("services"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplay.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplay.DisplayService(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("action"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplay.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplay.DisplayAction(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("track"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplay.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplay.DisplayTrack(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("enabled"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplay.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplay.DisplayEnabled(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("uid"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplay.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplay.DisplayUid(context))
                                    </div>
                                </Template>
                            </Column>
                            <Column TableItem="RuleChange" Title="@(userConfig.GetText("comment"))" Hideable="true">
                                <Template>
                                    <div style="@ruleChangeDisplay.DisplayStyle(context)">
                                        @((MarkupString)ruleChangeDisplay.DisplayComment(context))
                                    </div>
                                </Template>
                            </Column>

                            @*<DetailTemplate TableItem="RuleChange">
                                <div>test</div>
                            </DetailTemplate>*@

                            <Pager ShowPageNumber="true" ShowTotalCount="true" />
                        </Table>
                    </Collapse>
                }
            }
        </Collapse>
    }
}

@code
{
    [Parameter]
    public EventCallback<List<RuleChange>> SelectedRuleChangesChanged { get; set; }

    [Parameter]
    public List<RuleChange>? SelectedRuleChanges { get; set; }

    [Parameter]
    public int RulesPerPage { get; set; }

    [Parameter]
    public Management[] Managements { get; set; } = new Management[]{};

    public RuleChangeDisplay? ruleChangeDisplay;

    protected override void OnInitialized()
    {
        ruleChangeDisplay = new RuleChangeDisplay(userConfig);
    }

    private string getTableClass(Device device)
    {
        string cssclass = "table table-bordered table-sm table-responsive overflow-auto sticky-header ";
        string height = "vheight75";
        if(device.Rules != null && device.Rules.Length > 0 && device.Rules.Length < 8)
        {
            height = $"dynamic-height-{device.Rules.Length}";
        }
        return cssclass + height;
    }

}
