@using FWO.Ui.Display
@using FWO.Config.Api
@using FWO.Report
@using FWO.Report.Filter
@using FWO.Data.Modelling


@inject UserConfig userConfig

@foreach(var owner in OwnerData)
{
    <h5>@owner.Owner.Display(userConfig.GetText("common_service"))</h5>

    @if(owner.RegularConnections.Count > 0)
    {
        <Collapse Title="@userConfig.GetText("connections")" Style="@("primary")" StartToggled="false">
            <ConnectionTable Connections="@owner.RegularConnections" Readonly="true"/>
        </Collapse>
    }
    @if(owner.Interfaces.Count > 0)
    {
        <Collapse Title="@userConfig.GetText("interfaces")" Style="@("primary")" StartToggled="false">
            <ConnectionTable Connections="@owner.Interfaces" Readonly="true" InterfacesPossible="true"/>
        </Collapse>
    }
    @if(owner.CommonServices.Count > 0)
    {
        <Collapse Title="@userConfig.GetText("own_common_services")" Style="@("primary")" StartToggled="false">
            <ConnectionTable Connections="@owner.CommonServices" Readonly="true"/>
        </Collapse>
    }
}
@if(AllCommonServices != null && AllCommonServices.Count > 0)
{
    <Collapse Title="@userConfig.GetText("global_common_services")" Style="@("primary")" StartToggled="false">
        <ConnectionTable Connections="@AllCommonServices" Readonly="true" ShowAppName="true"/>
    </Collapse>
}


@code
{
    [Parameter]
    public List<OwnerConnectionReport> OwnerData { get; set; } = [];

    [Parameter]
    public List<ModellingConnection>? AllCommonServices { get; set; } = null;
}
