@using FWO.Ui.Display
@using FWO.Config.Api
@using FWO.Report
@using FWO.Report.Filter

@inject UserConfig userConfig

@foreach (var management in Managements)
{
    @if (management.ContainsRules())
    {
        management.AssignRuleNumbers();

        <Collapse Title="@management.Name" Style="@("primary")" StartToggled="false">

            @foreach (var device in management.Devices)
            {
                @if (device.ContainsRules() && ruleDisplay != null)
                {
                    <Collapse Title="@device.Name" Style="@("secondary")" StartToggled="true">
                        <Table SelectedItems="SelectedRules"
                            RowClickAction="@(async rule => { if (!SelectedRules.Remove(rule)) SelectedRules.Add(rule); await SelectedRulesChanged.InvokeAsync(SelectedRules); })"
                            style="font-size:small" TableClass="table table-bordered table-sm th-bg-secondary table-responsive overflow-auto sticky-header" TableItem="RuleMetadata" Items="device.OrderedRulebases[0].Rulebase.RuleMetadata" ShowSearchBar="false"
                            PageSize="RulesPerPage" ColumnReorder="true" TableRowClass="@(rule => getTableRowClasses(rule))"
                            @ref="reportTable">

                            @if (EmptyColumns[0] == false)
                            {
                                <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("number"))" DefaultSortColumn="true" Field="@(ruleMetadata => ruleMetadata.Rules[0].OrderNumber)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayBase.DisplayNumber(ruleMetadata.Rules[0]))
                                    </Template>
                                </Column>
                            }
                            @if(SelectedReportType == ReportType.UnusedRules || SelectedReportType == ReportType.AppRules)
                            {
                                <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("last_hit"))" Field="@(rule => rule.LastHit)" Sortable="false" Filterable="false">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayLastHit(ruleMetadata))
                                    </Template>
                                </Column>
                            }
                            @if(SelectedReportType == ReportType.Recertification)
                            {
                                <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("next_recert"))" Field="@(rule => rule.RuleRecertification)" Sortable="false" Filterable="false">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayNextRecert(ruleMetadata))
                                    </Template>
                                </Column>
                                <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("owner"))" Field="@(rule => rule.RuleRecertification)" Sortable="false" Filterable="false">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayOwner(ruleMetadata))
                                    </Template>
                                </Column>

                                <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("ip_matches"))" Field="@(rule => rule.RuleRecertification)" Sortable="false" Filterable="false">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayRecertIpMatches(ruleMetadata))
                                    </Template>
                                </Column>
                                <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("last_hit"))" Field="@(rule => rule.LastHit)" Sortable="false" Filterable="false">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayLastHit(ruleMetadata))
                                    </Template>
                                </Column>
                                @if(Recertification && RecertificationHistory)
                                {
                                    // TODO: implement 2nd recert report containing latest recerts
                                    <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("last_recertifier"))" Field="@(rule => rule.RuleRecertification)" Sortable="false" Filterable="true">
                                        <Template>
                                            @((MarkupString)RuleDisplayHtml.DisplayLastRecertifier(ruleMetadata))
                                        </Template>
                                    </Column>
                                }
                                @if(Recertification && !ReadonlyMode)
                                {
                                    <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("action"))" Field="@(ruleMetadata => ruleMetadata.Rules[0].OrderNumber)">
                                        <Template>
                                            <div class="form-check" @onclick:stopPropagation="true">
                                                <input class="form-check-input" type="radio" name="certification@(ruleMetadata.Rules[0].Id.ToString()+':'+ruleMetadata.Rules[0].OwnerId.ToString())" id="recertifyRadio@(ruleMetadata.Rules[0].Id.ToString()+':'+ruleMetadata.Rules[0].OwnerId.ToString())" @onchange="() => {ruleMetadata.Recert=true; ruleMetadata.ToBeRemoved=false;}">
                                                <label class="form-check-label" for="recertifyRadio@(ruleMetadata.Rules[0].Id)">
                                                    @(userConfig.GetText("recertify"))
                                                </label>
                                            </div>
                                            <div class="form-check" @onclick:stopPropagation="true">
                                                <input class="form-check-input" type="radio" name="certification@(ruleMetadata.Rules[0].Id.ToString()+':'+ruleMetadata.Rules[0].OwnerId.ToString())" id="decertifyRadio@(ruleMetadata.Rules[0].Id.ToString()+':'+ruleMetadata.Rules[0].OwnerId.ToString())" @onchange="() => {ruleMetadata.Recert=false; ruleMetadata.ToBeRemoved=true;}">
                                                <label class="form-check-label" for="decertifyRadio@(ruleMetadata.Rules[0].Id)">
                                                    @(userConfig.GetText("decertify"))
                                                </label>
                                            </div>
                                            <div class="form-check" @onclick:stopPropagation="true">
                                                <input class="form-check-input" type="radio" name="certification@(ruleMetadata.Rules[0].Id.ToString()+':'+ruleMetadata.Rules[0].OwnerId.ToString())" id="noneRadio@(ruleMetadata.Rules[0].Id.ToString()+':'+ruleMetadata.Rules[0].OwnerId.ToString())" checked @onchange="() => {ruleMetadata.Recert=false; ruleMetadata.ToBeRemoved=false;}">
                                                <label class="form-check-label" for="noneRadio@(ruleMetadata.Rules[0].Id)">
                                                    @(userConfig.GetText("later"))
                                                </label>
                                            </div>
                                        </Template>
                                    </Column>
                                }
                            }
                            @if(Recertification && RecertificationHistory)
                            {
                                // TODO: implement 2nd recert report containing latest recerts
                                <Column TableItem="RuleMetadata" Title="@(userConfig.GetText("recert_comment"))" Field="@(rule => rule.Comment)" Sortable="true" Filterable="false" />
                            }

                            @if (EmptyColumns[1] == false)
                            {
                                <Column TableItem="RuleMetadata" Title="@(userConfig.GetText("name"))" Field="@(rChange => rChange.Rules[0].Name)" Sortable="true" Filterable="false" Hideable="true" />
                            }
                            @if (EmptyColumns[2] == false)
                            {
                                <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("source_zone"))" Field="@(rChange => rChange.Rules[0].SourceZone)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayBase.DisplaySourceZone(ruleMetadata.Rules[0]))
                                    </Template>
                                </Column>
                            }
                            @if (EmptyColumns[3] == false)
                            {
                                <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("source"))" Field="@(rChange => rChange.Rules[0].Name)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)ruleDisplay.DisplaySource(ruleMetadata.Rules[0], getActLocation(), SelectedReportType))
                                    </Template>
                                </Column>
                            }
                            @if (EmptyColumns[4] == false)
                            {
                                <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("destination_zone"))" Field="@(rChange => rChange.Rules[0].Name)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayBase.DisplayDestinationZone(ruleMetadata.Rules[0]))
                                    </Template>
                                </Column>
                            }
                            @if (EmptyColumns[5] == false)
                            {
                                <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("destination"))" Field="@(rChange => rChange.Rules[0].Name)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)ruleDisplay.DisplayDestination(ruleMetadata.Rules[0], getActLocation(), SelectedReportType))
                                    </Template>
                                </Column>
                            }
                            @if (EmptyColumns[6] == false)
                            {
                                <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("services"))" Field="@(rChange => rChange.Rules[0].Name)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)ruleDisplay.DisplayServices(ruleMetadata.Rules[0], getActLocation(), SelectedReportType))
                                    </Template>
                                </Column>
                            }
                            @if(SelectedReportType == ReportType.NatRules)
                            {
                                    <Column Class="table-active" TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("trans_source"))" Field="@(rChange => rChange.Rules[0].Name)" Sortable="true" Filterable="false" Hideable="true">
                                        <Template>
                                                @((MarkupString)ruleDisplay.DisplayTranslatedSource(ruleMetadata.Rules[0], getActLocation()))
                                        </Template>
                                    </Column>
                                    <Column Class="table-active" TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("trans_destination"))" Field="@(rChange => rChange.Rules[0].Name)" Sortable="true" Filterable="false" Hideable="true">
                                        <Template>
                                            @((MarkupString)ruleDisplay.DisplayTranslatedDestination(ruleMetadata.Rules[0], getActLocation()))
                                        </Template>
                                    </Column>
                                    <Column Class="table-active" TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("trans_services"))" Field="@(rChange => rChange.Rules[0].Name)" Sortable="true" Filterable="false" Hideable="true">
                                        <Template>
                                            @((MarkupString)ruleDisplay.DisplayTranslatedService(ruleMetadata.Rules[0], getActLocation()))
                                        </Template>
                                    </Column>
                            }
                            @if (EmptyColumns[7] == false && SelectedReportType != ReportType.NatRules)
                            {
                                <Column TableItem="RuleMetadata" Title="@(userConfig.GetText("action"))" Field="@(rChange => rChange.Rules[0].Action)" Sortable="true" Filterable="false" Hideable="true" />
                            }
                            @if (EmptyColumns[8] == false && SelectedReportType != ReportType.NatRules)
                            {
                                <Column TableItem="RuleMetadata" Title="@(userConfig.GetText("track"))" Field="@(rChange => rChange.Rules[0].Track)" Sortable="true" Filterable="false" Hideable="true" />
                            }
                            @if (EmptyColumns[9] == false)
                            {
                                <Column TableItem="RuleMetadata" Context="ruleMetadata" Title="@(userConfig.GetText("enabled"))" Field="@(rChange => rChange.Rules[0].Disabled)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayEnabled(ruleMetadata.Rules[0], getActLocation()))
                                    </Template>
                                </Column>
                            }
                            @if (EmptyColumns[10] == false)
                            {
                                <Column TableItem="RuleMetadata" Title="@(userConfig.GetText("uid"))" Field="@(rChange => rChange.Rules[0].Uid)" Sortable="true" Filterable="false" Hideable="true" />
                            }
                            @if (EmptyColumns[11] == false)
                            {
                                <Column TableItem="RuleMetadata" Title="@(userConfig.GetText("comment"))" Field="@(rChange => rChange.Rules[0].Comment)" Sortable="true" Filterable="false" Hideable="true" />
                            }

                            <DetailTemplate TableItem="RuleMetadata">
                                <Detail Title="@(userConfig.GetText("created"))" Data="@context.Created?.ToString()" />
                                <Detail Title="@(userConfig.GetText("last_modified"))" Data="@context.LastModified?.ToString()" />
                                <Detail Title="@(userConfig.GetText("first_hit"))" Data="@context.FirstHit?.ToString()" />
                                <Detail Title="@(userConfig.GetText("last_hit"))" Data="@context.LastHit?.ToString()" />
                                <Detail Title="@(userConfig.GetText("last_certify_date"))" Data="@context.LastCertified?.ToString()" />
                                <Detail Title="@(userConfig.GetText("last_recertifier"))" Data="@context.LastCertifierDn?.ToString()" />
                                @* <Detail Title="@(userConfig.GetText("marked_to_be_removed"))" Data="@((context.Metadata?.ToBeRemoved)?'yes':'no'))" /> 
                                    // TODO: not able to get this syntactically working, but implicit info is there: ToBeRemoved == NOT DecertificationDate IS NULL *@
                                <Detail Title="@(userConfig.GetText("decert_date"))" Data="@context.DecertificationDate?.ToString()" />
                                <Detail Title="@(userConfig.GetText("recert_comment"))" Data="@context.Comment?.ToString()" />
                                <Detail Title="@(userConfig.GetText("recert_history"))" Data="@(context.RecertHistory.Count > 0 ? ":" : "")" />
                                @foreach(var recert in context.RecertHistory)
                                {
                                    <Detail Title="@(recert.RecertDate.ToString())" Data="@(getHistoryString(recert))" />
                                }
                            </DetailTemplate>

                            <CustomRow TableItem="RuleMetadata" IsActiveForItem="(rule => !String.IsNullOrEmpty(rule.Rules[0].SectionHeader))">
                                <tr>
                                    <td class="bg-light" colspan="@(reportTable?.Columns.Count + 1)">
                                        <div class="font-weight-bold">@(context.Rules[0].SectionHeader)</div>
                                    </td>
                                </tr>
                            </CustomRow>
                            <Pager ShowPageNumber="true" ShowTotalCount="true" />
                        </Table>
                    </Collapse>
                }
            }
        </Collapse>
    }
}

@code
{
    [Parameter]
    public bool Recertification { get; set; }
    
    [Parameter]
    public bool ReadonlyMode { get; set; } = false;

    [Parameter]
    public ReportType SelectedReportType { get; set; }

    [Parameter]
    public EventCallback<List<RuleMetadata>> SelectedRulesChanged { get; set; }

    [Parameter]
    public List<RuleMetadata> SelectedRules { get; set; } = [];

    [Parameter]
    public int RulesPerPage { get; set; }

    [Parameter]
    public EventCallback<int> WidthChanged { get; set; }

    [Parameter]
    public int Width { get; set; }

    [Parameter]
    public List<ManagementReport> Managements { get; set; } = new ();

    private bool RecertificationHistory { get; set; } = false;
    private ITable<RuleMetadata>? reportTable;
    private const int ColumnsCount = 12;
    private bool[] EmptyColumns = new bool[ColumnsCount];

    private NatRuleDisplayHtml? ruleDisplay;
    
    protected override void OnInitialized()
    {
        ruleDisplay = new NatRuleDisplayHtml(userConfig);
    }

    private string getTableRowClasses(RuleMetadata rule)
    {
        string classes = "";
        if(rule.Rules[0].SectionHeader != null)
        {
            classes = "hide-all-but-second-child second-child-full-width ";
        }
        if(Recertification)
        {
            classes += rule.Style;
        }
        return classes;
    }

    private OutputLocation getActLocation()
    {
        return Recertification ? OutputLocation.certification : OutputLocation.report;
    }

    private string getHistoryString(Recertification recert)
    {
        string username = new DistName(recert.UserDn).UserName;
        return $"{userConfig.GetText(recert.Recertified ? "recertified_by" : "decertified_by")} {username} " +
            $"{userConfig.GetText("as_owner")} {recert.FwoOwner?.Name} {userConfig.GetText("comment")}: {recert.Comment}";
    }
}
