@using FWO.Report
@using FWO.Report.Data
@using FWO.Ui.Display
@using FWO.Services.RuleTreeBuilder

@inject UserConfig userConfig
@inject IRuleTreeBuilder ruleTreeBuilder

@foreach (var management in Managements)
{
    @if (management.ContainsRules())
    {
        <Collapse Title="@management.Name" Style="@("primary")" StartToggled="false">
            @if(Recertification || SelectedReportType.IsRulebaseReport())
            {
                @foreach(var rulebase in management.Rulebases)
                {
                    var rulebaseRules = ReportRules.GetRulesByRulebaseId(rulebase.Id, management);
                    @if(rulebaseRules.Length > 0)
                    {
                        <Collapse Title="@rulebase.Name" Style="@("secondary")" StartToggled="true">
                            <RuleBaseReport Recertification="Recertification" ReadonlyMode="ReadonlyMode" SelectedReportType="SelectedReportType"
                                Rules="[.. rulebaseRules]" @bind-SelectedRules="SelectedRules" RulesPerPage="RulesPerPage"/>
                        </Collapse>
                    }
                }
            }
            else
            {
                @foreach (var device in management.Devices)
                {
                    @if (device.ContainsRules() && ruleDisplay != null)
                    {
                        <Collapse Title="@device.Name" Style="@("secondary")" StartToggled="true">
                            <Table SelectedItems="new List<RuleTreeItem>()"
                                RowClickAction="@(async ruleTreeItem => 
                                {
                                    ruleTreeItem.Data?.DeviceName = device.Name ?? ""; 

                                    if (!SelectedRules.Remove(ruleTreeItem.Data!)) 
                                    {
                                        SelectedRules.Add(ruleTreeItem.Data!);
                                    }

                                    await SelectedRulesChanged.InvokeAsync(SelectedRules);
                                })"
                                style="font-size:small" 
                                TableClass="table table-bordered table-sm th-bg-secondary table-responsive overflow-auto sticky-header" 
                                TableItem="RuleTreeItem"
                                Items="@GetRuleTreeItems(management, device)" 
                                ShowSearchBar="false"
                                PageSize="RulesPerPage" ColumnReorder="true" TableRowClass="@(item => getTableRowClasses(item.Data!))"
                                @ref="reportTable">
                                
                                @if (EmptyColumns[0] == false)
                                {
                                    <Column TableItem="RuleTreeItem" Context="ruleTreeItem" Title="@(userConfig.GetText("number"))" DefaultSortColumn="true" Field="@(ruleTreeItem => ruleTreeItem.Data!.OrderNumber)" Sortable="true" Filterable="false" Hideable="true">
                                        <Template>
                                            <span style="cursor:pointer; white-space:nowrap;" @onclick="() => OnNumberIconClickToggle(ruleTreeItem.Data!, management, device)">
                                                @((MarkupString)GetToggleArrow(ruleTreeItem.Data!, management, device))@((MarkupString)RuleDisplayHtml.DisplayNumber(ruleTreeItem.Data!))
                                            </span>
                                        </Template>
                                    </Column>
                                }
                                
                                @if(SelectedReportType == ReportType.UnusedRules || SelectedReportType == ReportType.AppRules)
                                {
                                    <Column TableItem="RuleTreeItem" Context="ruleTreeItem" Title="@(userConfig.GetText("last_hit"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Metadata.LastHit)" Sortable="false" Filterable="false">
                                        <Template>
                                            @((MarkupString)RuleDisplayHtml.DisplayLastHit(ruleTreeItem.Data!.Metadata))
                                        </Template>
                                    </Column>
                                    @if (ShowLastModifiedAfterLastHit && EmptyColumns[13] == false)
                                    {
                                        <Column TableItem="RuleTreeItem" Context="ruleTreeItem" Title="LastModified" Field="@(ruleTreeItem => ruleTreeItem.Data!.LastModified)" Sortable="true" Filterable="false" Hideable="true">
                                            <Template>
                                                @((MarkupString)RuleDisplayBase.DisplayLastModified(ruleTreeItem.Data!))
                                            </Template>
                                        </Column>
                                    }
                                }
                            
                                @if(SelectedReportType.IsComplianceReport())
                                {
                                    <Column TableItem="RuleTreeItem" Context="ruleTreeItem" Title="Compliance" Field="@(ruleTreeItem => ruleTreeItem.Data!.Compliance)" Sortable="true" Filterable="true" Hideable="true">
                                        <Template>
                                            @((MarkupString)RuleDisplayHtml.DisplayIsCompliant(ruleTreeItem.Data!, getActLocation()))
                                        </Template>
                                    </Column>
                                    <Column TableItem="RuleTreeItem" Context="ruleTreeItem" Title="Violation Details" Field="@(ruleTreeItem => ruleTreeItem.Data!.ViolationDetails)" Sortable="true" Filterable="true" Hideable="true">
                                        <Template>
                                            @((MarkupString)RuleDisplayHtml.DisplayViolationDetails(ruleTreeItem.Data!))
                                        </Template>
                                    </Column>
                                }

                            @if (EmptyColumns[1] == false)
                            {
                                <Column TableItem="RuleTreeItem" Title="@(userConfig.GetText("name"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Name)" Sortable="true" Filterable="false" Hideable="true" />
                            }

                            @if (EmptyColumns[2] == false)
                            {
                                <Column TableItem="RuleTreeItem" Context="ruleTreeItem" Title="@(userConfig.GetText("source_zone"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.RuleFromZones)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplaySourceZones(ruleTreeItem.Data!))
                                    </Template>
                                </Column>
                            }
                        
                            @if (EmptyColumns[3] == false)
                            {
                            <Column TableItem="RuleTreeItem" Context="ruleTreeItem" Title="@(userConfig.GetText("source"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Name)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)ruleDisplay.DisplaySource(ruleTreeItem.Data!, getActLocation(), SelectedReportType))
                                    </Template>
                                </Column>
                            }
   
                            @if (EmptyColumns[4] == false)
                            {
                                <Column TableItem="RuleTreeItem" Context="ruleTreeItem" Title="@(userConfig.GetText("destination_zone"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.RuleToZones)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayDestinationZones(ruleTreeItem.Data!))
                                    </Template>
                                </Column>
                            }
 
                            @if (EmptyColumns[5] == false)
                            {
                                <Column TableItem="RuleTreeItem" Context="ruleTreeItem" Title="@(userConfig.GetText("destination"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Name)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)ruleDisplay.DisplayDestination(ruleTreeItem.Data!, getActLocation(), SelectedReportType))
                                    </Template>
                                </Column>
                            }

                            @if (EmptyColumns[6] == false)
                            {
                                <Column TableItem="RuleTreeItem" Context="ruleTreeItem" Title="@(userConfig.GetText("services"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Name)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)ruleDisplay.DisplayServices(ruleTreeItem.Data!, getActLocation(), SelectedReportType))
                                    </Template>
                                </Column>
                            }

                            @if(SelectedReportType == ReportType.NatRules)
                            {
                                    <Column Class="table-active" TableItem="RuleTreeItem" Context="ruleTreeItem" Title="@(userConfig.GetText("trans_source"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Name)" Sortable="true" Filterable="false" Hideable="true">
                                        <Template>
                                                @((MarkupString)ruleDisplay.DisplayTranslatedSource(ruleTreeItem.Data!, getActLocation()))
                                        </Template>
                                    </Column>
                                    <Column Class="table-active" TableItem="RuleTreeItem" Context="ruleTreeItem" Title="@(userConfig.GetText("trans_destination"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Name)" Sortable="true" Filterable="false" Hideable="true">
                                        <Template>
                                            @((MarkupString)ruleDisplay.DisplayTranslatedDestination(ruleTreeItem.Data!, getActLocation()))
                                        </Template>
                                    </Column>
                                    <Column Class="table-active" TableItem="RuleTreeItem" Context="ruleTreeItem" Title="@(userConfig.GetText("trans_services"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Name)" Sortable="true" Filterable="false" Hideable="true">
                                        <Template>
                                            @((MarkupString)ruleDisplay.DisplayTranslatedService(ruleTreeItem.Data!, getActLocation()))
                                        </Template>
                                    </Column>
                            }

                            @if (EmptyColumns[7] == false && SelectedReportType != ReportType.NatRules)
                            {
                                <Column TableItem="RuleTreeItem" Title="@(userConfig.GetText("action"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Action)" Sortable="true" Filterable="false" Hideable="true" />
                            }

                            @if (EmptyColumns[8] == false && SelectedReportType != ReportType.NatRules)
                            {
                                <Column TableItem="RuleTreeItem" Title="@(userConfig.GetText("track"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Track)" Sortable="true" Filterable="false" Hideable="true" />
                            }

                            @if (EmptyColumns[9] == false)
                            {
                                <Column TableItem="RuleTreeItem" Context="ruleTreeItem" Title="@(userConfig.GetText("enabled"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Disabled)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayEnabled(ruleTreeItem.Data!, getActLocation()))
                                    </Template>
                                </Column>
                            }

                            @if (EmptyColumns[10] == false)
                            {
                                <Column TableItem="RuleTreeItem" Context="ruleTreeItem" Title="@(userConfig.GetText("enforcing_devices"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Name)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayEnforcingGateways(ruleTreeItem.Data!, getActLocation(), SelectedReportType))
                                    </Template>
                                </Column>
                            }

                            @if (EmptyColumns[11] == false)
                            {
                                <Column TableItem="RuleTreeItem" Title="@(userConfig.GetText("uid"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Uid)" Sortable="true" Filterable="false" Hideable="true" />
                            }

                            @if (EmptyColumns[12] == false)
                            {
                                <Column TableItem="RuleTreeItem" Title="@(userConfig.GetText("comment"))" Field="@(ruleTreeItem => ruleTreeItem.Data!.Comment)" Sortable="true" Filterable="false" Hideable="true" />
                            }

                            @if (EmptyColumns[13] == false)
                            {
                                @if (!ShowLastModifiedAfterLastHit)
                                {
                                    <Column TableItem="RuleTreeItem" Context="ruleTreeItem" Title="LastModified" Field="@(ruleTreeItem => ruleTreeItem.Data!.LastModified)" Sortable="true" Filterable="false" Hideable="true">
                                        <Template>
                                            @((MarkupString)RuleDisplayBase.DisplayLastModified(ruleTreeItem.Data!))
                                        </Template>
                                    </Column>
                                }
                            }

                            <DetailTemplate TableItem="RuleTreeItem">
                                <RuleDetails Rule="context.Data!"/>
                            </DetailTemplate>

                            <CustomRow TableItem="RuleTreeItem" IsActiveForItem="(ruleTreeItem => !String.IsNullOrEmpty(ruleTreeItem.Data!.SectionHeader))">
                                <tr>
                                    <td class="bg-light" colspan="@(reportTable?.Columns.Count + 1)">
                                        <div class="font-weight-bold">@(context.Data!.SectionHeader)</div>
                                    </td>
                                </tr>
                            </CustomRow>  

                            <Pager ShowPageNumber="true" ShowTotalCount="true" />
                        </Table>
                    </Collapse>
                }
            }
        }
        </Collapse>
    }
}

@code
{
    [Parameter]
    public bool Recertification { get; set; } = false;

    [Parameter]
    public bool ReadonlyMode { get; set; } = false;

    [Parameter]
    public ReportType SelectedReportType { get; set; }

    [Parameter]
    public EventCallback<List<Rule>> SelectedRulesChanged { get; set; }

    [Parameter]
    public List<Rule> SelectedRules { get; set; } = [];

    [Parameter]
    public int RulesPerPage { get; set; }

    [Parameter]
    public EventCallback<int> WidthChanged { get; set; }

    [Parameter]
    public int Width { get; set; }

    [Parameter]
    public List<ManagementReport> Managements { get; set; } = new ();

    private readonly Dictionary<string, Dictionary<string, List<Rule>>> deviceDictRuleInlines = new();
    private readonly Dictionary<string, Rule[]> deviceTopLevelRules = new();
    private readonly HashSet<string> deviceDictProcessed = new();

    private ITable<RuleTreeItem>? reportTable;
    private const int ColumnsCount = 14;
    private bool[] EmptyColumns = new bool[ColumnsCount];

    private NatRuleDisplayHtml? ruleDisplay;
    private bool ShowLastModifiedAfterLastHit => SelectedReportType == ReportType.UnusedRules || SelectedReportType == ReportType.AppRules;

    private Rule? _lastClickedRule = null;

    protected override void OnInitialized()
    {
        ruleDisplay = new NatRuleDisplayHtml(userConfig);
        // TODO: are we using NatRuleDisplayHtml for non-NAT rules?
    }

    private string getTableRowClasses(Rule rule)
    {
        string classes = "";
        if(rule.SectionHeader != null)
        {
            classes = "hide-all-but-second-child second-child-full-width ";
        }
        return classes;
    }

    private OutputLocation getActLocation()
    {
        return Recertification ? OutputLocation.certification : OutputLocation.report;
    }

    private string GetDeviceKey(DeviceReport device)
    => device.Name ?? device.GetHashCode().ToString();

    private IEnumerable<Rule> GetAllInlineRecursive(IEnumerable<Rule> rules, Dictionary<string, List<Rule>> dictRuleInlines)
    {
        foreach (var r in rules)
        {
            yield return r;

            if (dictRuleInlines.TryGetValue(r.DisplayOrderNumberString, out var children) && children.Count > 0)
            {
                foreach (var c in GetAllInlineRecursive(children, dictRuleInlines))
                    yield return c;
            }
        }
    }

    private RuleTreeItem[] GetRuleTreeItems(ManagementReport managementReport, DeviceReport deviceReport)
    {
        List<RuleTreeItem> ruleTreeItems = new();

        if (ruleTreeBuilder.RuleTreeCache.TryGetValue((deviceReport.Id, managementReport.Id), out RuleTreeItem? ruleTreeFromCache))
        {
            for (int i = 0; i < ruleTreeFromCache.ElementsFlat.Count; i++)
            {
                ruleTreeItems.Add((RuleTreeItem) ruleTreeFromCache.ElementsFlat[i]);
            }
        }

        return ruleTreeItems.ToArray();
    }

    private Rule[] CreateDictWithInlineRules(ManagementReport managementReport, DeviceReport deviceReport)
    {
        Rule[] rules = ReportRules.GetAllRulesOfGateway(deviceReport, managementReport, ruleTreeBuilder);
        RuleTreeItem ruleTree = ruleTreeBuilder.RuleTreeCache[(managementReport.Id, deviceReport.Id)];
        List<Rule> visibleRules = new();

        for (int i = 0; i < rules.Count(); i++)
        {
            Rule rule = rules[i];

            // Get corresponding tree item for rule
            
            RuleTreeItem? treeItem = ruleTree.ElementsFlat.FirstOrDefault(element => element.Data == rule) as RuleTreeItem;            

            if (treeItem != null && treeItem.IsExpanded)
            {
                visibleRules.Add(rule);
            }
        }

        return visibleRules.ToArray();
    }

    private string GetToggleArrow(Rule rule, ManagementReport managementReport, DeviceReport deviceReport)
    {
        // Get corresponding tree item for rule

        RuleTreeItem ruleTree = ruleTreeBuilder.RuleTreeCache[(managementReport.Id, deviceReport.Id)];
        RuleTreeItem? treeItem = ruleTree.ElementsFlat.FirstOrDefault(element => element.Data == rule) as RuleTreeItem;     

        if (treeItem == null)
        {
            throw new Exception("No tree item found for rule");
        }  

        // Print hidden span for rows (rules or dummy rules for rulebase headers) which are not expandable

        if (!treeItem.Children.Any())
        {
            return $"<span style=\"visibility:hidden;\">{Icons.HtmlArrowCollapsed}</span>";
        }

        // Show correct arrow

        if (treeItem.IsExpanded)
        {
            return Icons.HtmlArrowExpanded;
        }
        else
        {
            return Icons.HtmlArrowCollapsed;
        }
    }

    private void OnNumberIconClickToggle(Rule rule, ManagementReport managementReport, DeviceReport deviceReport)
    {
        // Capture clicked rule

        _lastClickedRule = rule;

        // Get corresponding tree item for rule

        RuleTreeItem ruleTree = ruleTreeBuilder.RuleTreeCache[(managementReport.Id, deviceReport.Id)];
        RuleTreeItem? treeItem = ruleTree.ElementsFlat.FirstOrDefault(element => element.Data == rule) as RuleTreeItem;

        if (treeItem != null)
        {
            // Update exapandable state

            treeItem.IsExpanded = !treeItem.IsExpanded;

            // Update visibility

            List<ITreeItem<Rule>> itemsToUpdate = new();
            itemsToUpdate.AddRange(treeItem.Children);

            while (itemsToUpdate.Any())
            {
                List<ITreeItem<Rule>> currentItemsToUpdate = itemsToUpdate.ToList();

                for (int i = 0; i < currentItemsToUpdate.Count(); i++)
                {
                    RuleTreeItem currentItem = (RuleTreeItem) currentItemsToUpdate[i];

                    if (!treeItem.IsExpanded)
                    {
                        currentItem.IsVisible = false;
                    }
                    else
                    {
                        if (currentItem.Parent is RuleTreeItem parent && !parent.IsExpanded)
                        {
                            currentItem.IsVisible = false;
                        }
                        else
                        {
                            currentItem.IsVisible = true;
                        }
                    }

                    itemsToUpdate.Remove(currentItem);
                    itemsToUpdate.AddRange(currentItem.Children);
                }
            }         
        }
    }
}
