@using FWO.Report
@using FWO.Report.Data
@using FWO.Ui.Display

@inject UserConfig userConfig

@foreach (var management in Managements.Select(mgt => new ManagementReportController(mgt)))
{
    @if (management.ContainsRules())
    {
        management.AssignRuleNumbers();
        <Collapse Title="@management.Name" Style="@("primary")" StartToggled="false">
            @if(Recertification || SelectedReportType == ReportType.Recertification)
            {
                @foreach(var rulebase in management.Rulebases)
                {
                    var rulebaseRules = ReportRules.GetRulesByRulebaseId(rulebase.Id, management);
                    @if(rulebaseRules.Length > 0)
                    {
                        <Collapse Title="@rulebase.Name" Style="@("secondary")" StartToggled="true">
                            <RuleBaseReport Recertification="Recertification" ReadonlyMode="ReadonlyMode" SelectedReportType="SelectedReportType"
                                Rules="[.. rulebaseRules]" @bind-SelectedRules="SelectedRules" RulesPerPage="RulesPerPage"/>
                        </Collapse>
                    }
                }
            }
            else
            {
                @foreach (var device in management.Devices.Select(dev => DeviceReportController.FromDeviceReport(dev)))
                {
                    @if (device.ContainsRules() && ruleDisplay != null)
                    {
                        <Collapse Title="@device.Name" Style="@("secondary")" StartToggled="true">
                            <Table SelectedItems="SelectedRules"
                                   RowClickAction="@(async rule => {rule.DeviceName = device.Name ?? ""; if (!SelectedRules.Remove(rule)) SelectedRules.Add(rule); await SelectedRulesChanged.InvokeAsync(SelectedRules);})"
                                style="font-size:small" TableClass="table table-bordered table-sm th-bg-secondary table-responsive overflow-auto sticky-header" TableItem="Rule"
                                   Items="CreateDictWithInlineRules(management,device)" ShowSearchBar="false"
                                PageSize="RulesPerPage" ColumnReorder="true" TableRowClass="@(rule => getTableRowClasses(rule))"
                                @ref="reportTable">
                                @if (EmptyColumns[0] == false)
                                {
                                    <Column TableItem="Rule" Context="rule" Title="@(userConfig.GetText("number"))" DefaultSortColumn="true" Field="@(rChange => rChange.OrderNumber)" Sortable="true" Filterable="false" Hideable="true">
                                        <Template>
                                            <span style="cursor:pointer; white-space:nowrap;" @onclick="() => OnNumberIconClickToggle(rule, device)">
                                                @((MarkupString)GetToggleArrow(rule, device))@((MarkupString)RuleDisplayHtml.DisplayNumber(rule))
                                            </span>
                                        </Template>
                                    </Column>
                                }
                                @if(SelectedReportType == ReportType.UnusedRules || SelectedReportType == ReportType.AppRules)
                                {
                                    <Column TableItem="Rule" Context="rule" Title="@(userConfig.GetText("last_hit"))" Field="@(rule => rule.Metadata.LastHit)" Sortable="false" Filterable="false">
                                        <Template>
                                            @((MarkupString)RuleDisplayHtml.DisplayLastHit(rule.Metadata))
                                        </Template>
                                    </Column>
                            }

                            @if(SelectedReportType.IsComplianceReport())
                            {
                                <Column TableItem="Rule" Context="rule" Title="Compliance" Field="@(rChange => rChange.Compliance)" Sortable="true" Filterable="true" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayIsCompliant(rule, getActLocation()))
                                    </Template>
                                </Column>
                                <Column TableItem="Rule" Context="rule" Title="Violation Details" Field="@(rChange => rChange.ViolationDetails)" Sortable="true" Filterable="true" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayViolationDetails(rule))
                                    </Template>
                                </Column>
                            }

                            @if (EmptyColumns[1] == false)
                            {
                                <Column TableItem="Rule" Title="@(userConfig.GetText("name"))" Field="@(rChange => rChange.Name)" Sortable="true" Filterable="false" Hideable="true" />
                            }
                            @if (EmptyColumns[2] == false)
                            {
                                <Column TableItem="Rule" Context="rule" Title="@(userConfig.GetText("source_zone"))" Field="@(rChange => rChange.RuleFromZones)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplaySourceZones(rule))
                                    </Template>
                                </Column>
                            }
                            @if (EmptyColumns[3] == false)
                            {
                            <Column TableItem="Rule" Context="rule" Title="@(userConfig.GetText("source"))" Field="@(rChange => rChange.Name)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)ruleDisplay.DisplaySource(rule, getActLocation(), SelectedReportType))
                                    </Template>
                                </Column>
                            }
                            @if (EmptyColumns[4] == false)
                            {
                                <Column TableItem="Rule" Context="rule" Title="@(userConfig.GetText("destination_zone"))" Field="@(rChange => rChange.RuleToZones)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayDestinationZones(rule))
                                    </Template>
                                </Column>
                            }
                            @if (EmptyColumns[5] == false)
                            {
                                <Column TableItem="Rule" Context="rule" Title="@(userConfig.GetText("destination"))" Field="@(rChange => rChange.Name)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)ruleDisplay.DisplayDestination(rule, getActLocation(), SelectedReportType))
                                    </Template>
                                </Column>
                            }
                            @if (EmptyColumns[6] == false)
                            {
                                <Column TableItem="Rule" Context="rule" Title="@(userConfig.GetText("services"))" Field="@(rChange => rChange.Name)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)ruleDisplay.DisplayServices(rule, getActLocation(), SelectedReportType))
                                    </Template>
                                </Column>
                            }
                            @if(SelectedReportType == ReportType.NatRules)
                            {
                                    <Column Class="table-active" TableItem="Rule" Context="rule" Title="@(userConfig.GetText("trans_source"))" Field="@(rChange => rChange.Name)" Sortable="true" Filterable="false" Hideable="true">
                                        <Template>
                                                @((MarkupString)ruleDisplay.DisplayTranslatedSource(rule, getActLocation()))
                                        </Template>
                                    </Column>
                                    <Column Class="table-active" TableItem="Rule" Context="rule" Title="@(userConfig.GetText("trans_destination"))" Field="@(rChange => rChange.Name)" Sortable="true" Filterable="false" Hideable="true">
                                        <Template>
                                            @((MarkupString)ruleDisplay.DisplayTranslatedDestination(rule, getActLocation()))
                                        </Template>
                                    </Column>
                                    <Column Class="table-active" TableItem="Rule" Context="rule" Title="@(userConfig.GetText("trans_services"))" Field="@(rChange => rChange.Name)" Sortable="true" Filterable="false" Hideable="true">
                                        <Template>
                                            @((MarkupString)ruleDisplay.DisplayTranslatedService(rule, getActLocation()))
                                        </Template>
                                    </Column>
                            }
                            @if (EmptyColumns[7] == false && SelectedReportType != ReportType.NatRules)
                            {
                                <Column TableItem="Rule" Title="@(userConfig.GetText("action"))" Field="@(rChange => rChange.Action)" Sortable="true" Filterable="false" Hideable="true" />
                            }
                            @if (EmptyColumns[8] == false && SelectedReportType != ReportType.NatRules)
                            {
                                <Column TableItem="Rule" Title="@(userConfig.GetText("track"))" Field="@(rChange => rChange.Track)" Sortable="true" Filterable="false" Hideable="true" />
                            }
                            @if (EmptyColumns[9] == false)
                            {
                                <Column TableItem="Rule" Context="rule" Title="@(userConfig.GetText("enabled"))" Field="@(rChange => rChange.Disabled)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayEnabled(rule, getActLocation()))
                                    </Template>
                                </Column>
                            }
                            @if (EmptyColumns[10] == false)
                            {
                                <Column TableItem="Rule" Context="rule" Title="@(userConfig.GetText("enforcing_devices"))" Field="@(rChange => rChange.Name)" Sortable="true" Filterable="false" Hideable="true">
                                    <Template>
                                        @((MarkupString)RuleDisplayHtml.DisplayEnforcingGateways(rule, getActLocation(), SelectedReportType))
                                    </Template>
                                </Column>
                            }
                            @if (EmptyColumns[11] == false)
                            {
                                <Column TableItem="Rule" Title="@(userConfig.GetText("uid"))" Field="@(rChange => rChange.Uid)" Sortable="true" Filterable="false" Hideable="true" />
                            }
                            @if (EmptyColumns[12] == false)
                            {
                                <Column TableItem="Rule" Title="@(userConfig.GetText("comment"))" Field="@(rChange => rChange.Comment)" Sortable="true" Filterable="false" Hideable="true" />
                            }

                            <DetailTemplate TableItem="Rule">
                                @if(context.Metadata != null)
                                {
                                    <Detail Title="@(userConfig.GetText("created"))" Data="@context.Metadata?.Created?.ToString()" />
                                    <Detail Title="@(userConfig.GetText("last_modified"))" Data="@context.Metadata?.LastModified?.ToString()" />
                                    <Detail Title="@(userConfig.GetText("first_hit"))" Data="@context.Metadata?.FirstHit?.ToString()" />
                                    <Detail Title="@(userConfig.GetText("last_hit"))" Data="@context.Metadata?.LastHit?.ToString()" />
                                    <Detail Title="@(userConfig.GetText("last_certify_date"))" Data="@context.Metadata?.LastCertified?.ToString()" />
                                    <Detail Title="@(userConfig.GetText("last_recertifier"))" Data="@context.Metadata?.LastCertifierName?.ToString()" />
                                    @* <Detail Title="@(userConfig.GetText("marked_to_be_removed"))" Data="@((context.Metadata?.ToBeRemoved)?'yes':'no'))" /> 
                                        // TODO: not able to get this syntactically working, but implicit info is there: ToBeRemoved == NOT DecertificationDate IS NULL *@
                                    <Detail Title="@(userConfig.GetText("decert_date"))" Data="@context.Metadata?.DecertificationDate?.ToString()" />
                                    <Detail Title="@(userConfig.GetText("recert_comment"))" Data="@context.Metadata?.Comment?.ToString()" />
                                    <Detail Title="@(userConfig.GetText("recert_history"))" Data="@(context.Metadata?.RecertHistory.Count > 0 ? ":" : "")" />
                                    @foreach(var recert in context.Metadata!.RecertHistory)
                                    {
                                        <Detail Title="@(recert.RecertDate.ToString())" Data="@(getHistoryString(recert))" />
                                    }
                                }
                            </DetailTemplate>

                             <CustomRow TableItem="Rule" IsActiveForItem="(rule => !String.IsNullOrEmpty(rule.SectionHeader))">
                                <tr>
                                    <td class="bg-light" colspan="@(reportTable?.Columns.Count + 1)">
                                        <div class="font-weight-bold">@(context.SectionHeader)</div>
                                    </td>
                                </tr>
                            </CustomRow> 
                            <Pager ShowPageNumber="true" ShowTotalCount="true" />
                        </Table>
                    </Collapse>
                }
            }
        }
        </Collapse>
    }
}

@code
{
    [Parameter]
    public bool Recertification { get; set; } = false;

    [Parameter]
    public bool ReadonlyMode { get; set; } = false;

    [Parameter]
    public ReportType SelectedReportType { get; set; }

    [Parameter]
    public EventCallback<List<Rule>> SelectedRulesChanged { get; set; }

    [Parameter]
    public List<Rule> SelectedRules { get; set; } = [];

    [Parameter]
    public int RulesPerPage { get; set; }

    [Parameter]
    public EventCallback<int> WidthChanged { get; set; }

    [Parameter]
    public int Width { get; set; }

    [Parameter]
    public List<ManagementReport> Managements { get; set; } = new ();

    private readonly Dictionary<string, Dictionary<string, List<Rule>>> deviceDictRuleInlines = new();
    private readonly Dictionary<string, Rule[]> deviceTopLevelRules = new();
    private readonly HashSet<string> deviceDictProcessed = new();

    private ITable<Rule>? reportTable;
    private const int ColumnsCount = 13;
    private bool[] EmptyColumns = new bool[ColumnsCount];

    private NatRuleDisplayHtml? ruleDisplay;

    protected override void OnInitialized()
    {
        ruleDisplay = new NatRuleDisplayHtml(userConfig);
        // TODO: are we using NatRuleDisplayHtml for non-NAT rules?
    }

    private string getTableRowClasses(Rule rule)
    {
        string classes = "";
        if(rule.SectionHeader != null)
        {
            classes = "hide-all-but-second-child second-child-full-width ";
        }
        if(Recertification)
        {
            classes += rule.Metadata.Style;
        }
        return classes;
    }

    private OutputLocation getActLocation()
    {
        return Recertification ? OutputLocation.certification : OutputLocation.report;
    }

    private string getHistoryString(Recertification recert)
    {
        string username = new DistName(recert.UserDn).UserName;
        return $"{userConfig.GetText(recert.Recertified ? "recertified_by" : "decertified_by")} {username} " +
            $"{userConfig.GetText("as_owner")} {recert.FwoOwner?.Name} {userConfig.GetText("comment")}: {recert.Comment}";
    }


    private string GetDeviceKey(DeviceReportController device)
    => device.Name ?? device.GetHashCode().ToString();

    private void OnNumberIconClickToggle(Rule rule, DeviceReportController device)
    {
        string key = GetDeviceKey(device);
        var dictRuleInlines = deviceDictRuleInlines[key];
        var topLevelRules = deviceTopLevelRules[key];

        if (!dictRuleInlines.ContainsKey(rule.DisplayOrderNumberString))
            return;

        var children = dictRuleInlines[rule.DisplayOrderNumberString];
        bool isExpanded = children.All(c => topLevelRules.Contains(c));

        if (!isExpanded)
        {
            // expand
            deviceTopLevelRules[key] = topLevelRules.Concat(children).ToArray();
        }
        else
        {
            // collapse recursive all inlines
            deviceTopLevelRules[key] = topLevelRules.Except(GetAllInlineRecursive(children, dictRuleInlines)).ToArray();
        }
    }

    private IEnumerable<Rule> GetAllInlineRecursive(IEnumerable<Rule> rules, Dictionary<string, List<Rule>> dictRuleInlines)
    {
        foreach (var r in rules)
        {
            yield return r;

            if (dictRuleInlines.TryGetValue(r.DisplayOrderNumberString, out var children) && children.Count > 0)
            {
                foreach (var c in GetAllInlineRecursive(children, dictRuleInlines))
                    yield return c;
            }
        }
    }

    private Rule[] CreateDictWithInlineRules(ManagementReportController management, DeviceReportController deviceReportController)
    {
        string deviceKey = GetDeviceKey(deviceReportController);
        if (deviceDictProcessed.Contains(deviceKey))
            return deviceTopLevelRules[deviceKey];

        Rule[] rules = ReportRules.GetAllRulesOfGateway(deviceReportController, management);
        var dictRuleInlines = new Dictionary<string, List<Rule>>();
        var topLevel = new List<Rule>();
        var stack = new List<(Rule parent, List<Rule> children)>();

        foreach (var r in rules)
        {
            var segs = r.DisplayOrderNumberString.Split('.');

            while (stack.Count > 0)
            {
                var parentSegs = stack.Last().parent.DisplayOrderNumberString.Split('.');
                if (segs.Length <= parentSegs.Length || !segs.Take(parentSegs.Length).SequenceEqual(parentSegs))
                    stack.RemoveAt(stack.Count - 1);
                else
                    break;
            }

            if (stack.Count > 0)
            {
                stack.Last().children.Add(r);
            }
            else
            {
                topLevel.Add(r);
            }

            dictRuleInlines[r.DisplayOrderNumberString] = new List<Rule>();
            stack.Add((r, dictRuleInlines[r.DisplayOrderNumberString]));
        }

        // save results
        deviceDictRuleInlines[deviceKey] = dictRuleInlines;
        deviceTopLevelRules[deviceKey] = topLevel.ToArray();
        deviceDictProcessed.Add(deviceKey);

        return deviceTopLevelRules[deviceKey];
    }    

    private string GetToggleArrow(Rule rule, DeviceReportController device)
    {
        string key = GetDeviceKey(device);

        var dictRuleInlines = deviceDictRuleInlines[key];
        var topLevelRules = deviceTopLevelRules[key];

        if (!dictRuleInlines.ContainsKey(rule.DisplayOrderNumberString)
            || dictRuleInlines[rule.DisplayOrderNumberString].Count == 0)
            return $"<span style=\"visibility:hidden;\">{Icons.HtmlArrowCollapsed}</span>";

        bool isExpanded = dictRuleInlines[rule.DisplayOrderNumberString]
                            .All(c => topLevelRules.Contains(c));

        return isExpanded ? Icons.HtmlArrowExpanded : Icons.HtmlArrowCollapsed;
    }
}
