@using FWO.Config.Api.Data
@using FWO.Services
@using FWO.Services.EventMediator.Events
@using FWO.Services.EventMediator.Interfaces
@using FWO.Ui.Services

@inject ApiConnection apiConnection
@inject GlobalConfig globalConfig
@inject UserConfig userConfig
@inject IEventMediator EventMediator

@implements IDisposable

<PopUp Title="@(userConfig.GetText("owner_mapping"))" Show="@Display" Size=PopupSize.Medium OnClose="Close">
    <Body>
        @if (Display)
        {
            <div class="form-group row mt-2 align-items-center">
                <label class="col-sm-3 col-form-label me-2" for="ownerMappingSourceDropdown">@(userConfig.GetText("source"))</label>
                <div class="col-sm-6">
                    <Dropdown ElementType="OwnerMappingSourceStm?" ElementToString="GetOwnerMappingSourceText" SelectedElement="@SelectedOwnerMappingSource"
                              SelectedElementChanged="@(src => { SelectedOwnerMappingSource = src; StateHasChanged(); })" Elements="OwnerMappingSources" Nullable="true" id="ownerMappingSourceDropdown">
                        <ElementTemplate Context="source">
                            @GetOwnerMappingSourceText(source)
                        </ElementTemplate>
                    </Dropdown>
                </div>
	            <button type="button" class="col-sm-2 btn btn-sm btn-primary" @onclick="SaveOwnerMappingSourceConfig">
	                @(DisplayService.DisplayButton(userConfig, "save", Icons.Save))
	            </button>
            </div>
            @if (SelectedOwnerMappingSource == OwnerMappingSourceStm.CustomField)
            {
                <div class="form-group row mt-2">
                    <label class="col-sm-3 col-form-label me-2">@(userConfig.GetText("custom_field_key"))</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-sm" @bind="OwnerMappingCustomFieldkey" />
                    </div>
                </div>
            }
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <AuthorizeView Roles="@Roles.Admin">
                <Authorized>
                    @if (!OwnerMappingCalcInProgress)
                    {
                        <button type="button" class="btn btn-sm btn-info" @onclick="OwnerSourceImportNotifier">
                            @(DisplayService.DisplayButton(userConfig, "U5017", Icons.Import))
                        </button>
                    }
                    else
                    {
                        <Loading />
                    }
                </Authorized>
                <NotAuthorized>
                    <button type="button" disabled class="btn btn-sm btn-info">
                        @(DisplayService.DisplayButton(userConfig, "U5017", Icons.Import))
                    </button>
                </NotAuthorized>
            </AuthorizeView>
            <button type="button" class="btn btn-sm btn-secondary" @onclick="Close">
                @(DisplayService.DisplayButton(userConfig, "cancel", Icons.Cancel))
            </button>
        </div>
    </Footer>
</PopUp>

@code
{
    [Parameter]
    public bool Display { get; set; }

    [Parameter]
    public EventCallback<bool> DisplayChanged { get; set; }

    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    private ConfigData? ConfigData;
    private List<OwnerMappingSourceStm?> OwnerMappingSources = [];
    private OwnerMappingSourceStm? SelectedOwnerMappingSource = null;
    private string OwnerMappingCustomFieldkey = "";
    private bool OwnerMappingCalcInProgress = false;
    private UpdateRuleOwnerMapping? updateOwnerRuleMappings;

    protected override async Task OnInitializedAsync()
    {
        updateOwnerRuleMappings = new UpdateRuleOwnerMapping(apiConnection, globalConfig);
        EventMediator.Subscribe<UpdateRuleOwnerMappingEvent>("UpdateOwnerRuleMappings", evt => _ = updateOwnerRuleMappings.HandleEvent(evt));
        await LoadData();
    }

    private async Task LoadData()
    {
        try
        {
            ConfigData = await globalConfig.GetEditableConfig();
            OwnerMappingSources = Enum.GetValues(typeof(OwnerMappingSourceStm))
                .Cast<OwnerMappingSourceStm>()
                .Where(oms => oms != OwnerMappingSourceStm.Manual)
                .Cast<OwnerMappingSourceStm?>()
                .ToList();

            if (Enum.IsDefined(typeof(OwnerMappingSourceStm), userConfig.OwnerSoruceMappingID))
            {
                SelectedOwnerMappingSource = (OwnerMappingSourceStm)userConfig.OwnerSoruceMappingID;
            }

            if (!string.IsNullOrWhiteSpace(userConfig.OwnerSourceCustomFieldKey))
            {
                OwnerMappingCustomFieldkey = userConfig.OwnerSourceCustomFieldKey;
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("modelling_settings"), "", true);
        }
    }

    private async Task OwnerSourceImportNotifier()
    {
        OwnerMappingCalcInProgress = true;
        try
        {
            var tcs = new TaskCompletionSource<bool>();
            var args = new UpdateRuleOwnerMappingEventArgs { isFullReInitialize = true, Completion = tcs };
            EventMediator.Publish("UpdateOwnerRuleMappings", new UpdateRuleOwnerMappingEvent(args));

            bool success = await tcs.Task;
            if (!success)
            {
                DisplayMessageInUi(null, userConfig.GetText("owner_mapping"), userConfig.GetText("E5502"), true);
                return;
            }

            DisplayMessageInUi(null, userConfig.GetText("owner_mapping"), userConfig.GetText("U5503"), false);
        }
        catch (Exception ex)
        {
            DisplayMessageInUi(ex, userConfig.GetText("owner_mapping"), userConfig.GetText("E5503"), true);
        }
        finally
        {
            OwnerMappingCalcInProgress = false;
        }
    }

    private async Task SaveOwnerMappingSourceConfig()
    {
        try
        {
            if (ConfigData == null)
            {
                throw new ArgumentException("Data saved before loaded. This should be impossible.");
            }

            if (SelectedOwnerMappingSource == null)
            {
                DisplayMessageInUi(null, userConfig.GetText("modelling_settings"), userConfig.GetText("please_select_owner_mapping_source"), true);
                return;
            }

            if (SelectedOwnerMappingSource == OwnerMappingSourceStm.CustomField && string.IsNullOrWhiteSpace(OwnerMappingCustomFieldkey))
            {
                DisplayMessageInUi(null, userConfig.GetText("modelling_settings"), userConfig.GetText("custom_field_key_missing"), true);
                return;
            }

            ConfigData.OwnerSoruceMappingID = (int)SelectedOwnerMappingSource.Value;
            ConfigData.OwnerSourceCustomFieldKey = OwnerMappingCustomFieldkey;
            await globalConfig.WriteToDatabase(ConfigData, apiConnection);

            DisplayMessageInUi(null, userConfig.GetText("modelling_settings"), userConfig.GetText("U5301"), false);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("modelling_settings"), "", true);
        }
    }

    private void Close()
    {
        Display = false;
        _ = DisplayChanged.InvokeAsync(Display);
    }

    private string GetOwnerMappingSourceText(OwnerMappingSourceStm? source)
    {
        return userConfig.GetText(source?.ToString() ?? "");
    }

    public void Dispose()
    {
        EventMediator.Unsubscribe<UpdateRuleOwnerMappingEvent>("UpdateOwnerRuleMappings");
    }
}
