@using FWO.Middleware.Client
@using FWO.Ui.Services

@page "/settings/users"
@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.Auditor}")]

@inject ApiConnection apiConnection
@inject MiddlewareClient middlewareClient
@inject UserConfig userConfig
@inject GlobalConfig globalConfig

<div class="input-group">
    <h3>@(userConfig.GetText("users"))</h3>
    <HelpLink Page="settings/users"/>
</div>
@(userConfig.GetText("U5213"))
<hr />

<div class="btn-group m-1" data-toggle="tooltip" title="@(userConfig.PureLine("H5261"))">
    <button type="button" class="btn btn-sm btn-success" @onclick="Handler.AddUser">@(userConfig.GetText("add_new_user"))</button>
    <ExecutionModeAuthorizeView Roles="@Roles.Admin">
        <Authorized>
            <button type="button" class="btn btn-sm btn-info" @onclick="Handler.Resynchronize">@(userConfig.GetText("synchronize"))</button>
        </Authorized>
        <NotAuthorized>
            <button type="button" class="btn btn-sm btn-info" disabled>@(userConfig.GetText("synchronize"))</button>
        </NotAuthorized>
    </ExecutionModeAuthorizeView>
    @if (Handler.ShowSampleRemoveButton)
    {
        <button type="button" class="btn btn-sm btn-danger" @onclick="Handler.RequestRemoveSampleData">@(userConfig.GetText("remove_sample_data"))</button>
    }
</div>

<div class="m-2 vheight75">
    <Table class="table table-bordered th-bg-secondary table-responsive overflow-auto sticky-header" TableItem="UiUser" Items="Handler.UiUsers" PageSize="0" ColumnReorder="true">
        <Column TableItem="UiUser" Title="@(userConfig.GetText("actions"))" Field="(x => x.DbId)" Sortable="false" Filterable="false">
            <Template>
                <div class="btn-group" data-toggle="tooltip" title="@(userConfig.PureLine("H5271"))">
                    <button type="button" class="btn btn-sm btn-success" @onclick="() => Handler.Clone(context)">@(userConfig.GetText("clone"))</button>
                    @if(context.IsInternal())
                    {
                        <button type="button" class="btn btn-sm btn-warning" @onclick="() => Handler.Edit(context)">@(userConfig.GetText("edit"))</button>
                    }
                    <button type="button" class="btn btn-sm btn-danger" @onclick="() => Handler.RequestDelete(context)">@(userConfig.GetText("delete"))</button>
                    @if(context.IsInternal())
                    {
                        <button type="button" class="btn btn-sm btn-info" @onclick="() => Handler.RequestResetPassword(context)">@(userConfig.GetText("reset_password"))</button>
                    }
                </div>
            </Template>
        </Column>
        <Column TableItem="UiUser" Title="@(userConfig.GetText("name"))" Field="@(x => x.Name)" Sortable="true" Filterable="true" />
        <Column TableItem="UiUser" Title="@(userConfig.GetText("from_ldap"))" Field="@(x => x.LdapConnection.Name)" Sortable="true" Filterable="true">
            <Template>
                <div data-toggle="tooltip" title="@(userConfig.PureLine("H5279"))">
                    @context.LdapConnection.Name
                </div>
            </Template>
        </Column>
        <Column TableItem="UiUser" Title="@(userConfig.GetText("tenant"))" Field="@(x => x.Tenant)" Sortable="true">
            <Template>
                <div data-toggle="tooltip" title="@(userConfig.PureLine("H5273"))">
                    @(context.Tenant != null ? (context.Tenant.Id == GlobalConst.kTenant0Id && context.LdapConnection.GlobalTenantName != null &&
                        context.LdapConnection.GlobalTenantName != "" ? context.LdapConnection.GlobalTenantName : context.Tenant.Name) : "" )
                </div>
            </Template>
        </Column>
        <Column TableItem="UiUser" Title="@(userConfig.GetText("email"))" Field="@(x => x.Email)" Sortable="true" Filterable="true" />
        <Column TableItem="UiUser" Title="@(userConfig.GetText("language"))" Field="@(x => x.Language)" Sortable="true" Filterable="true" >
            <Template>
                <div data-toggle="tooltip" title="@(userConfig.PureLine("H5275"))">
                    @((context.Language != null && context.Language != "") ? userConfig.GetText(context.Language) : "" )
                </div>
            </Template>
        </Column>
        <Column TableItem="UiUser" Title="@(userConfig.GetText("last_login"))" Field="@(x => x.LastLogin)" Sortable="true" Filterable="true" />
        <Column TableItem="UiUser" Title="@(userConfig.GetText("last_pw_change"))" Field="@(x => x.LastPasswordChange)" Sortable="true" Filterable="true" >
            <Template>
                <div data-toggle="tooltip" title="@(userConfig.PureLine("H5277"))">
                    @context.LastPasswordChange
                </div>
            </Template>
        </Column>
        <Column TableItem="UiUser" Title="@(userConfig.GetText("pwd_chg_req"))" Field="@(x => x.PasswordMustBeChanged)" Sortable="true" Filterable="true" >
            <Template>
                <div data-toggle="tooltip" title="@(userConfig.PureLine("H5278"))">
                    @(context.PasswordMustBeChanged.ShowAsHtml())
                </div>
            </Template>
        </Column>
    </Table>
</div>

<PopUp Title="@((Handler.AddMode ? userConfig.GetText("add_user") : userConfig.GetText("edit_user")))" Show="@Handler.EditMode" Size=PopupSize.Large OnClose="() => Handler.EditMode = false">
    <Body>
        @if (Handler.EditMode)
        {
            <form>
                <div class="form-group row" data-toggle="tooltip" title="@(userConfig.PureLine("H5272"))">
                    <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("name"))*:</label>
                    @if (Handler.AddMode)
                    {
                        <div class="col-sm-8">
                            <input id="userName" type="text" class="form-control form-control-sm" @bind="Handler.ActUser.Name" />
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-8">@Handler.ActUser.Name</label>
                    }
                </div>
                <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5280"))">
                    <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("into_ldap"))*:</label>
                    @if (Handler.AddMode)
                    {
                        <div class="col-sm-8">
                            <Dropdown ElementType="UiLdapConnection" ElementToString="@(l => l.Name)" SelectedElement="Handler.SelectedLdap" Elements="Handler.WritableLdaps" SelectedElementChanged="Handler.SetAvailableTenants">
                                <ElementTemplate Context="ldap">
                                    @ldap.Name
                                </ElementTemplate>
                            </Dropdown>
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-8">@Handler.ActUser.LdapConnection.Name</label>
                    }
                </div>
                <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5273"))">
                    <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("tenant")):</label>
                    @if (Handler.AddMode)
                    {
                        <div class="col-sm-8">
                            <Dropdown ElementType="Tenant" ElementToString="@(t => t.Name)" @bind-SelectedElement="Handler.SelectedTenant" Elements="Handler.AvailableTenants">
                                <ElementTemplate Context="tenant">
                                    @tenant.Name
                                </ElementTemplate>
                            </Dropdown>
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-8">@(Handler.ActUser.Tenant != null ? Handler.ActUser.Tenant.Name : "")</label>
                    }
                </div>
                <div class="form-group row mt-2">
                    <label class="col-sm-3 col-form-label col-form-label-sm">Dn:</label>
                    <label class="col-sm-8">@Handler.ActUser.Dn</label>
                </div>
                @if (Handler.AddMode)
                {
                    <div class="form-group row mt-2">
                        <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("password"))*:</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control form-control-sm" @bind="Handler.ActUser.Password" />
                        </div>
                    </div>
                }
                @if (Handler.AddMode)
                {
                    <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5281"))">
                        <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("firstname")):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" @bind="Handler.ActUser.Firstname" />
                        </div>
                    </div>
                    <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5282"))">
                        <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("lastname")):</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" @bind="Handler.ActUser.Lastname" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5281"))">
                        <label class="col-sm-3 col-form-label col-form-label-sm">"@(userConfig.GetText("firstname"))":</label>
                        <label class="col-sm-8">@Handler.ActUser.Firstname</label>
                    </div>
                    <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5282"))">
                        <label class="col-sm-3 col-form-label col-form-label-sm">"@(userConfig.GetText("lastname"))":</label>
                        <label class="col-sm-8">@Handler.ActUser.Lastname</label>
                    </div>
                }
                <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5274"))">
                    <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("email")):</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" @bind="Handler.ActUser.Email" />
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("groups")):</label>
                    @if (Handler.AddMode)
                    {
                        <div class="col-sm-8">
                            <Dropdown ElementType="UserGroup" ElementToString="@(g => g.Name)" @bind-SelectedElement="Handler.SelectedGroup" Elements="Handler.Groups.OrderBy(x => x.Name).ToList()" Nullable="true">
                                <ElementTemplate Context="group">
                                    @group.Name
                                </ElementTemplate>
                            </Dropdown>
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-8">@(Handler.ActUser.Groups.Count > 0 ? Handler.ActUser.GroupList() : "")</label>
                    }
                </div>
                <div class="form-group row mt-2">
                    <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("roles"))*:</label>
                    @if (Handler.AddMode)
                    {
                        <div class="col-sm-8">
                            <Dropdown ElementType="Role" ElementToString="@(r => r.Name)" @bind-SelectedElement="Handler.SelectedRole" Elements="Handler.AvailableRoles" Nullable="true">
                                <ElementTemplate Context="role">
                                    @role.Name
                                </ElementTemplate>
                            </Dropdown>
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-8">@((Handler.ActUser.Roles.Count > 0) ? Handler.ActUser.RoleList() : "")</label>
                    }
                </div>
            </form>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <ExecutionModeAuthorizeView Roles="@Roles.Admin">
                <Authorized>
                    <button type="button" class="btn btn-sm btn-primary" @onclick="() => Handler.Save()">@(userConfig.GetText("save"))</button>
                </Authorized>
                <NotAuthorized>
                    <button type="button" class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
                </NotAuthorized>
            </ExecutionModeAuthorizeView>
            <button type="button" class="btn btn-sm btn-secondary" @onclick="Handler.Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

<PopUp Title="@(userConfig.GetText("reset_password"))" Show="@Handler.ResetPasswordMode" Size=PopupSize.Small OnClose="() => Handler.ResetPasswordMode = false">
    <Body>
        @if (Handler.ResetPasswordMode)
        {
            <form onsubmit="return false">
                <div class="form-group row">
                    <label for="userName" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("name")):</label>
                    <label class="col-sm-8">@Handler.ActUser.Name</label>
                </div>
                <div class="form-group row mt-2">
                    <label for="userPassword" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("password"))*:</label>
                    <div class="col-sm-8">
                        <input id="userPassword" type="password" class="form-control form-control-sm" @bind="Handler.ActUser.Password" />
                    </div>
                </div>
            </form>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <ExecutionModeAuthorizeView Roles="@Roles.Admin">
                <Authorized>
                    <button type="button" class="btn btn-sm btn-primary" @onclick="() => Handler.ResetPassword()">@(userConfig.GetText("set"))</button>
                </Authorized>
                <NotAuthorized>
                    <button type="button" class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("set"))</button>
                </NotAuthorized>
            </ExecutionModeAuthorizeView>
            <button type="button" class="btn btn-sm btn-secondary" @onclick="Handler.Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

<ConfirmDelete @bind-Display="Handler.DeleteMode" PerformAction="Handler.Delete" Title="@userConfig.GetText("delete_user")" DeleteMessage="@Handler.DeleteMessage"/>
<ConfirmDelete @bind-Display="Handler.SampleRemoveMode" PerformAction="Handler.RemoveSampleData" Title="@userConfig.GetText("remove_sample_data")" DeleteMessage="@Handler.SampleRemoveMessage" DeleteAllowed="Handler.SampleRemoveAllowed"/>
<InProgress Display="Handler.WorkInProgress"/>


@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    private SettingsUsersHandler Handler { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        Handler = new SettingsUsersHandler(apiConnection, middlewareClient, userConfig, globalConfig, DisplayMessageInUi);
        await Handler.Init();
    }
}
