@using FWO.Api.Client
@using FWO.Config.Api
@using FWO.Config.Api.Data
@using FWO.Ui.Services
@using System.Text.Json

@page "/settings/states"
@attribute [Authorize(Roles = "admin, auditor")]

@inject ApiConnection apiConnection
@inject GlobalConfig globalConfig
@inject UserConfig userConfig

@if(InitComplete)
{
    <h3>@(userConfig.GetText("requests"))</h3>
    @(userConfig.GetText("U5313"))
    <hr />
    <button class="btn btn-sm btn-primary" @onclick="ShowStates">@(userConfig.GetText("available_states"))</button>

    @foreach (WorkflowPhases phase in Enum.GetValues(typeof(WorkflowPhases)))
    {
        <hr />
        <div class="form-group row">
            <input id="phase" type="checkbox" @bind="globalStateMatrix.GlobalMatrix[phase].Active" />
            <label for="phase" class="col-form-label col-sm-2"><h4>@(userConfig.GetText(phase.ToString()))</h4></label>
        </div>
        @if(globalStateMatrix.GlobalMatrix[phase].Active)
        {
            <h5>@(userConfig.GetText("allowed_transitions"))</h5>
            <button class="btn btn-sm btn-success" @onclick="() => AddStateToPhase(phase)">@(userConfig.GetText("add_state"))</button>

            <div class="m-2">
                <Table class="table table-bordered table-responsive vheight75 overflow-auto sticky-header" TableItem="KeyValuePair<int,List<int>>" Items="globalStateMatrix.GlobalMatrix[phase].Matrix" PageSize="0" ColumnReorder="true">
                    <Column TableItem="KeyValuePair<int,List<int>>" Title="@(userConfig.GetText("action"))" Field="(x => x.Key)" Sortable="false" Filterable="false">
                        <Template>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-warning" @onclick="() => EditTargetStates(phase, context.Key)">@(userConfig.GetText("edit"))</button>
                                <button class="btn btn-sm btn-danger" @onclick="() => RemoveStateFromPhase(phase, context.Key)">@(userConfig.GetText("remove"))</button>
                            </div>
                        </Template>
                    </Column>
                    <Column TableItem="KeyValuePair<int,List<int>>" Title="@(userConfig.GetText("from_state"))" Field="@(x => x.Key)" Sortable="true" Filterable="true" >
                        <Template>
                            @statesDict.Name[context.Key]
                        </Template>
                    </Column>
                    <Column TableItem="KeyValuePair<int,List<int>>" Title="@(userConfig.GetText("to_states"))" Field="@(x => x.Key)" Sortable="false" Filterable="false">
                        <Template>
                            @TargetStateList(globalStateMatrix.GlobalMatrix[phase].Matrix[context.Key])
                        </Template>
                    </Column>
                    <Column TableItem="KeyValuePair<int,List<int>>" Title="@(userConfig.GetText("derived_state"))" Field="@(x => x.Key)" Sortable="false" Filterable="false">
                        <Template>
                            @(globalStateMatrix.GlobalMatrix[phase].DerivedStates.ContainsKey(context.Key) ? statesDict.Name[globalStateMatrix.GlobalMatrix[phase].DerivedStates[context.Key]] : "")
                        </Template>
                    </Column>
                </Table>
            </div>
            <h5>@(userConfig.GetText("special_states"))</h5>
            <div class="form-group row">
                <label for="lowestInputState" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("lowest_input_state")):</label>
                <div class="col-sm-8">
                    <select id="selectState" class="form-control form-control-sm col-sm-2" @bind="globalStateMatrix.GlobalMatrix[phase].LowestInputState">
                        @foreach (var state in states)
                        {
                            <option value="@state.Id">@(state.Name)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="lowestStartedState" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("lowest_started_state")):</label>
                <div class="col-sm-8">
                    <select id="selectState" class="form-control form-control-sm col-sm-2" @bind="globalStateMatrix.GlobalMatrix[phase].LowestStartedState">
                        @foreach (var state in states)
                        {
                            <option value="@state.Id">@(state.Name)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="lowestEndState" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("lowest_end_state")):</label>
                <div class="col-sm-8">
                    <select id="selectState" class="form-control form-control-sm col-sm-2" @bind="globalStateMatrix.GlobalMatrix[phase].LowestEndState">
                        @foreach (var state in states)
                        {
                            <option value="@state.Id">@(state.Name)</option>
                        }
                    </select>
                </div>
            </div>
        }
    }
    <hr />
    <AuthorizeView Roles="admin">
        <Authorized>
            <button class="btn btn-sm btn-primary" @onclick="InitSaveMatrix" @onclick:preventDefault>@(userConfig.GetText("save"))</button>
        </Authorized>
        <NotAuthorized>
            <button class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
        </NotAuthorized> 
    </AuthorizeView>
    <br><br>

    <PopUp Title="@(userConfig.GetText("save_settings"))" Show="@SaveMatrixMode" OnClose="() => SaveMatrixMode = false">
        <Body>
            @if (SaveMatrixMode)
            {
                <p>@(userConfig.GetText("U5315"))</p>
            }
        </Body>
        <Footer>
            <div class="btn-group">
                <AuthorizeView Roles="admin">
                    <Authorized>
                        <button class="btn btn-sm btn-danger" @onclick="SaveMatrix">@(userConfig.GetText("save"))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button class="btn btn-sm btn-danger" disabled>@(userConfig.GetText("save"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
                <button class="btn btn-sm btn-secondary" @onclick="CancelSaveMatrix">@(userConfig.GetText("cancel"))</button>
            </div>
        </Footer>
    </PopUp>
    
    <PopUp Title="@(userConfig.GetText("available_states"))" Show="@ShowStatesMode" OnClose="() => ShowStatesMode = false">
        <Body>
            @if (ShowStatesMode)
            {
                <button class="btn btn-sm btn-success" @onclick="AddNewState">@(userConfig.GetText("add_state"))</button>
                <br><br>
                @foreach(var state in tmpStates)
                {
                    <div class="form-group row">
                        <label for="stateName" class="col-sm-2 col-form-label col-form-label-sm">@(state.Id)</label>
                        <div class="col-sm-7">
                            <input id="stateName" type="text" class="form-control form-control-sm" @bind="state.Name" />
                        </div>
                        @if(!usedStateIds.Exists(x => x == state.Id))
                        {
                            <button class="btn btn-sm btn-danger" @onclick="() => DeleteState(state)">@(userConfig.GetText("delete"))</button>
                        }
                    </div>
                }
            }
        </Body>
        <Footer>
            <div class="btn-group">
                <AuthorizeView Roles="admin, requester, fw-admin">
                    <Authorized>
                        <button class="btn btn-sm btn-primary" @onclick="SaveStates">@(userConfig.GetText("save"))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
                <button class="btn btn-sm btn-secondary" @onclick="CancelShowStates">@(userConfig.GetText("cancel"))</button>
            </div>
        </Footer>
    </PopUp>

    <PopUp Title="@(userConfig.GetText("add_state"))" Show="@AddNewStateMode" OnClose="() => AddNewStateMode = false">
        <Body>
            @if (AddNewStateMode)
            {
                <div class="form-group row">
                    <div class="col-sm-3">
                        <input id="stateId" type="number" class="form-control form-control-sm" @bind="actState.Id" />
                    </div>
                    <div class="col-sm-8">
                        <input id="stateName" type="text" class="form-control form-control-sm" @bind="actState.Name" />
                    </div>
                </div>
            }
        </Body>
        <Footer>
            <div class="btn-group">
                <AuthorizeView Roles="admin, requester, fw-admin">
                    <Authorized>
                        <button class="btn btn-sm btn-primary" @onclick="DoAddNewState">@(userConfig.GetText("add"))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("add"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
                <button class="btn btn-sm btn-secondary" @onclick="CancelAddNewState">@(userConfig.GetText("cancel"))</button>
            </div>
        </Footer>
    </PopUp>

    <PopUp Title="@(userConfig.GetText("edit_state") + ": " + statesDict.Name[actStateId])" Show="@EditTargetStatesMode" OnClose="() => EditTargetStatesMode = false">
        <Body>
            @if (EditTargetStatesMode)
            {
                @(userConfig.GetText("allowed_transitions"))
                <br><br>
                <button class="btn btn-sm btn-success" @onclick="AddStateToTargetStates">@(userConfig.GetText("add_state"))</button>
                <br><br>
                @foreach(var stateId in actToStateIds)
                {
                    <div class="form-group row">
                        <label for="stateName" class="col-sm-6 col-form-label col-form-label-sm">@statesDict.Name[stateId]</label>
                        <button class="btn btn-sm btn-danger" @onclick="() => DeleteStateId(stateId)">@(userConfig.GetText("remove"))</button>
                    </div>
                }
                <hr />
                @(userConfig.GetText("derived_state"))
                <br><br>
                <div class="col-sm-8">
                    <select id="selectState" class="form-control form-control-sm" @bind="globalStateMatrix.GlobalMatrix[actPhase].DerivedStates[actStateId]">
                        @foreach (var state in states)
                        {
                            <option value="@state.Id">@(state.Name)</option>
                        }
                    </select>
                </div>
            }
        </Body>
        <Footer>
            <div class="btn-group">
                <button class="btn btn-sm btn-primary" @onclick="ApplyEditTargetStates">@(userConfig.GetText("ok"))</button>
            </div>
        </Footer>
    </PopUp>

    <PopUp Title="@(userConfig.GetText("select_state"))" Show="@SelectStateMode" OnClose="() => SelectStateMode = false">
        <Body>
            @if (SelectStateMode)
            {
                <div class="col-sm-8">
                    <select id="selectState" class="form-control form-control-sm" @bind="stateIdToAdd">
                        @foreach (var state in availableStates)
                        {
                            <option value="@state.Id">@(state.Name)</option>
                        }
                    </select>
                </div>
            }
        </Body>
        <Footer>
            <div class="btn-group">
                <AuthorizeView Roles="admin, requester, fw-admin">
                    <Authorized>
                        <button class="btn btn-sm btn-primary" @onclick="ApplySelection">@(userConfig.GetText("select"))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("select"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
                <button class="btn btn-sm btn-secondary" @onclick="CancelSelect">@(userConfig.GetText("cancel"))</button>
            </div>
        </Footer>
    </PopUp>
}
else
{
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool>? DisplayMessageInUi { get; set; }

    private List<RequestState> states = new List<RequestState>();
    private List<RequestState> tmpStates = new List<RequestState>();
    private List<int> usedStateIds = new List<int>();
    private List<int> actToStateIds = new List<int>();
    private List<RequestState> availableStates = new List<RequestState>();
    private RequestStateDict statesDict = new RequestStateDict();

    private GlobalStateMatrix globalStateMatrix = new GlobalStateMatrix();

    private StateMatrix actStateMatrix = new StateMatrix();
    private RequestState actState = new RequestState();
    private int actStateId = 0;
    private int stateIdToAdd = 0;
    private WorkflowPhases actPhase = new WorkflowPhases();

    private bool ShowStatesMode = false;
    private bool AddNewStateMode = false;
    private bool SelectStateMode = false;
    private bool SaveMatrixMode = false;
    private bool EditTargetStatesMode = false;
    private bool InitComplete = false;

    protected override async Task OnInitializedAsync()
    {
        await RefreshStates();
        await InitMatrix();
        InitComplete = true;
    }

    private async Task RefreshStates()
    {
        try
        {
            states = new List<RequestState>();
            states = await apiConnection.SendQueryAsync<List<RequestState>>(FWO.Api.Client.Queries.StmQueries.getStates);
            statesDict = new RequestStateDict();
            await statesDict.Init(apiConnection);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }

    private async Task InitMatrix()
    {
        try
        {
            await globalStateMatrix.Init(apiConnection);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }

    public string TargetStateList(List<int> statesIn)
    {
        List<string> statesOut = new List<string>();
        foreach(int state in statesIn)
        {
            statesOut.Add(statesDict.Name[state]);
        }
        return string.Join(", ", statesOut);
    }

    private void AddStateToPhase(WorkflowPhases phase)
    {
        actPhase = phase;
        availableStates = new List<RequestState>();
        foreach(var state in states.Where(x => !globalStateMatrix.GlobalMatrix[actPhase].Matrix.ContainsKey(x.Id)))
        {
            availableStates.Add(state);
        }
        stateIdToAdd = (availableStates.Count > 0 ? availableStates[0].Id : 0);
        SelectStateMode = true;
    }

    private void ApplySelection()
    {
        if(EditTargetStatesMode)
        {
            actToStateIds.Add(stateIdToAdd);
        }
        else
        {
            globalStateMatrix.GlobalMatrix[actPhase].Matrix.Add(stateIdToAdd, new List<int>());
            globalStateMatrix.GlobalMatrix[actPhase].DerivedStates.Add(stateIdToAdd, stateIdToAdd);
        }
        SelectStateMode = false;
    }

    private void EditTargetStates(WorkflowPhases phase, int key)
    {
        actPhase = phase;
        actStateId = key;
        actToStateIds = globalStateMatrix.GlobalMatrix[actPhase].Matrix[actStateId];
        EditTargetStatesMode = true;
    }
    
    private void AddStateToTargetStates()
    {
        availableStates = new List<RequestState>();
        foreach(var state in states.Where(x => !globalStateMatrix.GlobalMatrix[actPhase].Matrix[actStateId].Contains(x.Id)))
        {
            availableStates.Add(state);
        }
        stateIdToAdd = (availableStates.Count > 0 ? availableStates[0].Id : 0);
        SelectStateMode = true;
    }

    private void DeleteStateId(int state)
    {
        actToStateIds.Remove(state);
    }

    private void ApplyEditTargetStates()
    {
        globalStateMatrix.GlobalMatrix[actPhase].Matrix[actStateId] = actToStateIds;
        EditTargetStatesMode = false;
    }

    private void RemoveStateFromPhase(WorkflowPhases phase, int key)
    {
        globalStateMatrix.GlobalMatrix[phase].Matrix.Remove(key);
    }

    private void CancelSelect()
    {
        SelectStateMode = false;
    }

    private void InitSaveMatrix()
    {
        SaveMatrixMode = true;
    }

    private async Task SaveMatrix()
    {
        try
        {
            SaveMatrixMode = false;
            ConfigItem item = new ConfigItem 
            { 
                Key = "reqStateMatrix", 
                Value = JsonSerializer.Serialize(globalStateMatrix),
                User = 0 
            };
            await apiConnection.SendQueryAsync<object>(ConfigQueries.upsertConfigItem, item);
            DisplayMessageInUi!(null, userConfig.GetText("save_settings"), userConfig.GetText("U5301"), false);             
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("save_settings"), "", true);
        }
    }
        
    private void CancelSaveMatrix()
    {
        SaveMatrixMode = false;
    }

    private void CancelShowStates()
    {
        ShowStatesMode = false;
    }

    private void ShowStates()
    {
        tmpStates = new List<RequestState>();
        usedStateIds = new List<int>();
        foreach(var state in states)
        {
            tmpStates.Add(new RequestState(state));
        }
        foreach(var key in globalStateMatrix.GlobalMatrix.Keys)
        {
            foreach(var stateId in globalStateMatrix.GlobalMatrix[key].Matrix.Keys)
            {
                usedStateIds.Add(stateId);
                foreach(var toState in globalStateMatrix.GlobalMatrix[key].Matrix[stateId])
                {
                    usedStateIds.Add(toState);
                }
            }
            foreach(var stateId in globalStateMatrix.GlobalMatrix[key].DerivedStates.Keys)
            {
                usedStateIds.Add(stateId);
                usedStateIds.Add(globalStateMatrix.GlobalMatrix[key].DerivedStates[stateId]);
            }
            usedStateIds.Add(globalStateMatrix.GlobalMatrix[key].LowestInputState);
            usedStateIds.Add(globalStateMatrix.GlobalMatrix[key].LowestStartedState);
            usedStateIds.Add(globalStateMatrix.GlobalMatrix[key].LowestEndState);
        }
        ShowStatesMode = true;
    }

    private void AddNewState()
    {
        actState = new RequestState();
        AddNewStateMode = true;
    }

    private void DoAddNewState()
    {
        tmpStates.Add(actState);
        AddNewStateMode = false;
    }

    private void CancelAddNewState()
    {
        AddNewStateMode = false;
    }

    private void DeleteState(RequestState state)
    {
        tmpStates.Remove(state);
    }

    private async Task SaveStates()
    {
        try
        {
            foreach(var tmpState in tmpStates)
            {
                if(!((states.FirstOrDefault(x => x.Id == tmpState.Id))?.Name == tmpState.Name))
                {
                    await apiConnection.SendQueryAsync<object>(FWO.Api.Client.Queries.StmQueries.upsertState, new { id = tmpState.Id, name = tmpState.Name });
                }
            }
            foreach(var state in states)
            {
                if(tmpStates.FirstOrDefault(x => x.Id == state.Id) == null)
                {
                    await apiConnection.SendQueryAsync<object>(FWO.Api.Client.Queries.StmQueries.deleteState, new { id = state.Id });
                }
            }
            await RefreshStates();
            ShowStatesMode = false;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("save_settings"), "", true);
        }
    }
}
