@using FWO.Data.Middleware
@using FWO.Logging
@using FWO.Middleware.Client
@using FWO.Recert
@using FWO.ExternalSystems.Tufin.SecureChange
@using FWO.Ui.Pages.NetworkModelling
@using RestSharp
@using System.Net
@using System.Text.Json

@page "/settings/extticketing"
@page "/settings/extticketing/{Id:int?}"
@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.Auditor}")]

@inject ApiConnection apiConnection
@inject GlobalConfig globalConfig
@inject UserConfig userConfig
@inject NavigationManager Navigation

<div class="input-group">
    <h3>@(userConfig.GetText("ext_ticket_settings"))</h3>
    <HelpLink Page="settings/extticketing" />
</div>
@(userConfig.GetText("H5598"))
<hr />

@if (configData != null)
{
    <form onsubmit="return false">
        <div class="form-group row">
            <div class="form-group row col-sm-6" data-toggle="tooltip" title="@(userConfig.PureLine("H5426a"))">
                <label class="col-form-label col-sm-6">@(userConfig.GetText("externalRequestSleepTime")):</label>
                <div class="col-sm-4">
                    <input type="number" min="0" @bind="configData!.ExternalRequestSleepTime" />
                </div>
            </div>
            <div class="form-group row col-sm-6" data-toggle="tooltip" title="@(userConfig.PureLine("H5426b"))">
                <label class="col-form-label col-sm-6">@(userConfig.GetText("externalRequestWaitCycles")):</label>
                <div class="col-sm-4">
                    <input type="number" min="0" @bind="configData!.ExternalRequestWaitCycles" />
                </div>
            </div>
        </div>
        <div class="form-group row" data-toggle="tooltip" title="@(userConfig.PureLine("H5427a"))">
            <label class="col-form-label col-sm-3">@(userConfig.GetText("externalRequestStartAt")):</label>
            <div class="col-sm-4">
                <div class="row">
                    <input type="time" step="60" class="ml-13 col-sm-5" @bind="extReqStartTime" />
                    <input type="date" class="col-sm-5" @bind="extReqStartDate" />
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group row mt-2">
            <div class="form-group row mt-2">
                <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("name")):</label>
                <div class="col-sm-8">
                    <input type="text" class="col-sm-8" @bind="extTicketingSystemName" />
                </div>
            </div>
            <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5597"))">
                <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("ext_ticket_system_type")):</label>
                <div class="col-sm-4">
                    <Dropdown ElementType="ExternalTicketSystemTypeDefinition" SelectedElement="selectedType"
                              SelectedElementChanged="OnTypeChanged" ElementToString="@(type => type.Name)"
                              Elements="availableTypes">
                        <ElementTemplate Context="type">
                            @type.Name
                        </ElementTemplate>
                    </Dropdown>
                </div>
            </div>
            <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5593"))">
                <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("ext_ticket_url")):</label>
                <div class="col-sm-8">
                    <input type="text" class="col-sm-8" @bind="extTicketingSystemUrl" />
                </div>
            </div>
            <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5594"))">
                <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("ext_ticket_auth")):</label>
                <div class="col-sm-8">
                    <input type="text" class="col-sm-8" @bind="extTicketingSystemAuth" />
                </div>
            </div>
            <div class="form-group row mt-2">
                <label class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("response_timeout")):</label>
                <div class="col-sm-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5593a"))">
                    <input type="number" class="col-sm-6" @bind="extTicketingSystemTimeout" />
                </div>
                <label class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("max_attempts")):</label>
                <div class="col-sm-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5593b"))">
                    <input type="number" class="col-sm-6" @bind="extTicketingSystemMaxAttempts" />
                </div>
                <label class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("cycles_between")):</label>
                <div class="col-sm-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5593c"))">
                    <input type="number" class="col-sm-6" @bind="extTicketingSystemCyclesBetweenAttempts" />
                </div>
            </div>
            @if (actExtTicketSystemTypeId == BuiltInExternalTicketSystemTypes.TufinSecureChangeId)
            {
                <label for="cbx_ext_ticket_lookup_id" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("ext_ticket_lookup_id")):</label>
                <div class="col-sm-2">
                    <input id="cbx_ext_ticket_lookup_id" type="checkbox" class="w-100" @bind="extTicketingSystemLookup">
                    </div>
                }
                <br>
                <TabSet WholeWidth="false" DarkMode="false" KeepPanelsAlive="false">
                    @{
                        int pos = 0;
                    }
                    @foreach (var template in extTicketingSystemTemplates)
                    {
                        <Tab Title="@(template.TaskType)" Position=pos++>
                            <ExtTicketTemplates Template="template" />
                        </Tab>
                    }
                    <Tab Title="  +  " Position=pos>
                        <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H5599"))">
                            <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("task_type")):</label>
                            <div class="col-sm-4">
                                <Dropdown ElementType="string" @bind-SelectedElement="newTemplate.TaskType" Elements="actTaskTypes" />
                            </div>
                        </div>
                        <ExtTicketTemplates Template="newTemplate" />
                    </Tab>
                </TabSet>
            </div>
        </form>
        <hr />
        <div class="btn-group">
            <AuthorizeView Roles="@Roles.Admin">
                <Authorized>
                    <button type="button" class="btn btn-sm btn-primary" @onclick="Save" @onclick:preventDefault>@(userConfig.GetText("save"))</button>
                </Authorized>
                <NotAuthorized>
                    <button type="button" class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
                </NotAuthorized>
            </AuthorizeView>
            <button type="button" class="btn btn-sm btn-secondary" @onclick="CancelEdit">@(DisplayService.DisplayButton(userConfig, "cancel", Icons.Cancel))</button>
        </div>
    }
else
    {
        <Loading />
    }

@code
{
    [Parameter]
    public int? Id { get; set; }

    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    private ConfigData? configData;
    private string extTicketingSystemName = "";
    private int actExtTicketSystemTypeId = BuiltInExternalTicketSystemTypes.GenericId;
    private string extTicketingSystemUrl = "";
    private int extTicketingSystemTimeout = 300;
    private int extTicketingSystemMaxAttempts = 3;
    private int extTicketingSystemCyclesBetweenAttempts = 5;
    private string extTicketingSystemAuth = "";
    private bool extTicketingSystemLookup = false;
    private List<ExternalTicketSystem> extTicketSystems = [];
    private List<ExternalTicketTemplate> extTicketingSystemTemplates = [];
    private DateTime extReqStartDate = DateTime.Today;
    private DateTime extReqStartTime = DateTime.Now.AddSeconds(-DateTime.Now.Second);
    private ExternalTicketTemplate newTemplate = new();
    private List<string> actTaskTypes = [];
    private IReadOnlyList<ExternalTicketSystemTypeDefinition> availableTypes = BuiltInExternalTicketSystemTypes.AllBuildInTicketTypes;
    private ExternalTicketSystemTypeDefinition selectedType = BuiltInExternalTicketSystemTypes.GetById(BuiltInExternalTicketSystemTypes.GenericId);

    protected override async Task OnInitializedAsync()
    {
        try
        {
            configData = await globalConfig.GetEditableConfig();
            extReqStartDate = extReqStartTime = configData.ExternalRequestStartAt;
            extTicketSystems = string.IsNullOrWhiteSpace(configData.ExtTicketSystems) ? new List<ExternalTicketSystem>()
                                                        : JsonSerializer.Deserialize<List<ExternalTicketSystem>>(configData.ExtTicketSystems)
                                                        ?? new List<ExternalTicketSystem>();

            ExternalTicketSystem? systemToEdit = null;

            if (Id.HasValue)
            {
                systemToEdit = extTicketSystems.FirstOrDefault(s => s.Id == Id.Value);
            }

            if (systemToEdit != null)
            {
                // Edit-Mode
                extTicketingSystemName = systemToEdit.Name;
                actExtTicketSystemTypeId = systemToEdit.TypeId;
                selectedType = BuiltInExternalTicketSystemTypes.GetById(actExtTicketSystemTypeId);
                InitTaskTypeList(actExtTicketSystemTypeId);
                extTicketingSystemUrl = systemToEdit.Url;
                extTicketingSystemTimeout = systemToEdit.ResponseTimeout;
                extTicketingSystemMaxAttempts = systemToEdit.MaxAttempts;
                extTicketingSystemCyclesBetweenAttempts = systemToEdit.CyclesBetweenAttempts;
                extTicketingSystemAuth = systemToEdit.Authorization;
                extTicketingSystemLookup = systemToEdit.LookupRequesterId;
                extTicketingSystemTemplates = systemToEdit.Templates;
            }
            else
            {
                // Create-Mode
                extTicketingSystemName = "";
                actExtTicketSystemTypeId = BuiltInExternalTicketSystemTypes.GenericId;
                selectedType = BuiltInExternalTicketSystemTypes.GetById(actExtTicketSystemTypeId);
                InitTaskTypeList(actExtTicketSystemTypeId);
                extTicketingSystemTemplates = new();
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("read_config"), userConfig.GetText("E5301"), false);
        }
    }

    private void InitTaskTypeList(int extTicketSystemTypeId)
    {
        actExtTicketSystemTypeId = extTicketSystemTypeId;
        switch (extTicketSystemTypeId)
        {
            case BuiltInExternalTicketSystemTypes.GenericId:
                actTaskTypes = [];
                break;
            case BuiltInExternalTicketSystemTypes.TufinSecureChangeId:
                actTaskTypes = Enum.GetNames(typeof(SCTaskType)).ToList();
                break;
            case BuiltInExternalTicketSystemTypes.AlgoSecId:
                actTaskTypes = [];
                break;
            case BuiltInExternalTicketSystemTypes.ServiceNowId:
                actTaskTypes = [];
                break;
        }
        newTemplate.TaskType = actTaskTypes.Count > 0 ? actTaskTypes.First() : "";
    }

    private void OnTypeChanged(ExternalTicketSystemTypeDefinition type)
    {
        selectedType = type;
        InitTaskTypeList(type.Id);
    }

    private async Task Save()
    {
        try
        {
            if (configData == null)
            {
                throw new ArgumentException("Data saved before loaded. This should be impossible.");
            }
            configData.ExternalRequestStartAt = extReqStartDate.Date.Add(extReqStartTime.TimeOfDay);
            List<ExternalTicketSystem> currentSystems = extTicketSystems;

            // todo: loop over several systems
            if (newTemplate.TicketTemplate != "" || newTemplate.TasksTemplate != "")
            {
                extTicketingSystemTemplates.Add(new()
                {
                    TaskType = newTemplate.TaskType.ToString(),
                    TicketTemplate = newTemplate.TicketTemplate,
                    TasksTemplate = newTemplate.TasksTemplate
                });
            }

            ExternalTicketSystem system;

            if (Id.HasValue)
            {
                system = extTicketSystems.First(s => s.Id == Id.Value);
                system.Name = extTicketingSystemName;
                system.TypeId = actExtTicketSystemTypeId;
                system.Url = extTicketingSystemUrl;
                system.ResponseTimeout = extTicketingSystemTimeout;
                system.MaxAttempts = extTicketingSystemMaxAttempts;
                system.CyclesBetweenAttempts = extTicketingSystemCyclesBetweenAttempts;
                system.Authorization = extTicketingSystemAuth;
                system.LookupRequesterId = extTicketingSystemLookup;
                system.Templates = extTicketingSystemTemplates;
                system.Sanitize();
            }
            else
            {
                int nextId = extTicketSystems.Any() ? extTicketSystems.Max(x => x.Id) + 1 : 1;
                system = new ExternalTicketSystem
                {
                    Id = nextId,
                    Name = extTicketingSystemName,
                    TypeId = actExtTicketSystemTypeId,
                    Url = extTicketingSystemUrl,
                    ResponseTimeout = extTicketingSystemTimeout,
                    MaxAttempts = extTicketingSystemMaxAttempts,
                    CyclesBetweenAttempts = extTicketingSystemCyclesBetweenAttempts,
                    Authorization = extTicketingSystemAuth,
                    LookupRequesterId = extTicketingSystemLookup,
                    Templates = extTicketingSystemTemplates
                };
                system.Sanitize();
                extTicketSystems.Add(system);
            }


            // int nextId = extTicketSystems.Any() ? extTicketSystems.Max(x => x.Id) + 1 : 1;
            // extTicketingSystemTemplates = extTicketingSystemTemplates.Where(t => t.TicketTemplate != "" || t.TasksTemplate != "").ToList();
            // ExternalTicketSystem newSystem = new()
            // {
            //     Id = nextId,
            //     Name = extTicketingSystemName,
            //     Type = actExtTicketSystemType,
            //     Url = extTicketingSystemUrl,
            //     ResponseTimeout = extTicketingSystemTimeout,
            //     MaxAttempts = extTicketingSystemMaxAttempts,
            //     CyclesBetweenAttempts = extTicketingSystemCyclesBetweenAttempts,
            //     Authorization = extTicketingSystemAuth,
            //     LookupRequesterId = extTicketingSystemLookup,
            //     Templates = extTicketingSystemTemplates
            // };
            // newSystem.Sanitize();
            // currentSystems.Add(newSystem);
            configData.ExtTicketSystems = System.Text.Json.JsonSerializer.Serialize(currentSystems);
            await globalConfig.WriteToDatabase(configData, apiConnection);
            DisplayMessageInUi(null, userConfig.GetText("ext_ticket_settings"), userConfig.GetText("U5301"), false);

            Navigation.NavigateTo("/settings/direct");
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("ext_ticket_settings"), "", true);
        }
    }
    private void CancelEdit()
    {
        Navigation.NavigateTo("/settings/direct");
    }
}
