@using BlazorTable
@using FWO.Api.Data
@using FWO.Api.Client
@using FWO.Config.Api

@page "/settings/gateways"
@attribute [Authorize(Roles = "admin, auditor, fw-admin")]

@inject ApiConnection apiConnection
@inject UserConfig userConfig

<h3>@(userConfig.GetText("gateways"))</h3>
@(userConfig.GetText("U5112"))
<hr />

<button class="btn btn-success m-2" @onclick="Add">@(userConfig.GetText("add_new_gateway"))</button>

<div class="m-2">
    <Table class="table table-bordered table-responsive vheight75 overflow-auto sticky-header" TableItem="Device" Items="devices" PageSize="0" ColumnReorder="true">
        <Column TableItem="Device" Title="@(userConfig.GetText("actions"))" Field="(x => x.Id)" Sortable="false" Filterable="false">
            <Template>
                <div class="btn-group">
                    <button class="btn btn-sm btn-success" @onclick="() => Clone(context)">@(userConfig.GetText("clone"))</button>
                    <button class="btn btn-sm btn-warning" @onclick="() => Edit(context)">@(userConfig.GetText("edit"))</button>
                    <AuthorizeView Roles="admin, auditor" Context="ctx">
                        <Authorized>
                            <button class="btn btn-sm btn-danger" @onclick="() => RequestDelete(context)">@(userConfig.GetText("delete"))</button>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </Template>
        </Column>
        <Column TableItem="Device" Title="@(userConfig.GetText("id"))" Field="@(x => x.Id)" Sortable="true" Filterable="true" />
        <Column TableItem="Device" Title="@(userConfig.GetText("name"))" Field="@(x => x.Name)" Sortable="true" Filterable="true" />
        <Column TableItem="Device" Title="@(userConfig.GetText("type"))" Field="@(x => x.DeviceType.Id)" Sortable="true">
            <Template>
                @context.DeviceType.NameVersion()
            </Template>
        </Column>
        <Column TableItem="Device" Title="@(userConfig.GetText("management"))" Field="@(x => x.Management.Id)" Sortable="true">
            <Template>
                @context.Management.Name
            </Template>
        </Column>
        <Column TableItem="Device" Title="@(userConfig.GetText("import_enabled"))" Field="@(x => x.ImportDisabled)" Sortable="true">
            <Template>
                @(GlobalConfig.ShowBool(!context.ImportDisabled))
            </Template>
        </Column>
    </Table>
</div>

<PopUp Title="@(userConfig.GetText("edit_gateway"))" Show="@EditMode" Large="true" OnClose="() => EditMode = false">
    <Body>
        @if (EditMode)
        {
            <form>
                <div class="form-group row">
                    <label for="deviceId" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("id")):</label>
                    <label class="col-sm-8">@actDevice.Id</label>
                </div>
                <div class="form-group row">
                    <label for="deviceName" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("name"))*:</label>
                    <div class="col-sm-8">
                        <input id="deviceName" type="text" class="form-control form-control-sm" @bind="actDevice.Name" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="deviceComment" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("comment")):</label>
                    <div class="col-sm-8">
                        <textarea rows="3" cols="60" name="text" class="form-control form-control-sm" placeholder=@(userConfig.GetText("comment")) @bind="actDevice.Comment"></textarea>   
                    </div>
                </div>
                <div class="form-group row">
                    <label for="deviceManagement" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("management"))*:</label>
                    <div class="col-sm-8">
                        <select id="deviceManagement" class="form-control form-control-sm" @bind="actDevice.Management.Id">
                            @foreach (Management management in managements)
                            {
                                <option value="@management.Id">@(management.Name)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="deviceDevType" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("device_type"))*:</label>
                    <div class="col-sm-8">
                        <select id="deviceDevType" class="form-control form-control-sm" @bind="actDevice.DeviceType.Id">
                            @foreach (DeviceType devType in deviceTypes.Where(x => x.Manufacturer == deviceTypes.Find(
                                y => y.Id == managements.Find(z => z.Id ==actDevice.Management.Id)?.DeviceType.Id)?.Manufacturer))
                            {
                                <option value="@devType.Id">@(devType.NameVersion())</option>
                            }
                        </select>
                    </div>
                </div>
                @if (actDevice.DeviceType.IsLegacyDevType())
                {
                    <div class="form-group row">
                        <label for="deviceLocalRulebase" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("local_rulebase"))*:</label>
                        <div class="col-sm-8">
                            <input id="deviceLocalRulebase" type="text" class="form-control form-control-sm" @bind="actDevice.LocalRulebase" />
                        </div>
                    </div>
                }
                else if(deviceTypes.Find(x => x.Id == actDevice.DeviceType.Id)?.Manufacturer == "Check Point")
                {
                    <div class="form-group row">
                        <label for="deviceLocalRulebase" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("local_rulebase"))*:</label>
                        <div class="col-sm-8">
                            <input id="deviceLocalRulebase" type="text" class="form-control form-control-sm" @bind="actDevice.LocalRulebase" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="deviceGlobalRulebase" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("global_rulebase")):</label>
                        <div class="col-sm-8">
                            <input id="deviceGlobalRulebase" type="text" class="form-control form-control-sm" @bind="actDevice.GlobalRulebase" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="devicePackage" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("package")):</label>
                        <div class="col-sm-8">
                            <input id="devicePackage" type="text" class="form-control form-control-sm" @bind="actDevice.Package" />
                        </div>
                    </div>
                }
                else if(deviceTypes.Find(x => x.Id == actDevice.DeviceType.Id)?.Manufacturer == "Fortinet")
                {
                    <div class="form-group row">
                        <label for="deviceLocalRulebase" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("local_package"))*:</label>
                        <div class="col-sm-8">
                            <input id="deviceLocalRulebase" type="text" class="form-control form-control-sm" @bind="actDevice.LocalRulebase" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="deviceGlobalRulebase" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("global_package")):</label>
                        <div class="col-sm-8">
                            <input id="deviceGlobalRulebase" type="text" class="form-control form-control-sm" @bind="actDevice.GlobalRulebase" />
                        </div>
                    </div>
                }

                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="deviceImportDisabled" type="checkbox" @bind="actDevice.ImportDisabled">
                    <label class="form-check-label" for="deviceImportDisabled"><small>@(userConfig.GetText("import_disabled"))</small></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="deviceHideInUi" type="checkbox" @bind="actDevice.HideInUi">
                    <label class="form-check-label" for="deviceHideInUi"><small>@(userConfig.GetText("hide_in_ui"))</small></label>
                </div>

            </form>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <AuthorizeView Roles="admin, fw-admin">
                <Authorized>
                    <button class="btn btn-sm btn-primary" @onclick="Save">@(userConfig.GetText("save"))</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
                </NotAuthorized> 
            </AuthorizeView>
            <button class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

<PopUp Title="@(userConfig.GetText("delete_gateway"))" Show="@DeleteMode" OnClose="() => DeleteMode = false">
    <Body>
        @if (DeleteMode)
        {
            <p>@(userConfig.GetText("U5103")) @(actDevice.Name)?</p>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <AuthorizeView Roles="admin">
                <Authorized>
                    <button class="btn btn-sm btn-danger" @onclick="() => Delete(actDevice)">@(userConfig.GetText("delete"))</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-sm btn-danger" disabled>@(userConfig.GetText("delete"))</button>
                </NotAuthorized> 
            </AuthorizeView>
            <button class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

<PopUp Title="@(userConfig.GetText("in_progress"))" Small="true" Show="@workInProgress">
    <Body>
        @if (workInProgress)
        {
            <div class="row">
                <div class="spinner-border mx-auto align-self-center" role="status"></div>
            </div>
        }
    </Body>
</PopUp>

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool>? DisplayMessageInUi { get; set; }
    private List<Device> devices = new List<Device>();
    private List<DeviceType> deviceTypes = new List<DeviceType>();
    private List<Management> managements = new List<Management>();

    private bool EditMode = false;
    private bool DeleteMode = false;
    private bool AddMode = false;

    private Device newDevice = new Device();
    private Device actDevice = new Device();
    private bool workInProgress = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            devices = await apiConnection.SendQueryAsync<List<Device>>(FWO.Api.Client.Queries.DeviceQueries.getDeviceDetails);
            deviceTypes = await apiConnection.SendQueryAsync<List<DeviceType>>(FWO.Api.Client.Queries.DeviceQueries.getDeviceTypeDetails);
            managements = await apiConnection.SendQueryAsync<List<Management>>(FWO.Api.Client.Queries.DeviceQueries.getManagementsDetails);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("fetch_gateways"), "", true);
        }
    }

    private void Edit(Device device)
    {
        actDevice = new Device(device);
        EditMode = true;
    }

    private void RequestDelete(Device device)
    {
        actDevice = device;
        DeleteMode = true;
    }

    private async Task Delete(Device device)
    {
        try
        {
            // Todo: checks if delete possible. Else set e.g. an archive flag?
            DeleteMode = false;
            workInProgress = true;
            var Variables = new { id = device.Id };
            int delId = (await apiConnection.SendQueryAsync<ReturnId>(FWO.Api.Client.Queries.DeviceQueries.deleteDevice, Variables)).DeletedId;
            if (delId == device.Id)
            {
                devices.Remove(device);
            }
            workInProgress = false;
        }
        catch (Exception exception)
        {
            workInProgress = false;
            DisplayMessageInUi!(exception, userConfig.GetText("delete_gateway"), "", true);
        } 
    }

    private void Add()
    {
        AddMode = true;
        newDevice = new Device()
        {
            DeviceType = new DeviceType { Id = deviceTypes.First().Id },
            Management = new Management { Id = managements.First().Id, DeviceType = new DeviceType { Id = deviceTypes.First().Id } }
        };
        Edit(newDevice);
    }

    private void Clone(Device device)
    {
        AddMode = true;
        newDevice = new Device(device);
        newDevice.Id = 0;
        Edit(newDevice);
    }

    private async Task Save()
    {
        try
        {
            if (actDevice.Sanitize())
            {
                DisplayMessageInUi!(null, userConfig.GetText("save_gateway"), userConfig.GetText("U0001"), true);
            }
            if (CheckValues())
            {    
                if (AddMode)
                {
                    // insert new device
                    var Variables = new
                    {
                        name = actDevice.Name,
                        devTypeId = actDevice.DeviceType.Id,
                        managementId = actDevice.Management.Id,
                        localRulebase = actDevice.LocalRulebase,
                        globalRulebase = actDevice.GlobalRulebase,
                        package = actDevice.Package,
                        importDisabled = actDevice.ImportDisabled,
                        hideInUi = actDevice.HideInUi,
                        comment = actDevice.Comment
                    };
                    ReturnId[]? returnIds = (await apiConnection.SendQueryAsync<NewReturning>(FWO.Api.Client.Queries.DeviceQueries.newDevice, Variables)).ReturnIds;
                    if (returnIds == null)
                    {
                        DisplayMessageInUi!(null, userConfig.GetText("save_gateway"), userConfig.GetText("E5112"), true);
                    }
                    else
                    {
                        actDevice.Id = returnIds[0].NewId;
                        devices.Add(actDevice);
                        await addDeviceToTenant0(actDevice.Id);
                        AddMode = false;
                        EditMode = false;
                    }
                }
                else
                {
                    // Update existing device
                    var Variables = new
                    {
                        id = actDevice.Id,
                        name = actDevice.Name,
                        devTypeId = actDevice.DeviceType.Id,
                        managementId = actDevice.Management.Id,
                        localRulebase = actDevice.LocalRulebase,
                        globalRulebase = actDevice.GlobalRulebase,
                        package = actDevice.Package,
                        importDisabled = actDevice.ImportDisabled,
                        hideInUi = actDevice.HideInUi,
                        comment = actDevice.Comment
                    };
                    int udId = (await apiConnection.SendQueryAsync<ReturnId>(FWO.Api.Client.Queries.DeviceQueries.updateDevice, Variables)).UpdatedId;
                    EditMode = (udId == actDevice.Id ? false : true);
                    devices[devices.FindIndex(x => x.Id == actDevice.Id)] = actDevice;
                }
                // update actDevice for immediate display
                DeviceType? devtype = deviceTypes.FirstOrDefault(x => x.Id == actDevice.DeviceType.Id) ?? throw new Exception("Unknown Device type");
                actDevice.DeviceType.Name = devtype.Name;
                actDevice.DeviceType.Version = devtype.Version;
                Management? mgmt = managements.Find(x => x.Id == actDevice.Management.Id) ?? throw new Exception("Unknown Management");
                actDevice.Management.Name = mgmt.Name;
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("save_gateway"), "", true);
        }
    }

    private bool CheckValues()
    {
        if (actDevice.Name == null || actDevice.Name == "" || actDevice.LocalRulebase == null || actDevice.LocalRulebase == "")
        {
            DisplayMessageInUi!(null, userConfig.GetText("save_gateway"), userConfig.GetText("E5102"), true);
            return false;
        }
        if (!actDevice.ImportDisabled && devices.FirstOrDefault(dev => dev.DeviceType.Id == actDevice.DeviceType.Id && dev.Management.Id == actDevice.Management.Id 
            && dev.LocalRulebase == actDevice.LocalRulebase && dev.Id != actDevice.Id && !dev.ImportDisabled) != null)
        {
            DisplayMessageInUi!(null, userConfig.GetText("save_gateway"), userConfig.GetText("E5111"), true);
            return false;
        }
        return true;
    }

    private async Task addDeviceToTenant0(int deviceId)
    {
        try
        {
            var Variables = new { tenantId = 1, deviceId = deviceId };
            await apiConnection.SendQueryAsync<NewReturning>(FWO.Api.Client.Queries.AuthQueries.addDeviceToTenant, Variables);
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("add_device_to_tenant0"), "", false);
        }
    }

    private void Cancel()
    {
        AddMode = false;
        EditMode = false;
        DeleteMode = false;
    }
}
