@using BlazorTable
@using System.Net
@using FWO.Api.Data
@using FWO.ApiClient
@using FWO.Middleware.Client
@using FWO.Config.Api
@using FWO.Middleware.RequestParameters
@using FWO.Ui.Services
@using RestSharp

@page "/settings/users"
@attribute [Authorize(Roles = "admin, auditor")]

@inject APIConnection apiConnection
@inject MiddlewareClient middlewareClient
@inject UserConfig userConfig
@inject GlobalConfig globalConfig

<h3>@(userConfig.GetText("users"))</h3>
@(userConfig.GetText("U5213"))
<hr />

<div class="form-group row">
    <button class="btn btn-success m-2" @onclick="AddUser">@(userConfig.GetText("add_new_user"))</button>
    <AuthorizeView Roles="admin">
        <Authorized>
            <button class="btn btn-info m-2" @onclick="Resynchronize">@(userConfig.GetText("synchronize"))</button>
        </Authorized>
        <NotAuthorized>
            <button class="btn btn-info m-2" disabled>@(userConfig.GetText("synchronize"))</button>
        </NotAuthorized> 
    </AuthorizeView>
    @if (showSampleRemoveButton)
    {
        <button class="btn btn-danger m-2" @onclick="RequestRemoveSampleData">@(userConfig.GetText("remove_sample_data"))</button>
    }
</div>

<div class="m-2">
    <Table class="table table-bordered table-responsive vheight75 overflow-auto sticky-header" TableItem="UiUser" Items="uiUsers" PageSize="0" ColumnReorder="true">
        <Column TableItem="UiUser" Title="@(userConfig.GetText("action"))" Field="(x => x.DbId)" Sortable="false" Filterable="false">
            <Template>
                <div class="btn-group">
                    <button class="btn btn-sm btn-success" @onclick="() => Clone(context)">@(userConfig.GetText("clone"))</button>
                    @if(context.isInternal())
                    {
                        <button class="btn btn-sm btn-warning" @onclick="() => Edit(context)">@(userConfig.GetText("edit"))</button>
                    }
                    <button class="btn btn-sm btn-danger" @onclick="() => RequestDelete(context)">@(userConfig.GetText("delete"))</button>
                    @if(context.isInternal())
                    {
                        <button class="btn btn-sm btn-info" @onclick="() => RequestResetPassword(context)">@(userConfig.GetText("reset_password"))</button>
                    }
                </div>
            </Template>
        </Column>
        <Column TableItem="UiUser" Title="@(userConfig.GetText("name"))" Field="@(x => x.Name)" Sortable="true" Filterable="true" />
        <Column TableItem="UiUser" Title="@(userConfig.GetText("from_ldap"))" Field="@(x => x.LdapConnection.Name)" Sortable="true" Filterable="true" />
        <Column TableItem="UiUser" Title="@(userConfig.GetText("tenant"))" Field="@(x => x.Tenant)" Sortable="true">
            <Template>
                @(context.Tenant != null ? (context.Tenant.Id == 1 && context.LdapConnection.GlobalTenantName != null && context.LdapConnection.GlobalTenantName != "" ? context.LdapConnection.GlobalTenantName : context.Tenant.Name) : "" )
            </Template>       
        </Column>
        <Column TableItem="UiUser" Title="@(userConfig.GetText("email"))" Field="@(x => x.Email)" Sortable="true" Filterable="true" />
        <Column TableItem="UiUser" Title="@(userConfig.GetText("language"))" Field="@(x => x.Language)" Sortable="true" Filterable="true" >
            <Template>
                @((context.Language != null && context.Language != "") ? userConfig.GetText(context.Language) : "" )
            </Template>
        </Column>
        <Column TableItem="UiUser" Title="@(userConfig.GetText("last_login"))" Field="@(x => x.LastLogin)" Sortable="true" Filterable="true" />
        <Column TableItem="UiUser" Title="@(userConfig.GetText("last_pw_change"))" Field="@(x => x.LastPasswordChange)" Sortable="true" Filterable="true" />
        <Column TableItem="UiUser" Title="@(userConfig.GetText("pwd_chg_req"))" Field="@(x => x.PasswordMustBeChanged)" Sortable="true" Filterable="true" >
            <Template>
                @(GlobalConfig.ShowBool(context.PasswordMustBeChanged))
            </Template>
        </Column>
    </Table>
</div>

<PopUp Title="@((AddMode ? userConfig.GetText("add_user") : userConfig.GetText("edit_user")))" Show="@EditMode" Large="true" OnClose="() => EditMode = false">
    <Body>
        @if (EditMode)
        {
            <form>
                <div class="form-group row">
                    <label for="userName" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("name"))*:</label>
                    @if (AddMode)
                    {
                        <div class="col-sm-8">
                            <input id="userName" type="text" class="form-control form-control-sm" @bind="actUser.Name" />
                        </div>
                    }
                    else
                    {
                        <label class="m-2">@actUser.Name</label>
                    }
                </div>
                <div class="form-group row">
                    <label for="ldapUser" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("into_ldap"))*:</label>
                    @if (AddMode)
                    {
                        <div class="col-sm-8">
                            <select id="ldapUser" class="form-control-sm col-sm" @bind="selectedLdapId" @oninput="(EventArgs) => {selectedLdapId = Convert.ToInt32(EventArgs.Value?.ToString()); SetAvailableTenants();}">
                                @foreach (UiLdapConnection ldap in writableLdaps)
                                {
                                    <option value="@ldap.Id">@(ldap.Name)</option>
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <label class="m-2">@actUser.LdapConnection.Name</label>
                    }
                </div>
                <div class="form-group row">
                    <label for="userTenant" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("tenant")):</label>
                    @if (AddMode)
                    {
                        <div class="col-sm-8">
                            <select id="userTenant" class="form-control-sm col-sm" @bind="selectedTenantId">
                                @foreach (Tenant tenant in availableTenants)
                                {
                                    <option value="@tenant.Id">@(tenant.Name)</option>
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <label class="m-2">@(actUser.Tenant != null ? actUser.Tenant.Name : "")</label>
                    }
                </div>
                <div class="form-group row">
                    <label for="userDn" class="col-sm-2 col-form-label col-form-label-sm">Dn:</label>
                    <label class="m-2">@actUser.Dn</label>
                </div>
                @if (AddMode)
                {
                    <div class="form-group row">
                        <label for="userPassword" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("password"))*:</label>
                        <div class="col-sm-8">
                            <input id="userPassword" type="password" class="form-control form-control-sm" @bind="actUser.Password" />
                        </div>
                    </div>
                }
                <div class="form-group row">
                    <label for="userEmail" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("email")):</label>
                    <div class="col-sm-8">
                        <input id="userEmail" type="text" class="form-control form-control-sm" @bind="actUser.Email" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="userGroup" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("groups")):</label>
                    @if (AddMode)
                    {
                        <div class="col-sm-8">
                            <select id="userGroup" class="form-control-sm col-sm" @bind="selectedGroupName">
                                <option value="null">@(userConfig.GetText("none"))</option>
                                @foreach (UserGroup group in groups)
                                {
                                    <option value="@group.Name">@(group.Name)</option>
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <label class="m-2">@((actUser.Groups != null && actUser.Groups.Count > 0) ? actUser.Groups.First() : "")</label>
                    }
                </div>
                <div class="form-group row">
                    <label for="userRole" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("roles")):</label>
                    @if (AddMode)
                    {
                        <div class="col-sm-8">
                            <select id="userRole" class="form-control-sm col-sm" @bind="selectedRoleName">
                                <option value="null">@(userConfig.GetText("none"))</option>
                                @foreach (Role role in availableRoles)
                                {
                                    <option value="@role.Name">@(role.Name)</option>
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <label class="m-2">@((actUser.Roles != null && actUser.Roles.Count > 0) ? actUser.Roles.First() : "")</label>
                    }
                </div>
            </form>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <AuthorizeView Roles="admin">
                <Authorized>
                    <button class="btn btn-sm btn-primary" @onclick="() => Save()">@(userConfig.GetText("save"))</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
                </NotAuthorized> 
            </AuthorizeView>
            <button class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

<PopUp Title="@(userConfig.GetText("delete_user"))" Show="@DeleteMode" OnClose="() => DeleteMode = false">
    <Body>
        @if (DeleteMode)
        {
            <p>@(deleteMessage)</p>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <AuthorizeView Roles="admin">
                <Authorized>
                    <button class="btn btn-sm btn-danger" @onclick="() => Delete()">@(userConfig.GetText("delete"))</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-sm btn-danger" disabled>@(userConfig.GetText("delete"))</button>
                </NotAuthorized> 
            </AuthorizeView>
            <button class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

<PopUp Title="@(userConfig.GetText("reset_password"))" Show="@ResetPasswordMode" Large="true" OnClose="() => ResetPasswordMode = false">
    <Body>
        @if (ResetPasswordMode)
        {
            <form onsubmit="return false">
                <div class="form-group row">
                    <label for="userName" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("name")):</label>
                    <label class="m-2">@actUser.Name</label>
                </div>
                <div class="form-group row">
                    <label for="userPassword" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("password"))*:</label>
                    <div class="col-sm-8">
                        <input id="userPassword" type="password" class="form-control form-control-sm" @bind="actUser.Password" />
                    </div>
                </div>
            </form>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <AuthorizeView Roles="admin">
                <Authorized>
                    <button class="btn btn-sm btn-primary" @onclick="() => ResetPassword()">@(userConfig.GetText("set"))</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("set"))</button>
                </NotAuthorized> 
            </AuthorizeView>
            <button class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

<PopUp Title="@(userConfig.GetText("remove_sample_data"))" Show="@SampleRemoveMode" OnClose="() => SampleRemoveMode = false">
    <Body>
        @if (SampleRemoveMode)
        {
            <p>@(sampleRemoveMessage)</p>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            @if (SampleRemoveAllowed)
            {
                <AuthorizeView Roles="admin">
                    <Authorized>
                        <button class="btn btn-sm btn-danger" @onclick="() => RemoveSampleData()">@(userConfig.GetText("remove"))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button class="btn btn-sm btn-danger" disabled>@(userConfig.GetText("remove"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
            }
            <button class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

<PopUp Title="@(userConfig.GetText("in_progress"))" Small="true" Show="@workInProgress">
    <Body>
        @if (workInProgress)
        {
            <div class="row">
                <div class="spinner-border mx-auto align-self-center" role="status"></div>
            </div>
        }
    </Body>
</PopUp>

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool>? DisplayMessageInUi { get; set; }

    private List<UiLdapConnection> connectedLdaps = new List<UiLdapConnection>();
    private List<UiLdapConnection> writableLdaps = new List<UiLdapConnection>();
    UiLdapConnection internalLdap = new UiLdapConnection();

    private List<UiUser> ldapUsers = new List<UiUser>();
    private List<UiUser> uiUsers = new List<UiUser>();
    private List<UiUser> sampleUsers = new List<UiUser>();
    private List<Tenant> tenants = new List<Tenant>();
    private List<Tenant> availableTenants = new List<Tenant>();
    private List<UserGroup> groups = new List<UserGroup>();
    private List<Role> roles = new List<Role>();
    private List<Role> availableRoles = new List<Role>();

    private bool EditMode = false;
    private bool DeleteMode = false;
    private bool SampleRemoveMode = false;
    private bool SampleRemoveAllowed = false;
    private bool AddMode = false;
    private bool showSampleRemoveButton = false;
    private bool ResetPasswordMode = false;

    private UiUser newUser = new UiUser();
    private UiUser actUser = new UiUser();
    private int? selectedLdapId {get; set;} = 0;
    private int? selectedTenantId = 0;
    private string? selectedRoleName = "";
    private string? selectedGroupName = "";

    private string deleteMessage = "";
    private string sampleRemoveMessage = "";
    private bool workInProgress = false;

    protected override async Task OnInitializedAsync()
    {
        if (await FetchFromDb())
            await SynchronizeGroupsAndRoles();
    }

    private async Task<bool> FetchFromDb()
    {
        try
        {
            connectedLdaps = await apiConnection.SendQueryAsync<List<UiLdapConnection>>(FWO.ApiClient.Queries.AuthQueries.getLdapConnections);
            writableLdaps = connectedLdaps.FindAll(x => x.IsWritable());
            internalLdap = connectedLdaps.FirstOrDefault(x => x.IsInternal()) ?? throw new Exception(userConfig.GetText("E5207"));

            // Get the tenants
            tenants = await apiConnection.SendQueryAsync<List<Tenant>>(FWO.ApiClient.Queries.AuthQueries.getTenants);

            // Get users from uiusers table
            RestResponse<List<UserGetReturnParameters>> middlewareServerResponse = await middlewareClient.GetUsers();
            if (middlewareServerResponse.StatusCode != HttpStatusCode.OK || middlewareServerResponse.Data == null)
            {
                DisplayMessageInUi!(null, userConfig.GetText("fetch_users_local"), userConfig.GetText("E5209"), true);
            }
            else
            {
                uiUsers = new List<UiUser>();
                sampleUsers = new List<UiUser>();
                foreach (UserGetReturnParameters apiUser in middlewareServerResponse.Data)
                {
                    UiUser user = new UiUser(apiUser);
                    user.LdapConnection = connectedLdaps.FirstOrDefault(x => x.Id == user.LdapConnection.Id) ?? throw new ArgumentNullException(nameof(user.LdapConnection.Id));
                    if(user.Tenant != null)
                    {
                        user.Tenant.Name = tenants.FirstOrDefault(x => x.Id == user.Tenant.Id)?.Name ?? throw new ArgumentNullException(nameof(user.Tenant.Id));
                    }
                    uiUsers.Add(user);
                    if (user.Name.EndsWith("_demo"))
                    {
                        sampleUsers.Add(user);
                    }
                }
            }
            showSampleRemoveButton = (sampleUsers.Count > 0);
            return true;
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("fetch_data"), "", true);
            return false;
        }
    }

    private async Task SynchronizeGroupsAndRoles()
    {
        // get groups from internal ldap
        await GetGroupsFromInternalLdap();
        SynchronizeUsersToGroups();

        // get roles from internal ldap
        await GetRolesFromInternalLdap();
        SynchronizeUsersToRoles();

        availableRoles = roles.FindAll(x => (x.Name != "anonymous" && x.Name != "middleware-server"));
    }

    private void SynchronizeUsersToGroups()
    {
        try
        {
            foreach (var user in uiUsers)
            {
                user.Groups = new List<string>();
                foreach (var group in groups)
                {
                    if (group.Users != null && group.Users.Exists(x => x.Dn == user.Dn))
                    {
                        user.Groups.Add(group.Name);
                    }
                }
            }
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("sync_users"), "", true);
        }
    }

    private void SynchronizeUsersToRoles()
    {
        try
        {
            foreach (var user in uiUsers)
            {
                user.Roles = new List<string>();
                foreach (var role in roles)
                {
                    if (role.Users != null && role.Users.Exists(x => x.Dn == user.Dn))
                    {
                        user.Roles.Add(role.Name);
                    }
                }
            }
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("sync_users"), "", true);
        }
    }

    private async Task Resynchronize()
    {
        await FetchFromDb();

        // Get all users from internal ldap
        await GetUsersFromInternalLdap();

        // Synchronize both
        await SynchronizeUsers();

        await SynchronizeGroupsAndRoles();
    }

    private async Task SynchronizeUsers()
    {
        try
        {
            foreach (var ldapUser in ldapUsers)
            {
                UiUser? relatedUiUser = uiUsers.FirstOrDefault(x => x.Dn == ldapUser.Dn);
                if (relatedUiUser != null)
                {
                    // Update related user
                    if (relatedUiUser.Email != ldapUser.Email)
                    {
                        relatedUiUser.Email = ldapUser.Email;
                        await updateUserInDb(relatedUiUser);
                    }
                }
                else
                {
                    // Add new user to UiUsers table
                    await addUserToDb(ldapUser);
                    uiUsers.Add(ldapUser);
                }
            }
            // Todo: CleanUpUser for deleted users?
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("sync_users"), "", true);
        }
    }

    private async Task GetUsersFromInternalLdap()
    {
        try
        {
            ldapUsers.Clear();

            // get users from Ldap
            LdapUserGetParameters userGetParameters = new LdapUserGetParameters { LdapId = internalLdap.Id, SearchPattern = "" };
            RestResponse<List<LdapUserGetReturnParameters>> middlewareServerResponse = await middlewareClient.GetLdapUsers(userGetParameters);
            if (middlewareServerResponse.StatusCode != HttpStatusCode.OK || middlewareServerResponse.Data == null)
            {
                DisplayMessageInUi!(null, userConfig.GetText("get_user_from_ldap"), userConfig.GetText("E5208"), true);
            }
            else
            {
                foreach (var user in middlewareServerResponse.Data)
                {
                    DistName distname = new DistName(user.UserDn);
                    UiUser newUser = new UiUser() 
                    { 
                        Dn = user.UserDn, 
                        Name = distname.UserName, 
                        Email = user.Email, 
                        PasswordMustBeChanged = false,
                        LdapConnection = internalLdap
                    };
                    string tenantName = distname.getTenant(internalLdap.TenantLevel);
                    if (tenantName != "")
                    {
                        newUser.Tenant = new Tenant(){ Name = tenantName };
                    }
                    ldapUsers.Add(newUser);
                }
            }
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("fetch_users_ldap"), "", true);
        }
    }

    private async Task GetGroupsFromInternalLdap()
    {
        try
        {
            RestResponse<List<GroupGetReturnParameters>> middlewareServerResponse = await middlewareClient.GetInternalGroups();
            if (middlewareServerResponse.StatusCode != HttpStatusCode.OK || middlewareServerResponse.Data == null)
            {
                DisplayMessageInUi!(null, userConfig.GetText("fetch_groups"), userConfig.GetText("E5231"), true);
            }
            else
            {
                foreach (var ldapUserGroup in middlewareServerResponse.Data)
                {
                    UserGroup group = new UserGroup() { Dn = ldapUserGroup.GroupDn, Name = (new DistName(ldapUserGroup.GroupDn)).Group };
                    foreach (var userDn in ldapUserGroup.Members)
                    {
                        UiUser newUser = new UiUser() { Dn = userDn, Name = (new DistName(userDn)).UserName };
                        group.Users.Add(newUser);
                    }
                    groups.Add(group);
                }
            }
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("fetch_groups"), "", true);
        }
    }

    private async Task GetRolesFromInternalLdap()
    {
        try
        {
            RestResponse<List<RoleGetReturnParameters>> middlewareServerResponse = await middlewareClient.GetAllRoles();
            if (middlewareServerResponse.StatusCode != HttpStatusCode.OK || middlewareServerResponse.Data == null)
            {
                DisplayMessageInUi!(null, userConfig.GetText("fetch_roles"), userConfig.GetText("E5251"), true);
            }
            else
            {
                foreach (var ldapRole in middlewareServerResponse.Data)
                {
                    Role role = new Role() { Dn = ldapRole.Role, Name = (new DistName(ldapRole.Role)).Role };
                    foreach (var roleAttr in ldapRole.Attributes)
                    {
                        if (roleAttr.Key == "description")
                        {
                            role.Description = roleAttr.Value;
                        }
                        else if (roleAttr.Key == "user")
                        {
                            UiUser newUser = new UiUser() { Dn = roleAttr.Value, Name = (new DistName(roleAttr.Value)).UserName };
                            role.Users.Add(newUser);
                        }
                    }
                    roles.Add(role);
                }
            }
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("fetch_roles"), "", true);
        }
    }

    private async Task updateUserInDb(UiUser user)
    {
        try
        {
            var Variables = new
            {
                id = user.DbId,
                email = user.Email
            };
            await apiConnection.SendQueryAsync<ReturnId>(FWO.ApiClient.Queries.AuthQueries.updateUserEmail, Variables);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("update_user_local"), "", false);
        }
    }

    private async Task addUserToDb(UiUser user)
    {
        try
        {
            Tenant? actTenant = tenants.FirstOrDefault(x => x.Name == user.Tenant?.Name);
            if (user.Tenant != null && actTenant != null)
            {
                user.Tenant.Id = actTenant.Id;
            }

            var Variables = new
            {
                uuid = user.Dn,
                uiuser_username = user.Name,
                email = user.Email,
                tenant = (user.Tenant != null ? user.Tenant.Id : (int?)null),
                passwordMustBeChanged = user.PasswordMustBeChanged,
                ldapConnectionId = user.LdapConnection.Id
            };
            ReturnId[]? returnIds = (await apiConnection.SendQueryAsync<NewReturning>(FWO.ApiClient.Queries.AuthQueries.addUser, Variables)).ReturnIds;
            if(returnIds != null)
            {
                user.DbId = returnIds[0].NewId;
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("add_user_local"), "", false);
        }
    }

    private void SetAvailableTenants()
    {
        try
        {
            UiLdapConnection? selectedLdap = connectedLdaps.FirstOrDefault(x => x.Id == selectedLdapId);
            availableTenants = new List<Tenant>();
            if(selectedLdap != null)
            {
                if (selectedLdap.TenantId != null && selectedLdap.TenantId != 0)
                {
                    Tenant? ten = tenants.FirstOrDefault(x => x.Id == selectedLdap.TenantId);
                    if (ten != null) availableTenants.Add(ten);
                }
                else if (selectedLdap.TenantLevel > 0)
                {
                    availableTenants = tenants;
                }
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("get_tenant_data"), "", false);
        }
    }

    private void AddUser()
    {
        try
        {
            AddMode = true;
            newUser = new UiUser(){ Email = "" };
            selectedLdapId = writableLdaps.FirstOrDefault()?.Id;
            SetAvailableTenants();
            selectedTenantId = availableTenants.FirstOrDefault()?.Id;
            selectedGroupName = null;
            newUser.Groups = new List<string>();
            selectedRoleName = null;
            newUser.Roles = new List<string>();
            Edit(newUser);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("add_user"), "", false);
        }
    }

    private void Clone(UiUser user)
    {
        try
        {
            AddMode = true;
            newUser = new UiUser(user);
            newUser.Password = "";
            selectedLdapId = (newUser.LdapConnection != null ? newUser.LdapConnection.Id : writableLdaps.FirstOrDefault()?.Id);
            SetAvailableTenants();
            selectedTenantId = newUser.Tenant?.Id;
            selectedGroupName = (newUser.Groups != null ? newUser.Groups.FirstOrDefault() : null);
            newUser.Groups = new List<string>();
            selectedRoleName = (newUser.Roles != null ? newUser.Roles.FirstOrDefault() : null);
            newUser.Roles = new List<string>();
            Edit(newUser);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("add_user"), "", false);
        }
    }

    private void Edit(UiUser user)
    {
        actUser = new UiUser(user);
        if(actUser.LdapConnection == null)
        {
            actUser.LdapConnection = new UiLdapConnection();
        }
        if (actUser.Tenant != null && actUser.Tenant.Id == 1 && actUser.LdapConnection.GlobalTenantName != null && actUser.LdapConnection.GlobalTenantName != "")
        {
            actUser.Tenant.Name = actUser.LdapConnection.GlobalTenantName;
        }
        EditMode = true;
    }

    private void SynchronizeUserData(UiUser user)
    {
        UiLdapConnection selectedLdap = connectedLdaps.FirstOrDefault(x => x.Id == selectedLdapId) ?? throw new Exception($"Ldap not found. Id: {selectedLdapId}");
        user.LdapConnection = selectedLdap;
        Tenant selectedTenant = tenants.FirstOrDefault(x => x.Id == selectedTenantId) ?? throw new Exception($"Tenant not found. Id: {selectedTenantId}");
        user.Tenant = (selectedLdap.TenantLevel > 0 ? selectedTenant : null);
        // todo: further dn specification maybe in ldapconnection?
        user.Dn = (selectedLdap.Type == (int)LdapType.ActiveDirectory ? "cn=": "uid=") + user.Name + 
            (selectedLdap.TenantLevel > 0 ? ",ou=" + (selectedTenant.Id == 1 && selectedLdap.GlobalTenantName != null && selectedLdap.GlobalTenantName != "" ? selectedLdap.GlobalTenantName : selectedTenant.Name) : "") + "," + selectedLdap.UserSearchPath;
        user.Groups = new List<string>();
        if(selectedGroupName != null)
        {
            user.Groups.Add(selectedGroupName);
        }
        user.PasswordMustBeChanged = true;
        user.Roles = new List<string>();
        if(selectedRoleName != null)
        {
            user.Roles.Add(selectedRoleName);
            if (selectedRoleName == "auditor")
            {
                user.PasswordMustBeChanged = false;
            }
        }
    }

    private async Task Save()
    {
        try
        {
            actUser.Sanitize();
            if (AddMode)
            {
                SynchronizeUserData(actUser); 

                if (CheckValues())
                {
                    // insert new user to ldap
                    UserAddParameters parameters = new UserAddParameters
                    {
                        Email = actUser.Email, 
                        LdapId = actUser.LdapConnection.Id, 
                        Password = actUser.Password, 
                        UserDn = actUser.Dn,
                        TenantId = (actUser.Tenant != null ? actUser.Tenant.Id : 0),
                        PwChangeRequired = actUser.PasswordMustBeChanged
                    };
                    RestResponse<int> middlewareServerResponse = await middlewareClient.AddUser(parameters);
                    if (middlewareServerResponse.StatusCode != HttpStatusCode.OK || middlewareServerResponse.Data == 0)
                    {
                        DisplayMessageInUi!(null, userConfig.GetText("add_user"), userConfig.GetText("E5213"), true);
                    }
                    else
                    {
                        actUser.DbId = middlewareServerResponse.Data;
                        uiUsers.Add(actUser);
                        await AddUserToGroupsInLdap(actUser);
                        await AddUserToRolesInLdap(actUser);
                        AddMode = false;
                        EditMode = false;
                    }
                }
            }
            else
            {
                // Update existing user in ldap --> currently only email
                UserEditParameters parameters = new UserEditParameters {Email = actUser.Email, LdapId = actUser.LdapConnection.Id, UserId = actUser.DbId };
                RestResponse<bool> middlewareServerResponse = await middlewareClient.UpdateUser(parameters);
                if (middlewareServerResponse.StatusCode != HttpStatusCode.OK || middlewareServerResponse.Data == false)
                {
                    DisplayMessageInUi!(null, userConfig.GetText("update_user"), userConfig.GetText("E5214"), true);
                }
                else
                {
                    uiUsers[uiUsers.FindIndex(x => x.DbId == actUser.DbId)].Email = actUser.Email;
                    EditMode = false;
                }
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("save_user"), "", true);
        }
    }

    private bool CheckValues()
    {
        string errorMsg;
        if (actUser.Name == null || actUser.Name == "" || actUser.Password == null || actUser.Password == "")
        {
            DisplayMessageInUi!(null, userConfig.GetText("add_user"), userConfig.GetText("E5211"), true);
            return false;
        }
        if (!PasswordPolicy.CheckPolicy(actUser.Password, globalConfig, userConfig, out errorMsg))
        {
            DisplayMessageInUi!(null, userConfig.GetText("add_user"), errorMsg, true);
            return false;
        }
        if (actUser.LdapConnection.TenantLevel > 0 && (actUser.Tenant == null || !tenants.Exists(x => x.Name == actUser.Tenant.Name)))
        {
            DisplayMessageInUi!(null, userConfig.GetText("add_user"), userConfig.GetText("E5212"), true);
            return false;
        }
        if (uiUsers.Exists(x => x.Dn == actUser.Dn))
        {
            DisplayMessageInUi!(null, userConfig.GetText("add_user"), userConfig.GetText("E5210"), true);
            return false;
        }
        return true;
    }

    private async Task AddUserToGroupsInLdap(UiUser user)
    {
        try
        {
            if (user.Groups != null)
            {
                foreach(string groupName in user.Groups)
                {
                    UserGroup? group = groups.FirstOrDefault(x => x.Name == groupName);
                    if (group != null)
                    {
                        GroupAddDeleteUserParameters addUserParameters = new GroupAddDeleteUserParameters { GroupDn = group.Dn, UserDn = user.Dn };
                        RestResponse<bool> middlewareServerResponse = await middlewareClient.AddUserToGroup(addUserParameters);
                        if ((middlewareServerResponse.StatusCode != HttpStatusCode.OK) || (middlewareServerResponse.Data == false))
                        {
                            DisplayMessageInUi!(null, userConfig.GetText("assign_user_to_group"), userConfig.GetText("E5242"), true);
                        }
                    }
                }
            }
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("assign_user_to_group"), "", true);
        }
    }

    private async Task AddUserToRolesInLdap(UiUser user)
    {
        try
        {
            if (user.Roles != null)
            {
                foreach(string roleName in user.Roles)
                {
                    Role? role = roles.FirstOrDefault(x => x.Name == roleName);
                    if (role != null)
                    {
                        RoleAddDeleteUserParameters parameters = new RoleAddDeleteUserParameters { Role = role.Dn, UserDn = user.Dn };
                        RestResponse<bool> middlewareServerResponse = await middlewareClient.AddUserToRole(parameters);
                        if ((middlewareServerResponse.StatusCode != HttpStatusCode.OK) || (middlewareServerResponse.Data == false))
                        {
                            DisplayMessageInUi!(null, userConfig.GetText("assign_user_group_to_role"), userConfig.GetText("E5255"), true);
                        }
                    }
                }
            }
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("assign_user_group_to_role"), "", true);
        }
    }

    private void RequestDelete(UiUser user)
    {
        try
        {
            actUser = user;
            if (actUser.Dn == userConfig.User.Dn)
            {
                DisplayMessageInUi!(null, userConfig.GetText("delete_user"), userConfig.GetText("E5215"), true);
            }
            else
            {
                deleteMessage = userConfig.GetText("U5201") + actUser.Name + "?";
                if (!actUser.isInternal())
                {
                    deleteMessage += userConfig.GetText("U5202");
                }
                DeleteMode = true;
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("delete_user"), "", true);
        }
    }

    private async Task Delete()
    {
        try
        {
            // delete user from Ldap
            UserDeleteParameters parameters = new UserDeleteParameters
            { 
                LdapId = actUser.LdapConnection.Id,
                UserId = actUser.DbId
            };
            RestResponse<bool> middlewareServerResponse = await middlewareClient.DeleteUser(parameters);
            if (middlewareServerResponse.StatusCode != HttpStatusCode.OK || middlewareServerResponse.Data == false)
            {
                DisplayMessageInUi!(null, userConfig.GetText("delete_user"), userConfig.GetText("E5216"), true);
            }
            else
            {
                uiUsers.Remove(actUser);
                DeleteMode = false;
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("delete_user"), "", true);
        }
    }

    private async Task CleanUpUser(UiUser user)
    {
        try
        {
            var Variables = new { id = user.DbId };
            int delId = (await apiConnection.SendQueryAsync<ReturnId>(FWO.ApiClient.Queries.AuthQueries.deleteUser, Variables)).DeletedId;
            if (delId == user.DbId)
            {
                uiUsers.Remove(user);
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("delete_user_local"), "", false);
        }
    }

    private void RequestResetPassword(UiUser user)
    {
        if(!(new DistName(user.Dn)).IsInternal())
        {
            DisplayMessageInUi!(null, userConfig.GetText("reset_password"), userConfig.GetText("E5217"), true);
        }
        else
        {
            actUser = user;
            actUser.Password = "";
            ResetPasswordMode = true;
        }
    }

    private async Task ResetPassword()
    {
        try
        {
            string errorMsg = "";
            if (actUser.Password == null || actUser.Password == "")
            {
                DisplayMessageInUi!(null, userConfig.GetText("reset_password"), userConfig.GetText("E5218"), true);
            }
            else if (!PasswordPolicy.CheckPolicy(actUser.Password, globalConfig, userConfig, out errorMsg))
            {
                DisplayMessageInUi!(null, userConfig.GetText("reset_password"), errorMsg, true);
            }
            else
            {
                UserResetPasswordParameters parameters = new UserResetPasswordParameters 
                { 
                    LdapId = actUser.LdapConnection.Id, 
                    NewPassword = actUser.Password, 
                    UserId = actUser.DbId
                };
                RestResponse<string> middlewareServerResponse = await middlewareClient.SetPassword(parameters);
                if (middlewareServerResponse.StatusCode != HttpStatusCode.OK)
                {
                    DisplayMessageInUi!(null, userConfig.GetText("reset_password"), userConfig.GetText("E5219"), true);
                }
                else
                {
                    if (middlewareServerResponse.Data != null)
                    {
                        errorMsg = middlewareServerResponse.Data;
                    }
                    if(errorMsg != "")
                    {
                        DisplayMessageInUi!(null, userConfig.GetText("reset_password"), errorMsg, true);
                    }
                }
                ResetPasswordMode = false;
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("reset_password"), "", true);
        }
    }

    private void RequestRemoveSampleData()
    {
        if (sampleUsers.Exists(user => user.DbId == userConfig.User.DbId))
        {
            sampleRemoveMessage = userConfig.GetText("E5220");
            SampleRemoveAllowed = false;
        }
        else
        {
            sampleRemoveMessage = userConfig.GetText("U5203");
            SampleRemoveAllowed = true;
        }
        SampleRemoveMode = true;
    }

    private async Task RemoveSampleData()
    {
        showSampleRemoveButton = false;
        SampleRemoveMode = false;
        workInProgress = true;
        foreach (var user in sampleUsers)
        {
            try
            {
                UserDeleteAllEntriesParameters parameters = new UserDeleteAllEntriesParameters { UserId = user.DbId };
                RestResponse<bool> middlewareServerResponse = await middlewareClient.RemoveUserFromAllEntries(parameters);
                if (middlewareServerResponse.StatusCode != HttpStatusCode.OK || middlewareServerResponse.Data == false)
                {
                    DisplayMessageInUi!(null, userConfig.GetText("remove_sample_data"), userConfig.GetText("E5221"), true);
                    showSampleRemoveButton = true;
                }
                else
                {
                    actUser = user;
                    await Delete();
                }
            }
            catch (System.Exception exception)
            {
                DisplayMessageInUi!(exception, userConfig.GetText("remove_sample_data"), "", false);
            }
        }
        workInProgress = false; 
    }

    private void Cancel()
    {
        AddMode = false;
        EditMode = false;
        DeleteMode = false;
        SampleRemoveMode = false;
        ResetPasswordMode = false;
    }
}
