@using FWO.Api.Client
@using FWO.Config.Api
@using FWO.Config.Api.Data
@using FWO.Ui.Services
@using System.Text.Json

@page "/settings/statematrix"
@attribute [Authorize(Roles = "admin, auditor")]

@inject ApiConnection apiConnection
@inject GlobalConfig globalConfig
@inject UserConfig userConfig

@if(InitComplete)
{
    <h3>@(userConfig.GetText("state_matrix"))</h3>
    @(userConfig.GetText("U5316"))
    <hr />
    <div class="form-group row">
        <label class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("type")):</label>
        <div class="col-sm-2">
            <select class="form-control form-control-sm" @bind="taskType">
                @foreach (TaskType type in Enum.GetValues(typeof(TaskType)))
                {
                    <option value="@type">@(Enum.GetName(typeof(TaskType), type))</option>
                }
            </select>
        </div>
        <button class="btn btn-sm btn-primary" @onclick="InitMatrix">@(userConfig.GetText("select"))</button>
    </div>

    @foreach (WorkflowPhases phase in Enum.GetValues(typeof(WorkflowPhases)))
    {
        <hr />
        <div class="form-group row">
            <input id="phase" type="checkbox" @bind="actStateMatrix.GlobalMatrix[phase].Active" />
            <label for="phase" class="col-form-label col-sm-2"><h4>@(userConfig.GetText(phase.ToString()))</h4></label>
        </div>
        @if(actStateMatrix.GlobalMatrix[phase].Active)
        {
            <h5>@(userConfig.GetText("allowed_transitions"))</h5>
            <button class="btn btn-sm btn-success" @onclick="() => AddStateToPhase(phase)">@(userConfig.GetText("add_state"))</button>

            <div class="m-2">
                <Table class="table table-bordered table-responsive vheight75 overflow-auto sticky-header" TableItem="KeyValuePair<int,List<int>>" Items="actStateMatrix.GlobalMatrix[phase].Matrix" PageSize="0" ColumnReorder="true">
                    <Column TableItem="KeyValuePair<int,List<int>>" Title="@(userConfig.GetText("action"))" Field="(x => x.Key)" Sortable="false" Filterable="false">
                        <Template>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-warning" @onclick="() => EditTargetStates(phase, context.Key)">@(userConfig.GetText("edit"))</button>
                                <button class="btn btn-sm btn-danger" @onclick="() => RemoveStateFromPhase(phase, context.Key)">@(userConfig.GetText("remove"))</button>
                            </div>
                        </Template>
                    </Column>
                    <Column TableItem="KeyValuePair<int,List<int>>" Title="@(userConfig.GetText("from_state"))" Field="@(x => x.Key)" Sortable="true" Filterable="true" >
                        <Template>
                            @statesDict.Name[context.Key]
                        </Template>
                    </Column>
                    <Column TableItem="KeyValuePair<int,List<int>>" Title="@(userConfig.GetText("to_states"))" Field="@(x => x.Key)" Sortable="false" Filterable="false">
                        <Template>
                            @TargetStateList(actStateMatrix.GlobalMatrix[phase].Matrix[context.Key])
                        </Template>
                    </Column>
                    <Column TableItem="KeyValuePair<int,List<int>>" Title="@(userConfig.GetText("derived_state"))" Field="@(x => x.Key)" Sortable="false" Filterable="false">
                        <Template>
                            @(actStateMatrix.GlobalMatrix[phase].DerivedStates.ContainsKey(context.Key) ? statesDict.Name[actStateMatrix.GlobalMatrix[phase].DerivedStates[context.Key]] : "")
                        </Template>
                    </Column>
                </Table>
            </div>
            <h5>@(userConfig.GetText("special_states"))</h5>
            <div class="form-group row">
                <label for="lowestInputState" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("lowest_input_state")):</label>
                <div class="col-sm-8">
                    <select id="selectState" class="form-control form-control-sm col-sm-2" @bind="actStateMatrix.GlobalMatrix[phase].LowestInputState">
                        @foreach (var state in states)
                        {
                            <option value="@state.Id">@(state.Name)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="lowestStartedState" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("lowest_started_state")):</label>
                <div class="col-sm-8">
                    <select id="selectState" class="form-control form-control-sm col-sm-2" @bind="actStateMatrix.GlobalMatrix[phase].LowestStartedState">
                        @foreach (var state in states)
                        {
                            <option value="@state.Id">@(state.Name)</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="lowestEndState" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("lowest_end_state")):</label>
                <div class="col-sm-8">
                    <select id="selectState" class="form-control form-control-sm col-sm-2" @bind="actStateMatrix.GlobalMatrix[phase].LowestEndState">
                        @foreach (var state in states)
                        {
                            <option value="@state.Id">@(state.Name)</option>
                        }
                    </select>
                </div>
            </div>
        }
    }
    <hr />
    <AuthorizeView Roles="admin">
        <Authorized>
            <button class="btn btn-sm btn-primary" @onclick="InitSaveMatrix" @onclick:preventDefault>@(userConfig.GetText("save"))</button>
        </Authorized>
        <NotAuthorized>
            <button class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
        </NotAuthorized> 
    </AuthorizeView>
    <br><br>

    <PopUp Title="@(userConfig.GetText("save_settings"))" Show="@SaveMatrixMode" OnClose="() => SaveMatrixMode = false">
        <Body>
            @if (SaveMatrixMode)
            {
                <p>@(userConfig.GetText("U5315"))</p>
            }
        </Body>
        <Footer>
            <div class="btn-group">
                <AuthorizeView Roles="admin">
                    <Authorized>
                        <button class="btn btn-sm btn-danger" @onclick="SaveMatrix">@(userConfig.GetText("save"))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button class="btn btn-sm btn-danger" disabled>@(userConfig.GetText("save"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
                <button class="btn btn-sm btn-secondary" @onclick="CancelSaveMatrix">@(userConfig.GetText("cancel"))</button>
            </div>
        </Footer>
    </PopUp>

    <PopUp Title="@(userConfig.GetText("edit_state") + ": " + statesDict.Name[actStateId])" Show="@EditTargetStatesMode" OnClose="() => EditTargetStatesMode = false">
        <Body>
            @if (EditTargetStatesMode)
            {
                @(userConfig.GetText("allowed_transitions"))
                <br><br>
                <button class="btn btn-sm btn-success" @onclick="AddStateToTargetStates">@(userConfig.GetText("add_state"))</button>
                <br><br>
                @foreach(var stateId in actToStateIds)
                {
                    <div class="form-group row">
                        <label for="stateName" class="col-sm-6 col-form-label col-form-label-sm">@statesDict.Name[stateId]</label>
                        <button class="btn btn-sm btn-danger" @onclick="() => DeleteStateId(stateId)">@(userConfig.GetText("remove"))</button>
                    </div>
                }
                <hr />
                @(userConfig.GetText("derived_state"))
                <br><br>
                <div class="col-sm-8">
                    <select id="selectState" class="form-control form-control-sm" @bind="actStateMatrix.GlobalMatrix[actPhase].DerivedStates[actStateId]">
                        @foreach (var state in states)
                        {
                            <option value="@state.Id">@(state.Name)</option>
                        }
                    </select>
                </div>
            }
        </Body>
        <Footer>
            <div class="btn-group">
                <button class="btn btn-sm btn-primary" @onclick="ApplyEditTargetStates">@(userConfig.GetText("ok"))</button>
            </div>
        </Footer>
    </PopUp>

    <PopUp Title="@(userConfig.GetText("select_state"))" Show="@SelectStateMode" OnClose="() => SelectStateMode = false">
        <Body>
            @if (SelectStateMode)
            {
                <div class="col-sm-8">
                    <select id="selectState" class="form-control form-control-sm" @bind="stateIdToAdd">
                        @foreach (var state in availableStates)
                        {
                            <option value="@state.Id">@(state.Name)</option>
                        }
                    </select>
                </div>
            }
        </Body>
        <Footer>
            <div class="btn-group">
                <AuthorizeView Roles="admin, requester, fw-admin">
                    <Authorized>
                        <button class="btn btn-sm btn-primary" @onclick="ApplySelection">@(userConfig.GetText("select"))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("select"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
                <button class="btn btn-sm btn-secondary" @onclick="CancelSelect">@(userConfig.GetText("cancel"))</button>
            </div>
        </Footer>
    </PopUp>
}
else
{
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool>? DisplayMessageInUi { get; set; }

    private List<RequestState> states = new List<RequestState>();
    private List<int> actToStateIds = new List<int>();
    private List<RequestState> availableStates = new List<RequestState>();
    private RequestStateDict statesDict = new RequestStateDict();

    private GlobalStateMatrix actStateMatrix = new GlobalStateMatrix();

    private int actStateId = 0;
    private int stateIdToAdd = 0;
    private WorkflowPhases actPhase = new WorkflowPhases();

    private bool SelectStateMode = false;
    private bool SaveMatrixMode = false;
    private bool EditTargetStatesMode = false;
    private TaskType taskType = TaskType.master;
    private bool InitComplete = false;

    protected override async Task OnInitializedAsync()
    {
        await RefreshStates();
        await InitMatrix();
        InitComplete = true;
    }

    private async Task RefreshStates()
    {
        try
        {
            states = await apiConnection.SendQueryAsync<List<RequestState>>(FWO.Api.Client.Queries.RequestQueries.getStates);
            statesDict = new RequestStateDict();
            await statesDict.Init(apiConnection);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }

    private async Task InitMatrix()
    {
        try
        {
            await actStateMatrix.Init(apiConnection, taskType);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }

    public string TargetStateList(List<int> statesIn)
    {
        List<string> statesOut = new List<string>();
        foreach(int state in statesIn)
        {
            statesOut.Add(statesDict.Name[state]);
        }
        return string.Join(", ", statesOut);
    }

    private void AddStateToPhase(WorkflowPhases phase)
    {
        actPhase = phase;
        availableStates = new List<RequestState>();
        foreach(var state in states.Where(x => !actStateMatrix.GlobalMatrix[actPhase].Matrix.ContainsKey(x.Id)))
        {
            availableStates.Add(state);
        }
        stateIdToAdd = (availableStates.Count > 0 ? availableStates[0].Id : 0);
        SelectStateMode = true;
    }

    private void ApplySelection()
    {
        if(EditTargetStatesMode)
        {
            actToStateIds.Add(stateIdToAdd);
        }
        else
        {
            actStateMatrix.GlobalMatrix[actPhase].Matrix.Add(stateIdToAdd, new List<int>());
            actStateMatrix.GlobalMatrix[actPhase].DerivedStates.Add(stateIdToAdd, stateIdToAdd);
        }
        SelectStateMode = false;
    }

    private void EditTargetStates(WorkflowPhases phase, int key)
    {
        actPhase = phase;
        actStateId = key;
        actToStateIds = actStateMatrix.GlobalMatrix[actPhase].Matrix[actStateId];
        EditTargetStatesMode = true;
    }
    
    private void AddStateToTargetStates()
    {
        availableStates = new List<RequestState>();
        foreach(var state in states.Where(x => !actStateMatrix.GlobalMatrix[actPhase].Matrix[actStateId].Contains(x.Id)))
        {
            availableStates.Add(state);
        }
        stateIdToAdd = (availableStates.Count > 0 ? availableStates[0].Id : 0);
        SelectStateMode = true;
    }

    private void DeleteStateId(int state)
    {
        actToStateIds.Remove(state);
    }

    private void ApplyEditTargetStates()
    {
        actStateMatrix.GlobalMatrix[actPhase].Matrix[actStateId] = actToStateIds;
        EditTargetStatesMode = false;
    }

    private void RemoveStateFromPhase(WorkflowPhases phase, int key)
    {
        actStateMatrix.GlobalMatrix[phase].Matrix.Remove(key);
        actStateMatrix.GlobalMatrix[phase].DerivedStates.Remove(key);
    }

    private void CancelSelect()
    {
        SelectStateMode = false;
    }

    private void InitSaveMatrix()
    {
        SaveMatrixMode = true;
    }

    private async Task SaveMatrix()
    {
        try
        {
            SaveMatrixMode = false;
            string matrixKey = taskType switch
            {
                TaskType.master => "reqMasterStateMatrix",
                TaskType.generic => "reqGenStateMatrix",
                TaskType.access => "reqAccStateMatrix",
                _ => throw new Exception($"Error: wrong task type:" + taskType.ToString()),
            };

            ConfigItem item = new ConfigItem 
            { 
                Key = matrixKey, 
                Value = JsonSerializer.Serialize(actStateMatrix),
                User = 0 
            };
            await apiConnection.SendQueryAsync<object>(ConfigQueries.upsertConfigItem, item);
            DisplayMessageInUi!(null, userConfig.GetText("save_settings"), userConfig.GetText("U5301"), false);             
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("save_settings"), "", true);
        }
    }
        
    private void CancelSaveMatrix()
    {
        SaveMatrixMode = false;
    }
}
