@using BlazorTable
@using System.Linq
@using System.Net
@using FWO.Api.Data
@using FWO.Api.Client
@using FWO.Config.Api
@using FWO.Middleware.Client
@using FWO.Middleware.RequestParameters
@using RestSharp

@page "/settings/tenants"
@attribute [Authorize(Roles = "admin, auditor")]

@inject ApiConnection apiConnection
@inject MiddlewareClient middlewareClient
@inject UserConfig userConfig

<h3>@(userConfig.GetText("tenants"))</h3>
@(userConfig.GetText("U5212"))
<hr />

<div class="form-group row m-0">
    <button class="btn btn-sm btn-success mr-2 mb-2 mt-2" @onclick="NewTenant">@(userConfig.GetText("add_tenant"))</button>
    @if (showCleanupButton)
    {
        <button class="btn btn-sm btn-danger m-2" @onclick="RequestRemoveSampleData">@(userConfig.GetText("remove_sample_data"))</button>
    }
</div>

<div class="mt-2">
    <Table class="table table-sm table-bordered table-responsive vheight75 overflow-auto sticky-header" TableItem="Tenant" Items="tenants" PageSize="0" ColumnReorder="true">
        <Column TableItem="Tenant" Title="@(userConfig.GetText("tenant_action"))" Field="(x => x.Id)" Sortable="false" Filterable="false">
            <Template>
                <div class="btn-group">
                    <button class="btn btn-sm btn-warning" @onclick="() => EditTenant(context)">@(userConfig.GetText("edit_tenant"))</button>
                    @if (context.Id != 1)
                    {
                        <button class="btn btn-sm btn-danger" @onclick="() => RequestDeleteTenant(context)">@(userConfig.GetText("delete_tenant"))</button>
                    }
                    else
                    {
                        <button class="btn btn-sm btn-danger" disabled>@(userConfig.GetText("U5207"))</button>
                    }
                </div>
            </Template>
        </Column>
        <Column TableItem="Tenant" Title="@(userConfig.GetText("gateway_action"))" Field="(x => x.Id)" Sortable="false" Filterable="false">
            <Template>
                @if (context.Id != 1)
                {
                    <div class="btn-group">
                        <button class="btn btn-sm btn-success" @onclick="() => AddDeviceToTenant(context)">@(userConfig.GetText("add_gateway"))</button>
                        <button class="btn btn-sm btn-danger" @onclick="() => DeleteDeviceFromTenant(context)">@(userConfig.GetText("delete_gateway"))</button>
                    </div>
                }
                else
                {
                    <label>@(userConfig.GetText("U5208"))</label>
                }

            </Template>
        </Column>
        <Column TableItem="Tenant" Title="@(userConfig.GetText("name"))" Field="@(x => x.Name)" Sortable="true" Filterable="true" />
        <Column TableItem="Tenant" Title="@(userConfig.GetText("comment"))" Field="@(x => x.Comment)" Sortable="true" Filterable="true" />
        <Column TableItem="Tenant" Title="@(userConfig.GetText("project"))" Field="@(x => x.Project)" Sortable="true" Filterable="true" />
        <Column TableItem="Tenant" Title="@(userConfig.GetText("view_all_devices"))" Field="@(x => x.ViewAllDevices)" Sortable="true" Filterable="true" >
            <Template>
                @(GlobalConfig.ShowBool(context.ViewAllDevices))
            </Template>
        </Column>
        <Column TableItem="Tenant" Title="@(userConfig.GetText("gateways"))" Field="@(x => x.TenantDevices)" Sortable="false" Filterable="false">
            <Template>
                @(context.DeviceList())
            </Template>
        </Column>
    </Table>
</div>

<PopUp Title="@(AddTenantMode ? userConfig.GetText("add_tenant"): userConfig.GetText("edit_tenant"))" Show="@EditTenantMode" Large="true" OnClose="() => EditTenantMode = false">
    <Body>
        @if (EditTenantMode)
        {
            <form>
                <div class="form-group row">
                    <label for="tenantName" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("name"))*:</label>
                    @if (AddTenantMode)
                    {                
                        <div class="col-sm-8">
                            <input id="tenantName" type="text" class="form-control form-control-sm" @bind="actTenant.Name" />
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-8">@actTenant.Name</label>
                    }
                </div>
                <div class="form-group row">
                    <label for="tenantComment" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("comment")):</label>
                    <div class="col-sm-8">
                        <input id="tenantComment" type="text" class="form-control form-control-sm" @bind="actTenant.Comment" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tenantProject" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("project")):</label>
                    <div class="col-sm-8">
                        <input id="tenantProject" type="text" class="form-control form-control-sm" @bind="actTenant.Project" />
                    </div>
                </div>
                @if (!isTenant0)
                {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="tenantViewAllDevices" type="checkbox" @bind="actTenant.ViewAllDevices">
                        <label class="form-check-label" for="tenantViewAllDevices"><small>@(userConfig.GetText("view_all_devices"))</small></label>
                    </div>
                }
            </form>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <AuthorizeView Roles="admin">
                <Authorized>
                    <button class="btn btn-sm btn-primary" @onclick="SaveTenant">@(userConfig.GetText("save"))</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
                </NotAuthorized> 
            </AuthorizeView>
            <button class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

<PopUp Title="@(userConfig.GetText("add_device_to_tenant") + ": " + actTenant.Name)" Show="@AddDeviceMode" Large="true" OnClose="() => AddDeviceMode = false">
    <Body>
        @if (AddDeviceMode)
        {
            <form class="form-inline">
                <label for="tenantDevice" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("gateways")):</label>
                <div class="col-sm-8">
                    <Dropdown Id="tenantDevice" ElementType="Device" ElementToString="@(d => d?.Name ?? "")" Elements="remainingDevices" @bind-SelectedElement="selectedDevice">
                        <ElementTemplate Context="d">
                            @(d?.Name ?? "")
                        </ElementTemplate>
                    </Dropdown>
                </div>
            </form>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <AuthorizeView Roles="admin">
                <Authorized>
                    <button class="btn btn-sm btn-success" @onclick="() => AddDevice(selectedDevice)" @onclick:preventDefault>@(userConfig.GetText("add"))</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-sm btn-success" disabled>@(userConfig.GetText("add"))</button>
                </NotAuthorized> 
            </AuthorizeView>
            <button class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

<PopUp Title="@(userConfig.GetText("delete_device_from_tenant") + ": " + actTenant.Name)" Show="@DeleteDeviceMode" OnClose="() => DeleteDeviceMode = false">
    <Body>
        @if (DeleteDeviceMode)
        {
            <form>
                <div class="form-group row">
                    <label for="tenantDeviceDel" class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("gateway")):</label>
                    <div class="col-sm-8">
                        <Dropdown Id="tenantDeviceDel" ElementType="Device" ElementToString="@(d => d?.Name ?? "")" Elements="Array.ConvertAll(actTenant.TenantDevices, d => d.VisibleDevice)" @bind-SelectedElement="selectedDevice">
                            <ElementTemplate Context="d">
                                @(d?.Name ?? "")
                            </ElementTemplate>
                        </Dropdown>
                    </div>
                </div>
            </form>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <AuthorizeView Roles="admin">
                <Authorized>
                    <button class="btn btn-sm btn-danger" @onclick="async () => await DeleteDevice(selectedDevice)" @onclick:preventDefault>@(userConfig.GetText("delete"))</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-sm btn-danger" disabled>@(userConfig.GetText("delete"))</button>
                </NotAuthorized> 
            </AuthorizeView>
            <button class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

<ConfirmDelete @bind-Display="DeleteTenantMode" PerformAction="DeleteTenant" Title="@userConfig.GetText("delete_tenant")" DeleteMessage="@deleteTenantMessage" DeleteAllowed="DeleteTenantAllowed"/>
<ConfirmDelete @bind-Display="SampleRemoveMode" PerformAction="RemoveSampleData" Title="@userConfig.GetText("remove_sample_data")" DeleteMessage="@sampleRemoveMessage" DeleteAllowed="sampleRemoveAllowed"/>
<InProgress Display="workInProgress"/>


@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    private List<Tenant> tenants = new List<Tenant>();
    private List<Tenant> sampleTenants = new List<Tenant>();
    private List<Device> devices = new List<Device>();
    private List<Device> remainingDevices = new List<Device>();
    private List<UiUser> uiUsers = new List<UiUser>();

    private Tenant actTenant = new Tenant();
    private Device selectedDevice = new Device();

    private bool isTenant0 = false;
    private bool AddTenantMode = false;
    private bool EditTenantMode = false;
    private bool DeleteTenantMode = false;
    private bool DeleteTenantAllowed= false;
    private string deleteTenantMessage = "";
    private bool AddDeviceMode = false;
    private bool DeleteDeviceMode = false;
    private bool SampleRemoveMode = false;
    private bool showCleanupButton = false;
    private bool sampleRemoveAllowed = false;
    private string sampleRemoveMessage = "";
    private bool workInProgress = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            RestResponse<List<TenantGetReturnParameters>> middlewareServerResponse = await middlewareClient.GetTenants();
            if (middlewareServerResponse.StatusCode != HttpStatusCode.OK || middlewareServerResponse.Data == null)
            {
                DisplayMessageInUi(null, userConfig.GetText("get_tenant_data"), userConfig.GetText("E5284"), true);
            }
            else
            {
                tenants = new List<Tenant>();
                foreach (TenantGetReturnParameters apiTenant in middlewareServerResponse.Data)
                {
                     tenants.Add(new Tenant(apiTenant));
                }
                AnalyseSampleTenants();
            }

            devices = await apiConnection.SendQueryAsync<List<Device>>(FWO.Api.Client.Queries.DeviceQueries.getDeviceDetails);
            uiUsers = await apiConnection.SendQueryAsync<List<UiUser>>(FWO.Api.Client.Queries.AuthQueries.getUsers);

        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("get_tenant_data"), "", true);
        }
    }

    private void AnalyseSampleTenants()
    {
        sampleTenants = new List<Tenant>();
        foreach (var tenant in tenants)
        {
            if (tenant.Name.EndsWith("_demo"))
            {
                sampleTenants.Add(tenant);
            }
        }
        showCleanupButton = (sampleTenants.Count > 0);
    }

    private void EditTenant(Tenant tenant)
    {
        actTenant = tenant;
        isTenant0 = tenant.Id == 1;
        EditTenantMode = true;
    }

    private void NewTenant()
    {
        EditTenant(new Tenant());
        AddTenantMode = true;
    }

    private async Task SaveTenant()
    {
        try
        {
            if (actTenant.Sanitize())
            {
                DisplayMessageInUi(null, userConfig.GetText("save_tenant"), userConfig.GetText("U0001"), true);
            }
            if (actTenant.Name == "")
            {
                DisplayMessageInUi(null, userConfig.GetText("save_tenant"), userConfig.GetText("E5234"), true);
            }
            else if (AddTenantMode)
            {
                if(tenants.Exists(x => x.Name == actTenant.Name))
                {
                    DisplayMessageInUi(null, userConfig.GetText("add_tenant"), userConfig.GetText("E5235"), true);
                }
                else
                {
                    // add tenant in local Ldap and db
                    RestResponse<int> middlewareServerResponse = await middlewareClient.AddTenant(actTenant.ToApiParams());
                    if (middlewareServerResponse.StatusCode != HttpStatusCode.OK || middlewareServerResponse.Data == 0)
                    {
                        DisplayMessageInUi(null, userConfig.GetText("add_tenant"), userConfig.GetText("E5281"), true);
                    }
                    else
                    {
                        actTenant.Id = middlewareServerResponse.Data;
                        tenants.Add(actTenant);
                        AddTenantMode = false;
                        EditTenantMode = false;
                    }
                }
            }
            else
            {
                // update tenant in local db
                RestResponse<bool> middlewareServerResponse = await middlewareClient.UpdateTenant(actTenant.ToApiUpdateParams());
                if (middlewareServerResponse.StatusCode != HttpStatusCode.OK || middlewareServerResponse.Data == false)
                {
                    DisplayMessageInUi(null, userConfig.GetText("edit_tenant"), userConfig.GetText("E5285"), true);
                }
                else
                {
                    EditTenantMode = false;
                }
            }
            AnalyseSampleTenants();
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("save_tenant"), "", true);
        }
    }

    private void RequestDeleteTenant(Tenant tenant)
    {
        try
        {
            actTenant = tenant;
            if (uiUsers.Exists(user => (user.Tenant != null && user.Tenant.Name == actTenant.Name)))
            {
                deleteTenantMessage = userConfig.GetText("E5283");
                DeleteTenantAllowed = false;
            }
            else
            {
                deleteTenantMessage = userConfig.GetText("U5210") + actTenant.Name + "?";
                DeleteTenantAllowed = true;
            }

            DeleteTenantMode = true;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("delete_tenant"), "", true);
        }
    }

    private async Task DeleteTenant()
    {
        try
        {
            // delete tenant from Ldap
            TenantDeleteParameters deleteTenantParameters = new TenantDeleteParameters { Name = actTenant.Name, Id = actTenant.Id};
            RestResponse<bool> middlewareServerResponse = await middlewareClient.DeleteTenant(deleteTenantParameters);
            if (middlewareServerResponse.StatusCode != HttpStatusCode.OK || middlewareServerResponse.Data == false)
            {
                DisplayMessageInUi(null, userConfig.GetText("delete_tenant"), userConfig.GetText("E5282"), true);
            }
            else
            {
                tenants.Remove(actTenant);
            }
            DeleteTenantMode = false;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("delete_tenant"), "", true);
        }
        StateHasChanged();
    }

    private void RequestRemoveSampleData()
    {
        try
        {
            if (sampleTenants.Exists(tenant => (uiUsers.Exists(user => (user.Tenant != null && user.Tenant.Name == tenant.Name)))))
            {
                sampleRemoveMessage = userConfig.GetText("E5283");
                sampleRemoveAllowed = false;
            }
            else
            {
                sampleRemoveMessage = userConfig.GetText("U5209");
                sampleRemoveAllowed = true;
            }
            SampleRemoveMode = true;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("remove_sample_data"), "", false);
        }
    }

    private async Task RemoveSampleData()
    {
        SampleRemoveMode = false;
        workInProgress = true;
        try
        {
            foreach (var tenant in sampleTenants)
            {
                actTenant = tenant;
                await DeleteTenant();
            }
            showCleanupButton = false;
            workInProgress = false; 
            StateHasChanged();
        }
        catch (System.Exception exception)
        {
            workInProgress = false; 
            DisplayMessageInUi(exception, userConfig.GetText("remove_sample_data"), "", false);
        }
    }

    private void AddDeviceToTenant(Tenant tenant)
    {
        try
        {
            actTenant = tenant;
            remainingDevices = devices.FindAll(x => !Array.Exists(actTenant.TenantDevices, y => y.VisibleDevice.Id == x.Id));
            remainingDevices.Sort((a, b) => a.Name?.CompareTo(b.Name) ?? -1);
            if(remainingDevices.Count == 0)
            {
                DisplayMessageInUi(null, userConfig.GetText("add_device_to_tenant"), userConfig.GetText("E5271"), true);
            }
            else
            {
                selectedDevice = remainingDevices.FirstOrDefault() ?? new Device();
                AddDeviceMode = true;
            }
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("add_device_to_tenant"), "", false);
        }
    }

    private void DeleteDeviceFromTenant(Tenant tenant)
    {
        try
        {
            actTenant = tenant;
            if(actTenant.TenantDevices.Length == 0)
            {
                DisplayMessageInUi(null, userConfig.GetText("delete_device_from_tenant"), userConfig.GetText("E5272"), true);
            }
            else
            {
                selectedDevice = actTenant.TenantDevices.FirstOrDefault()?.VisibleDevice ?? new Device();
                DeleteDeviceMode = true;
            }
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("delete_device_from_tenant"), "", false);
        }
    }

    private async Task AddDevice(Device device)
    {

        try
        {
            var Variables = new { tenantId = actTenant.Id, deviceId = device.Id };
            ReturnId[]? returnIds = (await apiConnection.SendQueryAsync<NewReturning>(FWO.Api.Client.Queries.AuthQueries.addDeviceToTenant, Variables)).ReturnIds;
            if (returnIds != null && returnIds[0].NewId == device.Id)
            {
                actTenant.TenantDevices = actTenant.TenantDevices.Append(new TenantDevice() { VisibleDevice = device }).ToArray();
                AddDeviceMode = false;
            }
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("add_device_to_tenant"), "", true);
        }
    }

    private async Task DeleteDevice(Device device)
    {
        int deviceId = device.Id;
        try
        {
            var Variables = new { tenantId = actTenant.Id, deviceId = deviceId };
            int delId = (await apiConnection.SendQueryAsync<ReturnId>(FWO.Api.Client.Queries.AuthQueries.deleteDeviceFromTenant, Variables)).DeletedId;
            if (delId == deviceId)
            {
                actTenant.TenantDevices = actTenant.TenantDevices.Where(x => x.VisibleDevice.Id != deviceId).ToArray();
                DeleteDeviceMode = false;
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("delete_device_from_tenant"), "", true);
        }
    }

    private void Cancel()
    {
        AddTenantMode = false;
        EditTenantMode = false;
        DeleteTenantMode = false;
        AddDeviceMode = false;
        DeleteDeviceMode = false;
        SampleRemoveMode = false;
    }
}
