@using FWO.Api.Client
@using FWO.Api.Client.Queries
@using FWO.Config.Api

@page "/settings/statedefinitions"
@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.Auditor}")]

@inject ApiConnection apiConnection
@inject GlobalConfig globalConfig
@inject UserConfig userConfig

@if(InitComplete)
{
    <div class="input-group">
        <h3>@(userConfig.GetText("available_states"))</h3>
        <HelpLink Page="settings/statedefinitions"/>
    </div>
    @(userConfig.GetText("U5313"))
    <hr />
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-success" @onclick="AddState">
            @(ModellingHandlerBase.DisplayButton(userConfig, "add_state", Icons.Add))</button>
        <button type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" title="@(userConfig.PureLine("H5532"))" @onclick="EditExtStates">
            @(ModellingHandlerBase.DisplayButton(userConfig, "ext_states", Icons.Edit, "ext_states"))</button>
    </div>
    <br><br>
    <div class="m-2 vheight75">
        <Table class="table table-bordered th-bg-secondary table-responsive overflow-auto sticky-header" TableItem="RequestState" Items="states" PageSize="0" ColumnReorder="true">
            <Column TableItem="RequestState" Title="@(userConfig.GetText("actions"))" Field="(x => x.Id)" Sortable="false" Filterable="false">
                <Template>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-warning" @onclick="() => EditState(context)">
                            @(ModellingHandlerBase.DisplayButton(userConfig, "edit", Icons.Edit))</button>
                        @if(!usedStateIds.Exists(x => x == context.Id))
                        {
                            <button type="button" class="btn btn-sm btn-danger" @onclick="() => RequestDeleteState(context)">
                                @(ModellingHandlerBase.DisplayButton(userConfig, "delete", Icons.Delete))</button>
                        }
                    </div>
                </Template>
            </Column>
            <Column TableItem="RequestState" Title="@(userConfig.GetText("id"))" Field="@(x => x.Id)" Sortable="true" Filterable="true" />
            <Column TableItem="RequestState" Title="@(userConfig.GetText("name"))" Field="@(x => x.Name)" Sortable="true" Filterable="true" />
            <Column TableItem="RequestState" Title="@(userConfig.GetText("state_actions"))" Field="@(x => x.Actions)" Sortable="false">
                <Template>
                    @(context.ActionList())
                </Template>
            </Column>
        </Table>
    </div>

    <PopUp Title="@(userConfig.GetText("edit_state"))" Show="@EditStateMode" Size=PopupSize.Large OnClose="() => EditStateMode = false">
        <Body>
            @if (EditStateMode)
            {
                <div class="form-group row">
                    <div class="col-sm-3">
                        @if(AddStateMode)
                        {
                            <input type="number" class="form-control form-control-sm" @bind="actState.Id" />
                        }
                        else
                        {
                            <label class="col-sm-2 col-form-label col-form-label-sm">@(actState.Id)</label>
                        }
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm" @bind="actState.Name" />
                    </div>
                </div>
                <br><br>
                <button type="button" class="btn btn-sm btn-success" @onclick="SelectAction">
                    @(ModellingHandlerBase.DisplayButton(userConfig, "add_action", Icons.Add, "action"))</button>
                <br><br>
                <div class="m-2 vheight75">
                    <Table class="table table-bordered th-bg-secondary table-responsive overflow-auto sticky-header" TableItem="RequestStateActionDataHelper" Items="actState.Actions" PageSize="0" ColumnReorder="true">
                        <Column TableItem="RequestStateActionDataHelper" Title="@(userConfig.GetText("actions"))" Field="(x => x.Action.Id)" Sortable="false" Filterable="false">
                            <Template>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-danger" @onclick="() => RemoveActionFromState(context)">
                                        @(ModellingHandlerBase.DisplayButton(userConfig, "remove", Icons.Delete))</button>
                                </div>
                            </Template>
                        </Column>
                        <Column TableItem="RequestStateActionDataHelper" Title="@(userConfig.GetText("id"))" Field="@(x => x.Action.Id)" Sortable="true" Filterable="true" />
                        <Column TableItem="RequestStateActionDataHelper" Title="@(userConfig.GetText("name"))" Field="@(x => x.Action.Name)" Sortable="true" Filterable="true" />
                    </Table>
                </div>
            }
        </Body>
        <Footer>
            <div class="btn-group">
                <AuthorizeView Roles="@Roles.Admin">
                    <Authorized>
                        <button type="button" class="btn btn-sm btn-primary" @onclick="SaveState">@(userConfig.GetText("save"))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button type="button" class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
                <button type="button" class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
            </div>
        </Footer>
    </PopUp>

    <ConfirmDelete @bind-Display="DeleteStateMode" PerformAction="DeleteState" Title="@userConfig.GetText("delete_state")" DeleteMessage="@(userConfig.GetText("U5501") + actState.Name + "?")"/>

    <PopUp Title="@(userConfig.GetText("select_action"))" Show="@SelectActionMode" Size=PopupSize.Small OnClose="() => SelectActionMode = false">
        <Body>
            @if (SelectActionMode)
            {
                <div class="col-sm-8">
                    <Dropdown ElementType="RequestStateAction" ElementToString="@(a => a.Name)" @bind-SelectedElement="selectedAction" Elements="actions">
                        <ElementTemplate Context="action">
                            @action.Name
                        </ElementTemplate>
                    </Dropdown>
                </div>
            }
        </Body>
        <Footer>
            <div class="btn-group">
                <AuthorizeView Roles="@Roles.Admin">
                    <Authorized>
                        @if(selectedAction != null)
                        {
                            <button type="button" class="btn btn-sm btn-primary" @onclick="AddActionToState">@(userConfig.GetText("add"))</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("add"))</button>
                        }
                    </Authorized>
                    <NotAuthorized>
                        <button type="button" class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("add"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
                <button type="button" class="btn btn-sm btn-secondary" @onclick="CancelSelect">@(userConfig.GetText("cancel"))</button>
            </div>
        </Footer>
    </PopUp>

    <EditExtStates @bind-Display="EditExtStatesMode" States="states"/>
}
else
{
    <div class="spinner-border" role="status">
        <span class="sr-only">@(userConfig.GetText("loading"))</span>
    </div>
}

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    private List<RequestState> states = [];
    private List<int> usedStateIds = [];
    private RequestStateDict statesDict = new ();
    private RequestState actState = new ();

    private List<RequestStateAction> actions = [];
    private RequestStateAction? selectedAction;

    private bool EditStateMode = false;
    private bool AddStateMode = false;
    private bool DeleteStateMode = false;
    private bool InitComplete = false;
    private bool SelectActionMode = false;
    private bool EditExtStatesMode = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            actions = await apiConnection.SendQueryAsync<List<RequestStateAction>>(RequestQueries.getActions);
            await RefreshStates();
            InitComplete = true;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }

    private async Task RefreshStates()
    {
        states = await apiConnection.SendQueryAsync<List<RequestState>>(RequestQueries.getStates);
        statesDict = new RequestStateDict();
        await statesDict.Init(apiConnection);
        await GetUsedStates();
    }

    private async Task GetUsedStates()
    {
        usedStateIds = [];
        GlobalStateMatrix tmpStateMatrix = new();
        foreach(TaskType type in Enum.GetValues(typeof(TaskType)))
        {
            await tmpStateMatrix.Init(apiConnection, type);
            foreach(var key in tmpStateMatrix.GlobalMatrix.Keys)
            {
                foreach(var stateId in tmpStateMatrix.GlobalMatrix[key].Matrix.Keys)
                {
                    usedStateIds.Add(stateId);
                    foreach(var toState in tmpStateMatrix.GlobalMatrix[key].Matrix[stateId])
                    {
                        usedStateIds.Add(toState);
                    }
                }
                foreach(var stateId in tmpStateMatrix.GlobalMatrix[key].DerivedStates.Keys)
                {
                    usedStateIds.Add(stateId);
                    usedStateIds.Add(tmpStateMatrix.GlobalMatrix[key].DerivedStates[stateId]);
                }
                usedStateIds.Add(tmpStateMatrix.GlobalMatrix[key].LowestInputState);
                usedStateIds.Add(tmpStateMatrix.GlobalMatrix[key].LowestStartedState);
                usedStateIds.Add(tmpStateMatrix.GlobalMatrix[key].LowestEndState);
            }
        }
        foreach(var action in actions)
        {
            if(action.ExternalParams != "")
            {
                if(action.ActionType == nameof(StateActionTypes.AutoPromote))
                {
                    usedStateIds.Add(Convert.ToInt32(action.ExternalParams));
                }
                else if(action.ActionType == nameof(StateActionTypes.AddApproval))
                {
                    try
                    {
                        usedStateIds.Add((System.Text.Json.JsonSerializer.Deserialize<ApprovalParams>(action.ExternalParams) ?? throw new Exception("Extparams could not be parsed.")).StateId);
                    }
                    catch(Exception)
                    {}
                }
            }
        }
    }

    private void AddState()
    {
        AddStateMode = true;
        int firstFreeId = 0;
        while (states.Find(x => x.Id == firstFreeId) != null)
        {
            firstFreeId++;
        }
        EditState(new RequestState(){ Id = firstFreeId });
    }

    private void EditState(RequestState state)
    {
        actState = state;
        EditStateMode = true;
    }

    private async Task SaveState()
    {
        try
        {
            await apiConnection.SendQueryAsync<object>(RequestQueries.upsertState, new { id = actState.Id, name = actState.Name });
            if(AddStateMode)
            {
                states.Add(actState);
                foreach(var action in actState.Actions)
                {
                    await apiConnection.SendQueryAsync<object>(RequestQueries.addStateAction, new { stateId = actState.Id, actionId = action.Action.Id });
                }
            }
            else
            {
                states[states.FindIndex(x => x.Id == actState.Id)] = actState;
            }
            EditStateMode = false;
            AddStateMode = false;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("edit_state"), "", true);
        }
    }

    private void Cancel()
    {
        EditStateMode = false;
        AddStateMode = false;
        DeleteStateMode = false;
        EditExtStatesMode = false;
    }

    private void RequestDeleteState(RequestState state)
    {
        actState = state;
        DeleteStateMode = true;
    }

    private async Task DeleteState()
    {
        try
        {
            await apiConnection.SendQueryAsync<object>(RequestQueries.deleteState, new { id = actState.Id });
            states.Remove(actState);
            DeleteStateMode = false;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("delete_state"), "", true);
        }
        StateHasChanged();
    }

    private void SelectAction()
    {
        selectedAction = actions.Count > 0 ? actions.First() : null;
        SelectActionMode = true;
    }

    private void CancelSelect()
    {
        SelectActionMode = false;
    }

    private async Task AddActionToState()
    {
        try
        {
            if(!AddStateMode)
            {
                await apiConnection.SendQueryAsync<object>(RequestQueries.addStateAction, new { stateId = actState.Id, actionId = selectedAction?.Id ?? 0});
            }
            actState.Actions.Add(new RequestStateActionDataHelper(){ Action = selectedAction ?? throw new Exception("no action selected") });
            SelectActionMode = false;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("edit_state"), "", true);
        }
    }

    private async Task RemoveActionFromState(RequestStateActionDataHelper action)
    {
        try
        {
            if(!AddStateMode)
            {
                await apiConnection.SendQueryAsync<object>(RequestQueries.removeStateAction, new { stateId = actState.Id, actionId = action.Action.Id });
            }
            actState.Actions.Remove(action);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("edit_state"), "", true);
        }
    }

    private void EditExtStates()
    {
        EditExtStatesMode = true;
    }
}
