@using FWO.Api.Client
@using FWO.Api.Data
@using FWO.Config.Api
@using System.Text.Json
@using FWO.Ui.Services
@using FWO.Middleware.Client

@page "/settings/stateactions"
@attribute [Authorize(Roles = $"{GlobalConst.kAdmin}, {GlobalConst.kAuditor}")]

@inject ApiConnection apiConnection
@inject MiddlewareClient middlewareClient
@inject GlobalConfig globalConfig
@inject UserConfig userConfig

@if(InitComplete)
{
    <h3>@(userConfig.GetText("state_actions"))</h3>
    @(userConfig.GetText("U5317"))
    <hr />
    <button type="button" class="btn btn-sm btn-success" @onclick="AddAction">@(userConfig.GetText("add_action"))</button>
    <br><br>
    <div class="m-2">
        <Table class="table table-bordered table-responsive vheight75 overflow-auto sticky-header" TableItem="RequestStateAction" Items="actions" PageSize="0" ColumnReorder="true">
            <Column TableItem="RequestStateAction" Title="@(userConfig.GetText("actions"))" Field="(x => x.Id)" Sortable="false" Filterable="false">
                <Template>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-warning" @onclick="() => EditAction(context)">@(userConfig.GetText("edit"))</button>
                        <button type="button" class="btn btn-sm btn-danger" @onclick="() => RequestDeleteAction(context)">@(userConfig.GetText("delete"))</button>
                    </div>
                </Template>
            </Column>
            <Column TableItem="RequestStateAction" Title="@(userConfig.GetText("id"))" Field="@(x => x.Id)" Sortable="true" Filterable="true" />
            <Column TableItem="RequestStateAction" Title="@(userConfig.GetText("name"))" Field="@(x => x.Name)" Sortable="true" Filterable="true" />
            <Column TableItem="RequestStateAction" Title="@(userConfig.GetText("action_type"))" Field="@(x => x.ActionType)" Sortable="true" Filterable="true" >
                <Template>
                    @(context.ActionType != "" ? userConfig.GetText(context.ActionType) : "")
                </Template>
            </Column>
            <Column TableItem="RequestStateAction" Title="@(userConfig.GetText("scope"))" Field="@(x => x.Scope)" Sortable="true" Filterable="true" >
                <Template>
                    @(context.Scope != "" ? userConfig.GetText(context.Scope) : "")
                </Template>
            </Column>
            <Column TableItem="RequestStateAction" Title="@(userConfig.GetText("task_type"))" Field="@(x => x.TaskType)" Sortable="true" Filterable="true" >
                <Template>
                    @(context.TaskType != "" ? userConfig.GetText(context.TaskType) : "")
                </Template>
            </Column>
            <Column TableItem="RequestStateAction" Title="@(userConfig.GetText("phase"))" Field="@(x => x.Phase)" Sortable="true" Filterable="true" >
                <Template>
                    @(context.Phase != "" ? userConfig.GetText(context.Phase) : "")
                </Template>
            </Column>
            <Column TableItem="RequestStateAction" Title="@(userConfig.GetText("event"))" Field="@(x => x.Event)" Sortable="true" Filterable="true" >
                <Template>
                    @(context.Event != null && context.Event != "" ? userConfig.GetText(context.Event) : "")
                </Template>
            </Column>
            <Column TableItem="RequestStateAction" Title="@(userConfig.GetText("button_text"))" Field="@(x => x.ButtonText)" Sortable="true" Filterable="true" />
            <Column TableItem="RequestStateAction" Title="@(userConfig.GetText("external_params"))" Field="@(x => x.ExternalParams)" Sortable="true" Filterable="true" />
        </Table>
    </div>

    <PopUp Title="@(userConfig.GetText("edit_action"))" Show="@EditActionMode" XLarge="true" OnClose="() => EditActionMode = false">
        <Body>
            @if (EditActionMode)
            {
                <div class="form-group row col-sm-12">
                    <div class="col-sm-2">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label col-form-label-sm">@(userConfig.GetText("id")):</label>
                            <label class="col-sm-6 col-form-label col-form-label-sm">@(actAction.Id)</label>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("name"))*:</label>
                            <input type="text" class="col-sm-9 form-control form-control-sm" @bind="actAction.Name" />
                        </div>
                    </div>
                </div>
                <div class="form-group row col-sm-12">
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("action_type"))*:</label>
                            <Dropdown ElementType="string" @bind-SelectedElement="actAction.ActionType" ElementToString="@(a => userConfig.GetText(a))" Elements="Enum.GetNames(typeof(StateActionTypes))" >
                                <ElementTemplate Context="action">
                                    @(userConfig.GetText(action))
                                </ElementTemplate>
                            </Dropdown>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("event")):</label>
                            <Dropdown ElementType="string" @bind-SelectedElement="actAction.Event" ElementToString="@(e => userConfig.GetText(e))" Elements="Enum.GetNames(typeof(StateActionEvents))" >
                                <ElementTemplate Context="eventt">
                                    @(userConfig.GetText(eventt))
                                </ElementTemplate>
                            </Dropdown>
                        </div>
                    </div>
                    @if(actAction.Event == StateActionEvents.OfferButton.ToString())
                    {
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("button_text")):</label>
                                <input type="text" class="col-sm-8 form-control form-control-sm" @bind="actAction.ButtonText" />
                            </div>
                        </div>
                    }
                </div>
                <div class="form-group row col-sm-12">
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("phase")):</label>
                            <Dropdown ElementType="string" @bind-SelectedElement="selectedPhase" ElementToString="@(p => userConfig.GetText(p))" 
                                    Elements="Enum.GetNames(typeof(WorkflowPhases))" Nullable="true" NoneSelectedText="@(userConfig.GetText("all"))" >
                                <ElementTemplate Context="phase">
                                    @(userConfig.GetText(phase))
                                </ElementTemplate>
                            </Dropdown>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("scope")):</label>
                            <Dropdown ElementType="string" @bind-SelectedElement="actAction.Scope" ElementToString="@(s => userConfig.GetText(s))" Elements="Enum.GetNames(typeof(RequestObjectScopes))" >
                                <ElementTemplate Context="scope">
                                    @(userConfig.GetText(scope))
                                </ElementTemplate>
                            </Dropdown>
                        </div>
                    </div>
                    @if(actAction.Scope == RequestObjectScopes.RequestTask.ToString() || actAction.Scope == RequestObjectScopes.ImplementationTask.ToString())
                    {
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("task_type")):</label>
                                <Dropdown ElementType="TaskType?" @bind-SelectedElement="selectedTaskType" ElementToString="@(t => userConfig.GetText(t?.ToString() ?? "undefined"))" 
                                        Elements="availableTaskTypes.Where(x => x != TaskType.master).Cast<TaskType?>()" Nullable="true" NoneSelectedText="@(userConfig.GetText("all"))">
                                    <ElementTemplate Context="type">
                                        @(userConfig.GetText(type?.ToString() ?? "undefined"))
                                    </ElementTemplate>
                                </Dropdown>
                            </div>
                        </div>
                    }
                </div>
                <div class="form-group row col-sm-12">
                    @switch (actAction.ActionType)
                    {
                        case nameof(StateActionTypes.AutoPromote):
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("to_state")):</label>
                                    <Dropdown ElementType="RequestState" ElementToString="@(s => s.Name)" @bind-SelectedElement="selectedToState" Elements="statesPlus">
                                        <ElementTemplate Context="state">
                                            @state.Name
                                        </ElementTemplate>
                                    </Dropdown>
                                </div>
                            </div>
                            break;
                        case nameof(StateActionTypes.AddApproval):
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("state"))*:</label>
                                    <div class="col-sm-8">
                                        <Dropdown ElementType="RequestState" ElementToString="@(s => s.Name)" @bind-SelectedElement="selectedState" Elements="states">
                                            <ElementTemplate Context="state">
                                                @state.Name
                                            </ElementTemplate>
                                        </Dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("group")):</label>
                                    <div class="col-sm-8">
                                        <Dropdown ElementType="UiUser" @bind-SelectedElement="selectedUserGroup" ElementToString="@(g => g.Name)" Elements="userAndGroupList" Nullable="true">
                                            <ElementTemplate Context="group">
                                                @group.Name
                                            </ElementTemplate>
                                        </Dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("deadline")):</label>
                                    <input type="number" class="col-sm-8 form-control form-control-sm" @bind="actApprovalParams.Deadline" />
                                </div>
                            </div>
                            break;
                        case nameof(StateActionTypes.SetAlert):
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("message_text")):</label>
                                    <input type="text" class="col-sm-10 form-control form-control-sm" @bind="message" />
                                </div>
                            </div>
                            break;
                        case nameof(StateActionTypes.TrafficPathAnalysis):
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("option")):</label>
                                    <Dropdown ElementType="PathAnalysisOptions" @bind-SelectedElement="actPathAnalysisParams.Option" ElementToString="@(o => userConfig.GetText(o.ToString()))" Elements="Enum.GetValues(typeof(PathAnalysisOptions)).Cast<PathAnalysisOptions>()">
                                        <ElementTemplate Context="opt">
                                            @(userConfig.GetText(opt.ToString()))
                                        </ElementTemplate>
                                    </Dropdown>
                                </div>
                            </div>
                            break;
                        case nameof(StateActionTypes.ExternalCall):
                            break;
                        default:
                            break;
                    }
                </div>
            }
        </Body>
        <Footer>
            <div class="btn-group">
                <AuthorizeView Roles="@($"{GlobalConst.kAdmin}, {GlobalConst.kFwAdmin}")">
                    <Authorized>
                        <button type="button" class="btn btn-sm btn-primary" @onclick="SaveAction">@(userConfig.GetText("save"))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button type="button" class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
                <button type="button" class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
            </div>
        </Footer>
    </PopUp>

    <ConfirmDelete @bind-Display="DeleteActionMode" PerformAction="DeleteAction" Title="@userConfig.GetText("delete_action")" DeleteMessage="@(userConfig.GetText("U5502") + actAction.Name + "?")"/>
}
else
{
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    private List<RequestStateAction> actions = new List<RequestStateAction>();
    private List<RequestState> states = new List<RequestState>();
    private List<RequestState> statesPlus = new List<RequestState>();
    private List<UiUser> userAndGroupList = new List<UiUser>();
    private List<TaskType> availableTaskTypes { get; set; } = new List<TaskType>();

    private RequestStateAction actAction = new RequestStateAction();
    private ApprovalParams actApprovalParams = new ApprovalParams();
    private int toState = -1;
    private string message = "";
    private PathAnalysisActionParams actPathAnalysisParams = new PathAnalysisActionParams();
    private string? selectedPhase;
    private TaskType? selectedTaskType;
    private RequestState selectedState = new RequestState();
    private static RequestState AutomaticState = new RequestState(){ Id = -1, Name = "automatic" };
    private RequestState selectedToState = AutomaticState;
    private UiUser? selectedUserGroup;

    private bool EditActionMode = false;
    private bool AddActionMode = false;
    private bool DeleteActionMode = false;
    private bool InitComplete = false;

    protected override async Task OnInitializedAsync()
    {
        await RefreshActions();
        InitComplete = true;
    }

    private async Task RefreshActions()
    {
        try
        {
            actions = await apiConnection.SendQueryAsync<List<RequestStateAction>>(FWO.Api.Client.Queries.RequestQueries.getActions);
            states = await apiConnection.SendQueryAsync<List<RequestState>>(FWO.Api.Client.Queries.RequestQueries.getStates);
            statesPlus = new List<RequestState>(states);
            statesPlus.Add(AutomaticState);
            availableTaskTypes = System.Text.Json.JsonSerializer.Deserialize<List<TaskType>>(userConfig.ReqAvailableTaskTypes) ?? throw new Exception("Config data could not be parsed.");
            userAndGroupList = await RoleAccess.GetRoleMembers(middlewareClient, GlobalConst.kApprover);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }

    private void AddAction()
    {
        AddActionMode = true;
        EditAction(new RequestStateAction());
    }

    private void EditAction(RequestStateAction action)
    {
        actAction = action;
        selectedPhase = actAction.Phase != "" ? actAction.Phase : null;
        if(actAction.TaskType != "")
        {
            TaskType tmpTaskType;
            Enum.TryParse<TaskType>(actAction.TaskType, out tmpTaskType);
            selectedTaskType = tmpTaskType;
        }
        else
        {
            selectedTaskType = null;
        }
        if(action.ExternalParams != "" && action.ExternalParams != "{}")
        {
            switch(action.ActionType)
            {
                case nameof(StateActionTypes.AutoPromote):
                    toState = Convert.ToInt32(action.ExternalParams);
                    break;
                case nameof(StateActionTypes.AddApproval):
                    actApprovalParams = System.Text.Json.JsonSerializer.Deserialize<ApprovalParams>(action.ExternalParams) ?? throw new Exception("Extparams could not be parsed.");
                    break;
                case nameof(StateActionTypes.SetAlert):
                    message = actAction.ExternalParams;
                    break;
                case nameof(StateActionTypes.TrafficPathAnalysis):
                    actPathAnalysisParams = System.Text.Json.JsonSerializer.Deserialize<PathAnalysisActionParams>(action.ExternalParams) ?? throw new Exception("Extparams could not be parsed.");
                    break;
                case nameof(StateActionTypes.ExternalCall):
                    break;
                default:
                    break;
            }
        }
        selectedState = states.FirstOrDefault(x => x.Id == actApprovalParams.StateId) ?? new RequestState();
        selectedToState = statesPlus.FirstOrDefault(x => x.Id == toState) ?? AutomaticState;
        selectedUserGroup = userAndGroupList.FirstOrDefault(x => x.Dn == actApprovalParams.ApproverGroup);
        EditActionMode = true;
    }

    private async Task SaveAction()
    {
        try
        {
            actAction.Phase = selectedPhase != null ? selectedPhase : "";
            actAction.TaskType = selectedTaskType?.ToString() ?? "";
            actApprovalParams.StateId = selectedState.Id;
            actApprovalParams.ApproverGroup = selectedUserGroup != null ? selectedUserGroup.Dn : "";
            switch(actAction.ActionType)
            {
                case nameof(StateActionTypes.AutoPromote):
                    actAction.ExternalParams = selectedToState.Id.ToString();
                    break;
                case nameof(StateActionTypes.AddApproval):
                    actAction.ExternalParams = JsonSerializer.Serialize(actApprovalParams);
                    break;
                case nameof(StateActionTypes.SetAlert):
                    actAction.ExternalParams = message;
                    break;
                case nameof(StateActionTypes.TrafficPathAnalysis):
                    actAction.ExternalParams = JsonSerializer.Serialize(actPathAnalysisParams);
                    break;
                case nameof(StateActionTypes.ExternalCall):
                    break;
                default:
                    break;
            }

            if(AddActionMode)
            {
                var Variables = new
                {
                    name = actAction.Name,
                    actionType = actAction.ActionType,
                    scope = actAction.Scope,
                    taskType = actAction.TaskType,
                    phase = actAction.Phase,
                    eventt = actAction.Event,
                    buttonText = actAction.ButtonText,
                    externalParameters = actAction.ExternalParams
                };
                ReturnId[]? returnIds = (await apiConnection.SendQueryAsync<NewReturning>(FWO.Api.Client.Queries.RequestQueries.newAction, Variables)).ReturnIds;
                if (returnIds == null)
                {
                    DisplayMessageInUi(null, userConfig.GetText("save_action"), userConfig.GetText("E8011"), true);
                }
                else
                {
                    actAction.Id = returnIds[0].NewId;
                    actions.Add(actAction);
                    EditActionMode = false;
                    AddActionMode = false;
                }
            }
            else
            {
                var Variables = new
                {
                    id = actAction.Id,
                    name = actAction.Name,
                    actionType = actAction.ActionType,
                    scope = actAction.Scope,
                    taskType = actAction.TaskType,
                    phase = actAction.Phase,
                    eventt = actAction.Event,
                    buttonText = actAction.ButtonText,
                    externalParameters = actAction.ExternalParams
                };
                int udId = (await apiConnection.SendQueryAsync<ReturnId>(FWO.Api.Client.Queries.RequestQueries.updateAction, Variables)).UpdatedId;
                if(udId != actAction.Id)
                {
                    DisplayMessageInUi(null, userConfig.GetText("save_action"), userConfig.GetText("E8011"), true);
                }
                else
                {
                    actions[actions.FindIndex(x => x.Id == actAction.Id)] = actAction;
                    EditActionMode = false;
                }
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("save_action"), "", true);
        }
    }

    private void Cancel()
    {
        EditActionMode = false;
        AddActionMode = false;
        DeleteActionMode = false;
    }

    private void RequestDeleteAction(RequestStateAction action)
    {
        actAction = action;
        DeleteActionMode = true;
    }

    private async Task DeleteAction()
    {
        try
        {
            await apiConnection.SendQueryAsync<object>(FWO.Api.Client.Queries.RequestQueries.deleteAction, new { id = actAction.Id });
            actions.Remove(actAction);
            DeleteActionMode = false;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("delete_action"), "", true);
        }
        StateHasChanged();
    }
}
