@using FWO.Config.Api
@using FWO.Middleware.Client
@using FWO.Ui.Services

@page "/settings/password"
@attribute [Authorize(Roles = "admin, reporter, reporter-viewall, recertifier, auditor, fw-admin, requester, approver, planner, implementer, reviewer")]

@inject GlobalConfig globalConfig
@inject UserConfig userConfig
@inject MiddlewareClient middlewareClient

<h3>@(userConfig.GetText("change_password"))</h3>
@(userConfig.GetText("U5411"))
<hr />

<form class="d-flex flex-column">
    <div class="form-group row">
        <label for="oldPw" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("old_password"))*:</label>
        <div class="col-sm-6">
            <input id="oldPw" type="password" class="form-control form-control-sm" @bind="oldPassword" />
        </div>
    </div>
    <div class="form-group row">
        <label for="oldPw" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("new_password"))*:</label>
        <div class="col-sm-6">
            <input id="oldPw" type="password" class="form-control form-control-sm" @bind="newPassword1" />
        </div>
    </div>
    <div class="form-group row">
        <label for="oldPw" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("new_password"))*:</label>
        <div class="col-sm-6">
            <input id="oldPw" type="password" class="form-control form-control-sm" @bind="newPassword2" />
        </div>
    </div>
</form>
<hr />
<AuthorizeView Roles="admin, reporter, reporter-viewall, recertifier, fw-admin, requester, approver, planner, implementer, reviewer">
    <Authorized>
        <button type="button" class="btn btn-sm btn-primary" @onclick:preventDefault="true" @onclick="ChangePassword">@(userConfig.GetText("change_password"))</button>
    </Authorized>
    <NotAuthorized>
        <button type="button" class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("change_password"))</button>
    </NotAuthorized> 
</AuthorizeView>

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    private string oldPassword = "";
    private string newPassword1 = "";
    private string newPassword2 = "";

    protected override void OnInitialized()
    {

    }

    private async Task ChangePassword()
    {
        try
        {
            string errorMsg = await (new PasswordChanger(middlewareClient)).ChangePassword(oldPassword, newPassword1, newPassword2, userConfig, globalConfig);
            if(errorMsg == "")
            {
                DisplayMessageInUi(null, userConfig.GetText("change_password"), userConfig.GetText("U5401"), false);
            }
            else
            {
                DisplayMessageInUi(null, userConfig.GetText("change_password"), errorMsg, true);
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("change_password"), "", true);
        }
    }
}
