@using FWO.ApiClient
@using FWO.Config.Api

@page "/settings/passwordpolicy"
@attribute [Authorize(Roles = "admin, auditor")]

@inject APIConnection apiConnection
@inject GlobalConfig globalConfig
@inject UserConfig userConfig

<h3>@(userConfig.GetText("password_policy"))</h3>
@(userConfig.GetText("U5312"))
<hr />

<form class="form-inline" onsubmit="return false">
    <label for="minLength" class="col-form-label col-sm-4">@(userConfig.GetText("pwMinLength")):</label>
    <div class="col-sm-1">
        <input id="minLength" type="text" class="form-control form-control-sm" @bind="minLength" />
    </div>
</form>
<form class="form-inline">
    <label for="upperCaseRequired" class="col-form-label col-sm-4">@(userConfig.GetText("pwUpperCaseRequired")):</label>
    <div class="col-sm-2">
        <input id="upperCaseRequired" type="checkbox" class="w-100" @bind="upperCaseRequired" />
    </div>
</form>
<form class="form-inline">
    <label for="lowerCaseRequired" class="col-form-label col-sm-4">@(userConfig.GetText("pwLowerCaseRequired")):</label>
    <div class="col-sm-2">
        <input id="lowerCaseRequired" type="checkbox" class="w-100" @bind="lowerCaseRequired" />
    </div>
</form>
<form class="form-inline">
    <label for="numberRequired" class="col-form-label col-sm-4">@(userConfig.GetText("pwNumberRequired")):</label>
    <div class="col-sm-2">
        <input id="numberRequired" type="checkbox" class="w-100" @bind="numberRequired" />
    </div>
</form>
<form class="form-inline">
    <label for="specialCharactersRequired" class="col-form-label col-sm-4">@(userConfig.GetText("pwSpecialCharactersRequired")):</label>
    <div class="col-sm-2">
        <input id="specialCharactersRequired" type="checkbox" class="w-100" @bind="specialCharactersRequired" />
    </div>
</form>
<hr />
<AuthorizeView Roles="admin">
    <Authorized>
        <button class="btn btn-sm btn-primary" @onclick="Save" @onclick:preventDefault>@(userConfig.GetText("save"))</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
    </NotAuthorized> 
</AuthorizeView>

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool>? DisplayMessageInUi { get; set; }
    ConfigDbAccess? config;
    int minLength = GlobalConfig.kDefaultInitMinPwdLength;
    bool upperCaseRequired = false;
    bool lowerCaseRequired = false;
    bool numberRequired = false;
    bool specialCharactersRequired = false;

    protected override void OnInitialized()
    {
        try
        {
            config = new ConfigDbAccess(apiConnection);

            GetIntSetting(ref minLength, GlobalConfig.kPwMinLength);
            GetBoolSetting(ref upperCaseRequired, GlobalConfig.kPwUpperCaseRequired);
            GetBoolSetting(ref lowerCaseRequired, GlobalConfig.kPwLowerCaseRequired);
            GetBoolSetting(ref numberRequired, GlobalConfig.kPwNumberRequired);
            GetBoolSetting(ref specialCharactersRequired, GlobalConfig.kPwSpecialCharactersRequired);
        }
        catch (KeyNotFoundException) { }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("read_config"), "", true);
        }
    }

    private void GetIntSetting(ref int value, string setting)
    {
        try
        {
            string confValue = (config != null ? config.Get<string>(setting) : "");
            value = (confValue != "" ? Int32.Parse(confValue) : value);
        }
        catch (KeyNotFoundException) { }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("read_config"), userConfig.GetText("E5302") + userConfig.GetText(setting) + ":" + value.ToString(), false);
        }
    }

    private void GetBoolSetting(ref bool value, string setting)
    {
        try
        {
            string confValue = (config != null ? config.Get<string>(setting) : "");
            value = (confValue == "True" ? true : false);
        }
        catch (KeyNotFoundException) { }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("read_config"), userConfig.GetText("E5302") + userConfig.GetText(setting) + ":" + value.ToString(), false);
        }
    }

    private async Task Save()
    {
        try
        {
            if (config != null)
            {
                await config.Set(GlobalConfig.kPwMinLength, minLength.ToString());
                await config.Set(GlobalConfig.kPwUpperCaseRequired, upperCaseRequired.ToString());
                await config.Set(GlobalConfig.kPwLowerCaseRequired, lowerCaseRequired.ToString());
                await config.Set(GlobalConfig.kPwNumberRequired, numberRequired.ToString());
                await config.Set(GlobalConfig.kPwSpecialCharactersRequired, specialCharactersRequired.ToString());
                await userConfig.ReloadDefaults(apiConnection);
                DisplayMessageInUi!(null, userConfig.GetText("change_policy"), userConfig.GetText("U5302"), false);
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("change_policy"), "", true);
        }
    }
}
