@using FWO.Basics
@using FWO.Data
@using Microsoft.AspNetCore.Components.Authorization

@inject ApiConnection apiConnection
@inject UserConfig userConfig

@page "/settings/user"

<h3>@(userConfig.GetText("user")): @(userConfig.User.Name)</h3>
<hr />

<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("email")):</label>
    <label class="col-sm-8">@user?.Email</label>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("last_login")):</label>
    <label class="col-sm-8">@user?.LastLogin</label>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("last_pw_change")):</label>
    <label class="col-sm-8">@user?.LastPasswordChange</label>
</div>
@if (showExecutionModeSelection)
{
    <div class="form-group row">
        <label for="dropdown-input-execution_mode_select" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("execution_mode")):</label>
        <div class="col-sm-4">
            <Dropdown ElementType="string" Id="execution_mode_select" SelectedElement="selectedExecutionMode"
                      SelectedElementChanged="SelectExecutionMode" ElementToString="GetExecutionModeText"
                      Elements="selectableExecutionModes">
                <ElementTemplate Context="executionMode">
                    @GetExecutionModeText(executionMode)
                </ElementTemplate>
            </Dropdown>
        </div>
    </div>
}
<hr />

<button type="button" class="btn btn-sm btn-danger">
    <NavLink class="nav-link text-white" href="/logout">
        <span class="@Icons.Logout"></span> @(userConfig.GetText("logout"))
    </NavLink>
</button>

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    UiUser? user;
    List<string> selectableExecutionModes = [];
    string selectedExecutionMode = "";
    bool showExecutionModeSelection;

    protected override async Task OnInitializedAsync()
    {
        List<UiUser> users = await apiConnection.SendQueryAsync<List<UiUser>>(AuthQueries.getUserByDbId, new { userId = userConfig.UserId });
        user = users.FirstOrDefault();
        selectableExecutionModes = ExecutionModeHelper.GetSelectableExecutionModes(userConfig.User.Roles);
        selectedExecutionMode = ExecutionModeHelper.GetSelectedExecutionMode(userConfig.User.Roles, apiConnection.GetExecutionMode());
        showExecutionModeSelection = ExecutionModeHelper.ShouldShowExecutionModeSelection(userConfig.User.Roles);
    }

    private void SelectExecutionMode(string newExecutionMode)
    {
        if (selectableExecutionModes.Contains(newExecutionMode, StringComparer.OrdinalIgnoreCase))
        {
            selectedExecutionMode = selectableExecutionModes.First(mode => mode.Equals(newExecutionMode, StringComparison.OrdinalIgnoreCase));
            apiConnection.SetExecutionMode(authenticationStateTask!.Result.User, selectedExecutionMode);
            userConfig.SetExecutionMode(selectedExecutionMode);
        }
    }

    private string GetExecutionModeText(string executionMode)
    {
        return executionMode == ExecutionModeHelper.UserRolesSelection ? userConfig.GetText("user_roles") : executionMode;
    }
}
