@using FWO.GlobalConstants
@using FWO.Api.Data

@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.Auditor}, {Roles.Modeller}")]

@inject UserConfig userConfig


<PopUp Title="@(Title)" Show="@Display" Size=PopupSize.Small OnClose="Cancel">
    <Body>
        @if (Display)
        {
            <p>@(DeleteMessage)</p>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            @if (DeleteAllowed)
            {
                @if(Enabled)
                {
                    <AuthorizeView Roles="@AllowedRoles">
                        <Authorized>
                            <button type="button" class="btn btn-sm btn-danger" @onclick="() => {PerformAction(); Display = false;}">@(Remove ? userConfig.GetText("remove") : userConfig.GetText("delete"))</button>
                        </Authorized>
                        <NotAuthorized>
                            <button type="button" class="btn btn-sm btn-danger" disabled>@(Remove ? userConfig.GetText("remove") : userConfig.GetText("delete"))</button>
                        </NotAuthorized> 
                    </AuthorizeView>
                }
                else
                {
                    <button type="button" class="btn btn-sm btn-danger" disabled>@(Remove ? userConfig.GetText("remove") : userConfig.GetText("delete"))</button>
                }
            }
            <button type="button" class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>


@code
{
    [Parameter]
    public bool Display { get; set; } = false;

    [Parameter]
    public EventCallback<bool> DisplayChanged { get; set; }

    [Parameter]
    public Func<Task> PerformAction { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string DeleteMessage { get; set; } = "";

    [Parameter]
    public bool DeleteAllowed { get; set; } = true;

    [Parameter]
    public string AllowedRoles { get; set; } = Roles.Admin;

    [Parameter]
    public bool Remove { get; set; } = false;

    [Parameter]
    public bool Enabled { get; set; } = true;


    private void Cancel()
    {
        Display = false;
        DisplayChanged.InvokeAsync(Display);
    }
}
