@using FWO.Api.Client
@using FWO.Api.Client.Queries
@using FWO.Basics
@using FWO.Data
@using FWO.Recert
@using FWO.Services
@using FWO.Ui.Pages.Settings
@using FWO.Ui.Services
@using System.Text.Json


@inject ApiConnection apiConnection
@inject GlobalConfig globalConfig
@inject UserConfig userConfig


<button type="button" class="col-sm-1 btn btn-sm btn-success" @onclick="AddNotification" @onclick:preventDefault>@(DisplayService.DisplayButton(userConfig, "add", Icons.Add))</button>

<div class="m-2 vheight75">
    <Table class="table table-bordered th-bg-secondary table-responsive overflow-auto sticky-header" TableItem="FwoNotification" Items="DisplayedNotifications" PageSize="0" ColumnReorder="true">
        <Column TableItem="FwoNotification" Title="@(userConfig.GetText("action"))" Field="(x => x.Id)" Sortable="false" Filterable="false">
            <Template>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-warning" @onclick="() => EditNotification(context)">@(DisplayService.DisplayButton(userConfig, "edit", Icons.Edit))</button>
                    <button type="button" class="btn btn-sm btn-danger" @onclick="() => RequestDeleteNotification(context)">@(DisplayService.DisplayButton(userConfig, "delete", Icons.Delete))</button>
                </div>
            </Template>
        </Column>
        <Column TableItem="FwoNotification" Title="@(userConfig.GetText("id"))" Field="@(x => x.Id)" Sortable="true" Filterable="false" />
        <Column TableItem="FwoNotification" Title="@(userConfig.GetText("notification"))" Field="@(x => x.Id)" Sortable="false" Filterable="false">
            <Template>
                @(DisplayNotification(context))
            </Template>
        </Column>
        <Column TableItem="FwoNotification" Title="@(userConfig.GetText("last_sent"))" Field="@(x => x.LastSent)" Sortable="true" Filterable="false" >
            <Template>
                @(context.LastSent)
                @if(context.LastSent != null)
                {
                    <div class="btn-group m-1">
                         <button type="button" class="btn btn-sm btn-danger" @onclick="() => ResetNotification(context)">@(DisplayService.DisplayButton(userConfig, "reset_notification", Icons.Cleanup))</button>
                    </div>
                }
            </Template>
        </Column>
    </Table>
</div>


<PopUp Title="@(userConfig.GetText(EditNotifString))" Show="@EditNotifMode" Size=PopupSize.Large OnClose="Close">
    <Body>
        @if (EditNotifMode)
        {
            <div class="form-group row" data-toggle="tooltip" title="@(userConfig.PureLine("H4109"))">
                <label class="col-form-label col-sm-3">@(userConfig.GetText("name")):</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm w-100" @bind="actNotification.Name" />
                </div>
            </div>
            @if(Enum.GetValues(typeof(NotificationChannel)).Length > 1)
            {
                <div class="form-group row" data-toggle="tooltip" title="@(userConfig.PureLine("H4101"))">
                    <label class="col-form-label col-sm-3">@(userConfig.GetText("channel")):</label>
                    <div class="col-sm-3">
                        <Dropdown ElementType="NotificationChannel" @bind-SelectedElement="actNotification.Channel" ElementToString="@(i => userConfig.GetText(i.ToString()))"
                                Elements="Enum.GetValues(typeof(NotificationChannel)).Cast<NotificationChannel>()" >
                            <ElementTemplate Context="channel">
                                @(userConfig.GetText(channel.ToString()))
                            </ElementTemplate>
                        </Dropdown>
                    </div>
                </div>
            }
            <div class="form-group row" data-toggle="tooltip" title="@(userConfig.PureLine("H4102"))">
                <label class="col-form-label col-sm-3">@(userConfig.GetText("layout")):</label>
                <div class="col-sm-3">
                    @if(OfferedLayoutOptions().Count > 1)
                    {
                        <Dropdown ElementType="NotificationLayout" @bind-SelectedElement="actNotification.Layout" ElementToString="@(i => userConfig.GetText(i.ToString()))"
                                Elements="OfferedLayoutOptions()" >
                            <ElementTemplate Context="layout">
                                @(userConfig.GetText(layout.ToString()))
                            </ElementTemplate>
                        </Dropdown>
                    }
                    else
                    {
                        @(userConfig.GetText(actNotification.Layout.ToString()))
                    }
                </div>
            </div>

            <div class="form-group row" data-toggle="tooltip" title="@(userConfig.PureLine("H4103"))">
                <label class="col-form-label col-sm-3">@(userConfig.GetText("deadline")):</label>
                <div class="col-sm-3">
                    @if(OfferedDeadlineOptions().Count > 1)
                    {
                        <Dropdown ElementType="NotificationDeadline" @bind-SelectedElement="actNotification.Deadline" ElementToString="@(i => userConfig.GetText(i.ToString()))"
                                Elements="OfferedDeadlineOptions()" >
                            <ElementTemplate Context="deadline">
                                @(userConfig.GetText(deadline.ToString()))
                            </ElementTemplate>
                        </Dropdown>
                    }
                    else
                    {
                        @(userConfig.GetText(actNotification.Deadline.ToString()))
                    }
                </div>
            </div>

            @if(actNotification.Deadline != NotificationDeadline.None)
            {
                @if(!actNotification.Deadline.IsAlwaysInPast())
                {
                    <div class="form-group row" data-toggle="tooltip" title="@(userConfig.PureLine("H4104"))">
                        <label class="col-form-label col-sm-3">@(userConfig.GetText("notif_before_deadline")):</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control form-control-sm w-100" @bind="actNotification.OffsetBeforeDeadline" />
                        </div>
                        <div class="col-sm-2">
                            <Dropdown ElementType="SchedulerInterval" @bind-SelectedElement="IntervalBeforeDeadlineSelection" ElementToString="@(i => userConfig.GetText(i.ToString()))"
                                    Elements="Enum.GetValues(typeof(SchedulerInterval)).Cast<SchedulerInterval>().Where(x => x.OfferedForRecert())" >
                                <ElementTemplate Context="interval">
                                    @(userConfig.GetText(interval.ToString()))
                                </ElementTemplate>
                            </Dropdown>
                        </div>
                    </div>
                }
                <div class="form-group row" data-toggle="tooltip" title="@(userConfig.PureLine("H4105"))">
                    <label class="col-form-label col-sm-3">@(userConfig.GetText("notif_after_deadline")):</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control form-control-sm w-100" @bind="actNotification.RepeatOffsetAfterDeadline" />
                    </div>
                    <div class="col-sm-2">
                        <Dropdown ElementType="SchedulerInterval" @bind-SelectedElement="RepeatIntervalAfterDeadlineSelection" ElementToString="@(i => userConfig.GetText(i.ToString()))"
                                Elements="Enum.GetValues(typeof(SchedulerInterval)).Cast<SchedulerInterval>().Where(x => x.OfferedForRecert())" >
                            <ElementTemplate Context="interval">
                                @(userConfig.GetText(interval.ToString()))
                            </ElementTemplate>
                        </Dropdown>
                    </div>
                    <label class="col-form-label col-sm-2">@(userConfig.GetText("initial_offset")):</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control form-control-sm w-100" @bind="actNotification.InitialOffsetAfterDeadline" />
                    </div>
                    <label class="col-form-label col-sm-2">@(userConfig.GetText("max_number")):</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control form-control-sm w-100" @bind="actNotification.RepetitionsAfterDeadline" />
                    </div>
                </div>
            }

            <div class="form-group row" data-toggle="tooltip" title="@(userConfig.PureLine("H4106"))">
                <label class="col-form-label col-sm-3">@(userConfig.GetText("email_subject")):</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm w-100" @bind="actNotification.EmailSubject" />
                </div>
            </div>

            @if(Client.IsWorkflowRecipientClient())
            {
                <WorkflowEmailRecipientEditor LabelText="@(userConfig.GetText("recipient_to"))"
                                              @bind-Recipient="actNotification.RecipientTo"
                                              @bind-AddressValue="actNotification.EmailAddressTo"
                                              TooltipText="@(userConfig.PureLine("H4107"))" />
                <WorkflowEmailRecipientEditor LabelText="@(userConfig.GetText("recipient_cc"))"
                                              @bind-Recipient="actNotification.RecipientCc"
                                              @bind-AddressValue="actNotification.EmailAddressCc"
                                              TooltipText="@(userConfig.PureLine("H4108"))"
                                              RowClass="form-group row mt-2" />
                <WorkflowEmailRecipientEditor LabelText="@(userConfig.GetText("recipient_bcc"))"
                                              @bind-Recipient="actNotification.RecipientBcc"
                                              @bind-AddressValue="actNotification.EmailAddressBcc"
                                              TooltipText="@(userConfig.PureLine("H4108a"))"
                                              RowClass="form-group row mt-2" />
            }
            else if(Client.IsModellingRecipientClient())
            {
                <div class="form-group row" data-toggle="tooltip" title="@(userConfig.PureLine("H4107"))">
                    <label class="col-form-label col-sm-3">@(userConfig.GetText("recipient_to")):</label>
                    <div class="col-sm-9">
                        <EmailRecipientSelectionEditor Selection="@ToRecipientSelection" OwnerResponsibleTypes="@activeOwnerResponsibleTypes"
                            CheckboxIdPrefix="notif_to_resp"
                            Client="@Client" />
                    </div>
                </div>

                <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H4108"))">
                    <label class="col-form-label col-sm-3">@(userConfig.GetText("recipient_cc")):</label>
                    <div class="col-sm-9">
                        <EmailRecipientSelectionEditor Selection="@CcRecipientSelection" OwnerResponsibleTypes="@activeOwnerResponsibleTypes"
                            CheckboxIdPrefix="notif_cc_resp"
                            Client="@Client" />
                    </div>
                </div>
                <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H4108a"))">
                    <label class="col-form-label col-sm-3">@(userConfig.GetText("recipient_bcc")):</label>
                    <div class="col-sm-9">
                        <EmailRecipientSelectionEditor Selection="@BccRecipientSelection" OwnerResponsibleTypes="@activeOwnerResponsibleTypes"
                            CheckboxIdPrefix="notif_bcc_resp"
                            Client="@Client" />
                    </div>
                </div>
            }
            else
            {
                <OtherEmailAddressesEditor AddressValue="@actNotification.EmailAddressTo"
                                           AddressValueChanged="@SetDirectAddressTo"
                                           TooltipText="@(userConfig.PureLine("H4107"))"
                                           LabelText="@(userConfig.GetText("recipient_to"))"
                                           RowClass="form-group row" />
                <OtherEmailAddressesEditor AddressValue="@actNotification.EmailAddressCc"
                                           AddressValueChanged="@SetDirectAddressCc"
                                           TooltipText="@(userConfig.PureLine("H4108"))"
                                           LabelText="@(userConfig.GetText("recipient_cc"))" />
                <OtherEmailAddressesEditor AddressValue="@actNotification.EmailAddressBcc"
                                           AddressValueChanged="@SetDirectAddressBcc"
                                           TooltipText="@(userConfig.PureLine("H4108a"))"
                                           LabelText="@(userConfig.GetText("recipient_bcc"))" />
            }

            <div class="form-group row mt-2" data-toggle="tooltip" title="@(userConfig.PureLine("H4107"))">
                <label class="col-form-label col-sm-3">@(userConfig.GetText("email_body")):</label>
                <div class="col-sm-9">
                    <textarea rows="4" class="form-control form-control-sm w-100" @bind="actNotification.EmailBody" />
                </div>
            </div>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <AuthorizeView Roles="@Roles.Admin">
                <Authorized>
                    <button type="button" class="btn btn-sm btn-primary" @onclick:preventDefault="true" @onclick="Save">@(DisplayService.DisplayButton(userConfig, "save", Icons.Save))</button>
                </Authorized>
                <NotAuthorized>
                    <button type="button" class="btn btn-sm btn-primary" disabled>@(DisplayService.DisplayButton(userConfig, "save", Icons.Save))</button>
                </NotAuthorized> 
            </AuthorizeView>
            <button type="button" class="btn btn-sm btn-secondary" @onclick="Close">@(DisplayService.DisplayButton(userConfig, "cancel", Icons.Cancel))</button>
        </div>
    </Footer>
</PopUp>
<ConfirmDelete @bind-Display="DeleteNotifMode" PerformAction="Delete" Title="@userConfig.GetText("delete_notification")" DeleteMessage="@(GetDeleteMessage())" />
<Confirm @bind-Display="ResetNotifMode" AllowedRoles="@Roles.Admin" Message="@(userConfig.GetText("U5601") + actNotification.Name + "?")"
    PerformAction="ResetNotification" Title="@(userConfig.GetText("reset_notification"))" />

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public NotificationClient Client { get; set; }

    [Parameter]
    public List<int>? NotificationIds { get; set; }

    [Parameter]
    public EventCallback<List<int>> NotificationIdsChanged { get; set; }

    private List<FwoNotification> Notifications = [];
    private List<FwoNotification> DisplayedNotifications =>
        NotificationIds == null
            ? Notifications
            : [.. Notifications.Where(notification => NotificationIds.Contains(notification.Id))];
    private FwoNotification actNotification = new();

    private List<string> ToAddresses = [];
    private List<string> CcAddresses = [];
    private List<string> BccAddresses = [];
    private List<OwnerResponsibleType> activeOwnerResponsibleTypes = [];
    private EmailRecipientSelection ToRecipientSelection = new();
    private EmailRecipientSelection CcRecipientSelection = new();
    private EmailRecipientSelection BccRecipientSelection = new();
    
    private bool AddNotifMode = false;
    private bool EditNotifMode = false;
    private bool DeleteNotifMode = false;
    private bool ResetNotifMode = false;
    private const string EditNotifString = "edit_notification";


    protected override async Task OnInitializedAsync()
    {
        try
        {
            Notifications = await apiConnection.SendQueryAsync<List<FwoNotification>>(NotificationQueries.getNotifications, new { client = Client.ToString() });
            activeOwnerResponsibleTypes = OrderActiveResponsibleTypes(await apiConnection.SendQueryAsync<List<OwnerResponsibleType>>(OwnerQueries.getOwnerResponsibleTypes));
            InitActNotification();
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_data"), "", false);
        }
    }

    private void InitActNotification()
    {
        actNotification = new(){ NotificationClient = Client };
        actNotification.RecipientTo = EmailRecipientOption.None;
        actNotification.RecipientCc = EmailRecipientOption.None;
        actNotification.RecipientBcc = EmailRecipientOption.None;
        ToRecipientSelection = CreateDefaultToSelection();
        CcRecipientSelection = CreateDefaultSelectionForRecipient(actNotification.RecipientCc);
        BccRecipientSelection = CreateDefaultSelectionForRecipient(actNotification.RecipientBcc);
        if(Client == NotificationClient.RuleTimer || Client == NotificationClient.AppDecomm)
        {
            actNotification.Layout = NotificationLayout.HtmlInBody;
        }
        if(OfferedDeadlineOptions().Count == 1)
        {
            actNotification.Deadline = OfferedDeadlineOptions()[0];
        }
    }

    private SchedulerInterval IntervalBeforeDeadlineSelection
    {
        get => actNotification.IntervalBeforeDeadline ?? SchedulerInterval.Weeks;
        set => actNotification.IntervalBeforeDeadline = value;
    }

    private SchedulerInterval RepeatIntervalAfterDeadlineSelection
    {
        get => actNotification.RepeatIntervalAfterDeadline ?? SchedulerInterval.Weeks;
        set => actNotification.RepeatIntervalAfterDeadline = value;
    }

    private void EditNotification(FwoNotification notification)
    {
        actNotification = new FwoNotification(notification);
        ToAddresses = EmailHelper.SplitAddresses(notification.EmailAddressTo);
        CcAddresses = EmailHelper.SplitAddresses(notification.EmailAddressCc);
        BccAddresses = EmailHelper.SplitAddresses(notification.EmailAddressBcc);
        (actNotification.RecipientTo, actNotification.EmailAddressTo) = MigrateLegacyRecipientSelection(actNotification.RecipientTo, actNotification.EmailAddressTo);
        (actNotification.RecipientCc, actNotification.EmailAddressCc) = MigrateLegacyRecipientSelection(actNotification.RecipientCc, actNotification.EmailAddressCc);
        (actNotification.RecipientBcc, actNotification.EmailAddressBcc) = MigrateLegacyRecipientSelection(actNotification.RecipientBcc, actNotification.EmailAddressBcc);
        ToRecipientSelection = ParseRecipientSelection(actNotification.RecipientTo, actNotification.EmailAddressTo, ToAddresses);
        CcRecipientSelection = ParseRecipientSelection(actNotification.RecipientCc, actNotification.EmailAddressCc, CcAddresses);
        BccRecipientSelection = ParseRecipientSelection(actNotification.RecipientBcc, actNotification.EmailAddressBcc, BccAddresses);
        EditNotifMode = true;
    }

    private void RequestDeleteNotification(FwoNotification notification)
    {
        actNotification = notification;
        DeleteNotifMode = true;
    }

    private void AddNotification()
    {
        InitActNotification();
        AddNotifMode = true;
        EditNotifMode = true;
    }

    private void ResetNotification(FwoNotification notification)
    {
        actNotification = notification;
        ResetNotifMode = true;
    }

    public string DisplayNotification(FwoNotification notification)
    {
        List<string> displayParts = [notification.Name];
        string displayedInterval = DisplayedInterval(notification);
        if (!string.IsNullOrWhiteSpace(displayedInterval))
        {
            displayParts.Add(displayedInterval);
        }
        displayParts.Add(DisplayRecipient(notification.RecipientTo, notification.EmailAddressTo));
        return string.Join(": ", displayParts);
    }

    private string DisplayRecipient(EmailRecipientOption recipientOption, string? recipientValue)
    {
        if (recipientOption == EmailRecipientOption.OtherAddresses)
        {
            return DisplayOtherAddresses(recipientValue);
        }

        if (recipientOption != EmailRecipientOption.ConfiguredResponsibles)
        {
            return userConfig.GetText(recipientOption.ToString());
        }

        EmailRecipientSelection selection = ParseRecipientSelection(recipientOption, recipientValue, []);
        List<string> selectedTypeNames = activeOwnerResponsibleTypes
            .Where(type => selection.OwnerResponsibleTypeIds.Contains(type.Id))
            .OrderBy(type => type.SortOrder)
            .ThenBy(type => type.Name, StringComparer.OrdinalIgnoreCase)
            .Select(GetOwnerResponsibleTypeDisplayName)
            .ToList();
        if (selection.OtherAddresses)
        {
            selectedTypeNames.Add(userConfig.GetText(nameof(EmailRecipientOption.OtherAddresses)));
        }
        return selectedTypeNames.Count == 0
            ? userConfig.GetText(recipientOption.ToString())
            : $"{userConfig.GetText(recipientOption.ToString())} ({string.Join(", ", selectedTypeNames)})";
    }

    private string DisplayOtherAddresses(string? recipientValue)
    {
        if (LooksLikeRecipientSelectionJson(recipientValue))
        {
            EmailRecipientSelection selection = ParseRecipientSelection(EmailRecipientOption.OtherAddresses, recipientValue, []);
            if (selection.OtherAddressList.Count > 0)
            {
                return string.Join(", ", selection.OtherAddressList);
            }
        }

        List<string> addresses = EmailHelper.SplitAddresses(recipientValue ?? "");
        return addresses.Count == 0
            ? userConfig.GetText(nameof(EmailRecipientOption.OtherAddresses))
            : string.Join(", ", addresses);
    }

    private string DisplayedInterval(FwoNotification notification)
    {
        if (notification.Deadline == NotificationDeadline.None)
        {
            return "";
        }

        if (notification.OffsetBeforeDeadline > 0 && notification.IntervalBeforeDeadline != null)
        {
            return $"{notification.OffsetBeforeDeadline} {userConfig.GetText(notification.IntervalBeforeDeadline.ToString()!)}";
        }

        if (notification.RepeatOffsetAfterDeadline > 0 && notification.RepeatIntervalAfterDeadline != null)
        {
            return $"{notification.RepeatOffsetAfterDeadline} {userConfig.GetText(notification.RepeatIntervalAfterDeadline.ToString()!)}";
        }

        return "";
    }

    private string GetDeleteMessage()
    {
        return userConfig.GetText("U4001") + DisplayNotification(actNotification);
    }

    private static List<OwnerResponsibleType> OrderActiveResponsibleTypes(IEnumerable<OwnerResponsibleType> ownerResponsibleTypes)
    {
        return ownerResponsibleTypes
            .Where(type => type.Active)
            .ToList();
    }

    private List<int> ActiveOwnerResponsibleTypeIds()
    {
        return activeOwnerResponsibleTypes.Select(type => type.Id).ToList();
    }

    private bool HasConfiguredResponsibleTypes()
    {
        return activeOwnerResponsibleTypes.Count > 0;
    }

    private EmailRecipientSelection ParseRecipientSelection(EmailRecipientOption recipientOption, string? recipientValue, List<string> legacyAddresses)
    {
        return recipientOption switch
        {
            EmailRecipientOption.ConfiguredResponsibles => EmailRecipientSelection.Parse(recipientValue, ActiveOwnerResponsibleTypeIds()),
            EmailRecipientOption.OtherAddresses => ParseOtherAddressSelection(recipientValue, legacyAddresses),
            _ => CreateDefaultSelectionForRecipient(recipientOption)
        };
    }

    private EmailRecipientSelection ParseOtherAddressSelection(string? recipientValue, List<string> legacyAddresses)
    {
        if (LooksLikeRecipientSelectionJson(recipientValue))
        {
            return EmailRecipientSelection.Parse(recipientValue, ActiveOwnerResponsibleTypeIds());
        }

        return CreateOtherAddressSelection(legacyAddresses);
    }

    private (EmailRecipientOption recipientOption, string recipientValue) MigrateLegacyRecipientSelection(EmailRecipientOption recipientOption, string recipientValue)
    {
        if (!HasConfiguredResponsibleTypes() || recipientOption == EmailRecipientOption.ConfiguredResponsibles)
        {
            return (recipientOption, recipientValue);
        }

        if (TryCreateSelectionFromLegacyRecipient(recipientOption, out EmailRecipientSelection selection))
        {
            return (EmailRecipientOption.ConfiguredResponsibles, selection.ToConfigValue(ActiveOwnerResponsibleTypeIds()));
        }
        return (recipientOption, recipientValue);
    }

    private bool TryCreateSelectionFromLegacyRecipient(EmailRecipientOption recipientOption, out EmailRecipientSelection selection)
    {
        selection = new EmailRecipientSelection();
        switch (recipientOption)
        {
            case EmailRecipientOption.OwnerMainResponsible:
                return TryCreateSelectionForActiveTypes([GlobalConst.kOwnerResponsibleTypeMain], false, out selection);
            case EmailRecipientOption.OwnerGroupOnly:
                return TryCreateSelectionForActiveTypes([GlobalConst.kOwnerResponsibleTypeSupporting], false, out selection);
            case EmailRecipientOption.AllOwnerResponsibles:
                return TryCreateSelectionForActiveTypes(ActiveOwnerResponsibleTypeIds(), false, out selection);
            case EmailRecipientOption.FallbackToMainResponsibleIfOwnerGroupEmpty:
                return TryCreateSelectionForActiveTypes([GlobalConst.kOwnerResponsibleTypeSupporting, GlobalConst.kOwnerResponsibleTypeMain], true, out selection);
            default:
                return false;
        }
    }

    private bool TryCreateSelectionForActiveTypes(IEnumerable<int> responsibleTypeIds, bool ensureAtLeastOneNotification, out EmailRecipientSelection selection)
    {
        List<int> typeIds = responsibleTypeIds.ToList();
        selection = new EmailRecipientSelection();
        if (typeIds.Count == 0 || typeIds.Any(typeId => !IsActiveResponsibleType(typeId)))
        {
            return false;
        }

        selection = new EmailRecipientSelection
        {
            None = false,
            EnsureAtLeastOneNotification = ensureAtLeastOneNotification,
            OwnerResponsibleTypeIds = typeIds
        };
        return true;
    }

    private bool IsActiveResponsibleType(int responsibleTypeId)
    {
        return activeOwnerResponsibleTypes.Any(type => type.Id == responsibleTypeId);
    }

    private EmailRecipientSelection CreateDefaultResponsibleSelection()
    {
        int? defaultTypeId = activeOwnerResponsibleTypes.FirstOrDefault(type => type.Id == GlobalConst.kOwnerResponsibleTypeMain)?.Id
            ?? activeOwnerResponsibleTypes.FirstOrDefault()?.Id;

        return new EmailRecipientSelection
        {
            None = defaultTypeId == null,
            OwnerResponsibleTypeIds = defaultTypeId == null ? [] : [(int)defaultTypeId]
        };
    }

    private EmailRecipientSelection CreateDefaultToSelection()
    {
        if (Client.IsModellingRecipientClient() && HasConfiguredResponsibleTypes())
        {
            return CreateDefaultResponsibleSelection();
        }
        if (!Client.IsModellingRecipientClient())
        {
            return CreateOtherAddressSelection([]);
        }
        return new EmailRecipientSelection();
    }

    private EmailRecipientSelection CreateDefaultSelectionForRecipient(EmailRecipientOption recipientOption)
    {
        return recipientOption switch
        {
            EmailRecipientOption.OtherAddresses => CreateOtherAddressSelection([]),
            EmailRecipientOption.ConfiguredResponsibles => CreateDefaultResponsibleSelection(),
            _ => new EmailRecipientSelection()
        };
    }

    private static EmailRecipientSelection CreateOtherAddressSelection(List<string> addresses)
    {
        return new EmailRecipientSelection
        {
            None = false,
            OtherAddresses = true,
            OtherAddressList = addresses
        };
    }

    private static bool LooksLikeRecipientSelectionJson(string? recipientValue)
    {
        return recipientValue?.TrimStart().StartsWith('{') == true;
    }

    private string GetOwnerResponsibleTypeDisplayName(OwnerResponsibleType type)
    {
        string localized = userConfig.GetText(type.Name);
        return localized == GlobalConst.kUndefinedText ? type.Name : localized;
    }

    private List<NotificationLayout> OfferedLayoutOptions()
    {
        if(Client == NotificationClient.InterfaceRequest || Client == NotificationClient.RuleTimer || Client == NotificationClient.AppDecomm)
        {
            return NotificationLayoutGroups.WithoutAttachments().ToList();
        }
        return Enum.GetValues(typeof(NotificationLayout)).Cast<NotificationLayout>().ToList();
    }

    private List<NotificationDeadline> OfferedDeadlineOptions()
    {
        return FwoNotification.OfferedDeadlineOptions(Client);
    }

    private async Task Save()
    {
        try
        {
            SyncAddresses();
            EnsureNotificationIntervals();
            if(CheckConsistency())
            {
                if(AddNotifMode)
                {
                    actNotification = await NotificationMutationHelper.AddAsync(apiConnection, Client, actNotification);
                    Notifications.Add(actNotification);
                    await AddNotificationId(actNotification.Id);
                }
                else
                {
                    actNotification = await NotificationMutationHelper.UpdateAsync(apiConnection, Client, actNotification);
                    Notifications[Notifications.FindIndex(x => x.Id == actNotification.Id)] = actNotification;
                }
                Close();
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText(EditNotifString), "", true);
        }
    }

    private void SyncAddresses()
    {
        if (Client.IsWorkflowRecipientClient())
        {
            return;
        }
        if (!Client.IsModellingRecipientClient())
        {
            actNotification.RecipientTo = string.IsNullOrWhiteSpace(actNotification.EmailAddressTo) ? EmailRecipientOption.None : EmailRecipientOption.OtherAddresses;
            actNotification.RecipientCc = string.IsNullOrWhiteSpace(actNotification.EmailAddressCc) ? EmailRecipientOption.None : EmailRecipientOption.OtherAddresses;
            actNotification.RecipientBcc = string.IsNullOrWhiteSpace(actNotification.EmailAddressBcc) ? EmailRecipientOption.None : EmailRecipientOption.OtherAddresses;
            return;
        }
        (actNotification.RecipientTo, actNotification.EmailAddressTo) = RecipientFieldsFromSelection(ToRecipientSelection, ToAddresses);
        (actNotification.RecipientCc, actNotification.EmailAddressCc) = RecipientFieldsFromSelection(CcRecipientSelection, CcAddresses);
        (actNotification.RecipientBcc, actNotification.EmailAddressBcc) = RecipientFieldsFromSelection(BccRecipientSelection, BccAddresses);
    }

    private (EmailRecipientOption recipientOption, string recipientValue) RecipientFieldsFromSelection(EmailRecipientSelection selection, List<string> legacyAddresses)
    {
        EmailRecipientSelection effectiveSelection = EffectiveSelection(selection, legacyAddresses);
        if (!HasEffectiveRecipient(effectiveSelection, []))
        {
            return (EmailRecipientOption.None, "");
        }

        string recipientValue = effectiveSelection.ToConfigValue(ActiveOwnerResponsibleTypeIds());
        return effectiveSelection.OwnerResponsibleTypeIds.Count > 0
            ? (EmailRecipientOption.ConfiguredResponsibles, recipientValue)
            : (EmailRecipientOption.OtherAddresses, recipientValue);
    }

    private static EmailRecipientSelection EffectiveSelection(EmailRecipientSelection selection, List<string> legacyAddresses)
    {
        if (selection.HasAnyRecipientOption() || legacyAddresses.Count == 0)
        {
            return selection;
        }
        return CreateOtherAddressSelection(legacyAddresses);
    }

    private static bool HasEffectiveRecipient(EmailRecipientSelection selection, List<string> legacyAddresses)
    {
        return selection.OwnerResponsibleTypeIds.Count > 0
            || selection.OtherAddresses && selection.OtherAddressList.Count > 0
            || legacyAddresses.Count > 0;
    }

    private void EnsureNotificationIntervals()
    {
        if (actNotification.OffsetBeforeDeadline != null && actNotification.IntervalBeforeDeadline == null)
        {
            actNotification.IntervalBeforeDeadline = IntervalBeforeDeadlineSelection;
        }

        if (actNotification.RepeatOffsetAfterDeadline != null && actNotification.RepeatIntervalAfterDeadline == null)
        {
            actNotification.RepeatIntervalAfterDeadline = RepeatIntervalAfterDeadlineSelection;
        }
    }

    private bool CheckConsistency()
    {
        if(actNotification.Channel == NotificationChannel.Email && actNotification.EmailSubject == "")
        {
            DisplayMessageInUi(null, userConfig.GetText(EditNotifString), userConfig.GetText("E4010"), true);
            return false;
        }
        if(Client.IsWorkflowRecipientClient() && IsWorkflowRecipientEmpty(actNotification.RecipientTo, actNotification.EmailAddressTo)
            || Client.IsModellingRecipientClient() && IsRecipientEmpty(ToRecipientSelection, ToAddresses)
            || !Client.IsWorkflowRecipientClient() && !Client.IsModellingRecipientClient() && EmailHelper.SplitAddresses(actNotification.EmailAddressTo).Count == 0)
        {
            DisplayMessageInUi(null, userConfig.GetText(EditNotifString), userConfig.GetText("E4011"), true);
            return false;
        }
        if(actNotification.Deadline != NotificationDeadline.None)
        {
            if(actNotification.OffsetBeforeDeadline == null && actNotification.RepeatOffsetAfterDeadline == null)
            {
                DisplayMessageInUi(null, userConfig.GetText(EditNotifString), userConfig.GetText("E4012"), true);
                return false;
            }
            if (actNotification.OffsetBeforeDeadline != null && actNotification.IntervalBeforeDeadline == null
                || actNotification.RepeatOffsetAfterDeadline != null && actNotification.RepeatIntervalAfterDeadline == null)
            {
                DisplayMessageInUi(null, userConfig.GetText(EditNotifString), userConfig.GetText("E4012"), true);
                return false;
            }
            if(actNotification.RepeatOffsetAfterDeadline != null && actNotification.RepetitionsAfterDeadline == null ||
                (actNotification.RepeatOffsetAfterDeadline == null && actNotification.RepetitionsAfterDeadline != null))
            {
                DisplayMessageInUi(null, userConfig.GetText(EditNotifString), userConfig.GetText("E4013"), true);
                return false;
            }
        }
        return true;
    }

    private static bool IsRecipientEmpty(EmailRecipientSelection selection, List<string> legacyAddresses)
    {
        return !HasEffectiveRecipient(selection, legacyAddresses);
    }

    private static bool IsWorkflowRecipientEmpty(EmailRecipientOption recipientOption, string addresses)
    {
        return recipientOption == EmailRecipientOption.None
            || recipientOption == EmailRecipientOption.OtherAddresses && EmailHelper.SplitAddresses(addresses).Count == 0;
    }

    private Task SetDirectAddressTo(string addresses)
    {
        actNotification.EmailAddressTo = addresses;
        return Task.CompletedTask;
    }

    private Task SetDirectAddressCc(string addresses)
    {
        actNotification.EmailAddressCc = addresses;
        return Task.CompletedTask;
    }

    private Task SetDirectAddressBcc(string addresses)
    {
        actNotification.EmailAddressBcc = addresses;
        return Task.CompletedTask;
    }

    private async Task Delete()
    {
        int notificationId = actNotification.Id;
        bool removedReference = false;
        try
        {
            await RemoveNotificationId(notificationId);
            removedReference = true;
            await NotificationMutationHelper.DeleteAsync(apiConnection, notificationId);
            Notifications.Remove(actNotification);
            DeleteNotifMode = false;
            StateHasChanged();
        }
        catch (Exception exception)
        {
            if (removedReference)
            {
                await AddNotificationId(notificationId);
            }
            DisplayMessageInUi(exception, userConfig.GetText("delete_notification"), "", true);
        }
    }

    private async Task ResetNotification()
    {
        try
        {
            DateTime? lastSent = null;
            var Variables = new 
            {
                ids = actNotification.Id,
                lastSent = lastSent
            }; 
            int updatedNotifications = (await apiConnection.SendQueryAsync<ReturnId>(NotificationQueries.updateNotificationsLastSent, Variables)).AffectedRows;
            if(updatedNotifications > 0)
            {
                actNotification.LastSent = null;
            }
            ResetNotifMode = false;
            StateHasChanged();
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("reset_notification"), "", true);
        }
    }

    private void Close()
    {
        ToAddresses = [];
        CcAddresses = [];
        BccAddresses = [];
        AddNotifMode = false;
        EditNotifMode = false;
        DeleteNotifMode = false;
        ResetNotifMode = false;
    }

    private async Task AddNotificationId(int notificationId)
    {
        if (NotificationIds == null || NotificationIds.Contains(notificationId))
        {
            return;
        }
        NotificationIds.Add(notificationId);
        await NotificationIdsChanged.InvokeAsync(NotificationIds);
    }

    private async Task RemoveNotificationId(int notificationId)
    {
        if (NotificationIds == null)
        {
            return;
        }
        NotificationIds.Remove(notificationId);
        await NotificationIdsChanged.InvokeAsync(NotificationIds);
    }
}
