@inject UserConfig userConfig

<PopUp Title="@userConfig.GetText("import")" Show="true" Size=PopupSize.Small OnClose="Close">
    <Body>        
        <InputFile OnChange="@SingleUpload"  />
        @if (ShowAlert)
        {
            <div class="alert alert-warning mt-2" role="alert">
                <span>@userConfig.GetText("E7014")</span>
            </div>
        }
    </Body>
    <Footer>
        <button type="button" class="btn btn-sm btn-primary" @onclick="Close">@(userConfig.GetText("save"))</button>
        <button type="button" class="btn btn-sm btn-secondary" @onclick="Close">@(userConfig.GetText("cancel"))</button>
    </Footer>
</PopUp>

@code {
    [Parameter]
    public EventCallback OnClose { get; set; }

    private bool ShowAlert { get; set; }

    private async Task SingleUpload(InputFileChangeEventArgs e)
    {
        ShowAlert = false;

        if (!e.File.Name.EndsWith(".csv"))
        {
            ShowAlert = true;
            return;
        }

        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        byte[]? bytes = ms.ToArray();

        string result = System.Text.Encoding.UTF8.GetString(bytes);
    }

    private async void Close()
    {
        await OnClose.InvokeAsync();
    }
}
