@using FWO.Api.Data
@using FWO.Ui.Data
@inject UserConfig userConfig


<div class="row">
    <div class="col-sm-8">
        <InputFile OnChange="@SingleUpload" />
        <button type="button" disabled="@ImportDisabled" class="btn btn-sm btn-primary mt-2 w-100" @onclick="LoadCSV">
            @(ModellingHandlerBase.DisplayButton(userConfig, "import", Icons.Import))
            <span class="ms-1">@(userConfig.GetText("import"))</span>
        </button>
    </div>
</div>
@if (ShowAlert)
{
    <div class="alert alert-warning mt-2" role="alert">
        <span>@userConfig.GetText("E7014")</span>
    </div>
}

@code {
    private bool ShowAlert { get; set; }
    InputFileChangeEventArgs? InputFileChangeEventArgs;

    private bool ImportDisabled { get; set; } = true;

    private void SingleUpload(InputFileChangeEventArgs e)
    {
        ImportDisabled = true;
        InputFileChangeEventArgs = e;
        ShowAlert = false;

        if (InputFileChangeEventArgs.FileCount == 0)
            return;

        if (!e.File.Name.EndsWith(".csv"))
        {
            ShowAlert = true;
            return;
        }

        ImportDisabled = false;
    }

    private async Task LoadCSV()
    {
        if (ImportDisabled || InputFileChangeEventArgs is null)
            return;

        using MemoryStream ms = new MemoryStream();
        await InputFileChangeEventArgs.File.OpenReadStream().CopyToAsync(ms);
        byte[]? bytes = ms.ToArray();

        string text = System.Text.Encoding.UTF8.GetString(bytes);
        string[] lines = text.Split('\r');

        foreach (string tmpLine in lines)
        {
            string line = tmpLine;

            if (line.StartsWith("\n"))
                line = line.Remove(0, 1);

            if (IsHeader(line))
                continue;

            string[] entries = line.Split(';');

            if (entries.Length < 3)
                continue;

            CSVInterfaceImportModel interfaceImport = new()
                {
                    AppID = entries[0],
                    AppServerTyp = entries[1],
                    AppIPRange = entries[2]
                };
        }
    }

    private bool IsHeader(string lineText)
    {
        string[] columns = lineText.Split(";");

        return (columns.Length == 3 
            && columns[0] == "External App-ID" 
            && columns[1] == "App-Server-Typ" 
            && columns[2] == "App-IP-Address-Range" );
    }
}
