@inject ApiConnection apiConnection
@inject UserConfig userConfig

<PopUp Title="@(userConfig.GetText("rollback_import") + ": " + ManagementId)" Show="@RollbackMode" Size=PopupSize.Small OnClose="() => RollbackMode = false">
    <Body>
        @if (RollbackMode)
        {
            if (LastIncompleteImport != null && LastIncompleteImport.Length > 0)
            {
                <p>@(userConfig.GetText("U5104") + (LastIncompleteImport[0].StartTime != null ? Math.Round(((TimeSpan)(DateTime.Now - LastIncompleteImport[0].StartTime!)).TotalMinutes).ToString() : "?") + userConfig.GetText("U5105"))</p>
            }
            else
            {
                <p>@(userConfig.GetText("U5106"))</p>
            }
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Importer}")" Context="xxx">
                <Authorized>
                    <button type="button" class="btn btn-sm btn-danger" @onclick="async () => { await Rollback(); RollbackMode = false; await Closing.InvokeAsync(RollbackMode); }">@(userConfig.GetText("rollback"))</button>
                </Authorized>
                <NotAuthorized>
                    <button type="button" class="btn btn-sm btn-danger" disabled>@(userConfig.GetText("rollback"))</button>
                </NotAuthorized> 
            </AuthorizeView>
            <button type="button" class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>
<InProgress Display="workInProgress"/>


@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public int ManagementId { get; set; }

    [Parameter]
    public ImportControl[]? LastIncompleteImport { get; set; }

    [Parameter]
    public bool RollbackMode { get; set; }
   
    [Parameter]
    public EventCallback<bool> RollbackModeChanged { get; set; }
    
    [Parameter]
    public EventCallback<bool> Closing { get; set; }

    private bool workInProgress = false;

    private void Cancel()
    {
        RollbackMode = false;
        Closing.InvokeAsync(RollbackMode);
    }

    private async Task Rollback()
    {
        try
        {
            RollbackMode = false;
            workInProgress = false;
            var variablesGetLastImportId = new { mgmId = ManagementId };

            List<ImportControl> importList = await apiConnection.SendQueryAsync<List<ImportControl>>(FWO.Api.Client.Queries.DeviceQueries.getLastImport, variablesGetLastImportId);
            if (importList.Count != 1)
            {
                // TODO: add a check if the python import for this mgmt is still running
                workInProgress = false;
                DisplayMessageInUi(null, userConfig.GetText("not_imported_yet"), userConfig.GetText("U51XX"), false);
                return;
            }
            else
            {
                long? lastImportId = importList[0].ControlId;
                if (lastImportId != null)
                {
                    try
                    {
                        RollbackMode = false;
                        workInProgress = false;
                        var variablesRollback = new { mgmId = ManagementId, lastImportId = lastImportId };
                        var ReturnId = await apiConnection.SendQueryAsync<ReturnId>(FWO.Api.Client.Queries.DeviceQueries.rollbackLastImport, variablesRollback);
                        // int affectedRows = (await apiConnection.SendQueryAsync<ReturnId>(FWO.Api.Client.Queries.DeviceQueries.rollbackLastImport, variablesRollback)).AffectedRows;
                        
                        // TODO: the following needs to be adopted
                        // need to look into each part of the mutation and sum up the affected rows?!
                        // or better limit this to affected_rows of delete_import_control

                        /* {
                            "data": {
                                "delete_rule": { "affected_rows": 0 },
                                ...
                                "update_rule_user_resolved": { "affected_rows": 0 },
                                "delete_import_control": { "affected_rows": 0 }
                            }
                        } */
                        // if (affectedRows > 0)
                        // {
                        Log.WriteDebug("Delete Import", $"rolled back last import (id={lastImportId}) of mangement with ID {ManagementId}");
                        workInProgress = false;
                        DisplayMessageInUi(null, userConfig.GetText("rollback_import"), userConfig.GetText("U5107"), false);
                        // }
                        // else
                        // {
                        //     workInProgress = false;
                        //     DisplayMessageInUi(null, userConfig.GetText("rollback_import"), userConfig.GetText("U5106"), false);
                        // }
                    }
                    catch (System.Exception exception)
                    {
                        workInProgress = false;
                        DisplayMessageInUi(exception, userConfig.GetText("rollback_import"), "", true);
                    }

                }
            }
        }
        catch (System.Exception exception)
        {
            workInProgress = false;
            DisplayMessageInUi(exception, userConfig.GetText("rollback_import"), "", true);
        }

    }
}
