@using BlazorTable
@using FWO.Config.Api
@using FWO.Api.Data
@using FWO.Report


@inject UserConfig userConfig
@inject IJSRuntime jsRuntime
@inject NavigationManager NavigationManager

@typeparam InputDataType

@if(Content != null && InitialContent != null)
{
    // InitialContent may be overwritten with data of different rule when rerendering RSB Rule tab objgroups after unselecting a rule
    if (typeof(InputDataType) == typeof(Rule))
    {
        Content = InitialContent;
    }
    <Collapse Title="@(NameExtractor != null ? NameExtractor(Content) : "")" UseHtmlTitle="@(Tab == RsbTab.rule)" Style="@("primary")" StartToggled="StartCollapsed">
        <TitleWithHtml>
            @if (typeof(InputDataType) == typeof(Rule))
            {
                Rule rule = (Rule)(Object)Content;
                @($"{rule.DeviceName} - Rule ")
                if (rule.Uid != null)
                {
                    if (rule.Uid.Length > 5)
                    {
                        string shortId = rule.Uid.Substring(rule.Uid.Length - 5, 5);
                        <Tooltip Text="@rule.Uid">@($"..{shortId} ")</Tooltip>
                    }
                    else
                    {
                        @($"{rule.Uid} ")
                    }
                }
                @rule.Name
            }
        </TitleWithHtml>
        <ChildContent>
            @if(NetworkObjectExtractor != null)
            {
                <Collapse Title="@(userConfig.GetText("network_objects"))" StartToggled="StartCollapsed"  OnOpen="() => HandleUncollapse(ObjCategory.nobj)">
                    <Table style="font-size:small" class="table table-bordered table-sm table-responsive" TableItem="NetworkObject" Items="@NetworkObjectExtractor(Content)" PageSize="PageSize" ColumnReorder="true">
                        <Column TableItem="NetworkObject" Title="@(userConfig.GetText("name"))" Field="@(x => x.Name)" Class="word-break">
                            <Template>
                                <span class="@ReportBase.GetIconClass(ObjCategory.nobj, context.Type.Name)">&nbsp;</span>
                                <b id="@(GetID(ObjCategory.nobj, context.Id))">@(context.Name)</b>
                            </Template>
                        </Column>
                        <DetailTemplate TableItem="NetworkObject">
                            <Detail Title="@(userConfig.GetText("type"))" Data=@context.Type.Name />
                            <Detail Title="@(userConfig.GetText("uid"))" Data=@context.Uid />
                            <Detail Title="@(userConfig.GetText("ip"))" Data=@(context.IP + (context.IpEnd != null && context.IpEnd != "" && context.IpEnd != context.IP ? "-" + context.IpEnd : "")) />
                            <Detail Title="@(userConfig.GetText("zone"))" Data=@context.Zone?.Name />
                            @if (context.Type.Name == "group" && context.ObjectGroups != null && context.ObjectGroupFlats != null)
                            {
                                <ContentSwap Title1="@(userConfig.GetText("group_members"))" Title2="@(userConfig.GetText("group_members_flat"))">
                                    <Content1>
                                        @foreach (Group<NetworkObject> member in context.ObjectGroups)
                                        {
                                            if(member.Object != null)
                                            {
                                                @AddLinkToObject(ObjCategory.nobj, member.Object.Id, member.Object.Type.Name, member.Object.Name)
                                                <br>
                                            }
                                        }
                                    </Content1>
                                    <Content2>
                                        @{ List<long> shownMemberIds = new List<long>(); }
                                        @foreach (GroupFlat<NetworkObject> member in context.ObjectGroupFlats)
                                        {
                                            if(member.Object != null)
                                            {
                                                if (member.Object.Type.Name == "group" || shownMemberIds.Contains(member.Object.Id))
                                                    continue;
                                                shownMemberIds.Add(member.Object.Id);

                                                @AddLinkToObject(ObjCategory.nobj, member.Object.Id, member.Object.Type.Name, member.Object.Name)
                                                <br>
                                            }
                                        }
                                    </Content2>
                                </ContentSwap>
                            }
                            <Detail Title="@(userConfig.GetText("last_changed"))" Data=@context.CreateTime.Time.ToString() />
                            <Detail Title="@(userConfig.GetText("comment"))" Data=@context.Comment />
                        </DetailTemplate>
                    </Table>
                </Collapse>
            }
            @if(NetworkServiceExtractor != null)
            {
                <Collapse Title="@(userConfig.GetText("services"))" StartToggled="StartCollapsed" OnOpen="() => HandleUncollapse(ObjCategory.nsrv)">
                    <Table style="font-size:small" class="table table-bordered table-sm table-responsive" TableItem="NetworkService" Items="@NetworkServiceExtractor(Content)" PageSize="PageSize" ColumnReorder="true">
                        <Column TableItem="NetworkService" Title="@(userConfig.GetText("name"))" Field="@(x => x.Name)" Class="word-break">
                            <Template>
                                <span class="@ReportBase.GetIconClass(ObjCategory.nsrv, context.Type.Name)">&nbsp;</span>
                                <b id="@(GetID(ObjCategory.nsrv, context.Id))">@(context.Name)</b>
                            </Template>
                        </Column>
                        <DetailTemplate TableItem="NetworkService">
                            <Detail Title="@(userConfig.GetText("type"))" Data=@context.Type.Name />
                            <Detail Title="@(userConfig.GetText("uid"))" Data=@context.Uid />
                            @if (context.Type.Name != "group")
                            {
                                <Detail Title="@(userConfig.GetText("source_port"))" Data=@(context.SourcePort == context.SourcePortEnd ? context.SourcePort.ToString() : $"{context.SourcePort.ToString()}-{context.SourcePortEnd.ToString()}") />
                                <Detail Title="@(userConfig.GetText("destination_port"))" Data=@(context.DestinationPort == context.DestinationPortEnd ? context.DestinationPort.ToString() : $"{context.DestinationPort.ToString()}-{context.DestinationPortEnd.ToString()}") />
                                <Detail Title="@(userConfig.GetText("protocol"))" Data=@context.Protocol?.Name />
                                <Detail Title="@(userConfig.GetText("code"))" Data=@context.Code />
                                <Detail Title="@(userConfig.GetText("timeout"))" Data=@context.Timeout.ToString() />
                            }
                            @if (context.Type.Name == "group" && context.ServiceGroups != null && context.ServiceGroupFlats != null)
                            {
                                <ContentSwap Title1="@(userConfig.GetText("group_members"))" Title2="@(userConfig.GetText("group_members_flat"))">
                                    <Content1>
                                        @foreach (Group<NetworkService> member in context.ServiceGroups)
                                        {
                                            if(member.Object != null)
                                            {
                                                @AddLinkToObject(ObjCategory.nsrv, member.Object.Id, member.Object.Type.Name, member.Object.Name)
                                                <br>
                                            }
                                        }
                                    </Content1>
                                    <Content2>
                                        @{ List<long> shownMemberIds = new List<long>(); }
                                        @foreach (GroupFlat<NetworkService> member in context.ServiceGroupFlats)
                                        {
                                            if(member.Object != null)
                                            {
                                                if (member.Object.Type.Name == "group" || shownMemberIds.Contains(member.Object.Id))
                                                    continue;
                                                shownMemberIds.Add(member.Object.Id);

                                                @AddLinkToObject(ObjCategory.nsrv, member.Object.Id, member.Object.Type.Name, member.Object.Name)
                                                <br>
                                            }
                                        }
                                    </Content2>
                                </ContentSwap>
                            }
                            <Detail Title="@(userConfig.GetText("last_changed"))" Data=@context.CreateTime.Time.ToString() />
                            <Detail Title="@(userConfig.GetText("comment"))" Data=@context.Comment />
                        </DetailTemplate>
                    </Table>
                </Collapse>
            }
            @if(NetworkUserExtractor != null)
            {
                <Collapse Title="@(userConfig.GetText("users"))" StartToggled="StartCollapsed" OnOpen="() => HandleUncollapse(ObjCategory.user)">
                    <Table style="font-size:small" class="table table-bordered table-sm table-responsive" TableItem="NetworkUser" Items="@NetworkUserExtractor(Content)" PageSize="PageSize" ColumnReorder="true">
                        <Column TableItem="NetworkUser" Title="@(userConfig.GetText("name"))" Field="@(x => x.Name)" Class="word-break">
                            <Template>
                                <span class="@ReportBase.GetIconClass(ObjCategory.user, context.Type.Name)">&nbsp;</span>
                                <b id="@(GetID(ObjCategory.user, context.Id))">@(context.Name)</b>
                            </Template>
                        </Column>
                        <DetailTemplate TableItem="NetworkUser">
                            <Detail Title="@(userConfig.GetText("type"))" Data=@context.Type?.Name />
                            <Detail Title="@(userConfig.GetText("uid"))" Data=@context.Uid />
                            <Detail Title="@(userConfig.GetText("real_name"))" Data=@($"{context.FirstName} {context.LastName}") />
                            @if (context.Type != null && context.Type.Name == "group" && context.UserGroups != null && context.UserGroupFlats != null)
                            {
                                <ContentSwap Title1="@(userConfig.GetText("group_members"))" Title2="@(userConfig.GetText("group_members_flat"))">
                                    <Content1>
                                        @foreach (Group<NetworkUser> member in context.UserGroups)
                                        {
                                            if(member.Object != null)
                                            {
                                                @AddLinkToObject(ObjCategory.user, member.Object.Id, member.Object.Type.Name, member.Object.Name)
                                                <br>
                                            }
                                        }
                                    </Content1>
                                    <Content2>
                                        @{ List<long> shownMemberIds = new List<long>(); }
                                        @foreach (GroupFlat<NetworkUser> member in context.UserGroupFlats)
                                        {
                                            if(member.Object != null)
                                            {
                                                if (member.Object.Type.Name == "group" || shownMemberIds.Contains(member.Object.Id))
                                                    continue;
                                                shownMemberIds.Add(member.Object.Id);

                                                @AddLinkToObject(ObjCategory.user, member.Object.Id, member.Object.Type.Name, member.Object.Name)
                                                <br>
                                            }
                                        }
                                    </Content2>
                                </ContentSwap>
                            }
                            <Detail Title="@(userConfig.GetText("last_changed"))" Data=@context.CreateTime.Time.ToString() />
                            <Detail Title="@(userConfig.GetText("comment"))" Data=@context.Comment />
                        </DetailTemplate>
                    </Table>
                </Collapse>
            }
        </ChildContent>
    </Collapse>
}

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    [CascadingParameter]
    AnchorNavToRSB? anchorNavToRSB { get; set; }

    [Parameter]
    public Func<RsbTab, ObjCategory, Func<Management[], Task>, long, bool, Task>? FetchObjects { get; set; }

    [Parameter]
    public bool Recert { get; set; }

    [Parameter]
    public RsbTab Tab { get; set; }

    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public bool StartCollapsed { get; set; } = true;

    [Parameter]
    public bool StartContentDetailed { get; set; } = false;

    [Parameter]
    public Func<InputDataType, string>? NameExtractor { get; set; }

    [Parameter]
    public InputDataType? InitialContent { get; set; }

    [Parameter]
    public Func<InputDataType, IEnumerable<NetworkObject>>? NetworkObjectExtractor { get; set; }

    [Parameter]
    public Func<InputDataType, IEnumerable<NetworkService>>? NetworkServiceExtractor { get; set; }

    [Parameter]
    public Func<InputDataType, IEnumerable<NetworkUser>>? NetworkUserExtractor { get; set; }

    // Parameter Variables are being overwritten, because something happens with the component on StateHasChanged (but the Initialize Task does not get called)
    public InputDataType? Content { get; set; }
    public bool ContentIsDetailed => nobjDetailed && nsrvDetailed && userDetailed;
    private bool nobjDetailed = false;
    private bool nsrvDetailed = false;
    private bool userDetailed = false;

    protected override async Task OnInitializedAsync()
    {
        Content = InitialContent;
        if (StartContentDetailed)
            await FetchContent(ObjCategory.all);
    }

    private string GetIDPrefix(ObjCategory objCategory, RsbTab? tab = null, bool toMgmtObj = false)
    {
        string idPref = "";
        switch (tab ?? Tab)
        {
            case RsbTab.all:
                idPref += "all-";
                break;
            case RsbTab.report:
                idPref += "report-";
                break;
            case RsbTab.rule:
                idPref += "rule-";
                break;
        }
        switch (Content)
        {
            case Management m:
                idPref += "m" + m.Id + "-";
                break;
            case Rule r:
                if (!toMgmtObj)
                    idPref += "r" + r.Id + "-";
                else
                    idPref += "m" + r.MgmtId + "-";
                break;
        }
        switch (objCategory)
        {
            case ObjCategory.nobj:
                idPref += "nwobj";
                break;
            case ObjCategory.nsrv:
                idPref += "svc";
                break;
            case ObjCategory.user:
                idPref += "user";
                break;
        }

        return idPref;
    }
    private string GetID(ObjCategory objCategory, long objId)
    {
        return GetIDPrefix(objCategory) + objId;
    }

    @* private string GetIconClass(ObjCategory objCategory, string type)
    {
        switch (type)
        {
            case "group" when objCategory == ObjCategory.user:
                return "oi oi-people";
            case "group":
                return "oi oi-list-rich";
            case "host":
                return "oi oi-laptop";
            case "network":
                return "oi oi-rss";
            case "ip_range":
                return "oi oi-resize-width";
            default:
                switch (objCategory)
                {
                    case ObjCategory.nobj:
                        return "oi oi-laptop";
                    case ObjCategory.nsrv:
                        return "oi oi-wrench";
                    case ObjCategory.user:
                        return "oi oi-person";
                }
                return "";
        }
    } *@

    RenderFragment AddLinkToObject(ObjCategory objCategory, long objId, string type, string name)
    {
        RsbTab targetTab = Tab == RsbTab.all ? RsbTab.all : RsbTab.report;
        string htmlObjRefPrefix = GetIDPrefix(objCategory, targetTab, true);

        string page = Recert ? "certification" : "report/generation";
        
        return @<a href="@(page)#goto-@(htmlObjRefPrefix + objId)" target="_top"><span class="@ReportBase.GetIconClass(objCategory, type)">&nbsp;</span>@(name)</a>;
    }

    private async Task HandleUncollapse(ObjCategory objCategory)
    {
        if (Tab != RsbTab.rule)
            await FetchContent(objCategory);
        anchorNavToRSB?.ScrollToFragmentIfMatch(GetIDPrefix(objCategory));
    }

    private async Task FetchContent(ObjCategory objCategory)
    {
        try
        {
            if (Tab == RsbTab.rule && objCategory != ObjCategory.all)
                return;

            if (objCategory == ObjCategory.all && !ContentIsDetailed || objCategory == ObjCategory.nobj && !nobjDetailed || objCategory == ObjCategory.nsrv && !nsrvDetailed || objCategory == ObjCategory.user && !userDetailed)
            {
                if(FetchObjects != null)
                {
                    switch (Content)
                    {
                        case Management m:
                            await FetchObjects(Tab, objCategory,
                                managementsUpdate =>
                                {
                                    int id = m.Id;
                                    Management? m_updated = managementsUpdate.FirstOrDefault(mgmt => mgmt.Id == m.Id);
                                    if (m_updated != null)
                                    {
                                        switch (objCategory)
                                        {
                                            case ObjCategory.all:
                                                m = m_updated; break;
                                            case ObjCategory.nobj:
                                                m.Objects = m_updated.Objects; break;
                                            case ObjCategory.nsrv:
                                                m.Services = m_updated.Services; break;
                                            case ObjCategory.user:
                                                m.Users = m_updated.Users; break;
                                        }

                                        Content = (InputDataType)(Object)m;
                                    }
                                    return InvokeAsync(StateHasChanged);
                                }, m.Id, false);

                            break;

                        case Rule r:
                            await FetchObjects(Tab, objCategory,
                                managementsUpdate =>
                                {
                                    Rule? r_updated = managementsUpdate.SelectMany(m => m.Devices).SelectMany(d => d.Rules ?? new Rule[0]).FirstOrDefault();
                                    if (r_updated != null)
                                    {
                                        r_updated.DeviceName = r.DeviceName;
                                        Content = (InputDataType)(Object)r_updated;
                                    }
                                    return InvokeAsync(StateHasChanged);
                                 }, r.Id, !string.IsNullOrEmpty(r.NatData?.TranslatedSource));

                            break;
                    }
                }

                nobjDetailed = nobjDetailed || objCategory == ObjCategory.all || objCategory == ObjCategory.nobj;
                nsrvDetailed = nsrvDetailed || objCategory == ObjCategory.all || objCategory == ObjCategory.nsrv;
                userDetailed = userDetailed || objCategory == ObjCategory.all || objCategory == ObjCategory.user;

                await InvokeAsync(StateHasChanged);
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("object_fetch"), "", true);
        }
    }
}
