@using FWO.Config.Api
@using FWO.Config.Api.Data
@using FWO.Ui.Services
@using FWO.Api.Client
@using FWO.GlobalConstants
@using FWO.Api.Data

@inherits LayoutComponentBase
@layout MainLayout

@inject UserConfig userConfig
@inject ApiConnection apiConnection

@if(InitComplete)
{
    <Sidebar PositionLeft="true" Collapsible="true" Resizeable="true" @bind-Width="sidebarWidth">
        <div class="me-2 ms-2 mt-4 mb-4">
            <ul class="navbar-nav navbar-dark flex-column">
                <li class="nav-item px-2">
                    <h5>@(userConfig.GetText("requests"))</h5>
                </li>
                <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Auditor}, {Roles.FwAdmin}")">
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="request/ticketsoverview">
                            <span class="@Icons.Tickets"></span> @(userConfig.GetText("tickets"))
                        </NavLink>
                    </li>
                </AuthorizeView>
                @if(!userConfig.ReqReducedView)
                {
                    <AuthorizeView Roles="@($"{Roles.Requester}")">
                        <li class="nav-item px-2">
                            <NavLink class="nav-link" href="request/ticketsoverview">
                                <span class="@Icons.Tickets"></span> @(userConfig.GetText("tickets"))
                            </NavLink>
                        </li>
                    </AuthorizeView>
                }
                @if(stateMatrix.PhaseActive[WorkflowPhases.request])
                {
                    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Requester}, {Roles.Auditor}")">
                        <li class="nav-item px-2">
                            <NavLink class="nav-link" href="request/tickets">
                                <span class="@Icons.Workflow"></span> @(userConfig.GetText("create_ticket"))
                            </NavLink>
                        </li>
                    </AuthorizeView>
                }
                @if(stateMatrix.PhaseActive[WorkflowPhases.approval])
                {
                    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Approver}, {Roles.Auditor}")">
                        <li class="nav-item px-2">
                            <NavLink class="nav-link" href="request/approvals">
                                <span class="@Icons.Approval"></span> @(userConfig.GetText("approvals"))
                            </NavLink>
                        </li>
                    </AuthorizeView>
                }
                @if(stateMatrix.PhaseActive[WorkflowPhases.planning])
                {
                    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Planner}, {Roles.Auditor}, {Roles.FwAdmin}")">
                        <li class="nav-item px-2">
                            <NavLink class="nav-link" href="request/plannings">
                                <span class="@Icons.Planning"></span> @(userConfig.GetText("plannings"))
                            </NavLink>
                        </li>
                    </AuthorizeView>
                }
                @if(stateMatrix.PhaseActive[WorkflowPhases.implementation])
                {
                    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Implementer}, {Roles.Auditor}, {Roles.FwAdmin}")">
                        <li class="nav-item px-2">
                            <NavLink class="nav-link" href="request/implementations">
                                <span class="@Icons.Implementation"></span> @(userConfig.GetText("implementations"))
                            </NavLink>
                        </li>
                    </AuthorizeView>
                }
                @if(stateMatrix.PhaseActive[WorkflowPhases.review])
                {
                    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Reviewer}, {Roles.Auditor}")">
                        <li class="nav-item px-2">
                            <NavLink class="nav-link" href="request/reviews">
                                <span class="@Icons.Review"></span> @(userConfig.GetText("reviews"))
                            </NavLink>
                        </li>
                    </AuthorizeView>
                }
            </ul>
        </div>
    </Sidebar>
}
else
{
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
    
<div style="margin-left: @($"{sidebarWidth + 20}px");">
    @Body
</div>

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    private int sidebarWidth = 250;
    private StateMatrix stateMatrix = new StateMatrix();
    private bool InitComplete = false;
    
    protected override async Task OnInitializedAsync()
    {
        userConfig.OnChange += OnChange;
        try
        {
            await stateMatrix.Init(WorkflowPhases.request, apiConnection);
        }
        catch(Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("init_environment"), "", true);
        }
        InitComplete = true;
    }

    private void OnChange(Config _, ConfigItem[] __)
    {
        Task.Run(async() => await InvokeAsync(StateHasChanged));
    }
}

