@inject UserConfig userConfig
@inject ApiConnection apiConnection

<div class="form-group row">
    <label class="col-sm-3 col-form-label col-form-label-sm">@(userConfig.GetText("rules")):</label>
    <div class="col-sm-9 me-auto">
        @if(Readonly)
        {
            @foreach(var rule in SelectedRules)
            {
                @((MarkupString)DiplayRule(rule))
            }
        }
        else
        {
            <EditList ElementType="Rule" Elements="SelectedRules.ToArray()" ElementsToAdd="RulesToAdd" ElementsToDelete="RulesToDelete" StdLayout="false">
                <Display>
                    @((MarkupString)DiplayRule(context))
                </Display>
            </EditList>
            <div class="col-sm-12 mt-1">
                <div class="form-group row me-auto">
                    <div class="col-sm-2">
                        <Dropdown ElementType="Management" ElementToString="@(m => m.Name)"
                            SelectedElement="actManagement" SelectedElementChanged="ManagementChanged" Elements="ManagementsWithRules">
                            <ElementTemplate Context="mgt">
                                @mgt.Name
                            </ElementTemplate>
                        </Dropdown>
                    </div>
                    <div class="col-sm-2">
                        <Dropdown ElementType="Rulebase" ElementToString="@(rb => rb.Name)"
                            SelectedElement="actRulebase" SelectedElementChanged="RulebaseChanged" Elements="actManagement.Rulebases">
                            <ElementTemplate Context="rb">
                                @rb.Name
                            </ElementTemplate>
                        </Dropdown>
                    </div>
                    <div class="col-sm-7">
                        <Dropdown ElementType="Rule" ElementToString="@(r => DisplayRuleDetails(r))" @bind-SelectedElement="actRule" Elements="allRulesOfRulebase">
                            <ElementTemplate Context="rule">
                                @(DisplayRuleDetails(rule))
                            </ElementTemplate>
                        </Dropdown>
                    </div>
                    <div class="col-sm-1">
                        @if(actRule.MgmtId != 0)
                        {
                            <button @onclick="AddRule" type="button" class="col-sm-12 btn btn-sm btn-success" id="addRule">@(DisplayService.DisplayButton(userConfig, "add", Icons.Add))</button>
                        } 
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public List<Rule> SelectedRules { get; set; } = [];

    [Parameter]
    public List<Rule> RulesToAdd { get; set; } = [];

    [Parameter]
    public EventCallback<List<Rule>> RulesToAddChanged { get; set; }

    [Parameter]
    public List<Rule> RulesToDelete { get; set; } = [];

    [Parameter]
    public EventCallback<List<Rule>> RulesToDeleteChanged { get; set; }

    [Parameter]
    public bool Readonly { get; set; } = false;

    private List<Management> Managements = [];
    private List<Management> ManagementsWithRules = [];
    private Management actManagement = new();
    private Rulebase actRulebase = new();
    private List<Rule> allRulesOfRulebase = [];
    private Rule actRule = new();
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Managements = await apiConnection.SendQueryAsync<List<Management>>(DeviceQueries.getManagementsWithRulebases);
            ManagementsWithRules = [.. Managements.Where(m => m.Rulebases.Length > 0)];
            if(Managements.Count > 0)
            {
                await ManagementChanged(Managements[0]);
            }          
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }
    
    private async Task ManagementChanged(Management newManagement)
    {
        try
        {
            actManagement = newManagement;
            if(actManagement.Rulebases.Length > 0)
            {
                await RulebaseChanged(actManagement.Rulebases[0]);
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }
    
    private async Task RulebaseChanged(Rulebase newRulebase)
    {
        try
        {
            actRulebase = newRulebase;
            var Variables = new
            {
                time = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"),
                mgmIds = actManagement.Id
            };
            List<Management> managementsWithRelevantImportId =
                await apiConnection.SendQueryAsync<List<Management>>(ReportQueries.getRelevantImportIdsAtTime, Variables);
            
            if (managementsWithRelevantImportId.Count > 0)
            {
                long importId = managementsWithRelevantImportId.Select(m => m.Import.ImportAggregate.ImportAggregateMax.RelevantImportId ?? 0).Max();
                var RuleVariables = new
                {
                    rulebaseId = newRulebase.Id,
                    import_id_start = importId,
                    import_id_end   = importId
                };
                allRulesOfRulebase = await apiConnection.SendQueryAsync<List<Rule>>(RuleQueries.getRuleUidsOfRulebase, RuleVariables);
            }
            actRule = allRulesOfRulebase.FirstOrDefault() ?? new();
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }

    private string DiplayRule(Rule rule)
    {
        Management? mgt = Managements.FirstOrDefault(m => m.Id == rule.MgmtId);
        Rulebase? rulebase = mgt?.Rulebases.FirstOrDefault(rb => rb.Id == rule.RulebaseId);
        return $"<div class=\"row\"><div class=\"col-sm-2 border bg-transparent\">{mgt?.Name}</div><div class=\"col-sm-2 border bg-transparent\">{rulebase?.Name}</div><div class=\"col-sm-8 border bg-transparent\">{DisplayRuleDetails(rule)}</div></div>";
    }

    private string? DisplayRuleDetails(Rule rule)
    {
        return rule.Uid + (string.IsNullOrEmpty(rule.Name) ? "" : " (" + rule.Name + ")");
    }

    private void AddRule()
    {
        if(RulesToAdd.Contains(actRule) || InSelectedRules(actRule))
        {
            DisplayMessageInUi(null, userConfig.GetText("add_rule"), userConfig.GetText("E5501"), true);
        }
        else
        {
            RulesToAdd.Add(actRule);
        }
    }

    private bool InSelectedRules(Rule rule)
    {
        return SelectedRules.Any(s => s.MgmtId == rule.MgmtId && s.RulebaseId == rule.RulebaseId && s.Uid == rule.Uid);
    }
}
