@using FWO.Config.Api
@using FWO.Config.Api.Data

@inherits LayoutComponentBase
@layout MainLayout

@inject UserConfig userConfig

<Sidebar PositionLeft="true" Collapsible="false" Resizeable="false" SidebarCssClass="navbar-dark bg-dark" @bind-Width="sidebarWidth">
    <div class="m-2 mt-4">
        <ul class="navbar-nav flex-column">
            <AuthorizeView Roles="admin, importer, auditor, fw-admin">
                <li class="nav-item px-2" data-toggle="tooltip" title="@(userConfig.GetText("U5011"))">
                    <h5>@(userConfig.GetText("devices"))</h5>
                </li>
            </AuthorizeView>
            <AuthorizeView Roles="admin, auditor, fw-admin">
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/credentials">
                        <span class="oi oi-key"></span> @(userConfig.GetText("import_credential"))
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/managements">
                        <span class="oi oi-inbox"></span> @(userConfig.GetText("managements"))
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/gateways">
                        <span class="oi oi-shield"></span> @(userConfig.GetText("gateways"))
                    </NavLink>
                </li>
            </AuthorizeView>
            <hr />
            <AuthorizeView Roles="admin, auditor">
                <li class="nav-item px-2" data-toggle="tooltip" title="@(userConfig.GetText("U5012"))">
                    <h5>@(userConfig.GetText("authorization"))</h5>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/ldap">
                        <span class="oi oi-key"></span> @(userConfig.GetText("ldap_conns"))
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/tenants">
                        <span class="oi oi-command"></span> @(userConfig.GetText("tenants"))
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/users">
                        <span class="oi oi-person"></span> @(userConfig.GetText("users"))
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/groups">
                        <span class="oi oi-people"></span> @(userConfig.GetText("groups"))
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/roles">
                        <span class="oi oi-tags"></span> @(userConfig.GetText("roles"))
                    </NavLink>
                </li>
                <hr />
                <li class="nav-item px-2" data-toggle="tooltip" title="@(userConfig.GetText("U5013"))">
                    <h5>@(userConfig.GetText("defaults"))</h5>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/email">
                        <span class="oi oi-envelope-closed"></span> @(userConfig.GetText("email_settings"))
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/defaults">
                        <span class="oi oi-cog"></span> @(userConfig.GetText("standards"))
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/recertificationgeneral">
                        <span class="oi oi-badge"></span> @(userConfig.GetText("recertification"))
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/passwordpolicy">
                        <span class="oi oi-document"></span> @(userConfig.GetText("password_policy"))
                    </NavLink>
                </li>
                <hr />
                <li class="nav-item px-2" data-toggle="tooltip" title="@(userConfig.GetText("U5015"))">
                    <h5>@(userConfig.GetText("workflow"))</h5>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/stateactions">
                        <span class="oi oi-arrow-right"></span> @(userConfig.GetText("state_actions"))
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/statedefinitions">
                        <span class="oi oi-tag"></span> @(userConfig.GetText("state_definitions"))
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/statematrix">
                        <span class="oi oi-loop-square"></span> @(userConfig.GetText("state_matrix"))
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/workflowcustomizing">
                        <span class="oi oi-cog"></span> @(userConfig.GetText("customizing"))
                    </NavLink>
                </li>
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/owners">
                        <span class="oi oi-flag"></span> @(userConfig.GetText("owners"))
                    </NavLink>
                </li>
                <hr />
            </AuthorizeView>
            <li class="nav-item px-2" data-toggle="tooltip" title="@(userConfig.GetText("U5014"))">
                <h5>@(userConfig.GetText("personal"))</h5>
            </li>
            <li class="nav-item px-2">
                <NavLink class="nav-link" href="settings/password">
                    <span class="oi oi-account-login"></span> @(userConfig.GetText("password"))
                </NavLink>
                <NavLink class="nav-link" href="settings/language">
                    <span class="oi oi-comment-square"></span> @(userConfig.GetText("language"))
                </NavLink>
                <AuthorizeView Roles="admin, reporter, reporter-viewall, recertifier, auditor, fw-admin">
                    <NavLink class="nav-link" href="settings/report">
                        <span class="oi oi-list"></span> @(userConfig.GetText("reporting"))
                    </NavLink>
                </AuthorizeView>
            </li>
            <AuthorizeView Roles="admin, recertifier, auditor">
                <li class="nav-item px-2">
                    <NavLink class="nav-link" href="settings/recertificationpersonal">
                        <span class="oi oi-badge"></span> @(userConfig.GetText("recertification"))
                    </NavLink>
                </li>
            </AuthorizeView>
        </ul>
    </div>
    <hr />
    <hr />
</Sidebar>

    
<div style="margin-left: @($"{sidebarWidth + 20}px");">
    @Body
</div>

@code
{
    private int sidebarWidth = 250;
    
    protected override void OnInitialized()
    {
        userConfig.OnChange += OnChange;
    }

    private void OnChange(Config _, ConfigItem[] __)
    {
        Task.Run(async() => await InvokeAsync(StateHasChanged));
    }
}

