@page "/help/settings/gateways"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.ApiConfig
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("gateways")</h3>
    @(Html.Raw(userConfig.GetText("H5141")))
    <br><br>
    @userConfig.GetText("parameters"):
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5151")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5152")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5153")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5154")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5155")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5156")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5157")))</li>
    </ul>
</div>
