@page "/help/API/graphql"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpAPISidebar.cshtml"); 
    }
}
@using FWO.ApiConfig
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("graphql")</h3>
    @(Html.Raw(userConfig.GetText("H6101")))
    <br>
    <br>
    <h4>@userConfig.GetText("admin_access")</h4>
    @(Html.Raw(userConfig.GetText("H6102")))
    <br>
    <br>
    @(Html.Raw(userConfig.GetText("H6103")))
    <br>
    <pre>/etc/fworch/secrets/hasura_admin_pwd</pre>
</div>
