@page "/help/settings/passwordpolicy"
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.ApiConfig
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("password_policy"))</h3>
    @(Html.Raw(userConfig.GetText("H5431")))
    <br><br>
    @(userConfig.GetText("parameters")):
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5441")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5442")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5443")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5444")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5445")))</li>
    </ul>
</div>
