@using FWO.Api.Data
@using FWO.Ui.Data 

@inject UserConfig userConfig 

@*<div class="p-3">
    <div class="card mb-1">
        <div class="card-body text-center p-1">
            @(userConfig.GetText("objects"))
        </div>
    </div>
    <TabSet KeepPanelsAlive="true" @ref="rsbTabset">
        <Tab Title="@(userConfig.GetText("rule"))">
            <div class="d-md-flex justify-content-md-between">
                <div class="btn btn-dark btn-sm mb-2" @onclick="@(() => selectedItemsRuleReportTable.Clear())">@(userConfig.GetText("clear_all"))</div>
                <div class="btn btn-secondary btn-sm mb-2" @onclick="@(() => collapseSidebarRule.CollapseAll())">@(userConfig.GetText("collapse_all"))</div>
            </div>
            <CascadingValue Value="collapseSidebarRule">
                <ObjectGroupCollection ReportPage="this" Type="30" StartContentDetailed="true" StartCollapsed="false" InputDataType="Rule" Data="selectedItemsRuleReportTable"
                                       NameExtractor=@(rule => $"{rule.DeviceName} - Rule {rule.Id} {rule.Name}")
                                       NetworkObjectExtractor="rule => Array.ConvertAll(rule.Tos.Concat(rule.Froms).ToArray(), location => location.Object)"
                                       NetworkServiceExtractor="rule => Array.ConvertAll(rule.Services, wrapper => wrapper.Content)"
                                       NetworkUserExtractor="rule => Array.FindAll(Array.ConvertAll(rule.Tos.Concat(rule.Froms).ToArray(), location => location.User), user => user != null)" />
            </CascadingValue>
        </Tab>
    </TabSet>
</div>*@

@code 
{
    [Parameter]
    public int selectedItemsRuleReportTable { get; set; }

    private CollapseState collapseSidebarAll = new CollapseState();
    private CollapseState collapseSidebarReport = new CollapseState();
    private CollapseState collapseSidebarRule = new CollapseState();
}
