@using BlazorTable
@using FWO.Api.Data
@using FWO.Ui.Data
@using Microsoft.AspNetCore.Components.Web

@typeparam InputDataType

@if (Data != null)
{
    @foreach (InputDataType obj in Data)
    {
        <Collapse Title="@NameExtractor(obj)" Style="@("primary")" StartToggled="true">
            <Collapse Title="Network Objects" StartToggled="true">
                <Table style="font-size:small" class="table table-bordered table-sm table-responsive" TableItem="NetworkObject" Items="@NetworkObjectExtractor(obj)" PageSize="PageSize" ColumnReorder="true">
                    <Column TableItem="NetworkObject" Title="Name" Field="@(x => x.Name)" Class="word-wrap">
                        <Template>
                            @if (context.Type.Name=="group")
                            {
                                <span class="oi oi-list-rich">&nbsp;</span><b id="nwobj@(context.Id)">@(context.Name)</b>
                            }
                            else if (context.Type.Name=="network")
                            {
                                <span class="oi oi-rss">&nbsp;</span><b id="nwobj@(context.Id)">@(context.Name)</b>
                            }
                            else
                            {
                                <span class="oi oi-laptop">&nbsp;</span><b id="nwobj@(context.Id)">@(context.Name)</b>
                            }
                        </Template>
                    </Column>
                    <DetailTemplate TableItem="NetworkObject">
                        <Detail Title="Type" Data=@context.Type.Name />
                        <Detail Title="UID" Data=@context.Uid />
                        <Detail Title="IP" Data=@context.IP />
                        <Detail Title="Zone" Data=@context.Zone?.Name />
                        @if (context.Type.Name == "group")
                        {
                            <ContentSwap Title1="Group Members" Title2="Group Members (flattened)">
                                <Content1>
                                    @foreach (Group<NetworkObject> member in context.ObjectGroups)
                                    {
                                        @if (member.Object.Type.Name=="group")
                                        {
                                            <a href="report#nwobj@(member.Object.Id)" target="_top"><span class="oi oi-list-rich">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }
                                        else if (member.Object.Type.Name=="network")
                                        {
                                            <a href="report#nwobj@(member.Object.Id)" target="_top"><span class="oi oi-rss">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }
                                        else
                                        {
                                            <a href="report#nwobj@(member.Object.Id)" target="_top"><span class="oi oi-laptop">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }
                                    }
                                </Content1>
                                <Content2>
                                    @{ List<int> shownMemberIds = new List<int>(); }
                                    @foreach (GroupFlat<NetworkObject> member in context.ObjectGroupFlats)
                                    {
                                        if (member.Object.Type.Name == "group" || shownMemberIds.Contains(member.Object.Id))
                                            continue;
                                        shownMemberIds.Add(member.Object.Id);
                                        @if (member.Object.Type.Name=="group")
                                        {
                                            <a href="report#nwobj@(member.Object.Id)" target="_top"><span class="oi oi-list-rich">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }
                                        else if (member.Object.Type.Name=="network")
                                        {
                                            <a href="report#nwobj@(member.Object.Id)" target="_top"><span class="oi oi-rss">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }
                                        else
                                        {
                                            <a href="report#nwobj@(member.Object.Id)" target="_top"><span class="oi oi-laptop">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }
                                    }
                                </Content2>
                            </ContentSwap>
                        }
                        <Detail Title="Last changed" Data=@context.Create.ToString() />
                        <Detail Title="Comment" Data=@context.Comment />
                    </DetailTemplate>
                </Table>
            </Collapse>
            <Collapse Title="Services" StartToggled="true">
                <Table style="font-size:small" class="table table-bordered table-sm table-responsive" TableItem="NetworkService" Items="@NetworkServiceExtractor(obj)" PageSize="PageSize" ColumnReorder="true">
                    <Column TableItem="NetworkService" Title="Name" Field="@(x => x.Name)" Class="word-wrap">
                        <Template>
                            @if (context.Type.Name=="group")
                            {
                                <span class="oi oi-list-rich">&nbsp;</span><b id="svc@(context.Id)">@(context.Name)</b>
                            }
                            else
                            {
                                <span class="oi oi-wrench">&nbsp;</span><b id="svc@(context.Id)">@(context.Name)</b>
                            }
                        </Template>
                    </Column>
                     <DetailTemplate TableItem="NetworkService">
                        <Detail Title="Type" Data=@context.Type.Name />
                        <Detail Title="UID" Data=@context.Uid />
                        <Detail Title="Source Port" Data=@(context.SourcePort == context.SourcePortEnd ? context.SourcePort.ToString() : $"{context.SourcePort.ToString()}-{context.SourcePortEnd.ToString()}") />
                        <Detail Title="Destination Port" Data=@(context.DestinationPort == context.DestinationPortEnd ? context.DestinationPort.ToString() : $"{context.DestinationPort.ToString()}-{context.DestinationPortEnd.ToString()}") />
                        <Detail Title="Protocol" Data=@context.Protocol?.Name />
                        <Detail Title="Code" Data=@context.Code />
                        <Detail Title="Timeout" Data=@context.Timeout.ToString() />
                        @if (context.Type.Name == "group")
                        {
                            <ContentSwap Title1="Group Members" Title2="Group Members (flattened)">
                                <Content1>
                                    @foreach (Group<NetworkService> member in context.ServiceGroups)
                                    {
                                        @if (member.Object.Type.Name=="group")
                                        {
                                            <a href="report#svc@(member.Object.Id)" target="_top"><span class="oi oi-list-rich">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }
                                        else
                                        {
                                            <a href="report#svc@(member.Object.Id)" target="_top"><span class="oi oi-wrench">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }
                                    }
                                </Content1>
                                <Content2>
                                    @{ List<int> shownMemberIds = new List<int>(); }
                                    @foreach (GroupFlat<NetworkService> member in context.ServiceGroupFlats)
                                    {
                                        if (member.Object.Type.Name == "group" || shownMemberIds.Contains(member.Object.Id))
                                            continue;
                                        shownMemberIds.Add(member.Object.Id);
                                        
                                        @if (member.Object.Type.Name=="group")
                                        {
                                            <a href="report#svc@(member.Object.Id) target="_top""><span class="oi oi-list-rich">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }
                                        else
                                        {
                                            <a href="report#svc@(member.Object.Id)" target="_top"><span class="oi oi-wrench">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }
                                    }
                                </Content2>
                            </ContentSwap>
                        }
                        <Detail Title="Last changed" Data=@context.Create.ToString() />
                        <Detail Title="Comment" Data=@context.Comment />
                    </DetailTemplate>
                </Table>
            </Collapse>
            <Collapse Title="Users" StartToggled="true">
                <Table style="font-size:small" class="table table-bordered table-sm table-responsive" TableItem="NetworkUser" Items="@NetworkUserExtractor(obj)" PageSize="PageSize" ColumnReorder="true">
                    <Column TableItem="NetworkUser" Title="Name" Field="@(x => x.Name)" Class="word-wrap">
                        <Template>
                            @if (context.Type.Name=="group")
                            {
                                <span class="oi oi-people">&nbsp;</span><b id="user@(context.Id)">@(context.Name)</b>
                            }
                            else
                            {
                                <span class="oi oi-person">&nbsp;</span><b id="nwobj@(context.Id)">@(context.Name)</b>
                            }
                        </Template>
                    </Column>
                    <DetailTemplate TableItem="NetworkUser">
                        <Detail Title="Type" Data=@context.Type.Name />
                        <Detail Title="UID" Data=@context.Uid />
                        <Detail Title="Real Name" Data=@($"{context.FirstName} {context.LastName}") />
                        @if (context.Type.Name == "group")
                        {
                            <ContentSwap Title1="Group Members" Title2="Group Members (flattened)">
                                <Content1>
                                    @foreach (Group<NetworkUser> member in context.UserGroups)
                                    {
                                        @if (member.Object.Type.Name=="group")
                                        {
                                            <a href="report#user@(member.Object.Id)" target="_top"><span class="oi oi-list-rich">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }
                                        else
                                        {
                                            <a href="report#user@(member.Object.Id)" target="_top"><span class="oi oi-person">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }
                                   }
                                </Content1>
                                <Content2>
                                    @{ List<int> shownMemberIds = new List<int>(); }
                                    @foreach (GroupFlat<NetworkUser> member in context.UserGroupFlats)
                                    {
                                        if (member.Object.Type.Name == "group" || shownMemberIds.Contains(member.Object.Id))
                                            continue;
                                        shownMemberIds.Add(member.Object.Id);
                                        @if (member.Object.Type.Name=="group")
                                        {
                                            <a href="report#user@(member.Object.Id)" target="_top"><span class="oi oi-list-rich">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }
                                        else
                                        {
                                            <a href="report#user@(member.Object.Id)" target="_top"><span class="oi oi-person">&nbsp;</span>@(member.Object.Name)</a><br>
                                        }

                                    }
                                </Content2>
                            </ContentSwap>
                        }
                        <Detail Title="Last changed" Data=@context.Create.ToString() />
                        <Detail Title="Comment" Data=@context.Comment />
                    </DetailTemplate>
                </Table>
            </Collapse>
        </Collapse>
    }
}

@code
{
    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public IEnumerable<InputDataType> Data { get; set; }

    [Parameter]
    public Func<InputDataType, string> NameExtractor { get; set; }

    [Parameter]
    public Func<InputDataType, IEnumerable<NetworkObject>> NetworkObjectExtractor { get; set; }

    [Parameter]
    public Func<InputDataType, IEnumerable<NetworkService>> NetworkServiceExtractor { get; set; }

    [Parameter]
    public Func<InputDataType, IEnumerable<NetworkUser>> NetworkUserExtractor { get; set; }
}
