@using FWO.Api.Client
@using FWO.Config.Api
@using FWO.Ui.Services
@using FWO.Middleware.Client


@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.Requester}, {Roles.Approver}, {Roles.Planner}, {Roles.Implementer}, {Roles.Reviewer}, {Roles.Auditor}, {Roles.FwAdmin}")]

@inject ApiConnection apiConnection
@inject MiddlewareClient middlewareClient
@inject UserConfig userConfig

<PopUp Title="@(userConfig.GetText("assign1") + ": " + ObjectName)" Show="@Display" Size=PopupSize.Large OnClose="async () => await Close()">
    <Body>
        @if (Display)
        {
            <form>
                <form class="form-group row">
                    <label for="assignedGroup" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("assign_to")):</label>
                    <div class="col-sm-8">
                        <Dropdown ElementType="UiUser" @bind-SelectedElement="selectedUserGroup" ElementToString="@(g => g.Name)" Elements="userAndGroupList" Nullable="true">
                            <ElementTemplate Context="group">
                                @group.Name
                            </ElementTemplate>
                        </Dropdown>
                    </div>
                    @if(userAndGroupList.Count > 0)
                    {
                        <div class="col-sm-2">
                            <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.FwAdmin}, {Roles.Requester}, {Roles.Approver}, {Roles.Planner}, {Roles.Implementer}, {Roles.Reviewer}")">
                                <Authorized>
                                    <button type="button" class="btn btn-sm btn-success" @onclick="async () => { PrepAssign(); await Assign(StatefulObject); await Close();}" @onclick:preventDefault>@(userConfig.GetText("assign1"))</button>
                                </Authorized>
                                <NotAuthorized>
                                    <button type="button" class="btn btn-sm btn-success" disabled>@(userConfig.GetText("assign1"))</button>
                                </NotAuthorized> 
                            </AuthorizeView>
                        </div>
                    }
                </form>
                @if(AssignBack != null && StatefulObject.RecentHandler != null && StatefulObject.RecentHandler.DbId != userConfig.User.DbId
                    && (origAssignedGroup == userConfig.User.Dn /* || userConfig.User.Groups.Contains((new DistName(origAssignedGroup)).Group)*/ )) 
                    // userConfig.User.Groups is currently not filled, because information may be available only in external Ldap
                {
                    <form class="form-group row">
                        <label for="backAssignedGroup" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("back_to")):</label>
                        <label id="backAssignedGroup" class="col-sm-8">@StatefulObject.RecentHandler.Name</label>
                        <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.FwAdmin}, {Roles.Requester}, {Roles.Approver}, {Roles.Planner}, {Roles.Implementer}, {Roles.Reviewer}")">
                            <Authorized>
                                <button type="button" class="btn btn-sm btn-success" @onclick="async () => { await AssignBack(); await Close();}" @onclick:preventDefault>@(userConfig.GetText("assign1"))</button>
                            </Authorized>
                            <NotAuthorized>
                                <button type="button" class="btn btn-sm btn-success" disabled>@(userConfig.GetText("assign1"))</button>
                            </NotAuthorized> 
                        </AuthorizeView>
                    </form>
                }
            </form>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary" @onclick:preventDefault @onclick="Close">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>


@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;
    
    [Parameter]
    public bool Display { get; set; } = false;

    [Parameter]
    public EventCallback<bool> DisplayChanged { get; set; }

    [Parameter]
    public Func<Task> ResetParent { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public RequestStatefulObject StatefulObject { get; set; } = new RequestStatefulObject();

    [Parameter]
    public Func<RequestStatefulObject, Task> Assign { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public Func<Task>? AssignBack { get; set; }

    [Parameter]
    public string ObjectName { get; set; } = "";

    [Parameter]
    public List<string> RoleList { get; set; } = new List<string>();

    private List<UiUser> userAndGroupList = new List<UiUser>();
    private string? origAssignedGroup;
    private UiUser? selectedUserGroup;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            foreach(var role in RoleList)
            {
                List<UiUser> tmpList = await RoleAccess.GetRoleMembers(middlewareClient, role);
                foreach(var elem in tmpList)
                {
                    if(!userAndGroupList.Any(x => x.Dn == elem.Dn))
                    {
                        userAndGroupList.Add(elem);
                    }
                }
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_requests"), "", true);
        }
    }

    protected override void OnParametersSet()
    {
        if (Display)
        {
            origAssignedGroup = (StatefulObject.AssignedGroup != null ? new string(StatefulObject.AssignedGroup): null);
            selectedUserGroup = userAndGroupList.FirstOrDefault(x => x.Dn == StatefulObject.AssignedGroup);
        }
    }

    private void PrepAssign()
    {
        StatefulObject.AssignedGroup = (selectedUserGroup != null ? selectedUserGroup.Dn : "");
    }

    private async Task Close()
    {
        Display = false;
        await ResetParent();
    }
}
