@using FWO.Api.Client
@using FWO.Config.Api
@using FWO.Ui.Services

@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.Requester}, {Roles.Approver}, {Roles.Planner}, {Roles.Implementer}, {Roles.Reviewer}, {Roles.Auditor}, {Roles.FwAdmin}")]

@inject ApiConnection apiConnection
@inject UserConfig userConfig


<PopUp Title="@(userConfig.GetText("task") + ": " + ReqHandler.ActReqTask.Title)" Show="@ReqHandler.DisplayReqTaskMode" Size=PopupSize.XLarge OnClose="async () => await Close()">
    <Body>
        @if (ReqHandler.DisplayReqTaskMode)
        {
            <form>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label col-form-label-sm">@(userConfig.GetText("id")):</label>
                            <div class="col-sm-6">
                                <label class="col-sm-12 border bg-secondary">@ReqHandler.ActReqTask.Id</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group row">
                            <label class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("title"))*:</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control form-control-sm" readonly="@(!ReqHandler.EditReqTaskMode)" @bind="ReqHandler.ActReqTask.Title" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-sm-3">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("state")):</label>
                            <div class="col-sm-8">
                                <label class="col-sm-12 h-100 border bg-secondary">@States.Name[ReqHandler.ActReqTask.StateId]</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("handler")):</label>
                            <div class="col-sm-8">
                                <label class="col-sm-12 h-100 border bg-secondary">@ReqHandler.ActReqTask.CurrentHandler?.Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("assigned")):</label>
                            <div class="col-sm-8">
                                <label class="col-sm-12 h-100 border bg-secondary">@(new DistName(ReqHandler.ActReqTask.AssignedGroup).UserName)</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-sm-3">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("type"))*:</label>
                            <div class="col-sm-8">
                                @if (ReqHandler.EditReqTaskMode)
                                {
                                    <Dropdown ElementType="TaskType" @bind-SelectedElement="actTaskType" ElementToString="@(t => userConfig.GetText(t.ToString()))" Elements="availableTaskTypes.Where(x => x != TaskType.master)" >
                                        <ElementTemplate Context="type">
                                            @(userConfig.GetText(type.ToString()))
                                        </ElementTemplate>
                                    </Dropdown>
                               }
                                else
                                {
                                    <label class="col-sm-12 h-100 border bg-secondary">@(userConfig.GetText(actTaskType.ToString()))</label>
                                }
                            </div>
                        </div>
                    </div>
                    @if(actTaskType == TaskType.access && !ReqHandler.ActStateMatrix.PhaseActive[WorkflowPhases.planning] && userConfig.ReqAutoCreateImplTasks == AutoCreateImplTaskOptions.enterInReqTask)
                    {
                        <div class="col-sm-3">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("gateway"))*:</label>
                                <div class="col-sm-8">
                                    @if (ReqHandler.EditReqTaskMode)
                                    {
                                        <Dropdown ElementType="Device" @bind-SelectedElements="selectedDevices" ElementToString="@(d => d.Name)" Elements="ReqHandler.Devices" Multiselect="true">
                                            <ElementTemplate Context="device">
                                                @device.Name
                                            </ElementTemplate>
                                        </Dropdown>
                                    }
                                    else
                                    {
                                        <label class="col-sm-12 h-100 border bg-secondary">@DisplayDevices()</label>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else if(actTaskType == TaskType.rule_delete)
                    {
                        <div class="col-sm-3">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("gateway"))*:</label>
                                <div class="col-sm-8">
                                    @if (ReqHandler.EditReqTaskMode)
                                    {
                                        <Dropdown ElementType="Device" @bind-SelectedElement="actRuleDevice" ElementToString="@(d => d.Name)" Elements="ReqHandler.Devices">
                                            <ElementTemplate Context="device">
                                                @device.Name
                                            </ElementTemplate>
                                        </Dropdown>
                                    }
                                    else
                                    {
                                        <label class="col-sm-12 h-100 border bg-secondary">@actRuleDevice?.Name</label>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else if(actTaskType == TaskType.new_interface)
                    {
                        <div class="col-sm-6">
                            <div class="form-group row">
                                @if (ReqHandler.EditReqTaskMode)
                                {
                                    <SelectOwner @bind-SelectedOwner="actOwner" Apps="ReqHandler.AllOwners" WithConnectionStatus="false" Nullable="true"/>
                                }
                                else
                                {
                                    <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("owner"))*:</label>
                                    <label class="col-sm-8 border bg-secondary">@actOwner?.Name</label>
                                }
                            </div>
                        </div>
                    }
                </div>
                @if(actTaskType == TaskType.generic)
                {
                    <div class="form-group row mt-2">
                        <label class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("free_text")):</label>
                        <div class="col-sm-11">
                            <textarea rows="2" type="text" class="form-control form-control-sm" readonly="@(!ReqHandler.EditReqTaskMode)" @bind="ReqHandler.ActReqTask.FreeText"/>   
                        </div>
                    </div>
                }
                else if(actTaskType == TaskType.access)
                {
                    <div class="form-group row mt-2">
                        <div class="col-sm-3">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("rule_action"))*:</label>
                                <div class="col-sm-8">
                                    @if (ReqHandler.EditReqTaskMode)
                                    {
                                        <Dropdown ElementType="RuleAction" @bind-SelectedElement="actRuleAction" ElementToString="@(a => a.Name)" Elements="ruleActions">
                                            <ElementTemplate Context="action">
                                                @action.Name
                                            </ElementTemplate>
                                        </Dropdown>
                                    }
                                    else
                                    {
                                        <label class="col-sm-12 h-100 border bg-secondary">@actRuleAction?.Name</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("track"))*:</label>
                                <div class="col-sm-8">
                                    @if (ReqHandler.EditReqTaskMode)
                                    {
                                        <Dropdown ElementType="Tracking" @bind-SelectedElement="actTracking" ElementToString="@(t => t.Name)" Elements="trackings">
                                            <ElementTemplate Context="track">
                                                @track.Name
                                            </ElementTemplate>
                                        </Dropdown>
                                    }
                                    else
                                    {
                                        <label class="col-sm-12 h-100 border bg-secondary">@actTracking?.Name</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("valid_from")):</label>
                                <div class="col-sm-8">
                                    @if (ReqHandler.EditReqTaskMode)
                                    {
                                        <input type="date" class="form-control form-control-sm" @bind="ReqHandler.ActReqTask.TargetBeginDate" />
                                    }
                                    else
                                    {
                                        <label class="col-sm-12 h-100 border bg-secondary">@ReqHandler.ActReqTask.TargetBeginDate?.ToString("d")</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">@(userConfig.GetText("valid_to")):</label>
                                <div class="col-sm-8">
                                    @if (ReqHandler.EditReqTaskMode)
                                    {
                                        <input type="date" class="form-control form-control-sm" @bind="ReqHandler.ActReqTask.TargetEndDate" />
                                    }
                                    else
                                    {
                                        <label class="col-sm-12 h-100 border bg-secondary">@ReqHandler.ActReqTask.TargetEndDate?.ToString("d")</label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group row mt-2">
                    <label class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("reason")):</label>
                    <div class="col-sm-11">
                        <textarea rows="2" type="text" class="form-control form-control-sm" readonly="@(!ReqHandler.EditReqTaskMode)" @bind="ReqHandler.ActReqTask.Reason"/>   
                    </div>
                </div>

                @if(actTaskType == TaskType.access)
                {
                    <DisplayAccessElements @bind-Sources="actSources" @bind-Destinations="actDestinations" @bind-Services="actServices" 
                        TaskId="ReqHandler.ActReqTask.Id" EditMode="ReqHandler.EditReqTaskMode" />
                }
                else if(actTaskType == TaskType.rule_delete)
                {
                    <DisplayRules @bind-Rules="actRules" TaskId="ReqHandler.ActReqTask.Id" EditMode="ReqHandler.EditReqTaskMode" />
                }

                @if(!ReqHandler.EditReqTaskMode)
                {
                    <div class="form-group row mt-2">
                        <div class="col-sm-1">
                            <label class="col-form-label col-form-label-sm">@(userConfig.GetText("comments")):</label>
                            @if(ReqHandler.PlanReqTaskMode || ReqHandler.ApproveReqTaskMode)
                            {
                                <button type="button" class="btn btn-sm btn-success" @onclick:preventDefault @onclick="InitAddComment">
                                        @(ModellingHandlerBase.DisplayButton(userConfig, "add_comment", Icons.Add))</button>
                            }
                        </div>
                        <div class="col-sm-11">
                            <textarea rows="3" type="text" class="form-control form-control-sm" readonly="true">@allComments</textarea>
                        </div>
                    </div>
                }

                @if(ReqHandler.EditReqTaskMode || ReqHandler.PlanReqTaskMode || ReqHandler.ApproveReqTaskMode)
                {
                    <div class="col-sm-12 mt-2">
                        <div class="form-group row justify-content-center">
                            @foreach(var action in offeredActions)
                            {
                                <button type="button" class="btn btn-sm btn-dark" @onclick:preventDefault @onclick="() => PerformAction(action)">@action.ButtonText</button>
                            }
                        </div>
                    </div>
                }

                @if(Phase == WorkflowPhases.planning || ReqHandler.ActReqTask.ImplementationTasks.Count > 0)
                {
                    <h5>@(userConfig.GetText("implementation_tasks"))</h5>

                    <DisplayImplTaskTable Phase="Phase" States="States" ReqHandler="ReqHandler" ResetParent="Reset" 
                        AllImplTasks="ReqHandler.ActReqTask.ImplementationTasks" StartImplPhase="StartImplPhase"/>
                }
            </form>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            @if (ReqHandler.EditReqTaskMode)
            {
                <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Requester}, {Roles.FwAdmin}")">
                    <Authorized>
                        @if(ReqHandler.AddTicketMode)
                        {
                            <button type="button" class="btn btn-sm btn-primary" @onclick:preventDefault @onclick="SaveReqTask">@(userConfig.GetText("add"))</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-sm btn-primary" @onclick:preventDefault @onclick="SaveReqTask">@(userConfig.GetText("save"))</button>
                        }
                    </Authorized>
                    <NotAuthorized>
                        <button type="button" class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
            }
            else if (ReqHandler.PlanReqTaskMode)
            {
                <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Planner}, {Roles.FwAdmin}")">
                    <Authorized>
                        <button type="button" class="btn btn-sm btn-primary" @onclick:preventDefault @onclick="InitPromoteReqTask">@(userConfig.GetText("change_state"))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button type="button" class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("change_state"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
            }
            else if (ReqHandler.ApproveReqTaskMode)
            {
                <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Approver}, {Roles.FwAdmin}")">
                    <Authorized>
                        <button type="button" class="btn btn-sm btn-primary" @onclick:preventDefault @onclick="InitApproveTask">@(userConfig.GetText("approve"))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button type="button" class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("approve"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
            }
            @if(ReqHandler.EditReqTaskMode || ReqHandler.PlanReqTaskMode || ReqHandler.ApproveReqTaskMode)
            {
                <button type="button" class="btn btn-sm btn-secondary" @onclick:preventDefault @onclick="Close">@(userConfig.GetText("cancel"))</button>
            }
            else
            {
                <button type="button" class="btn btn-sm btn-primary" @onclick:preventDefault @onclick="Close">@(userConfig.GetText("ok"))</button>
            }
        </div>
    </Footer>
</PopUp>

<PromoteObject @bind-Promote="ReqHandler.DisplayPromoteMode" ResetParent="Close" ObjectName="@ReqHandler.ActReqTask.Title" Save="ConfPromoteReqTask" StatefulObject="ReqHandler.ActReqTask" StateMatrix="ReqHandler.ActStateMatrix" States="States"/>
<PromoteObject @bind-Promote="ReqHandler.DisplayApproveMode" ResetParent="Close" ObjectName="@userConfig.GetText("approval")" WithComment="true" Save="ConfApproveTask" StatefulObject="ReqHandler.ActApproval" StateMatrix="ReqHandler.ActStateMatrix" States="States"/>
<CommentObject @bind-Display="ReqHandler.DisplayCommentMode" ResetParent="InitComments" ObjectName="@ReqHandler.ActReqTask.Title" Save="ConfAddComment"/>
<DisplayPathAnalysis @bind-Display="ReqHandler.DisplayPathAnalysisMode" ResetParent="ResetPathAnalysis" ReqTask="ReqHandler.ActReqTask"/>

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public WorkflowPhases Phase { get; set; } = WorkflowPhases.request;

    [Parameter]
    public RequestStateDict States { get; set; } = new ();

    [Parameter]
    public RequestHandler ReqHandler { get; set; } = new ();

    [Parameter]
    public Func<Task> ResetParent { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public Func<RequestReqTask, Task> StartPhase { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public Func<RequestImplTask, Task> StartImplPhase { get; set; } = DefaultInit.DoNothing;


    private List<TaskType> availableTaskTypes { get; set; } = new ();
    private List<RuleAction> ruleActions = new ();
    private List<Tracking> trackings = new ();

    private List<NwObjectElement> actSources = new ();
    private List<NwObjectElement> actDestinations = new ();
    private List<NwServiceElement> actServices = new ();
    private List<NwRuleElement> actRules = new ();
    private TaskType actTaskType = TaskType.access;

    private List<RequestStateAction> offeredActions = new ();
    private string allComments = "";
    private IEnumerable<Device> selectedDevices { get; set; } = new List<Device>();
    private Device? actRuleDevice;
    private RuleAction? actRuleAction;
    private Tracking? actTracking;
    private FwoOwner? actOwner;
    private FwoOwner? oldOwner;
    private bool firstParamSet = false;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            availableTaskTypes = System.Text.Json.JsonSerializer.Deserialize<List<TaskType>>(userConfig.ReqAvailableTaskTypes) ?? throw new Exception("Config data could not be parsed.");
            actTaskType = availableTaskTypes.Count > 0 ? availableTaskTypes.Last() : TaskType.access;
            ruleActions = await apiConnection.SendQueryAsync<List<RuleAction>>(FWO.Api.Client.Queries.StmQueries.getRuleActions);
            trackings = await apiConnection.SendQueryAsync<List<Tracking>>(FWO.Api.Client.Queries.StmQueries.getTracking);
            InitElements();
            firstParamSet = true;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (ReqHandler.DisplayReqTaskMode && firstParamSet)
            {
                InitElements();
                await InitComments();
                await Reset();
                if(!ReqHandler.AddReqTaskMode)
                {
                    Enum.TryParse<TaskType>(ReqHandler.ActReqTask.TaskType, out actTaskType);
                    if(!availableTaskTypes.Contains(actTaskType))
                    {
                        DisplayMessageInUi(null, userConfig.GetText("display_task"), userConfig.GetText("E8014"), true);
                    }
                    if(ReqHandler.ActReqTask.TaskType == TaskType.new_interface.ToString() && ReqHandler.ActReqTask.Owners.Count > 0)
                    {
                        oldOwner = actOwner;
                    }
                }
                firstParamSet = false;
             }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("init_environment"), "", true);
        }
    }

    private void InitElements()
    {
        actSources = ReqHandler.ActReqTask.getNwObjectElements(ElemFieldType.source);
        actDestinations = ReqHandler.ActReqTask.getNwObjectElements(ElemFieldType.destination);
        actServices = ReqHandler.ActReqTask.getServiceElements();
        actRules = ReqHandler.ActReqTask.getRuleElements();
    }

    private async Task InitComments()
    {
        allComments = ReqHandler.ActReqTask.getAllComments();
    }

    private async Task Close()
    {
        firstParamSet = true;
        await ResetParent();
    }

    private async Task Reset()
    {
        Log.WriteDebug("DisplayRequestTask", $"Reset");
        offeredActions = ReqHandler.ActionHandler.GetOfferedActions(ReqHandler.ActReqTask, RequestObjectScopes.RequestTask, ReqHandler.Phase);
        selectedDevices = new List<Device>();
        foreach(int devId in ReqHandler.ActReqTask.getDeviceList().ToArray())
        {
            Device? dev = ReqHandler.Devices.FirstOrDefault(x => x.Id == devId);
            if(dev != null)
            {
                selectedDevices = selectedDevices.Append<Device>(dev);
            }
        }
        actRuleDevice = ReqHandler.Devices.FirstOrDefault(x => x.Id == ReqHandler.ActReqTask.getRuleDeviceId());
        actRuleAction = ruleActions.FirstOrDefault(x => x.Id == ReqHandler.ActReqTask.RuleAction);
        actTracking = trackings.FirstOrDefault(x => x.Id == ReqHandler.ActReqTask.Tracking);
        actOwner = ReqHandler.ActReqTask.Owners.FirstOrDefault()?.Owner;
        StateHasChanged();
    }

    private async Task ResetPathAnalysis()
    {
        ReqHandler.DisplayPathAnalysisMode = false;
    }

    private string DisplayDevices()
    {
        List<string> devNames = new();
        foreach(var dev in selectedDevices)
        {
            devNames.Add(dev?.Name ?? "");
        }
        return string.Join(", ", devNames);
    }

    private async Task PerformAction(RequestStateAction action)
    {
        await ReqHandler.ActionHandler.PerformAction(action, ReqHandler.ActReqTask, RequestObjectScopes.RequestTask);
        await Reset();
    }

    private void InitPromoteReqTask()
    {
        ReqHandler.SetReqTaskPopUpOpt(ObjAction.displayPromote);
    }

    private async Task ConfPromoteReqTask(RequestStatefulObject reqtask)
    {
        await ReqHandler.PromoteReqTask(reqtask);
    }

    private async Task InitApproveTask()
    {
        await ReqHandler.SetApprovalEnv();
        ReqHandler.SetReqTaskPopUpOpt(ObjAction.displayApprove);
    }

    private async Task ConfApproveTask(RequestStatefulObject approval)
    {
        await ReqHandler.ApproveTask(approval);
    }

    private void InitAddComment()
    {
        ReqHandler.SetReqTaskPopUpOpt(ObjAction.displayComment);
    }

    private async Task ConfAddComment(string commentText)
    {
        await ReqHandler.ConfAddCommentToReqTask(commentText);
        await InitComments();
        StateHasChanged();
    }

    private void UpdateElements()
    {
        foreach(var oldElem in ReqHandler.ActReqTask.Elements.Where(x => x.Id > 0 && (x.Field == ElemFieldType.source.ToString() || 
            x.Field == ElemFieldType.destination.ToString() || x.Field == ElemFieldType.service.ToString() || x.Field == ElemFieldType.rule.ToString())))
        {
            if(actSources.FirstOrDefault(x => x.ElemId == oldElem.Id) == null && 
                actDestinations.FirstOrDefault(x => x.ElemId == oldElem.Id) == null && 
                actServices.FirstOrDefault(x => x.ElemId == oldElem.Id) == null &&
                actRules.FirstOrDefault(x => x.ElemId == oldElem.Id) == null)
            {
                ReqHandler.ActReqTask.RemovedElements.Add(oldElem);
            }
        }

        ReqHandler.ActReqTask.Elements.RemoveAll(x => (x.Field == ElemFieldType.source.ToString() || 
            x.Field == ElemFieldType.destination.ToString() || x.Field == ElemFieldType.service.ToString() || x.Field == ElemFieldType.rule.ToString()));

        foreach(var source in actSources)
        {
            ReqHandler.ActReqTask.Elements.Add(source.ToReqElement(ElemFieldType.source));
        }
        foreach(var destination in actDestinations)
        {
            ReqHandler.ActReqTask.Elements.Add(destination.ToReqElement(ElemFieldType.destination));
        }
        foreach(var service in actServices)
        {
            ReqHandler.ActReqTask.Elements.Add(service.ToReqElement());
        }
        foreach(var rule in actRules)
        {
            RequestReqElement reqElem = rule.ToReqElement();
            reqElem.DeviceId = actRuleDevice?.Id;
            reqElem.RequestAction = ReqHandler.ActReqTask.RequestAction;
            ReqHandler.ActReqTask.Elements.Add(reqElem);
        }
    }

    private async Task SaveReqTask()
    {
        try
        {
            ReqHandler.ActReqTask.TaskType = actTaskType.ToString();
            ReqHandler.ActReqTask.RuleAction = actRuleAction?.Id;
            ReqHandler.ActReqTask.Tracking = actTracking?.Id;
            ReqHandler.ActReqTask.RemovedOwners = new();
            ReqHandler.ActReqTask.NewOwners = new();
            if(actOwner != oldOwner)
            {
                if(oldOwner != null)
                {
                    ReqHandler.ActReqTask.RemovedOwners.Add(oldOwner);
                }
                if(actOwner != null)
                {
                    ReqHandler.ActReqTask.NewOwners.Add(actOwner);
                }
            }
            if (ReqHandler.ActReqTask.Sanitize())
            {
                DisplayMessageInUi(null, userConfig.GetText("save_task"), userConfig.GetText("U0001"), true);
            }
            if(actTaskType == TaskType.rule_delete)
            {
                ReqHandler.ActReqTask.RequestAction = RequestAction.delete.ToString();
            }
            UpdateElements();
            if (await CheckTaskValues())
            {
                ReqHandler.ActReqTask.SetDeviceList(selectedDevices.ToList());
                ReqHandler.ActReqTask.Owners = new() { new() { Owner = actOwner ?? new() } };
                if (ReqHandler.AddReqTaskMode)
                {
                    await ReqHandler.AddApproval();
                    ReqHandler.ActReqTask.TaskNumber = ReqHandler.ActTicket.HighestTaskNumber() + 1;
                    await ReqHandler.AddReqTask();
                }
                else
                {
                    await ReqHandler.ChangeReqTask();
                }
                await Close();
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("save_task"), "", true);
        }
    }

    private async Task<bool> CheckTaskValues()
    {
        if (ReqHandler.ActReqTask.Title == null || ReqHandler.ActReqTask.Title == "" || actOwner == null)
        {
            DisplayMessageInUi(null, userConfig.GetText("save_task"), userConfig.GetText("E5102"), true);
            return false;
        }
        if (actTaskType == TaskType.access)
        {
            if (actSources.Count == 0 || actDestinations.Count == 0 || actServices.Count == 0 ||
                (!ReqHandler.ActStateMatrix.PhaseActive[WorkflowPhases.planning] && userConfig.ReqAutoCreateImplTasks == AutoCreateImplTaskOptions.enterInReqTask && selectedDevices.Count<Device>() == 0))
            {
                DisplayMessageInUi(null, userConfig.GetText("save_task"), userConfig.GetText("E5102"), true);
                return false;
            }
            foreach (var reqElem in ReqHandler.ActReqTask.Elements)
            {
                if (reqElem.NetworkId == null && reqElem.ServiceId == null)
                {
                    if (reqElem.Field == ElemFieldType.service.ToString() && reqElem.Port < 1 || reqElem.Port > 65535)
                    {
                        DisplayMessageInUi(null, userConfig.GetText("save_element"), userConfig.GetText("E5103"), true);
                        return false;
                    }
                }
            }
        }
        else if (actTaskType == TaskType.rule_delete)
        {
            if (actRuleDevice == null || actRules.Count == 0)
            {
                DisplayMessageInUi(null, userConfig.GetText("save_task"), userConfig.GetText("E5102"), true);
                return false;
            }
            foreach(var elem in ReqHandler.ActReqTask.Elements.Where(x => x.Field == ElemFieldType.rule.ToString()))
            {
                if(!(await ReqHandler.CheckRuleUid(actRuleDevice?.Id, elem.RuleUid)))
                {
                    DisplayMessageInUi(null, userConfig.GetText("save_task"), userConfig.GetText("E8013") + elem.RuleUid, true);
                    return false;
                }
            }
        }
        return true;
    }
}
