@using FWO.Api.Client
@using FWO.Api.Data
@using FWO.Config.Api
@using FWO.Ui.Services

@attribute [Authorize(Roles = "admin, requester, approver, planner, implementer, reviewer, auditor, fw-admin")]

@inject ApiConnection apiConnection
@inject UserConfig userConfig


<PopUp Title="@(userConfig.GetText("implementation") + ": " + ReqHandler.ActImplTask.Id)" Show="@ReqHandler.DisplayImplTaskMode" XLarge="true" OnClose="() => Close()">
    <Body>
        @if (ReqHandler.DisplayImplTaskMode)
        {
            <form>
                <div class="form-group row">
                    <label for="taskDevId" class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("device"))*:</label>
                    @if (ReqHandler.EditImplTaskMode)
                    {
                        <div class="col-sm-2">
                            <select id="taskDevId" class="form-control form-control-sm" @bind="ReqHandler.ActImplTask.DeviceId">
                                @foreach (Device device in ReqHandler.Devices)
                                {
                                    <option value="@device.Id">@(device.Name)</option>
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-2">@(ReqHandler.ActImplTask.DeviceId != null && ReqHandler.ActImplTask.DeviceId != 0 ? ReqHandler.Devices[ReqHandler.Devices.FindIndex(x => x.Id == ReqHandler.ActImplTask.DeviceId)].Name : "")</label>
                    }
                    <label for="taskReqAction" class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("action"))*:</label>
                    @if (ReqHandler.EditImplTaskMode)
                    {
                        <div class="col-sm-2">
                            <select id="taskReqAction" class="form-control form-control-sm" @bind="ReqHandler.ActImplTask.ImplAction">
                                @foreach (string action in Enum.GetNames(typeof(RequestAction)))
                                {
                                    <option value="@action">@(userConfig.GetText(action))</option>
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-2">@(userConfig.GetText(ReqHandler.ActImplTask.ImplAction))</label>
                    }
                    <label for="taskState" class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("state")):</label>
                    <label class="col-sm-2">@States.Name[ReqHandler.ActImplTask.StateId]</label>
                    <label for="taskPlanner" class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("implementer")):</label>
                    <label class="col-sm-2">@ReqHandler.ActImplTask.CurrentHandler?.Name</label>
                </div>
                <div class="form-group row">
                    <label for="taskRuleAction" class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("rule_action")):</label>
                    @if (ReqHandler.EditImplTaskMode)
                    {
                        <div class="col-sm-2">
                            <select id="taskRuleAction" class="form-control form-control-sm" @bind="ReqHandler.ActImplTask.RuleAction">
                                @foreach (var action in ruleActions)
                                {
                                    <option value="@action.Id">@(action.Name)</option>
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-2">@(((ReqHandler.ActImplTask.RuleAction != null) ? ruleActions.Find(x => x.Id == ReqHandler.ActImplTask.RuleAction)?.Name : ""))</label>
                    }
                    <label for="taskRuleTracking" class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("track")):</label>
                    @if (ReqHandler.EditImplTaskMode)
                    {
                        <div class="col-sm-2">
                            <select id="taskRuleTracking" class="form-control form-control-sm" @bind="ReqHandler.ActImplTask.Tracking">
                                @foreach (var track in trackings)
                                {
                                    <option value="@track.Id">@(track.Name)</option>
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-2">@(((ReqHandler.ActImplTask.Tracking != null) ? trackings.Find(x => x.Id == ReqHandler.ActImplTask.Tracking)?.Name : ""))</label>
                    }
                    <label for="taskRuleValidFrom" class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("valid_from")):</label>
                    @if (ReqHandler.EditImplTaskMode)
                    {
                        <div class="col-sm-2">
                            <input id="taskRuleValidFrom" type="date" class="form-control form-control-sm" @bind="ReqHandler.ActImplTask.TargetBeginDate" />
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-2">@ReqHandler.ActImplTask.TargetBeginDate?.ToString("d")</label>
                    }
                    <label for="taskRuleValidTo" class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("valid_to")):</label>
                    @if (ReqHandler.EditImplTaskMode)
                    {
                        <div class="col-sm-2">
                            <input id="taskRuleValidTo" type="date" class="form-control form-control-sm" @bind="ReqHandler.ActImplTask.TargetEndDate" />
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-2">@ReqHandler.ActImplTask.TargetEndDate?.ToString("d")</label>
                    }
                </div>
                @if(ReqHandler.ActReqTask.TaskType == TaskType.access.ToString())
                {
                    <DisplayAccessElements @bind-Sources="actSources" @bind-Destinations="actDestinations" @bind-Services="actServices" 
                        TaskId="ReqHandler.ActReqTask.Id" EditMode ="ReqHandler.EditImplTaskMode"></DisplayAccessElements>
                }
                <div class="form-group row">
                    <label for="taskComment" class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("comment")):</label>
                    @if (ReqHandler.ImplementImplTaskMode)
                    {
                        <div class="col-sm-11">
                            <input id="taskComment" type="text" class="form-control form-control-sm" @bind="ReqHandler.ActImplTask.FwAdminComments" />
                        </div>
                    }
                    else
                    {
                        <label class="col-sm-11">@ReqHandler.ActImplTask.FwAdminComments</label>
                    }
                </div>
            </form>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            @if (ReqHandler.EditImplTaskMode)
            {
                <AuthorizeView Roles="admin, planner, fw-admin">
                    <Authorized>
                        <button class="btn btn-sm btn-primary" @onclick:preventDefault @onclick="SaveImplTask">@(userConfig.GetText("save"))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("save"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
            }
            else if (ReqHandler.ImplementImplTaskMode)
            {
                <AuthorizeView Roles="admin, implementer, reviewer, fw-admin">
                    <Authorized>
                        <button class="btn btn-sm btn-primary" @onclick:preventDefault @onclick="InitPromoteImplTask">@(userConfig.GetText("promote_task"))</button>
                    </Authorized>
                    <NotAuthorized>
                        <button class="btn btn-sm btn-primary" disabled>@(userConfig.GetText("promote_task"))</button>
                    </NotAuthorized> 
                </AuthorizeView>
            }
            <button class="btn btn-sm btn-secondary" @onclick:preventDefault @onclick="Close">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

<PromoteObject @bind-Promote="ReqHandler.PromoteImplTaskMode" ResetParent="Reset" ObjectName="task" Save="ConfPromoteImplTask" StatefulObject="ReqHandler.ActImplTask" StateMatrix="StateMatrix" States="States"></PromoteObject>

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool>? DisplayMessageInUi { get; set; }
    
    [Parameter]
    public WorkflowPhases Phase { get; set; } = WorkflowPhases.planning;

    [Parameter]
    public RequestHandler ReqHandler { get; set; }
    
    [Parameter]
    public Func<Task> ResetParent { get; set; }

    [Parameter]
    public StateMatrix StateMatrix { get; set; } = new StateMatrix();

    [Parameter]
    public RequestStateDict States { get; set; } = new RequestStateDict();


    private List<RuleAction> ruleActions = new List<RuleAction>();
    private List<Tracking> trackings = new List<Tracking>();
    
    List<NwObjectElement> actSources = new List<NwObjectElement>();
    List<NwObjectElement> actDestinations = new List<NwObjectElement>();
    List<NwServiceElement> actServices = new List<NwServiceElement>();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            ruleActions = await apiConnection.SendQueryAsync<List<RuleAction>>(FWO.Api.Client.Queries.StmQueries.getRuleActions);
            trackings = await apiConnection.SendQueryAsync<List<Tracking>>(FWO.Api.Client.Queries.StmQueries.getTracking);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("fetch_data"), "", true);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (ReqHandler.DisplayImplTaskMode)
        {
            InitElements();
        }
    }

    private void InitElements()
    {
        actSources = ReqHandler.ActImplTask.getNwObjectElements(AccessField.source);
        actDestinations = ReqHandler.ActImplTask.getNwObjectElements(AccessField.destination);
        actServices = ReqHandler.ActImplTask.getServiceElements();
    }

    private void Close()
    {
        ResetParent();
    }

    private async Task Reset()
    {
        ReqHandler.ResetImplTaskActions();
        StateHasChanged();
    }

    private void UpdateElements()
    {
        foreach(var oldElem in ReqHandler.ActImplTask.ImplElements.Where(x => x.Id > 0 && (x.Field == AccessField.source.ToString() || 
            x.Field == AccessField.destination.ToString() || x.Field == AccessField.service.ToString())))
        {
            if(actSources.FirstOrDefault(x => x.ElemId == oldElem.Id) == null && 
                actDestinations.FirstOrDefault(x => x.ElemId == oldElem.Id) == null && 
                actServices.FirstOrDefault(x => x.ElemId == oldElem.Id) == null)
            {
                ReqHandler.ActImplTask.RemovedElements.Add(oldElem);
            }
        }

        ReqHandler.ActImplTask.ImplElements.RemoveAll(x => (x.Field == AccessField.source.ToString() || 
            x.Field == AccessField.destination.ToString() || x.Field == AccessField.service.ToString()));

        foreach(var source in actSources)
        {
            ReqHandler.ActImplTask.ImplElements.Add(source.ToImplElement(AccessField.source));
        }
        foreach(var destination in actDestinations)
        {
            ReqHandler.ActImplTask.ImplElements.Add(destination.ToImplElement(AccessField.destination));
        }
        foreach(var service in actServices)
        {
            ReqHandler.ActImplTask.ImplElements.Add(service.ToImplElement(AccessField.service));
        }
    }

    private async Task SaveImplTask()
    {
        try
        {
            if (ReqHandler.ActImplTask.Sanitize())
            {
                DisplayMessageInUi!(null, userConfig.GetText("save_task"), userConfig.GetText("U0001"), true);
            }
            UpdateElements();
            if (CheckTaskValues())
            {
                if (ReqHandler.AddImplTaskMode)
                {
                    await ReqHandler.AddImplTask();
                }
                else
                {
                    await ReqHandler.ChangeImplTask();
                }
                Close();
            } 
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("save_task"), "", true);
        }
    }

    private bool CheckTaskValues()
    {
        foreach (var implElem in ReqHandler.ActImplTask.ImplElements)
        {
            if (implElem.NetworkId == null && implElem.ServiceId == null)
            {
                if (implElem.Port < 1 || implElem.Port > 65535)
                {
                    DisplayMessageInUi!(null, userConfig.GetText("save_element"), userConfig.GetText("E5103"), true);
                    return false;
                }
            }
        }
        return true;
    }

    private async Task InitPromoteImplTask()
    {
        ReqHandler.SetImplTaskOpt(ObjAction.promote);
    }

    private async Task ConfPromoteImplTask(StatefulObject implTask)
    {
        await ReqHandler.PromoteImplTask(implTask);
    }
}
