@using FWO.Api.Client
@using FWO.Api.Data
@using FWO.Config.Api
@using FWO.Ui.Services

@attribute [Authorize(Roles = $"{Roles.Admin}, {Roles.Requester}, {Roles.Approver}, {Roles.Planner}, {Roles.Implementer}, {Roles.Reviewer}, {Roles.Auditor}, {Roles.FwAdmin}")]

@inject ApiConnection apiConnection
@inject UserConfig userConfig

@if (ReqHandler.PlanReqTaskMode)
{
    <div class="btn-group">
        <button type="button" class="btn btn-success m-2" @onclick:preventDefault @onclick="AddImplTask">
            @(ModellingHandlerBase.DisplayButton(userConfig, "create_implementation", Icons.Add))</button>
        @if(ReqHandler.ActReqTask.TaskType == TaskType.access.ToString() && userConfig.ReqActivatePathAnalysis)
        {
            <button type="button" class="btn btn-success m-2" @onclick:preventDefault @onclick="CheckImplTasks">
                @(userConfig.GetText("check_impltasks"))</button>
            <button type="button" class="btn btn-warning m-2" @onclick:preventDefault @onclick="AutocreateImplTasks">
                @(userConfig.GetText("auto_create_impltasks"))</button>
            @if(ReqHandler.ActReqTask.ImplementationTasks.Count > 0)
            {
                <button type="button" class="btn btn-danger m-2" @onclick:preventDefault @onclick="CleanupImplTasks">
                    @(userConfig.GetText("cleanup_impltasks"))</button>
            }
            else
            {
                <button type="button" class="btn btn-danger m-2" disabled>@(userConfig.GetText("cleanup_impltasks"))</button>
            }
        }
    </div>
}
@if (AllImplTasks != null && AllImplTasks.Count > 0)
{
    <div class="m-2">
        <Table class="table table-bordered th-bg-secondary table-responsive overflow-auto sticky-header" TableItem="RequestImplTask" Items="AllImplTasks" PageSize="0" ColumnReorder="true">
            <Column Context="implTask" TableItem="RequestImplTask" Title="@(userConfig.GetText("actions"))" Field="(x => x.Id)" Sortable="false" Filterable="false">
                <Template>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary" @onclick:preventDefault @onclick="() => ShowImplTask(implTask)">
                            @(ModellingHandlerBase.DisplayButton(userConfig, "details", Icons.Display))</button>
                        @if(!ReqHandler.StateMatrix(implTask.TaskType).PhaseActive[WorkflowPhases.planning] && ReqHandler.StateMatrix(implTask.TaskType).PhaseActive[WorkflowPhases.approval])
                        {
                            <button type="button" class="btn btn-sm btn-primary" @onclick:preventDefault @onclick="() => ShowApprovals(implTask)">
                                @(userConfig.GetText("approvals"))</button>
                        }
                        @if (!ReqHandler.ReadOnlyMode)
                        {
                            @if (ReqHandler.PlanReqTaskMode && implTask.StateId < ReqHandler.StateMatrix(implTask.TaskType).LowestEndState)
                            {
                                <button type="button" class="btn btn-sm btn-warning" @onclick:preventDefault @onclick="() => EditImplTask(implTask)">
                                    @(ModellingHandlerBase.DisplayButton(userConfig, "edit", Icons.Edit))</button>
                                <button type="button" class="btn btn-sm btn-danger" @onclick:preventDefault @onclick="() => DeleteImplTask(implTask)">
                                    @(ModellingHandlerBase.DisplayButton(userConfig, "delete", Icons.Delete))</button>
                            }
                            else if (Phase >= WorkflowPhases.implementation && implTask.StateId >= ReqHandler.StateMatrix(implTask.TaskType).LowestInputState && ReqHandler.TicketList.FirstOrDefault(x => x.Id == implTask.TicketId)?.StateId >= ReqHandler.MasterStateMatrix.LowestInputState)
                            {
                                @if (implTask.StateId < ReqHandler.StateMatrix(implTask.TaskType).LowestStartedState)
                                {
                                    <AuthorizeView Roles="@($"{Roles.Admin}, {Roles.Implementer}, {Roles.Reviewer}, {Roles.FwAdmin}")">
                                        <Authorized Context="ctx">
                                            <button type="button" class="btn btn-sm btn-warning" @onclick:preventDefault @onclick="async () => await StartImplPhase(implTask)">
                                                @(ModellingHandlerBase.DisplayButton(userConfig, "start_" + Phase.ToString(), Icons.Edit))</button>
                                        </Authorized>
                                        <NotAuthorized Context="ctx">
                                            <button type="button" class="btn btn-sm btn-warning" disabled>
                                                @(ModellingHandlerBase.DisplayButton(userConfig, "start_" + Phase.ToString(), Icons.Edit))</button>
                                        </NotAuthorized>
                                    </AuthorizeView>
                                }
                                else if (implTask.StateId < ReqHandler.StateMatrix(implTask.TaskType).LowestEndState)
                                {
                                    <button type="button" class="btn btn-sm btn-warning" @onclick:preventDefault @onclick="async () => await ContinueImplPhase(implTask)">
                                        @(ModellingHandlerBase.DisplayButton(userConfig, "continue_" + Phase.ToString(), Icons.Edit))</button>
                                    <button type="button" class="btn btn-sm btn-warning" @onclick:preventDefault @onclick="() => AssignImplTask(implTask)">
                                        @(ModellingHandlerBase.DisplayButton(userConfig, "assign1", Icons.Assign))</button>
                                }
                            }
                        }
                    </div>
                </Template>
            </Column>
            <Column Context="implTask" TableItem="RequestImplTask" Title="@(userConfig.GetText("id"))" Field="@(x => x.Id)" Sortable="true" Filterable="true" />
            <Column Context="implTask" TableItem="RequestImplTask" Title="@(userConfig.GetText("type"))" Field="@(x => x.Id)" Sortable="true" Filterable="false" >
                <Template>
                    @(userConfig.GetText(implTask.TaskType))
                </Template>
            </Column>
            @if(DeviceView)
            {
                <Column Context="implTask" TableItem="RequestImplTask" Title="@(userConfig.GetText("ticket"))" Field="@(x => x.TicketId)" Sortable="true" Filterable="false" >
                    <Template>
                        @(implTask.TicketId != 0 ? ReqHandler.TicketList[ReqHandler.TicketList.FindIndex(x => x.Id == implTask.TicketId)].Title : "")
                    </Template>
                </Column>
                <Column Context="implTask" TableItem="RequestImplTask" Title="@(userConfig.GetText("task"))" Field="@(x => x.ReqTaskId)" Sortable="true" Filterable="false" >
                    <Template>
                        @(implTask.TicketId != 0 && implTask.ReqTaskId != 0 ?
                            ReqHandler.TicketList[ReqHandler.TicketList.FindIndex(x => x.Id == implTask.TicketId)].Tasks.FirstOrDefault(x => x.Id == implTask.ReqTaskId)?.Title : "")
                    </Template>
                </Column>
            }
            <Column Context="implTask" TableItem="RequestImplTask" Title="@(userConfig.GetText("number"))" Field="@(x => x.TaskNumber)" Sortable="true" Filterable="true" />
            <Column Context="implTask" TableItem="RequestImplTask" Title="@(userConfig.GetText("gateway"))" Field="@(x => x.DeviceId)" Sortable="true">
                <Template>
                    @(implTask.DeviceId != null && implTask.DeviceId != 0 ? ReqHandler.Devices[ReqHandler.Devices.FindIndex(x => x.Id == implTask.DeviceId)].Name : "")
                </Template>
            </Column>
            <Column Context="implTask" TableItem="RequestImplTask" Title="@(userConfig.GetText("state"))" Field="@(x => x.StateId)" Sortable="true" Filterable="false" >
                <Template>
                    @(States.Name[implTask.StateId])
                </Template>
            </Column>
            <Column Context="implTask" TableItem="RequestImplTask" Title="@(userConfig.GetText("implementer"))" Field="@(x => x.CurrentHandler)" Sortable="true" Filterable="true" >
                <Template>
                    @(implTask.CurrentHandler?.Name)
                </Template>
            </Column>
            <Column Context="implTask" TableItem="RequestImplTask" Title="@(userConfig.GetText("assigned"))" Field="@(x => x.AssignedGroup)" Sortable="true" Filterable="true" >
                <Template>
                    @(new DistName(implTask.AssignedGroup).UserName)
                </Template>
            </Column>
            <Column Context="implTask" TableItem="RequestImplTask" Title="@(userConfig.GetText("start"))" Field="@(x => x.Start)" Sortable="true" Filterable="true" />
            <Column Context="implTask" TableItem="RequestImplTask" Title="@(userConfig.GetText("stop"))" Field="@(x => x.Stop)" Sortable="true" Filterable="true" />
        </Table>
    </div>
}

<PopUp Title="@(userConfig.GetText("check_impltasks"))" Show="@DisplayInfo" Size=PopupSize.Large OnClose="() => DisplayInfo = false">
    <Body>
        @if (DisplayInfo)
        {
            @if(deviceCheck.Count == 0)
            {
                @(userConfig.GetText("no_gws_found"))
            }
            else
            {
                <div class="m-2 vheight75">
                    <Table class="table table-bordered th-bg-secondary table-responsive overflow-auto sticky-header" TableItem="KeyValuePair<string, bool>" Items="deviceCheck" PageSize="0" ColumnReorder="true">
                        <Column TableItem="KeyValuePair<string, bool>" Title="@(userConfig.GetText("device"))" Field="@(x => x.Key)" Sortable="true" Filterable="true" />
                        <Column TableItem="KeyValuePair<string, bool>" Title="@(userConfig.GetText("impltask_created"))" Field="@(x => x.Value)" Sortable="false">
                            <Template>
                                @(GlobalConfig.ShowBool(context.Value))
                            </Template>
                        </Column>
                    </Table>
                </div>
            }
        }
    </Body>
    <Footer>
        <button type="button" class="btn btn-sm btn-primary" @onclick:preventDefault @onclick="() => DisplayInfo = false">@(userConfig.GetText("ok"))</button>
    </Footer>
</PopUp>

<DisplayImplementationTask Phase="Phase" ReqHandler="ReqHandler" ResetParent="Reset" StateMatrix="ReqHandler.ActStateMatrix" States="States"></DisplayImplementationTask>
<AssignObject @bind-Display="ReqHandler.DisplayAssignMode" ResetParent="Reset" StatefulObject="ReqHandler.ActImplTask" Assign="ReqHandler.AssignImplTaskGroup" AssignBack="ReqHandler.AssignImplTaskBack" ObjectName="@ReqHandler.ActImplTask.Title" RoleList="validRoles"/>
<DeleteObject @bind-Display="ReqHandler.DisplayDeleteMode" ResetParent="Reset" Delete="ReqHandler.ConfDeleteImplTask" ObjectName="@(ReqHandler.ActImplTask.Title)"/>
<DeleteObject @bind-Display="ReqHandler.DisplayCleanupMode" ResetParent="Reset" Delete="ReqHandler.ConfCleanupImplTasks" ObjectName="@(userConfig.GetText("all_impltasks"))"/>
<DisplayApprovals @bind-Display="ReqHandler.DisplayApprovalMode" ReqHandler="ReqHandler" ResetParent="Reset" Approvals="ReqHandler.ActReqTask.Approvals" States="States"/>


@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;
    
    [Parameter]
    public WorkflowPhases Phase { get; set; } = WorkflowPhases.approval;

    [Parameter]
    public RequestStateDict States { get; set; } = new ();

    [Parameter]
    public RequestHandler ReqHandler { get; set; } = new ();

    [Parameter]
    public Func<Task> ResetParent { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public List<RequestImplTask>? AllImplTasks { get; set; } = new List<RequestImplTask>();

    [Parameter]
    public bool DeviceView { get; set; } = false;

    [Parameter]
    public Func<RequestImplTask, Task> StartImplPhase { get; set; } = DefaultInit.DoNothing;

    static List<string> validRoles = new (){Roles.Implementer, Roles.FwAdmin};
    private bool DisplayInfo = false;
    private List<KeyValuePair<string, bool>> deviceCheck = new List<KeyValuePair<string, bool>>();


    private async Task Reset()
    {
        await ResetParent();
        ReqHandler.ResetImplTaskActions();
        StateHasChanged();
    }

    private void ShowImplTask(RequestImplTask implTask)
    {
        ReqHandler.SelectImplTask(implTask, ObjAction.display);
    }

    private void AddImplTask()
    {
        RequestImplTask newTask = new (ReqHandler.ActReqTask, false)
        {
            TaskNumber = ReqHandler.ActReqTask.HighestImplTaskNumber() + 1,
            DeviceId = (ReqHandler.Devices.Count > 0 ? ReqHandler.Devices[0].Id : 0)
        };
        if(ReqHandler.Devices.Count > 0)
        {
            newTask.Title += ": "+ ReqHandler.Devices[ReqHandler.Devices.FindIndex(x => x.Id == ReqHandler.Devices[0].Id)].Name;
        }
        ReqHandler.SelectImplTask(newTask, ObjAction.add);
    }

    private async Task AutocreateImplTasks()
    {
        await ReqHandler.CreateAccessImplTasksFromPathAnalysis(ReqHandler.ActReqTask);
    }

    private async Task CheckImplTasks()
    {
        List<Device> foundDevices = await (new PathAnalysis(apiConnection)).getAllDevices(ReqHandler.ActReqTask.Elements);
        deviceCheck = new List<KeyValuePair<string, bool>>();
        foreach(var dev in foundDevices)
        {
            deviceCheck.Add(new KeyValuePair<string, bool>(dev.Name ?? "", ReqHandler.ActReqTask.ImplementationTasks.FirstOrDefault(x => x.DeviceId == dev.Id) != null));
        }
        DisplayInfo = true;
    }

    private void CleanupImplTasks()
    {
        ReqHandler.SetImplTaskPopUpOpt(ObjAction.displayCleanup);
    }

    private void EditImplTask(RequestImplTask implTask)
    {
        ReqHandler.SelectImplTask(implTask, ObjAction.edit);
    }

    private void DeleteImplTask(RequestImplTask implTask)
    {
        ReqHandler.SelectImplTaskPopUp(implTask, ObjAction.displayDelete);
    }

    private void ShowApprovals(RequestImplTask implTask)
    {
        ReqHandler.SelectImplTaskPopUp(implTask, ObjAction.displayApprovals);
    }

    private void AssignImplTask(RequestImplTask implTask)
    {
        ReqHandler.SelectImplTaskPopUp(implTask, ObjAction.displayAssign);
    }

    private async Task ContinueImplPhase(RequestImplTask implTask)
    {
        await ReqHandler.ContinueImplPhase(implTask);
    }
}
