@using FWO.Api.Data
@using FWO.Api.Client
@using FWO.Config.Api
@using FWO.Ui.Services

@page "/request/implementations"
@attribute [Authorize(Roles = $"{GlobalConst.kAdmin}, {GlobalConst.kImplementer}, {GlobalConst.kAuditor}, {GlobalConst.kFwAdmin}")]

@inject ApiConnection apiConnection
@inject UserConfig userConfig

<h3>@(userConfig.GetText("implementations"))</h3>
<hr />

@if(InitComplete)
{
    <div class="form-group row">
        <label for="taskDevId" class="col-sm-1 col-form-label col-form-label-sm">@(userConfig.GetText("view")):</label>
        <div class="col-sm-2">
            <Dropdown ElementType="Device" @bind-SelectedElement="selectedDeviceOpt" ElementToString="@(d => d.Name)" Elements="deviceOptions" AppendWidth="100">
                <ElementTemplate Context="device">
                    @device.Name
                </ElementTemplate>
                <Append>
                    <button type="button" class="btn btn-sm btn-primary" style="100px" @onclick="SelectDevice">@(userConfig.GetText("select"))</button>
                </Append>
            </Dropdown>
        </div>
        
    </div>

    @if(DisplayTickets)
    {
        <DisplayTicketTable Phase="WorkflowPhases.implementation" States="states" ReqHandler="reqHandler" 
            ResetParent="Reset" StartImplPhase="StartImplementTask"/>
    }
    else
    {
        <DisplayImplTaskTable Phase="WorkflowPhases.implementation" States="states" 
            ReqHandler="reqHandler" ResetParent="SelectDevice" AllImplTasks="allImplTasks" DeviceView="true"
            StartImplPhase="StartImplementTask"/>
    }
}
else
{
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;
    
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    private RequestHandler reqHandler = new RequestHandler();
    private RequestStateDict states = new RequestStateDict();
    private bool InitComplete = false;

    private bool DisplayTickets = true;
    private List<RequestImplTask> allImplTasks = new List<RequestImplTask>();
    private List<Device> deviceOptions = new List<Device>();
    private Device optTicket = new Device();
    private Device allDev = new Device();
    private Device selectedDeviceOpt = new Device();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            apiConnection.SetProperRole(authenticationStateTask!.Result.User, new List<string> { GlobalConst.kAdmin, GlobalConst.kImplementer, GlobalConst.kFwAdmin, GlobalConst.kAuditor});
            await states.Init(apiConnection);

            reqHandler = new RequestHandler(DisplayMessageInUi, userConfig, apiConnection, WorkflowPhases.implementation){};
            await Reset();
            reqHandler.SetContinueEnv(ObjAction.implement);
            optTicket = new Device(){ Id = -1, Name = userConfig.GetText("tickets")};
            allDev = new Device(){ Id = 0, Name = userConfig.GetText("all_gateways")};
            deviceOptions = new List<Device>(reqHandler.Devices);
            deviceOptions.Add(optTicket);
            deviceOptions.Add(allDev);
            selectedDeviceOpt = optTicket;
            InitComplete = true;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("fetch_requests"), "", true);
        }
    }

    private async Task SelectDevice()
    {
        allImplTasks = new List<RequestImplTask>();
        if(selectedDeviceOpt.Id != -1)
        {
            foreach(var ticket in reqHandler.TicketList)
            {
                foreach(var reqTask in ticket.Tasks)
                {
                    foreach(var implTask in reqTask.ImplementationTasks)
                    {
                        if (selectedDeviceOpt.Id == 0 || implTask.DeviceId == selectedDeviceOpt.Id)
                        {
                            implTask.TicketId = ticket.Id;
                            implTask.ReqTaskId = reqTask.Id;
                            allImplTasks.Add(implTask);
                        }
                    }
                }
            }
        }
        DisplayTickets = (selectedDeviceOpt.Id == -1);
        await Reset();
        StateHasChanged();
    }

    private async Task Reset()
    {
        try
        {
            reqHandler.ReadOnlyMode = !(authenticationStateTask!.Result.User.IsInRole(GlobalConst.kImplementer) || authenticationStateTask!.Result.User.IsInRole(GlobalConst.kFwAdmin) || authenticationStateTask!.Result.User.IsInRole(GlobalConst.kAdmin));
            await reqHandler.Init();
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("init_environment"), "", true);
        }
    }
    
    private async Task StartImplementTask(RequestImplTask implTask)
    {
        try
        {
            implTask.Start = DateTime.Now;
            implTask.Stop = null;
            await reqHandler.StartWorkOnImplTask(implTask, ObjAction.implement);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("start_work"), "", true);
        }
    }
}
