@using BlazorTable
@using FWO.Api.Data
@using FWO.ApiClient

@page "/settings/ldap"

@inject APIConnection apiConnection

<h3 class="m-2">LDAP Connections</h3>
<hr />

<button class="btn btn-success m-2" @onclick="Add">Add new LDAP connection</button>

<div class="m-2">
    <Table class="table table-bordered table-responsive" TableItem="UiLdapConnection" Items="connectedLdaps" PageSize="0" ColumnReorder="true">
        <Column TableItem="UiLdapConnection" Title="Action" Field="(x => x.Id)" Sortable="false" Filterable="false">
            <Template>
                <div class="btn-group">
                    <button class="btn btn-sm btn-success" @onclick="() => Clone(context)">Clone</button>
                    <button class="btn btn-sm btn-warning" @onclick="() => Edit(context)">Edit</button>
                    <button class="btn btn-sm btn-danger" @onclick="() => RequestDelete(context)">Delete</button>
                </div>
            </Template>
        </Column>
        <Column TableItem="UiLdapConnection" Title="Host" Field="@(x => x.Address)" Sortable="true" Filterable="true">
            <Template>
                @(context.Host())
            </Template>
        </Column>
        <Column TableItem="UiLdapConnection" Title="Search User" Field="@(x => x.SearchUser)" Sortable="true" Filterable="true" />
        <Column TableItem="UiLdapConnection" Title="Write User" Field="@(x => x.WriteUser)" Sortable="true" Filterable="true" />
        <Column TableItem="UiLdapConnection" Title="Role Search Path" Field="@(x => x.RoleSearchPath)" Sortable="true" Filterable="true" />
        <Column TableItem="UiLdapConnection" Title="Tenant" Field="@(x => x.TenantId)" Sortable="true" Filterable="true">
            <Template>
                @(context.TenantId != null ? tenants.Find(x => x.Id == context.TenantId).Name : "" )
            </Template>
        </Column>
    </Table>
</div>

<PopUp Title="Edit LDAP connection" Show="@EditMode" Large="true" OnClose="() => EditMode = false">
    <Body>
        @if (EditMode)
        {
            <form>
                <div class="form-group row">
                    <label for="ldapAddress" class="col-sm-3 col-form-label col-form-label-sm">Address:</label>
                    <div class="col-sm-8">
                        <input id="ldapAddress" type="text" class="form-control form-control-sm" @bind="actLdapConnection.Address" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ldapPort" class="col-sm-3 col-form-label col-form-label-sm">Port:</label>
                    <div class="col-sm-2">
                        <input id="ldapPort" type="text" class="form-control form-control-sm" @bind="actLdapConnection.Port" />
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="ldapTls" type="checkbox" @bind="actLdapConnection.Tls">
                        <label class="form-check-label" for="ldapTls"><small>Tls</small></label>
                    </div>
                    <label for="ldapTenantLevel" class="col-sm-3 col-form-label col-form-label-sm">TenantLevel:</label>
                    <div class="col-sm-2">
                        <input id="ldapTenantLevel" type="text" class="form-control form-control-sm" @bind="actLdapConnection.TenantLevel" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ldapSearchUser" class="col-sm-3 col-form-label col-form-label-sm">Search User:</label>
                    <div class="col-sm-8">
                        <input id="ldapSearchUser" type="text" class="form-control form-control-sm" @bind="actLdapConnection.SearchUser" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ldapSearchUserPwd" class="col-sm-3 col-form-label col-form-label-sm">Search User Pwd:</label>
                    <div class="col-sm-8">
                        <input id="ldapSearchUserPwd" type="password" class="form-control form-control-sm" @bind="actLdapConnection.SearchUserPwd" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ldapUserSearchPath" class="col-sm-3 col-form-label col-form-label-sm">User Search Path:</label>
                    <div class="col-sm-8">
                        <input id="ldapUserSearchPath" type="text" class="form-control form-control-sm" @bind="actLdapConnection.UserSearchPath" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ldapRoleSearchPath" class="col-sm-3 col-form-label col-form-label-sm">Role Search Path:</label>
                    <div class="col-sm-8">
                        <input id="ldapRoleSearchPath" type="text" class="form-control form-control-sm" @bind="actLdapConnection.RoleSearchPath" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ldapWriteUser" class="col-sm-3 col-form-label col-form-label-sm">Write User:</label>
                    <div class="col-sm-8">
                        <input id="ldapWriteUser" type="text" class="form-control form-control-sm" @bind="actLdapConnection.WriteUser" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ldapWriteUserPwd" class="col-sm-3 col-form-label col-form-label-sm">Write User Pwd:</label>
                    <div class="col-sm-8">
                        <input id="ldapWriteUserPwd" type="password" class="form-control form-control-sm" @bind="actLdapConnection.WriteUserPwd" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="deviceTenant" class="col-sm-3 col-form-label col-form-label-sm">Tenant:</label>
                    <div class="col-sm-8">
                        <select id="deviceTenant" class="form-control form-control-sm" @bind="actLdapConnection.TenantIdAsString">
                            <option value="null">None</option>
                            @foreach (Tenant tenant in tenants)
                            {
                                <option value="@tenant.Id">@(tenant.Name)</option>
                            }
                        </select>
                    </div>
                </div>
            </form>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <button class="btn btn-sm btn-primary" @onclick="Save">Save</button>
            <button class="btn btn-sm btn-secondary" @onclick="Cancel">Cancel</button>
        </div>
    </Footer>
</PopUp>

<PopUp Title="Delete" Show="@DeleteMode" OnClose="() => DeleteMode = false">
    <Body>
        @if (DeleteMode)
        {
            <p>@(deleteMessage)</p>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            @if (DeleteAllowed)
            {
                <button class="btn btn-sm btn-danger" @onclick="() => Delete(actLdapConnection)">Delete</button>
            }
            <button class="btn btn-sm btn-secondary" @onclick="Cancel">Cancel</button>
        </div>
    </Footer>
</PopUp>

@code 
{
    [CascadingParameter]
    Action<Exception,string,string,bool> DisplayMessageInUi { get; set; }

    private List<UiLdapConnection> connectedLdaps = new List<UiLdapConnection>();

    private List<Tenant> tenants = new List<Tenant>();

    private bool EditMode = false;
    private bool DeleteMode = false;
    private bool DeleteAllowed = false;
    private bool AddMode = false;

    private UiLdapConnection newLdapConnection;
    private UiLdapConnection actLdapConnection;

    private string deleteMessage = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            connectedLdaps = (await apiConnection.SendQueryAsync<UiLdapConnection[]>(FWO.ApiClient.Queries.AuthQueries.getLdapConnections)).ToList();
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi(exception, "API error", "Unable to fetch LDAP connections.", true);
        }
        try
        {
            tenants = (await apiConnection.SendQueryAsync<Tenant[]>(FWO.ApiClient.Queries.AuthQueries.getTenants)).ToList();
        }
        catch (System.Exception exception)
        {
            DisplayMessageInUi(exception, "API error", "Unable to fetch tenant information.", true);
        }
    }

    private void Edit(UiLdapConnection ldapConnection)
    {
        actLdapConnection = new UiLdapConnection(ldapConnection);
        EditMode = true;
    }

    private void RequestDelete(UiLdapConnection ldapConnection)
    {
        actLdapConnection = ldapConnection;
        // Checks if delete possible. Todo: further checks?
        if (connectedLdaps.Count == 1)
        {
            deleteMessage = $"Deletion of ldapConnection {actLdapConnection.Address} not allowed as it is the last one.";
            DeleteAllowed = false;
        }
        else if (actLdapConnection.RoleSearchPath != null && actLdapConnection.RoleSearchPath != "")
        {
            deleteMessage = $"Deletion of ldapConnection {actLdapConnection.Address} not allowed as it contains role search path. Delete it first if possible.";
            DeleteAllowed = false;
        }
        else
        {
            deleteMessage = $"Are you sure you want to delete ldapConnection {actLdapConnection.Address}?";
            DeleteAllowed = true;
        }
        DeleteMode = true;
    }

    private async Task Delete(UiLdapConnection ldapConnection)
    {
        try
        {
            var Variables = new { id = ldapConnection.Id };
            int delId = (await apiConnection.SendQueryAsync<ReturnId>(FWO.ApiClient.Queries.AuthQueries.deleteLdapConnection, Variables)).DeletedId;
            if (delId == ldapConnection.Id)
            {
                connectedLdaps.Remove(ldapConnection);
                DeleteMode = false;
            }
        }
        catch (Exception exception)
        {
            // Log.WriteDebug("Delete Ldap Connection", $"Exception occurred: {exception}");
            DisplayMessageInUi(exception, "Ldap Connection", "Error while deleting.", true);
        }
    }

    private void Add()
    {
        AddMode = true;
        newLdapConnection = new UiLdapConnection(){TenantLevel = 1};
        Edit(newLdapConnection);
    }

    private void Clone(UiLdapConnection ldapConnection)
    {
        AddMode = true;
        newLdapConnection = new UiLdapConnection(ldapConnection);
        Edit(newLdapConnection);
    }

    private async Task Save()
    {
        try
        {
            // Todo: Value checks?
            if (AddMode)
            {
                var Variables = new
                {
                    address = actLdapConnection.Address,
                    port = actLdapConnection.Port,
                    searchUser = actLdapConnection.SearchUser,
                    tls = actLdapConnection.Tls,
                    tenantLevel = actLdapConnection.TenantLevel,
                    searchUserPwd = actLdapConnection.SearchUserPwd,
                    searchpathForUsers = actLdapConnection.UserSearchPath,
                    searchpathForRoles = actLdapConnection.RoleSearchPath,
                    writeUser = actLdapConnection.WriteUser,
                    writeUserPwd = actLdapConnection.WriteUserPwd,
                    tenantId = actLdapConnection.TenantId
                };
                actLdapConnection.Id = (await apiConnection.SendQueryAsync<NewReturning>(FWO.ApiClient.Queries.AuthQueries.newLdapConnection, Variables)).ReturnIds[0].NewId;
                connectedLdaps.Add(actLdapConnection);
                AddMode = false;
                EditMode = false;
            }
            else
            {
                var Variables = new
                {
                    id = actLdapConnection.Id,
                    address = actLdapConnection.Address,
                    port = actLdapConnection.Port,
                    searchUser = actLdapConnection.SearchUser,
                    tls = actLdapConnection.Tls,
                    tenantLevel = actLdapConnection.TenantLevel,
                    searchUserPwd = actLdapConnection.SearchUserPwd,
                    searchpathForUsers = actLdapConnection.UserSearchPath,
                    searchpathForRoles = actLdapConnection.RoleSearchPath,
                    writeUser = actLdapConnection.WriteUser,
                    writeUserPwd = actLdapConnection.WriteUserPwd,
                    tenantId = actLdapConnection.TenantId
                };
                int udId = (await apiConnection.SendQueryAsync<ReturnId>(FWO.ApiClient.Queries.AuthQueries.updateLdapConnection, Variables)).UpdatedId;
                EditMode = (udId == actLdapConnection.Id ? false : true);
                connectedLdaps[connectedLdaps.FindIndex(x => x.Id == actLdapConnection.Id)] = actLdapConnection;
            }
        }
        catch (Exception exception)
        {
            // Todo: Error message? Ignore?
            // Log.WriteDebug("Save Ldap Connection", $"Exception occurred: {exception}");
            DisplayMessageInUi(exception, "Edit Ldap Connection", "Error while saving changes.", true);
        }
    }

    private void Cancel()
    {
        AddMode = false;
        EditMode = false;
        DeleteMode = false;
    }
}
