@using System
@using System.Threading
@using System.Text.RegularExpressions
@using FWO.Ui.Data
@using FWO.Report
@using FWO.Report.Filter
@using FWO.Ui.Pages.Reporting.Reports
@using FWO.Api.Data

@page "/certification"

@inject APIConnection apiConnection
@inject UserConfig userConfig

@* ==== LEFT SIDEBAR ==== *@
<Sidebar @ref="deviceSelectionSidebar" Collapsible="true" Resizeable="true" PositionLeft="true" @bind-Width="sidebarLeftWidth">
    <br>
    <div class="btn-group sticky-marker pl-3 pr-3 w-100">
        @if (processing == false)
        {
            <button class="btn btn-sm btn-primary" @onclick="() => GenerateRecertificationReport()">@(userConfig.GetText("load_rules"))</button>
        }
        else
        {
            <button class="btn btn-sm btn-danger" @onclick="() => CancelGeneration()">@(userConfig.GetText("stop_fetching"))</button>
        }
        <br>
    </div>
    <div class="p-3">
        <h5 class="text-left">@(userConfig.GetText("due_within")):</h5>
        <input  type="text" class="form-control form-control-sm" @bind="recertificationDisplayPeriod" />
    </div>

    <DeviceSelection Environment="Cert" @bind-DeviceFilter="deviceFilter" @bind-CollapseAll="collapseDevices" @bind-FilterInput="filterInput" @bind-SelectAll="selectAll" ></DeviceSelection>
</Sidebar>

@* ==== MAIN MIDDLE SECTION ==== *@

<div style="margin-left: @($"{sidebarLeftWidth + 10}px"); margin-right: @($"{sidebarRightWidth + 10}px");">
    <h3>@(userConfig.GetText("recertification"))</h3>
    <div class="btn-group sticky-marker-60">
        <AuthorizeView Roles="admin, recertifier">
            <Authorized>
                @if(rulesFound)
                {
                    <button class="btn btn-sm btn-danger" @onclick="() => RequestExecuteSelected()">@(userConfig.GetText("execute_selected"))</button>
                }
                else
                {
                    <button class="btn btn-sm btn-danger" disabled>@(userConfig.GetText("execute_selected"))</button>
                }
            </Authorized>
            <NotAuthorized>
                <button class="btn btn-sm btn-danger" disabled>@(userConfig.GetText("execute_selected"))</button>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <hr />
    <RulesReport Recertification="true" Managements="managements" RulesPerPage="rulesPerPage" @bind-SelectedRules="selectedRules"></RulesReport>
</div>

<PopUp Title="@(userConfig.GetText("add_comment"))" Show="@AddCommentMode" Large="true" OnClose="() => AddCommentMode = false">
    <Body>
        @if (AddCommentMode)
        {
            <form onsubmit="return false">
                <div class="form-group row">
                    <label for="comment" class="col-sm-2 col-form-label col-form-label-sm">@(userConfig.GetText("comment") + (commentRequired ? "*:" : ":"))</label>
                    <div class="col-sm-8">
                        <input id="comment" type="text" class="form-control form-control-sm" @bind="actComment" />
                    </div>
                </div>
            </form>
        }
    </Body>
    <Footer>
        <div class="btn-group">
            <button class="btn btn-sm btn-primary" @onclick="() => ExecuteSelected()">@(userConfig.GetText("ok"))</button>
            <button class="btn btn-sm btn-secondary" @onclick="Cancel">@(userConfig.GetText("cancel"))</button>
        </div>
    </Footer>
</PopUp>

@*==== RIGHT SIDEBAR ====*@
<Sidebar Collapsible="true" Resizeable="true" PositionLeft="false" @bind-Width="sidebarRightWidth">
    <div class="p-3">
        <h5 class="text-center">@(userConfig.GetText("objects"))</h5>

        <CascadingValue Value="anchorNavToRSB">
            <TabSet KeepPanelsAlive="true" @ref="rsbTabset">
                <Tab Title="Report">
                    <div class="d-md-flex justify-content-md-end sticky-marker-45 bg-white">
                        <div class="btn btn-secondary btn-sm w-50" @onclick="@(() => collapseControlObjects.CollapseAll())">@(userConfig.GetText("collapse_all"))</div>
                    </div>
                    <div class="mt-2">
                        <CascadingValue Value="collapseControlObjects">
                            <ObjectGroupCollection FetchObjects="FetchContent" Recert="true" Tab="report" InputDataType="Management" Data="managements.Where(m => (m.Devices.Where(d => d.Rules != null && d.Rules.Count() > 0).Count() > 0))" NameExtractor="man => man.Name"
                                                NetworkObjectExtractor="man => man.ReportObjects?.Select(ro => ro.Content).ToArray()"
                                                NetworkServiceExtractor="man => man.ReportServices?.Select(rs => rs.Content).ToArray()"
                                                NetworkUserExtractor="man => man.ReportUsers?.Select(ru => ru.Content).ToArray()" />
                        </CascadingValue>
                    </div>
                </Tab>
                <Tab Title="@(userConfig.GetText("rule"))">
                    <div class="d-md-flex justify-content-md-between sticky-marker-45 bg-white">
                        <div class="btn btn-dark btn-sm w-50" @onclick="@(() => selectedRules.Clear())">@(userConfig.GetText("clear_all"))</div>
                        <div class="btn btn-secondary btn-sm w-50" @onclick="@(() => collapseControlObjects.CollapseAll())">@(userConfig.GetText("collapse_all"))</div>
                    </div>
                    <div class="mt-2">
                        <CascadingValue Value="collapseControlObjects">
                            <ObjectGroupCollection FetchObjects="FetchContent" Recert="true" Tab="rule" StartContentDetailed="true" StartCollapsed="false" InputDataType="Rule" Data="selectedRules"
                                                NameExtractor=@(rule => $"{rule.DeviceName} - Rule {rule.Id} {rule.Name}")
                                                NetworkObjectExtractor="rule => rule.Froms.Select(nl => nl.Object).Union(rule.Tos.Select(nl => nl.Object)).ToArray()"
                                                NetworkServiceExtractor="rule => Array.ConvertAll(rule.Services, wrapper => wrapper.Content)"
                                                NetworkUserExtractor="rule => Array.FindAll(rule.Froms.Select(nl => nl.User).Distinct().ToArray(), user => user != null)" />
                        </CascadingValue>
                    </div>
                </Tab>
            </TabSet>
        </CascadingValue>
    </div>
</Sidebar>

<AnchorNavToRSB @ref="anchorNavToRSB" TabSet="rsbTabset" />

@code
{
    [CascadingParameter]
    Action<Exception?, string, string, bool>? DisplayMessageInUi { get; set; }

    private TabSet? rsbTabset;
    private AnchorNavToRSB? anchorNavToRSB;

    private const int rulesPerPage = 0;
    private int elementsPerFetch = GlobalConfig.kDefaultInitElementsPerFetch;
    private int maxInitFetchRightSidebar = GlobalConfig.kDefaultInitMaxInitFetch;
    private bool autoFillRightSidebar;

    private int recertificationPeriod = GlobalConfig.kDefaultInitRecertificationPeriod;
    private int recertificationNoticePeriod = GlobalConfig.kDefaultInitRecertificationNoticePeriod;
    private int recertificationDisplayPeriod = GlobalConfig.kDefaultInitRecertificationDisplayPeriod;
    private int ruleRemovalGracePeriod = GlobalConfig.kDefaultInitRuleRemovalGracePeriod;
    private bool commentRequired = false;

    private int sidebarLeftWidth = GlobalConfig.kSidebarLeftWidth;
    private int sidebarRightWidth = GlobalConfig.kSidebarRightWidth;
    private bool selectAll = true;
    private int minCollapseAllDevices = GlobalConfig.kDefaultInitCollapseFrom;

    private string filterInput = "remove=false and recertdisplay=0";
    private bool processing = false;
    private bool rulesFound = false;
    private CancellationTokenSource tokenSource = new CancellationTokenSource();
 
    private Management[] managements = new Management[0];
//    private Management[] managementsObjects = new Management[0];

    private DeviceFilter deviceFilter = new DeviceFilter();
    private List<Rule> selectedRules = new List<Rule>();
    private bool collapseDevices = false;
    private CollapseState collapseControlObjects = new CollapseState();

    private ReportBase? currentReport;

    private Sidebar? deviceSelectionSidebar;
    // private bool fullDeviceActionIsSelect = true;
    private bool AddCommentMode = false;
    private string actComment = "";
    private bool anythingFound = false;

    protected override void OnInitialized()
    {
        Task.Run(async () =>
        {
            try
            {
                GetSettings();
                rulesFound = false;

                deviceFilter.Managements = await apiConnection.SendQueryAsync<List<ManagementSelect>>(DeviceQueries.getDevicesByManagements);
                await InvokeAsync(StateHasChanged);
                if (deviceFilter.NumberMgmtDev() > minCollapseAllDevices)
                {
                    collapseDevices = true;
                    await InvokeAsync(StateHasChanged);
                }

//                PaginationVariables paginationVariables = new PaginationVariables() { Limit = 0, Offset = 0 };
//                managementsObjects = await apiConnection.SendQueryAsync<Management[]>(ObjectQueries.getAllObjectDetails, paginationVariables);
//                await InvokeAsync(StateHasChanged);
            }
            catch (Exception exception)
            {
                DisplayMessageInUi!(exception, userConfig.GetText("object_fetch"), "", true);
            }
        });
    }

    private async Task GenerateRecertificationReport()
    {
        processing = true;
        // clear selected rules
        selectedRules.Clear();

        Management[] managementsOrig = managements;
        try
        {
            tokenSource = new CancellationTokenSource();
            var token = tokenSource.Token;

            if (!deviceFilter.isAnyDeviceFilterSet())  // display pop-up with warning
            {
                DisplayMessageInUi!(null, userConfig.GetText("no_device_selected"), userConfig.GetText("E1001"), true);
                processing = false;
                return;
            }

            SyncFilterToDisplay();
            currentReport = ReportBase.ConstructReport(filterInput, deviceFilter, new TimeFilter(), ReportType.Rules, userConfig);

            DateTime startTime = DateTime.Now;
            managements = new Management[0]; // reset management data when switching between reports

            try
            {
                await currentReport.Generate(elementsPerFetch, apiConnection,
                managementsReportIntermediate =>
                {
                    managements = managementsReportIntermediate;
                    return InvokeAsync(StateHasChanged);
                }, token);
            }
            catch (OperationCanceledException e)
            {
                Log.WriteDebug("Generate Report", $"Cancelled: {e.Message}");
            }

            PrepareMetadata();
            processing = false;
            await InvokeAsync(StateHasChanged);
            if(!rulesFound)
            {
                DisplayMessageInUi!(null, userConfig.GetText("generate_report"), userConfig.GetText("E4002"), true);
            }
        }
        catch (Exception exception)
        {
            processing = false;
            managements = managementsOrig;
            StateHasChanged();
            DisplayMessageInUi!(exception, userConfig.GetText("generate_report"), "", true);
        }
    }

    private void CancelGeneration()
    {
        tokenSource.Cancel();
        DisplayMessageInUi!(null, userConfig.GetText("report_data_fetch"), userConfig.GetText("E1003"), true);
    }

    private void SyncFilterToDisplay()
    {
        filterInput = Regex.Replace(filterInput, "recertdisplay=" + @"-?\d+", $"recertdisplay={(recertificationPeriod-recertificationDisplayPeriod).ToString()}");
    }

    private void PrepareMetadata()
    {
        rulesFound = false;
        foreach (Management management in managements)
        {
            foreach (Device device in management.Devices)
            {
                if(device.Rules != null)
                {
                    foreach (Rule rule in device.Rules)
                    {
                        rulesFound = true;
                        if (rule.Metadata.LastCertifierDn != null && rule.Metadata.LastCertifierDn != "")
                        {
                            rule.Metadata.LastCertifierName = (new FWO.Api.Data.DistName(rule.Metadata.LastCertifierDn)).UserName;
                        }
                        else
                        {
                            rule.Metadata.LastCertifierName = userConfig.GetText("unknown");
                        }

                        if (rule.Metadata.LastCertified != null)
                        {
                            rule.Metadata.NextRecert = ((DateTime)rule.Metadata.LastCertified).AddDays(recertificationPeriod);
                        }
                        else if (rule.Metadata.Created != null)
                        {
                            rule.Metadata.NextRecert = ((DateTime)rule.Metadata.Created).AddDays(recertificationPeriod);
                        }
                        else
                        {
                            rule.Metadata.NextRecert = DateTime.Now;
                        }

                        if(rule.Metadata.NextRecert <= DateTime.Now)
                        {
                            rule.Metadata.Style = "background-overdue";
                        }
                        else if(rule.Metadata.NextRecert <= DateTime.Now.AddDays(recertificationNoticePeriod))
                        {
                            rule.Metadata.Style = "background-upcoming";
                        }
                    }
                }
            }
        }
    }

    const byte all = 10, report = 20, rule = 30, all_nobj = 11, all_nsrv = 12, all_user = 13, report_nobj = 21, report_nsrv = 22, report_user = 23;
    public async Task FetchContent(byte contentType, Func<Management[], Task> callback, long id = 0, bool nat = false)
    {
        Log.WriteDebug("Fetching Content..", "");

        Management[] managements = new Management[0];

        try
        {
            GetSettings();

            string query = "";
            Dictionary<String, object> queryVars = new Dictionary<string, object>();

            bool newObjects = true;
            int fetchCount = 0;

            bool gotAllObjects = true;

            switch (contentType)
            {
                case all:
                    query = ObjectQueries.getAllObjectDetails;
                    break;
                case all_nobj:
                    query = ObjectQueries.getNetworkObjectDetails;
                    break;
                case all_nsrv:
                    query = ObjectQueries.getNetworkServiceObjectDetails;
                    break;
                case all_user:
                    query = ObjectQueries.getUserDetails;
                    break;
                case rule:
                    if (nat)
                        query = RuleQueries.getNatRuleDetails;
                    else
                        query = RuleQueries.getRuleDetails;
                    break;
            }

            switch (contentType)
            {
                case all or all_nobj or all_nsrv or all_user:

                    queryVars = new Dictionary<string, object>()
                    {
                        { "limit", elementsPerFetch },
                        { "offset", 0 },
                        { "management_id", (int) id }
                    };

                    break;

                case report or report_nobj or report_nsrv or report_user:

                    queryVars = new Dictionary<string, object>()
                    {
                        { "limit", elementsPerFetch },
                        { "offset", 0 },
                        { "mgmIds", (int) id }
                    };

                    if (currentReport != null)
                        gotAllObjects = await currentReport.GetObjectsForManagementInReport(queryVars, (byte)(contentType - report), autoFillRightSidebar ? int.MaxValue : maxInitFetchRightSidebar, apiConnection, callback);
                        
                    if (!gotAllObjects)
                        DisplayMessageInUi!(null, userConfig.GetText("object_fetch_warning"), userConfig.GetText("E0021"), true);

                    return;

                case rule:

                    queryVars = new Dictionary<string, object>()
                    {
                        { "limit", elementsPerFetch },
                        { "offset", (int)0 },
                        { "rule_id", id }
                    };

                    break;
            }

            // lazy fetch all objects for right sidebar
            while (newObjects && (++fetchCount <= maxInitFetchRightSidebar || autoFillRightSidebar))
            {
                Management[] managementsCurrentFetch = await apiConnection.SendQueryAsync<Management[]>(query, queryVars);
                if (fetchCount == 1)
                {
                    managements = managementsCurrentFetch;
                }
                else
                {
                    newObjects = managements.Merge(managementsCurrentFetch);
                }

                if (queryVars.ContainsKey("offset"))
                    queryVars["offset"] = (int)queryVars["offset"] + elementsPerFetch;
                await callback(managements);
            }

            Log.WriteDebug("Lazy Fetch", $"Fetched sidebar objects in {fetchCount - 1} cycle(s) ({elementsPerFetch} at a time)");
            
            if (fetchCount > maxInitFetchRightSidebar && !autoFillRightSidebar)
                DisplayMessageInUi!(null, userConfig.GetText("object_fetch_warning"), userConfig.GetText("E0021"), true);
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("object_fetch"), "", true);
            // TODO: Error Interface for all Components, that enables displaying a message in the ui
        }
    }

    private void RequestExecuteSelected()
    {
        AddCommentMode = true;
    }

    private void Cancel()
    {
        AddCommentMode = false;
    }

    private async Task ExecuteSelected()
    {
        actComment = Sanitizer.SanitizeMand(actComment);
        if(commentRequired && actComment == "")
        {
            DisplayMessageInUi!(null, userConfig.GetText("execute_selected"), userConfig.GetText("E4001"), true);
            return;
        }
        AddCommentMode = false;
        try
        {
            // collect selected recerts + decerts
            List<long> RecertIds = new List<long>();
            List<long> DecertIds = new List<long>();
            
            foreach (Management management in managements)
            {
                foreach (Device device in management.Devices)
                {
                    if(device.Rules != null)
                    {
                        foreach (Rule rule in device.Rules)
                        {
                            if(rule.Metadata.Recert)
                            {
                                RecertIds.Add(rule.Metadata.Id);
                            }
                            else if(rule.Metadata.ToBeRemoved)
                            {
                                DecertIds.Add(rule.Metadata.Id);
                            }
                        }
                    }
                }
            }

            // execute recertifications
            if (RecertIds.Count > 0)
            {
                var apiVariables = new 
                { 
                    ids = RecertIds.ToArray(), 
                    certDate = DateTime.Now, 
                    userDn = userConfig.User.Dn,
                    comment = actComment
                };
                await apiConnection.SendQueryAsync<object>(RuleQueries.updateRuleMetadataRecert, apiVariables);
            }

            // execute decertifications
            if (DecertIds.Count > 0)
            {
                var apiVariables = new 
                { 
                    ids = DecertIds.ToArray(),
                    decertDate = DateTime.Now,
                    comment = actComment
                };
                await apiConnection.SendQueryAsync<object>(RuleQueries.updateRuleMetadataDecert, apiVariables);
            }

            string txt = userConfig.GetText("recerts_executed") + RecertIds.Count.ToString() + ", " +
                         userConfig.GetText("decerts_executed") + DecertIds.Count.ToString();
            DisplayMessageInUi!(null, userConfig.GetText("execute_selected"), txt, false);

            // reload updated report
            await GenerateRecertificationReport();
        }
        catch (Exception exception)
        {
            DisplayMessageInUi!(exception, userConfig.GetText("execute_selected"), "", true);
        }
    }

    private void GetSettings()
    {
        try
        {
            GetBoolSetting(ref autoFillRightSidebar, GlobalConfig.kAutoFillRightSidebar);
            GetIntSetting(ref elementsPerFetch, GlobalConfig.kElementsPerFetch);
            GetIntSetting(ref maxInitFetchRightSidebar, GlobalConfig.kMaxInitialFetchesRightSidebar);
            GetIntSetting(ref recertificationPeriod, GlobalConfig.kRecertificationPeriod);
            GetIntSetting(ref recertificationNoticePeriod, GlobalConfig.kRecertificationNoticePeriod);
            GetIntSetting(ref recertificationDisplayPeriod, GlobalConfig.kRecertificationDisplayPeriod);
            GetIntSetting(ref ruleRemovalGracePeriod, GlobalConfig.kRuleRemovalGracePeriod);
            GetBoolSetting(ref commentRequired, GlobalConfig.kCommentRequired);
            GetIntSetting(ref minCollapseAllDevices, GlobalConfig.kMinCollapseAllDevices);
        }
        catch (Exception exception)
        {
            Log.WriteError("Read Config", $"Error reading config value", exception);
        }
    }

    private void GetIntSetting(ref int value, string setting)
    {
        string settingsValue = userConfig.GetConfigValue(setting);
        if (settingsValue != "")
        {
            value = Int32.Parse(settingsValue);
        }
    }

    private void GetBoolSetting(ref bool value, string setting)
    {
        string settingsValue = userConfig.GetConfigValue(setting);
        value = (settingsValue == "True" ? true : false);
    }
}
