@page "/help/settings/owners"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("owners"))</h3>
    @(Html.Raw(userConfig.GetText("H5581")))
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5582")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5583")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5584")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5585")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5586")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5587")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5588")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5589")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5590")))</li>
    </ul>
</div>
