@page "/help/settings/email"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("email_settings"))</h3>
    @(Html.Raw(userConfig.GetText("H5491")))
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5491a")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5491b")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5491c")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5491d")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5491e")))</li>
    </ul>
    @(Html.Raw(userConfig.GetText("H5492")))
</div>
