@page "/help/reporting/filter"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpReportingSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("filter_syntax")</h3>
    <ul>
        @(Html.Raw(userConfig.GetText("H1101")))
    </ul>
    <h4>@userConfig.GetText("keywords")</h4>
    <ul>
        @(Html.Raw(userConfig.GetText("H1111")))
    </ul>
    <h4>@userConfig.GetText("operators")</h4>
    <ul>
        @(Html.Raw(userConfig.GetText("H1131")))
    </ul>
    <h4>@userConfig.GetText("examples")</h4>
    <ul>
        @(Html.Raw(userConfig.GetText("H1141")))

        @(Html.Raw(userConfig.GetText("H1143")))

        @(Html.Raw(userConfig.GetText("H1144")))
    </ul>
</div>
