@page "/help/settings/users"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("users")</h3>
    @(Html.Raw(userConfig.GetText("H5261")))
    <br><br>
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5271")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5272")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5279")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5273")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5274")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5275")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5276")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5277")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5278")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5280")))</li>
    </ul>
</div>
