@page "/help/workflow/objects"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpWorkflowSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("objects"))</h3>
    @(Html.Raw(userConfig.GetText("H8101")))
    <ul>
        <li>
            @(Html.Raw(userConfig.GetText("H8111")))
            <ul>
                <li>
                    @(Html.Raw(userConfig.GetText("H8112")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8113")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8114")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8115")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8116")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8117")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8118")))
                </li>
            </ul>
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H8131")))
            <ul>
                <li>
                    @(Html.Raw(userConfig.GetText("H8132")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8133")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8134")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8135")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8136")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8137")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8138")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8139")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8140")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8141")))
                </li>
            </ul>
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H8151")))
            <ul>
                <li>
                    @(Html.Raw(userConfig.GetText("H8152")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8153")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8154")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8155")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8156")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8157")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8158")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8159")))
                </li>
            </ul>        
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H8171")))
            <ul>
                <li>
                    @(Html.Raw(userConfig.GetText("H8172")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8173")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8174")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8175")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8176")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8177")))
                </li>
                <li>
                    @(Html.Raw(userConfig.GetText("H8178")))
                </li>
            </ul>   
        </li>
    </ul>
</div>
