@page "/help/API/query"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpAPISidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("sample_queries")</h3>
    <br>

    <h4>@userConfig.GetText("get_with_admin")</h4>
    <pre>
curl --request POST \
    --url https://localhost:9443/api/v1/graphql \
    --header 'content-type: application/json' \
    --header 'x-hasura-admin-secret: &lt;hasura admin pwd&gt;' \
    --header 'x-hasura-role: admin' \
    --data '{"query":"query { management {mgm_name} }"}'
    </pre>

    <h4>@userConfig.GetText("get_with_jwt")</h4>
    @(Html.Raw(userConfig.GetText("H6701")))
    <br><br>
    <pre>
curl --request POST \
    --url https://localhost:9443/api/v1/graphql \
    --header 'content-type: application/json' \
    --header 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6InVzZXIxX2RlbW8iLCJ4LWhhc3VyYS11c2VyLWlkIjoiNCIsIngtaGFzdXJhLXV1aWQiOiJ1aWQ9dXNlcjFfZGVtbyxvdT10ZW5hbnQyLG91PW9wZXJhdG9yLG91PXVzZXIsZGM9ZndvcmNoLGRjPWludGVybmFsIiwieC1oYXN1cmEtdGVuYW50LWlkIjoiMyIsIngtaGFzdXJhLXZpc2libGUtbWFuYWdlbWVudHMiOiJ7IDIgfSIsIngtaGFzdXJhLXZpc2libGUtZGV2aWNlcyI6InsgMiB9Iiwicm9sZSI6ImF1ZGl0b3IiLCJ4LWhhc3VyYS1hbGxvd2VkLXJvbGVzIjpbImF1ZGl0b3IiXSwieC1oYXN1cmEtZGVmYXVsdC1yb2xlIjoiYXVkaXRvciIsIm5iZiI6MTYyMjkxNTA3NCwiZXhwIjoxNjIyOTI5NTM0LCJpYXQiOjE2MjI5MTUwNzQsImlzcyI6IkZXTyBNaWRkbGV3YXJlIE1vZHVsZSIsImF1ZCI6IkZXTyJ9.bs5hTz6eZSV3xKDzsKxGuyDbdIIQfZgoEgKBoBZ-eBVlwzkHSgE5A0Z5Bg3BuyzP8VDPYfu4YfKGJNxjadumU7QVFKtrDlueNfYlUb_dBNQl2DSqdQmD9TfphAtclcBDuFKe7DKnEsPNvskoXbrDgrBQPK7talEKqTNkkKEORmpd3czuviLZyAyD5Uez_5Tc0T-9dlpENs4m4t8_FfpMpUW7i5-5BEE-ma4a1SPpmltdCJRsRQIwJUkjg_vJAHjzFuxGBXkKd7LdX7S7wiDiNUWfz0yy86zamDmeinEDnRX-mkjIN7f9vNCtldznZxvWOiRyHERxd9ek9To3WZIDMw' \
    --data '{"query":"query { management {mgm_name} }"}'
    </pre>
    <br>
    @(Html.Raw(userConfig.GetText("H6702")))
    <br>
    <code>{"data":{"management":[{"mgm_name":"sting-mgmt2"}, {"mgm_name":"checkpoint_demo"}, {"mgm_name":"fortigate_demo"}]}}</code>
<br><br>

    <h4>@userConfig.GetText("get_with_jwt_role")</h4>
    @(Html.Raw(userConfig.GetText("H6701")))
    <br><br>
    <pre>
curl --request POST \
    --url https://localhost:9443/api/v1/graphql \
    --header 'content-type: application/json' \
    --header 'x-hasura-role: auditor' \
    --header 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6InVzZXIxX2RlbW8iLCJ4LWhhc3VyYS11c2VyLWlkIjoiNCIsIngtaGFzdXJhLXV1aWQiOiJ1aWQ9dXNlcjFfZGVtbyxvdT10ZW5hbnQyLG91PW9wZXJhdG9yLG91PXVzZXIsZGM9ZndvcmNoLGRjPWludGVybmFsIiwieC1oYXN1cmEtdGVuYW50LWlkIjoiMyIsIngtaGFzdXJhLXZpc2libGUtbWFuYWdlbWVudHMiOiJ7IDIgfSIsIngtaGFzdXJhLXZpc2libGUtZGV2aWNlcyI6InsgMiB9Iiwicm9sZSI6ImF1ZGl0b3IiLCJ4LWhhc3VyYS1hbGxvd2VkLXJvbGVzIjpbImF1ZGl0b3IiXSwieC1oYXN1cmEtZGVmYXVsdC1yb2xlIjoiYXVkaXRvciIsIm5iZiI6MTYyMjkxNTA3NCwiZXhwIjoxNjIyOTI5NTM0LCJpYXQiOjE2MjI5MTUwNzQsImlzcyI6IkZXTyBNaWRkbGV3YXJlIE1vZHVsZSIsImF1ZCI6IkZXTyJ9.bs5hTz6eZSV3xKDzsKxGuyDbdIIQfZgoEgKBoBZ-eBVlwzkHSgE5A0Z5Bg3BuyzP8VDPYfu4YfKGJNxjadumU7QVFKtrDlueNfYlUb_dBNQl2DSqdQmD9TfphAtclcBDuFKe7DKnEsPNvskoXbrDgrBQPK7talEKqTNkkKEORmpd3czuviLZyAyD5Uez_5Tc0T-9dlpENs4m4t8_FfpMpUW7i5-5BEE-ma4a1SPpmltdCJRsRQIwJUkjg_vJAHjzFuxGBXkKd7LdX7S7wiDiNUWfz0yy86zamDmeinEDnRX-mkjIN7f9vNCtldznZxvWOiRyHERxd9ek9To3WZIDMw' \
    --data '{"query":"query { management {mgm_name} }"}'
    </pre>

<br><br>

    <h4>@userConfig.GetText("get_single_dev_rules")</h4>
    @(Html.Raw(userConfig.GetText("H6701")))
    <br><br>
    <pre>
curl --request POST  \
    --url https://localhost:9443/api/v1/graphql \
    --header 'content-type: application/json' \
    --header    'Accept: application/json' \
    --header 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6InVzZXIxX2RlbW8iLCJ4LWhhc3VyYS11c2VyLWlkIjoiMSIsIngtaGFzdXJhLXV1aWQiOiJ1aWQ9dXNlcjFfZGVtbyxvdT10ZW5hbnQxX2RlbW8sb3U9b3BlcmF0b3Isb3U9dXNlcixkYz1md29yY2gsZGM9aW50ZXJuYWwiLCJ4LWhhc3VyYS10ZW5hbnQtaWQiOiIyIiwieC1oYXN1cmEtdmlzaWJsZS1tYW5hZ2VtZW50cyI6InsgMSB9IiwieC1oYXN1cmEtdmlzaWJsZS1kZXZpY2VzIjoieyAxIH0iLCJyb2xlIjoicmVwb3J0ZXIiLCJ4LWhhc3VyYS1hbGxvd2VkLXJvbGVzIjpbInJlcG9ydGVyIl0sIngtaGFzdXJhLWRlZmF1bHQtcm9sZSI6InJlcG9ydGVyIiwibmJmIjoxNjI3MTQ1OTI1LCJleHAiOjE2MjcxNjAzODUsImlhdCI6MTYyNzE0NTkyNSwiaXNzIjoiRldPIE1pZGRsZXdhcmUgTW9kdWxlIiwiYXVkIjoiRldPIn0.imp8Y-DTz-PyZKxD_l9fN9QvCuNmQTZzGngY3VNJ7vkTCaV9lMdx_gv1eQSANzRwt5e9jIDO6NSoC3laqTgfeaGRkDi4X_JejFTlL3O3AlBjp7g5Npty1P9uqrBKJMxtETlwV7bfd5pFHT81-NdsjNmI8TI3X3tW6EpAxcvAK8xPirofZK5TCQTkDOl2dVFXYTY-aiYYj0SECJph86-OKeIOz6SFXwTdITvh0QotlHMCw3HOqoD0XqjjCvAqcFLjTTV2uEA6wLRC20dBwdDiiEoVDdnf0-jADWs3jI33OyIkuQjL_CkNNqYMqwNsQ0AUahs3lPi38QHmO51ety89QQ' \
    --data '{"variables":{"device_id":1},"query":"fragment userOverview on usr { user_id user_uid user_name stm_usr_typ { usr_typ_name } } fragment networkObjectOverview on object { obj_ip obj_ip_end obj_name obj_id type: stm_obj_typ { id: obj_typ_id name: obj_typ_name } obj_color_id } fragment networkServiceOverview on service { svc_id svc_name svc_uid svc_port svc_port_end service_type: stm_svc_typ { id: svc_typ_id name: svc_typ_name } svc_color_id protocol_name: stm_ip_proto { id: ip_proto_id name: ip_proto_name } } fragment ruleOverview on rule { rule_id rule_uid rule_action section_header: rule_head_text rule_comment rule_track rule_disabled src_zone: zone { zone_name zone_id } rule_metadatum { rule_metadata_id rule_created rule_first_hit rule_last_hit rule_last_modified } rule_src_neg rule_dst_neg rule_svc_neg rule_num_numeric rule_name rule_froms { usr { ...userOverview } object { ...networkObjectOverview } } dst_zone: zoneByRuleToZone { zone_name zone_id } rule_tos { object { ...networkObjectOverview } } rule_services { service { ...networkServiceOverview } } } query listRulesOverview($device_id: [Int!]) { management { id: mgm_id name: mgm_name devices( where: { dev_id: { _in: $device_id } } ) { dev_id dev_name rules( where: { active: { _eq: true } } order_by: { rule_num_numeric: asc } ) { ...ruleOverview } } } }"}'
    </pre>
</div>
