@page "/help/monitoring/workflow"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpMonitoringSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("workflow")) @(userConfig.GetText("tickets"))</h3>
    @(Html.Raw(userConfig.GetText("H7030")))
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H7031")))</li>
        <li>@(Html.Raw(userConfig.GetText("H7032")))</li>
    </ul>
</div>
