@page "/help/settings/recertificationgeneral"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("recert_settings"))</h3>
    @(Html.Raw(userConfig.GetText("H5401")))
    <br><br>
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5417")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5418")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5419")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5420")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5421")))</li>
<br>
        <li>@(Html.Raw(userConfig.GetText("H5428")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5429")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5430")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5446")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5432")))</li>
<br>
        <li>@(Html.Raw(userConfig.GetText("H5433")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5434")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5435")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5436")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5437")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5438")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5439")))</li>
<br>
        <li>@(Html.Raw(userConfig.GetText("H5440")))</li>
    </ul>
</div>
