@using FWO.Config.Api
@using FWO.Api.Data

@inject UserConfig userConfig

<nav class="sidebar fixed sidebar-help shadow">
    <div class="sidebar-help d-flex flex-row" style="left:0px;">
        <div class="sidebar-help" style="width:250px; overflow-x:scroll;">
            <ul class="sidebar-nav sidebar-help me-auto">
                <p></p>
                <h5>@userConfig.GetText("api_general")</h5>
                <a class="nav-link" href="/help/API/security/?lang=@($"{userConfig.User.Language}")">
                    <span class="@Icons.Security"></span> @userConfig.GetText("security")
                </a>
                <a class="nav-link" href="/help/API/login/?lang=@($"{userConfig.User.Language}")">
                    <span class="@Icons.Login"></span> @userConfig.GetText("login")
                </a>
                <a class="nav-link" href="/help/API/logout/?lang=@($"{userConfig.User.Language}")">
                    <span class="@Icons.Logout"></span> @userConfig.GetText("logout")
                </a>
                <p></p>

                <h5>@userConfig.GetText("api_user_mgmt")</h5>
                <a class="nav-link" href="/help/API/userAuth/?lang=@($"{userConfig.User.Language}")">
                    <span class="@Icons.RestDoku"></span> @userConfig.GetText("api_user_mgmt_head")
                </a>
                <p></p>

                <h5>@userConfig.GetText("api_fwo")</h5>
                <a class="nav-link" href="/help/API/graphql/?lang=@($"{userConfig.User.Language}")">
                    <span class="@Icons.GraphQL"></span> @userConfig.GetText("graphql")
                </a>
                <a class="nav-link" href="/help/API/hasura/?lang=@($"{userConfig.User.Language}")">
                    <span class="@Icons.Hasura"></span> @userConfig.GetText("hasura")
                </a>
                <a class="nav-link" href="/help/API/links/?lang=@($"{userConfig.User.Language}")">
                    <span class="@Icons.FurtherReading"></span> @userConfig.GetText("further_reading")
                </a>

                <a class="nav-link" href="/help/API/query/?lang=@($"{userConfig.User.Language}")">
                    <span class="@Icons.Example"></span> @userConfig.GetText("sample_queries")
                </a>
                <a class="nav-link" href="/help/API/mutation/?lang=@($"{userConfig.User.Language}")">
                    <span class="@Icons.Example"></span> @userConfig.GetText("sample_mutation")
                </a>
                <a class="nav-link" href="/help/API/reporting/?lang=@($"{userConfig.User.Language}")">
                    <span class="@Icons.Reporting"></span> @userConfig.GetText("reporting")
                </a>
                <p></p>

                <h5>@userConfig.GetText("import_interfaces")</h5>
                <a class="nav-link" href="/help/API/appdataimport/?lang=@($"{userConfig.User.Language}")">
                    <span class="@Icons.UserGroup"></span> @userConfig.GetText("import_app_data")
                </a>
                <a class="nav-link" href="/help/API/subnetdataimport/?lang=@($"{userConfig.User.Language}")">
                    <span class="@Icons.NwGroup"></span> @userConfig.GetText("import_subnet_data")
                </a>
            </ul>
        </div>
    </div>
</nav>
