@page "/help/settings/responsibles"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml");
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("responsibles"))</h3>
    @(Html.Raw(userConfig.GetText("H5901")))
    <br />
    <br />
    <h5>@(userConfig.GetText("H5904"))</h5>
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5905")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5906")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5907")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5908")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5909")))</li>
    </ul>
</div>
