@using FWO.Config.Api
@using FWO.Api.Data

@inject UserConfig userConfig

<nav class="sidebar fixed sidebar-help shadow">
    <div class="sidebar-help d-flex flex-row" style="left:0px;">
        <div class="sidebar-help" style="width:250px; overflow-x:scroll;">
            <ul class="me-auto">
                <p></p>
                <h5>@userConfig.GetText("reporting")</h5>
                <a class="nav-link" href="/help/reporting/reporttypes/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.Type"></span> @(userConfig.GetText("report_types"))
                </a>
                <a class="nav-link" href="/help/reporting/filter/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.Filter"></span> @(userConfig.GetText("filter_syntax"))
                </a>
                <a class="nav-link" href="/help/reporting/templates/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.Template"></span> @(userConfig.GetText("templates"))
                </a>
                <a class="nav-link" href="/help/reporting/export/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.Export"></span> @(userConfig.GetText("export"))
                </a>
                <a class="nav-link" href="/help/reporting/scheduling/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.Schedule"></span> @(userConfig.GetText("scheduling"))
                </a>
                <a class="nav-link" href="/help/reporting/archive/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.Archive"></span> @(userConfig.GetText("archive"))
                </a>
                <a class="nav-link" href="/help/reporting/output/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.Output"></span> @(userConfig.GetText("report_data_output"))
                </a>
                <a class="nav-link" href="/help/reporting/leftside/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.CollapseLeft"></span> @(userConfig.GetText("left_sidebar"))
                </a>
                <a class="nav-link" href="/help/reporting/rightside/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.CollapseRight"></span> @(userConfig.GetText("right_sidebar"))
                </a>
            </ul>
        </div>
    </div>
</nav>
