@page "/help/scheduling"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpEmptySidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("scheduling")</h3>
    @(Html.Raw(userConfig.GetText("H2001")))
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H2011")))</li>
        <li>@(Html.Raw(userConfig.GetText("H2012")))</li>
        <li>@(Html.Raw(userConfig.GetText("H2013")))</li>
        <li>@(Html.Raw(userConfig.GetText("H2014")))</li>
        <li>@(Html.Raw(userConfig.GetText("H2017")))</li>
        <li>@(Html.Raw(userConfig.GetText("H2016")))</li>
        <li>@(Html.Raw(userConfig.GetText("H2018")))</li>
        <li>@(Html.Raw(userConfig.GetText("H2015")))</li>
    </ul>
</div>
