@using FWO.Config.Api
@using FWO.Api.Data

@inject UserConfig userConfig

<nav class="sidebar fixed sidebar-help shadow">
    <div class="sidebar-help d-flex flex-row" style="left:0px;">
        <div class="sidebar-help" style="width:250px; overflow-x:scroll;">
            <ul class="me-auto">
                <p></p>
                <h5>@userConfig.GetText("modelling")</h5>
                <a class="nav-link" href="/help/modelling/applications/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.Owner"></span> @(userConfig.GetText("applications"))
                </a>
                <a class="nav-link" href="/help/modelling/connections/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.Connection"></span> @(userConfig.GetText("connections"))
                </a>
                <a class="nav-link" href="/help/modelling/networkobjects/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.NwObject"></span> @(userConfig.GetText("network_objects"))
                </a>
                <a class="nav-link" href="/help/modelling/services/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.Service"></span> @(userConfig.GetText("services"))
                </a>
                <a class="nav-link" href="/help/modelling/workflow/?lang=@($"{userConfig.GetUserLanguage()}")">
                    <span class="@Icons.Workflow"></span> @(userConfig.GetText("workflow"))
                </a>
            </ul>
        </div>
    </div>
</nav>
