@page "/help/settings"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("settings")</h3>
    @userConfig.GetText("H5001")
    <ul>
        <li>
            @(Html.Raw(userConfig.GetText("H5011")))
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H5012")))
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H5013")))
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H5015")))
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H5014")))
        </li>
    </ul>
</div>
