@page "/help/settings/importer"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("importer_settings"))</h3>
    @(Html.Raw(userConfig.GetText("H5495")))
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5496")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5497")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5498")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5499")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5416")))
            <ul>
                <li>@(Html.Raw(userConfig.GetText("H5483")))</li>
                <li>@(Html.Raw(userConfig.GetText("H5484")))</li>
                <li>@(Html.Raw(userConfig.GetText("H5485")))</li>
                <li>@(Html.Raw(userConfig.GetText("H5486")))</li>
                <li>@(Html.Raw(userConfig.GetText("H5487")))</li>
                <li>@(Html.Raw(userConfig.GetText("H5488")))</li>
                <li>@(Html.Raw(userConfig.GetText("H5489")))</li>
            </ul>
        </li>
    </ul>
</div>
