@page "/help/workflow/examples"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpWorkflowSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("examples"))</h3>
    @(Html.Raw(userConfig.GetText("H8701")))
    <br><br>
    @(Html.Raw(userConfig.GetText("H8711")))
    @(Html.Raw(userConfig.GetText("H8712")))
    @(Html.Raw(userConfig.GetText("H8713")))
    @(Html.Raw(userConfig.GetText("H8714")))
    @(Html.Raw(userConfig.GetText("H8715")))
    @(Html.Raw(userConfig.GetText("H8716")))
    @(Html.Raw(userConfig.GetText("H8717")))
</div>
