@page "/help/settings/credentials"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("import_credential")</h3>
    @(Html.Raw(userConfig.GetText("H5130")))
    <br><br>
    @userConfig.GetText("parameters"):
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5131")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5132")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5135")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5133")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5134")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5136")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5137")))</li>
    </ul>
</div>
