@page "/help/API/query"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}

@section sidebar {
    @{
        await Html.RenderPartialAsync("HelpAPISidebar.cshtml");
    }
}

@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("sample_queries")</h3>
    <br>
    <h4>@userConfig.GetText("get_with_admin")</h4>
    <pre class="code-block" data-lang="bash">
<code>
curl --request POST \
    --url https://localhost:9443/api/v1/graphql \
    --header 'content-type: application/json' \
    --header 'x-hasura-admin-secret: &lt;hasura admin pwd&gt;' \
    --header 'x-hasura-role: admin' \
    --data '{"query":"query { management {mgm_name} }"}'
</code>
    </pre>
    <h4>@userConfig.GetText("get_with_jwt")</h4>
    <small class="small-subheader-warn">
        @(Html.Raw(userConfig.GetText("H6701")))
    </small>
    <br><br>
    <pre class="code-block" data-lang="bash">
<code>
curl --request POST \
    --url https://localhost:9443/api/v1/graphql \
    --header 'content-type: application/json' \
    --header 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...' \
    --data '{"query":"query { management {mgm_name} }"}'
</code>
    </pre>
    <br>
    <small class="small-helptext">
        @(Html.Raw(userConfig.GetText("H6702")))
    </small>
    <br>
    <pre class="code-block" data-lang="json">
<code>
{
    "data": {
        "management": [
            {
                "mgm_name": "sting-mgmt2"
            },
            {
                "mgm_name": "checkpoint_demo"
            },
            {
                "mgm_name": "fortigate_demo"
            }
        ]
    }
}
</code>
    </pre>
    <h4>@userConfig.GetText("get_with_jwt_role")</h4>
    <small class="small-subheader-warn">
        @(Html.Raw(userConfig.GetText("H6701")))
    </small>
    <br><br>
    <pre class="code-block" data-lang="bash">
<code>
curl --request POST \
    --url https://localhost:9443/api/v1/graphql \
    --header 'content-type: application/json' \
    --header 'x-hasura-role: auditor' \
    --header 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...' \
    --data '{"query":"query { management {mgm_name} }"}'
</code>
    </pre>
    <br><br>
    <h4>@userConfig.GetText("get_single_dev_rules")</h4>
    <small class="small-subheader-warn">
        @(Html.Raw(userConfig.GetText("H6701")))
    </small>
    <br><br>
    <pre class="code-block" data-lang="bash">
<code>
curl --request POST  \
    --url https://localhost:9443/api/v1/graphql \
    --header 'content-type: application/json' \
    --header 'Accept: application/json' \
    --header 'Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...' \
        --data '{
        "variables": {
        "device_id": 1
        },
            "query": "fragment userOverview on usr { user_id user_uid user_name stm_usr_typ { usr_typ_name } } fragment networkObjectOverview on object { obj_ip obj_ip_end obj_name obj_id type: stm_obj_typ { id: obj_typ_id name: obj_typ_name } obj_color_id } fragment networkServiceOverview on service { svc_id svc_name svc_uid svc_port svc_port_end service_type: stm_svc_typ { id: svc_typ_id name: svc_typ_name } svc_color_id protocol_name: stm_ip_proto { id: ip_proto_id name: ip_proto_name } } fragment ruleOverview on rule { rule_id rule_uid rule_action section_header: rule_head_text rule_comment rule_track rule_disabled src_zone: zoneByRuleFromZone { zone_name zone_id } rule_metadatum { rule_metadata_id rule_created rule_first_hit rule_last_hit } rule_src_neg rule_dst_neg rule_svc_neg rule_num_numeric rule_name rule_froms { usr { ...userOverview } object { ...networkObjectOverview } } dst_zone: zoneByRuleToZone { zone_name zone_id } rule_tos { object { ...networkObjectOverview } } rule_services { service { ...networkServiceOverview } } } query listRulesOverview($device_id: [Int!]) { management { id: mgm_id name: mgm_name devices( where: { dev_id: { _in: $device_id } } ) { dev_id dev_name rules( where: { active: { _eq: true } } order_by: { rule_num_numeric: asc } ) { ...ruleOverview } } } }"
        }'
</code>
    </pre>
</div>
