@page "/help/settings/report"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("report_settings"))</h3>
    @(Html.Raw(userConfig.GetText("H5471")))
    <br><br>
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5412")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5422")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5423")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5447")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5448")))</li>
    </ul>
</div>
