@page "/help/settings/changetrigger"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar {
    @{
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml");
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("change_trigger"))</h3>
    @(Html.Raw(userConfig.GetText("H5482")))
    <ul>

        <li>@(Html.Raw(userConfig.GetText("H5416")))
            <ul>
                <li>@(Html.Raw(userConfig.GetText("H5484")))</li>                
                <li>@(Html.Raw(userConfig.GetText("H5487")))</li>
                <li>@(Html.Raw(userConfig.GetText("H5488")))</li>
                <li>@(Html.Raw(userConfig.GetText("H5489")))</li>
            </ul>
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H5416a")))
            <ul>
                <li>@(Html.Raw(userConfig.GetText("H5483")))</li>
                <li>@(Html.Raw(userConfig.GetText("H5485")))</li>
                <li>@(Html.Raw(userConfig.GetText("H5486")))</li>
   
            </ul>
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H5416b")))
            <ul>
                <li>@(Html.Raw(userConfig.GetText("H5483a")))</li>
                <li>@(Html.Raw(userConfig.GetText("H5485a")))</li>
                <li>@(Html.Raw(userConfig.GetText("H5486a")))</li>
            </ul>
        </li>
    </ul>
</div>
