@page "/help/monitoring/import_status"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpMonitoringSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("import_status")</h3>
    @(Html.Raw(userConfig.GetText("H5171")))
    <br><br>
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5181")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5182")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5183")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5184")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5185")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5186")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5187")))</li>
    </ul>
</div>
