@page "/help/settings/reportgeneral"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("report_settings"))</h3>
    @(Html.Raw(userConfig.GetText("H5401")))
    <br><br>
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5412")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5414")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5413")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5422")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5456")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5447")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5448")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5455")))</li>
    </ul>
</div>
