@page "/help/settings/defaults"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("standards"))</h3>
    @(Html.Raw(userConfig.GetText("H5401")))
    <br><br>
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5411")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5412")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5413")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5414")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5422")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5423")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5415")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5416")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5425")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5426")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5427")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5424")))</li>
    </ul>
</div>
