@page "/help/workflow/actions"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpWorkflowSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("actions"))</h3>
    @(Html.Raw(userConfig.GetText("H8501")))
    <ul>
        <li>
            @(Html.Raw(userConfig.GetText("H8511")))
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H8512")))
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H8513")))
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H8515")))
        </li>
        <li>
            @(Html.Raw(userConfig.GetText("H8514")))
        </li>
    </ul>

</div>
