@page "/help/settings/compliance"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@(userConfig.GetText("compliance"))</h3>
    @(Html.Raw(userConfig.GetText("H5803")))
    <br><br>
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5813")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5812")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5842")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5801")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5802")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5810")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5809")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5814")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5815")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5811")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5836")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5843")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5844")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5817")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5818")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5820")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5821")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5822")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5823")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5824")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5825")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5826")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5827")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5828")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5829")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5830")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5831")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5832")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5833")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5819")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5834")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5835")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5845")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5848")))</li>
    </ul>
</div>
