@page "/help/API/userAuth"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpAPISidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@using FWO.Config.File
@using System.Threading.Tasks
@using FWO.Api.Client
@using FWO.Api.Data
@using FWO.Middleware.Client
@using Microsoft.IdentityModel.Tokens
@using FWO.Middleware.RequestParameters
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("api_user_mgmt_head")</h3>
    @(Html.Raw(userConfig.GetText("umgmt_api_explain")))
    <a target="_blank" href="@ConfigFile.MiddlewareServerUri/swagger">@ConfigFile.MiddlewareServerUri/swagger</a>
    <br>
    @(Html.Raw(userConfig.GetText("umgmt_api_explain2")))
</div>
