@page "/help/settings/groups"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpSettingsSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("groups")</h3>
    @(Html.Raw(userConfig.GetText("H5301")))
    @(Html.Raw(userConfig.GetText("H5302")))
    <br><br>
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H5311")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5312")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5313")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5315")))</li>
        <li>@(Html.Raw(userConfig.GetText("H5314")))</li>
    </ul>
</div>
