@page "/help/reporting/reporttypes"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpReportingSidebar.cshtml"); 
    }
}
@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h3>@userConfig.GetText("report_types")</h3>
    @(Html.Raw(userConfig.GetText("H1102")))
    <ul>
        <li>@(Html.Raw(userConfig.GetText("H1151")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1152")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1153")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1154")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1155")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1156")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1157")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1158")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1159")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1160")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1161")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1162")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1163")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1164")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1165")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1166")))</li>
        <li>@(Html.Raw(userConfig.GetText("H1167")))</li>
    </ul>
</div>
