@page "/help"
@model FWO.Ui.Pages.Help.MainModel
@{
    Layout = "HelpLayout";
}
@section sidebar{
    @{ 
        await Html.RenderPartialAsync("HelpEmptySidebar.cshtml"); 
    }
}

@using FWO.Config.Api
@inject UserConfig userConfig

<div class="p-2">
    <h2>@userConfig.GetText("help")</h2>
    @(userConfig.GetText("H0001"))
   
    <ul class="navbar-nav me-auto">
        <li class="nav-item px-2">
            <a href="/help/reporting/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("reporting")</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item px-2">
                    <a href="/help/reporting/reporttypes/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("report_type")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/reporting/filter/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("filter_syntax")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/reporting/templates/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("templates")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/reporting/export/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("export")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/reporting/scheduling/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("scheduling")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/reporting/archive/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("archive")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/reporting/output/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("report_data_output")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/reporting/leftside/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("left_sidebar")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/reporting/rightside/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("right_sidebar")</a>
                </li>
            </ul>
        </li>
        <li class="nav-item px-2">
            <a href="/help/workflow/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("workflow")</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item px-2">
                    <a href="/help/workflow/objects/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("objects")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/workflow/tasktypes/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("task_types")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/workflow/phases/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("phases_roles")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/workflow/states/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("state_handling")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/workflow/actions/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("actions")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/workflow/checklist/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("checklist")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/workflow/examples/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("examples")</a>
                </li>
            </ul>
        </li>
        <li class="nav-item px-2">
            <a href="/help/recertification/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("recertification")</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item px-2">
                    <a href="/help/recertification/recert_require/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("requirements")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/recertification/workflow/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("workflow")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/recertification/recert_logic/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("recert_logic")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/recertification/owner_import/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("owner_import")</a>
                </li>
            </ul>
        </li>
        <li class="nav-item px-2">
            <a href="/help/modelling/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("modelling")</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item px-2">
                    <a href="/help/modelling/applications/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("applications")</a>
                </li>
            </ul>
        </li>
        <li class="nav-item px-2">
            <a href="/help/monitoring/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("monitoring")</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item px-2">
                    <a href="/help/monitoring/open_alerts/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("open_alerts")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/monitoring/all_alerts/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("all_alerts")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/monitoring/autodiscovery/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("autodiscovery")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/monitoring/daily_checks/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("daily_checks")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/monitoring/import_status/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("import_status")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/monitoring/import_logs/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("import_logs")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/workflmonitoringow/ui_messages/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("ui_messages")</a>
                </li>
            </ul>
        </li>
        <li class="nav-item px-2">
            <a href="/help/settings/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("settings")</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item px-2">
                    <a href="/help/settings/credentials/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("import_credential")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/managements/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("managements")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/gateways/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("gateways")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/ldap/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("ldap_conns")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/tenants/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("tenants")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/users/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("users")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/groups/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("groups")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/roles/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("roles")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/owners/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("owners")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/email/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("email_settings")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/importer/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("importer_settings")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/defaults/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("defaults")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/recertificationgeneral/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("recert_settings")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/modelling/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("modelling")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/passwordpolicy/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("password_policy")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/customtexts/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("customize_texts")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/stateactions/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("state_actions")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/statedefinitions/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("state_definitions")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/statematrix/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("state_matrix")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/workflowcustomizing/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("customizing")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/password/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("password")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/language/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("language")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/report/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("report_settings")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/recertificationpersonal/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("recert_settings")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/settings/modellingpersonal/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("modelling_settings")</a>
                </li>
            </ul>
         <li class="nav-item px-2">
            <a href="/help/API/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("api")</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item px-2">
                    <a href="/help/API/introduction/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("introduction")</a>
                <li class="nav-item px-2">
                    <a href="/help/API/graphql/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("graphql")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/API/hasura/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("hasura")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/API/security/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("security")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/API/links/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("further_reading")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/API/login/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("login")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/API/logout/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("logout")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/API/query/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("sample_queries")</a>
                </li>
                <li class="nav-item px-2">
                    <a href="/help/API/mutation/?lang=@($"{userConfig.GetUserLanguage()}")">@userConfig.GetText("sample_mutation")</a>
                </li>
            </ul>            
        </li>
    </ul>
</div>