@using System.Security.Authentication

@inject ApiConnection apiConnection
@inject UserConfig userConfig

<div class="p-3">
    @if(ReportType == ReportType.OwnerRecertification)
    {
        <ReportOwnerRecertParamSelection @bind-ModellingFilter="ModellingFilter" />
    }
    else
    {
        <h5 class="text-left">@(userConfig.GetText("owner"))</h5>
        @if(ownerList.Count == 1)
        {
            <label class="col-form-label mb-3 text-white">@((MarkupString)ModellingFilter.SelectedOwner.Display(userConfig.GetText("common_service")))</label>
        }
        else
        {
            <Dropdown ElementType="FwoOwner" ElementToString="@(o => o.Display(userConfig.GetText("common_service")))" Nullable="false" 
                    SelectedElement="ModellingFilter.SelectedOwner" SelectedElementChanged="OwnerChanged" Elements="ownerList">
                <ElementTemplate Context="owner">
                    @owner.Display(userConfig.GetText("common_service"))
                </ElementTemplate>
            </Dropdown>
        }
    }
    @if(ReportType == ReportType.AppRules)
    {
        <br>
        <h5 class="text-left">@(userConfig.GetText("rule_filters"))</h5>
        <ReportAppRuleParamSelection @bind-ModellingFilter="ModellingFilter" />
    }
    else if(ReportType == ReportType.VarianceAnalysis)
    {
        <br>
        <h5 class="text-left">@(userConfig.GetText("variance_filters"))</h5>
        <ReportVarianceParamSelection @bind-ModellingFilter="ModellingFilter" />
    }
    else if(ReportType == ReportType.RecertEventReport)
    {
        <br>
        <h5 class="text-left">@(userConfig.GetText("recertification"))</h5>
        @if(ownerRecerts.Count == 0)
        {
            <input class="form-control form-control-sm" disabled type="text" placeholder="@(userConfig.GetText("no_recerts"))" />
        }
        else
        {
            <Dropdown ElementType="OwnerRecertification" ElementToString="@(o => o.RecertDate?.ToString("yyyy-MM-dd HH:mm:ss"))" Nullable="true" 
                    SelectedElement="selectedOwnerRecert" SelectedElementChanged="OwnerRecertChanged" Elements="ownerRecerts">
                <ElementTemplate Context="rec">
                    @(rec.RecertDate?.ToString("yyyy-MM-dd HH:mm:ss"))
                </ElementTemplate>
            </Dropdown>
        }
    }
</div>


@code
{
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    [CascadingParameter]
    Action<Exception?, string, string, bool> DisplayMessageInUi { get; set; } = DefaultInit.DoNothing;

    [Parameter]
    public ModellingFilter ModellingFilter { get; set; } = new();

    [Parameter]
    public EventCallback<ModellingFilter> ModellingFilterChanged { get; set; }

    [Parameter]
    public TimeFilter TimeFilter { get; set; } = new();

    [Parameter]
    public EventCallback<TimeFilter> TimeFilterChanged { get; set; }

    [Parameter]
    public int? InjectedAppId { get; set; } = null;

    [Parameter]
    public ReportType ReportType { get; set; } = ReportType.Connections;

    private List<FwoOwner> ownerList = [];
    private List<OwnerRecertification> ownerRecerts = [];
    private OwnerRecertification? selectedOwnerRecert;
    private ModellingFilter prevModellingFilter = new();
    private ReportType prevReportType = ReportType.Connections;
    private bool Initialized = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ownerList = await ModellingHandlerBase.GetOwnApps(authenticationStateTask ?? throw new AuthenticationException("Authentication missing"), userConfig, apiConnection, DisplayMessageInUi);
            Initialized = true;
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("object_fetch"), "", true);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if(Initialized && (ModellingFilter != prevModellingFilter || ReportType != prevReportType))
        {
            prevModellingFilter = ModellingFilter;
            prevReportType = ReportType;
            if(ReportType == ReportType.OwnerRecertification)
            {
                ModellingFilter.SelectedOwners = ownerList;
            }
            else
            {
                if(ModellingFilter.SelectedOwner.Id == 0)
                {
                    PickSelectedOwner();
                }

                NormalizeSelectedOwners();
            }
            await LoadOwnerRecerts(ModellingFilter.SelectedOwner);
        }
    }

    private async Task OwnerChanged(FwoOwner newOwner)
    {
        ModellingFilter.SelectedOwner = newOwner;
        selectedOwnerRecert = null;
        await LoadOwnerRecerts(newOwner);
    }

    private void PickSelectedOwner()
    {
        if(ownerList.Count > 0)
        {
            ModellingFilter.SelectedOwner = InjectedAppId == null ? ownerList.First() : ownerList.FirstOrDefault(o => o.Id == InjectedAppId) ?? ownerList.First();
        }
    }

    private void NormalizeSelectedOwners()
    {
        if(ModellingFilter.SelectedOwners.Count != 1)
        {
            ModellingFilter.SelectedOwners = [ModellingFilter.SelectedOwner];
        }
    }

    private void OwnerRecertChanged(OwnerRecertification? newOwnerRecert)
    {
        selectedOwnerRecert = newOwnerRecert;
        ModellingFilter.OwnerRecertId = newOwnerRecert?.Id;
        ModellingFilter.ReportId = newOwnerRecert?.ReportId;
        TimeFilter.ReportTime = (DateTime)(newOwnerRecert?.RecertDate ?? new());
    }

    private async Task LoadOwnerRecerts(FwoOwner owner)
    {
        try
        {
            ownerRecerts = await apiConnection.SendQueryAsync<List<OwnerRecertification>>(RecertQueries.getOwnerRecerts, new{ownerId = owner.Id});
            if(selectedOwnerRecert == null)
            {
                selectedOwnerRecert = ownerRecerts.Count > 0 ? ownerRecerts[0] : null;
            }
        }
        catch (Exception exception)
        {
            DisplayMessageInUi(exception, userConfig.GetText("object_fetch"), "", true);
        }
    }
}
